.variation {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    display: flex;
}

.element-active {
    width: 960px;
}
.element-not-active {
    width: calc((100% - 960px) / 4);
}
