<ul class="form-flats-list">
    <li class="form-flats-list__item" *ngFor="let item of conf.blockFlats; index as i">
        <div class="share-view__select-wrap">
            <div class="share-view__select-item share-view__select-corpus">
                <!-- Тут должен быть выбор корпуса -->
            </div>
            <div class="share-view__select-item share-view__select-house">
                <select [(ngModel)]="conf.blockFlats[i].section"
                    (ngModelChange)="changeSection($event, i)"
                    class="share-view__select-list">
                    <option *ngFor="let section of sectionsOptions"
                        [value]="section">Секция {{section}}</option>
                </select>
            </div>
            <div class="share-view__select-item share-view__select_flat">
                <select [(ngModel)]="conf.blockFlats[i].number"
                    (ngModelChange)="changeFlat($event, i)"
                    class="share-view__select-list">
                    <option *ngFor="let flat of flatsOptions[i]"
                        [value]="flat">Квартира {{flat}}</option>
                </select>
            </div>
        </div>

        <div class="share-view__sale-wrap">
            <label class="share-view__sale-item share-view__sale-item_procent">
                <input [(ngModel)]="conf.blockFlats[i].discountType"
                    class="share-view__sale-item-input"
                    type="radio"
                    [name]="'discountType' + i"
                    [value]="shareFlatDiscountType.PERCENT">
                <div class="share-view__sale-item-check">Процент</div>
            </label>
            <label class="share-view__sale-item share-view__sale-item_sum">
                <input [(ngModel)]="conf.blockFlats[i].discountType"
                    class="share-view__sale-item-input"
                    type="radio"
                    [name]="'discountType' + i"
                    [value]="shareFlatDiscountType.SUM">
                <div class="share-view__sale-item-check">Сумма</div>
            </label>
        </div>

        <div class="share-view__footer-wrap">
            <input [(ngModel)]="conf.blockFlats[i].discount"
                (input)="changeText()"
                type="text"
                class="share-view__footer-result">
    
            <button class="share-view__footer-delete" (click)="removeItem(i)">Удалить</button>
        </div>
    </li>
</ul>
