@import "../../../styles/modules/mixins/mixin";

.plan {
    width: 100%;
    height: calc(100vh - 64px);
    // margin: 0 !important;

    &__title {
        width: 100%;
        max-width: $w1600;
        font: 54px/58px 'Leksa', sans-serif;
        @include font-smoothing;
        position: absolute;
        top: 42px; left: 50%;
        transform: translateX(-50%);
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        color: #fff;
        z-index: 1;

        &--h1 {
            top: 16px;
            font: 500 14px/18px $font-mus;
            @include font-smoothing;
            color: $col-white;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        }
    }
    &__rose {
        width: 85px;
        height: 85px;
        position: absolute;
        top: 26px;
        right: 4vh;
        background: url(/assets/img/flats/plan/wind_rose.svg) no-repeat center;
        background-size: 80px 80px;
        transform: rotate(300deg);
        z-index: 1;
    }
    
    &_house-select {
        &_svg {
            &_house {
                opacity: 0;
                cursor: pointer;
                fill: rgba(231,73,15,0.3);
                transition: opacity .2s linear;
                &:hover { opacity: 1; }
            }
        }

        &_link {
            position: absolute;
            @include fw14-20(#ffffff);
            background-color: #e7490f;
            border-radius: 25px;
            cursor: pointer;
            transition: .2s linear, .7s opacity ease-in;
            transform: translateX(-50%);
            pointer-events: none;
            white-space: nowrap;
            padding: 5px 15px;
            z-index: 11;
            opacity: 1;

            span {
                margin-right: 5px;
            }


            &.active {
                color: #000105;
                background-color: #ffffff;
            }

            &--house-1 {
                bottom: 20%;
                left: 20%;
            }
            &--house-2 {
                bottom: 39%;
                left: 44%;
            }
            &--house-3 {
                bottom: 51%;
                left: 62%;
            }
            &--house-9 {
                bottom: 74%;
                left: 88%;
            }

            &.z-index-off {
                z-index: unset;
                opacity: 0;
            }
        }
    }
    &__tooltip {
        width: 300px;
        position: absolute;
        top: 0; left: 0;
        background-color: #ffffff;
        animation: forOnInit .2s ease backwards;
        box-sizing: border-box;
        pointer-events: none;
        border-radius: 5px;
        padding: 15px 20px;
        z-index: 12;

        &-title {
            font: 500 20px/24px $font-mus;
            @include font-smoothing();
            color: $col-orange;
        }
        &-row {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid rgba(0,1,5,0.3);
            padding: 10px 0;

            &:last-child {
                padding-bottom: 0;
                border-bottom: none;
            }
        }
        &-rooms { @include fw14-20(); }
        &-price {
            @include fw14-20();
            color: rgba(0,1,5,0.6);
        }
    }
}
@keyframes forOnInit {
    from { transform: scale(0.7); }
    to { transform: scale(1); }
}

.search__show-btn {
    width: 248px;
    height: 50px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font: 500 16px/23px $font-mus;
    @include font-smoothing;
    color: #fff;
    position: absolute;
    top: calc(100% - 70px);
    left: calc(50% - 124px);
    border-radius: 4px;
    background-color: $col-orange;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
    transition: background-color $transition, color $transition, top .5s ease;
    z-index: 98;
    &:hover {
        background-color: #fff;
        color: $col-orange;
        svg g g { stroke: $col-orange; }
    }
    svg { transform: rotate(-90deg); }

    &_active {
        top: 30px;
        background-color: #fff;
        color: $col-orange;
        flex-flow: column-reverse;
        &:hover {
            background-color: $col-orange;;
            color: #fff;
            svg g g { stroke: #fff; }
        }

        svg {
            transform: rotate(90deg);
            g g { stroke: $col-orange; }
        }
    }
}

// .link__banner{
//     position: absolute;
//     display: block;
//     width: 250px;
//     height: 150px;
//     right: 15px;
//     top: 85px;
//     background: url('/assets/img/flats/house/banner.jpg') no-repeat;
//     background-size: 100%;
//     z-index: 100;
// }
