<div class="plan flats_main">

    <h1 class="plan__title">Выберите дом</h1>
    <div class="plan__rose"></div>

    <div class="plan_house-select flats_wrapper">

        <img class="plan_house-select_bgr flats_bgr" src="/assets/img/flats/plan/plan.jpg">

        <a *ngFor="let house of houses"
            class="plan_house-select_link plan_house-select_link--house-{{house.houseNumber}}"
            [ngClass]="{'plan_house-select_link--active' : house.houseNumber === activeLink,
                        'plan_house-select_link--z-index-off' : showSearchWindow}"
            (mouseenter)="activeLink = house.houseNumber"
            (mouseleave)="activeLink = ''"
            (click)="svgRouterLink($event, house.houseNumber)"
            [style.pointer-events]="house.freeFlats ? 'all' : 'none'">

            №{{house.houseNumber}} <span></span> {{house.freeFlats ? house.freeFlats + ' кв' : 'не в продаже'}}

            <div class="plan_house-select_info plan_house-select_info--house-{{house.houseNumber}}">
                <h5 class="plan_house-select_info_title">Дом №{{house.houseNumber}}</h5>
                <p class="plan_house-select_info_row" *ngFor="let rooms of house.rooms">
                    <span class="plan_house-select_info_rooms">{{rooms.name === 0 ? 'Студии' : rooms.name + '-комнатные'}}</span>
                    <span class="plan_house-select_info_min-price">{{rooms.minPrice ? 'от ' + rooms.minPrice + ' млн Р' : 'не в продаже'}}</span>
                </p>
            </div>
        </a>

        <svg viewBox="0 0 1600 756" preserveAspectRatio="none"
            class="plan_house-select_svg flats_svg">

            <ng-container *ngFor="let plan of houses">
                <a (click)="svgRouterLink($event, plan.houseNumber)"
                        [style.pointer-events]="plan.freeFlats ? 'all' : 'none'">

                    <path class="plan_house-select_svg_house"
                        [attr.transform]="plan.transform"
                        [attr.style]="('opacity:' + ( activeLink === plan.houseNumber ? '1' : '0' )) | stylePipe"
                        (mouseenter)="activeLink = plan.houseNumber"
                        (mouseleave)="activeLink = ''"
                        [attr.d]="plan.svgPath"
                          id="k-{{plan.houseNumber}}">
                    </path>
                </a>
            </ng-container>

        </svg>

    </div>
    <!-- <a href="https://exporealty.ru/visit/registration/" class="link__banner"></a> -->

</div>

<button class="search__show-btn" [ngClass]="{'search__show-btn_active': showSearchWindow}" (click)="showSearchWindow = !showSearchWindow">
    <p>{{ showSearchWindow ? 'Поиск по корпусам' : 'Поиск по параметрам'}}</p>

    <svg width="8px" height="14px" viewBox="0 0 8 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
            <g class="search__show-btn_stroke" transform="translate(-237.000000, -2091.000000)" stroke="#FFFFFF" stroke-width="2">
                <g id="Group-9" transform="translate(180.000000, 2078.000000)">
                    <g id="Group-5" transform="translate(58.000000, 10.000000)">
                        <polyline id="Path" transform="translate(3.000000, 10.000000) rotate(-90.000000) translate(-3.000000, -10.000000) " points="9 13 3 7 -3 13"></polyline>
                    </g>
                </g>
            </g>
        </g>
    </svg>
</button>

<app-flats-search
    (showPopular)="showPopular = true"
    [showSearchWindow]="showSearchWindow"
    [parentPlan]="true">
</app-flats-search>

<app-popular
    *ngIf="showPopular"
    (close)="showPopular = false">
</app-popular>
