@import "../../../styles/modules/mixins/mixin";

.plan {
    width: 100%;
    height: calc(100vh - 146px);

    &_house-select {

        &_svg {

            &_house {
                opacity: 0;
                cursor: pointer;
                fill: rgba(231,73,15,0.2);
                transition: .2s linear;
            }
        }

        &_link {
            position: absolute;
            @include fw14-20(#ffffff);
            background-color: #e7490f;
            border-radius: 25px;
            cursor: pointer;
            transition: .2s linear, .7s opacity ease-in;
            transform: translateX(-50%);
            white-space: nowrap;
            z-index: 11;
            opacity: 1;
            padding: 5px 15px;


            &--active {
                color: #000105;
                background-color: #ffffff;

                .plan_house-select_info {
                    pointer-events: all;
                    opacity: 1;
                }
            }

            &--house-1 {
                bottom: 20%;
                left: 20%;
            }
            &--house-2 {
                bottom: 39%;
                left: 44%;
            }
            &--house-3 {
                bottom: 51%;
                left: 62%;
            }
            &--house-9 {
                bottom: 74%;
                left: 88%;
            }

            &--z-index-off {
                z-index: unset;
                opacity: 0;
            }
        }

        &_info {
            position: absolute;
            left: -77px;
            bottom: 48px;
            width: 250px;
            background-color: #ffffff;
            padding: 15px 20px;
            border-radius: 5px;
            box-sizing: border-box;
            transition: .2s linear;
            pointer-events: none;
            opacity: 0;

            &:after {
                content: '';
                position: absolute;
                bottom: -22px;
                left: 46%;
                margin: auto;
                border: 9px solid transparent;
                border-top: 13px solid #ffffff;
            }
            &:before {
                content: '';
                position: absolute;
                width: 50%;
                height: 18px;
                bottom: -18px;
                left: 26%;
            }

            &--house-9 {
                bottom: -266px;

                &:after {
                    bottom: 248px;
                    border: 9px solid transparent;
                    border-bottom: 13px solid #ffffff;
                }
                &:before {
                    bottom: 248px;
                }
            }

            &_title {
                font: 500 20px/24px $font-mus;
                @include font-smoothing();
                color: #e7490f;
            }

            &_row {
                padding: 10px 0;
                border-bottom: 1px solid rgba(0,1,5,0.3);

                &:last-child {
                    padding-bottom: 0;
                    border-bottom: none;
                }
            }

            &_rooms {
                @include fw14-20();
            }

            &_min-price {
                float: right;
                @include fw14-20();
                color: rgba(0,1,5,0.6);
            }
        }
    }
}

.search__show-btn {
    width: 248px;
    height: 50px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font: 500 16px/23px $font-mus;
    @include font-smoothing;
    color: #fff;
    position: absolute;
    top: calc(100% - 70px);
    left: calc(50% - 124px);
    border-radius: 4px;
    background-color: $col-orange;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
    transition: background-color $transition, color $transition, top .5s ease;
    z-index: 100;
    &:hover {
        background-color: #fff;
        color: $col-orange;
        svg g g { stroke: $col-orange; }
    }
    svg { transform: rotate(-90deg); }

    &_active {
        top: 30px;
        background-color: #fff;
        color: $col-orange;
        flex-flow: column-reverse;
        &:hover {
            background-color: $col-orange;;
            color: #fff;
            svg g g { stroke: #fff; }
        }

        svg {
            transform: rotate(90deg);
            g g { stroke: $col-orange; }
        }
    }
}

// .link__banner{
//     position: absolute;
//     display: block;
//     width: 250px;
//     height: 150px;
//     right: 15px;
//     top: 85px;
//     background: url('/assets/img/flats/house/banner.jpg') no-repeat;
//     background-size: 100%;
//     z-index: 100;
// }
