@import '../../../styles/modules/mixins/mixin';

.decoration-furniture {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 64px 0 96px;

    &__container {
        @include container();
    }

    &__title {
        color: $col-black;
        margin: 0 0 40px;
    }

    &__block {
        width: 100%;
        margin: 0 0 40px;
        &:last-child { margin: 0; }

        &-name {
            font: 500 20px/28px $font-mus;
            color: $col-black;
            margin: 0 0 16px;
        }
        &-wrap {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
    }
    &__type {
        width: calc((100% - 32px) / 2);

        &-name {
            font: 16px/20px $font-mus;
            color: #666769;
            margin: 0 0 8px;
        }
        &-preview {
            width: 100%;
            height: 290px;
            overflow: hidden;
            backface-visibility: hidden;
            &> img {
                width: 100%;
                height: 100%;
                transition: transform .5s ease-out;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}
