@import "../../../styles/modules/mixins/mixin.scss";

:host {
    width: 100%;
    display: block;
}


.result {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 0 (60px - 24px);

    &__container {
        width: 100%;
        
        &.flex-wrap {
            width: calc(100% - 64px);
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            @media (max-width: 767px) {
                width: calc(100% - 32px);
            }
            
            &> * {
                display: block;
                width: calc((100% - 24px) / 2);
                margin: 0 0 24px;
                @media (max-width: 767px) {
                    width: 100%;
                    margin: 0 0 16px;
                }
            }
        }
    }
    &__favorite {
        min-height: 347px;
        position: relative;
    }
}