<ul class="result">

    <li *ngFor="let flat of flatsList" class="result__item">

        <a class="result__item-wrap">
            <span class="result__wrap result__wrap_scheme">
                <img class="result__scheme-content" [src]="'/assets/floor-plans/section_' + flat.section + '/floor_' + flat.floor + '/' + flat.floor + 'floor_' + flat.flat + 'flat.svg'">
            </span>
            <div class="result__wrap">
                <span class="result__text result__text_room">{{(flat.rooms < '1') ? 'Студия' : flat.rooms + ' комнатная'}}</span>
                <span class="result__text result__text_corpus">Корпус</span>
                <span class="result__text result__text_floor">Этаж</span>
            </div>
            <div class="result__wrap result__wrap_second">
                <span class="result__text result__text_space">{{flat.space}} м&#178;</span>
                <div class="result__wrap-price">
                    <!-- Класс result__text_price-not-sale когда есть цена со скидкой -->
                    <p class="result__text result__text_price">{{flat.price | myBitNumberPipe}} &#8381;</p>
                    <!-- <p class="result__text result__text_price result__text_price-sale">{{flat.price | myBitNumberPipe}} &#8381;</p> -->
                </div>
            </div>
        </a>

        <div class="to-favorites" (click)="toFavorite(flat)" [ngClass]="{'to-favorites_active': inFavorite(flat)}"></div>

        <!-- <ul [ngClass]="{'result__request_active': showBtns === flat._id}" class="result__request">
            <li (click)="flatDataForModalForm = flat; isReserveFormOpen = true; scrollLocker.block()" class="result__request-item">Забронировать</li>
            <li (click)="flatDataForModalForm = flat; isCreditFormOpen = true; scrollLocker.block()" class="result__request-item">Заявка на ипотеку</li>
            <li (click)="isCallFormOpen = true; scrollLocker.block()" class="result__request-item">Заказать звонок</li>
        </ul> -->

        <!-- <div (click)="showBtns = (showBtns === flat._id) ? '' : flat._id" class="result__btn"></div> -->
    </li>

</ul>

<!-- <app-form-call
    (close)="isCallFormOpen = $event; scrollLocker.unblock()"
    [isOpen]="isCallFormOpen">
</app-form-call> -->
<app-form-credit *ngIf="flatDataForModalForm"
    (close)="isCreditFormOpen = $event; flatDataForModalForm = null; scrollLocker.unblock()"
    [isOpen]="isCreditFormOpen"
    [apartmentPrice]="flatDataForModalForm.price"
    [apartmentNumber]="flatDataForModalForm.flat">
</app-form-credit>
<app-form-reserve *ngIf="flatDataForModalForm"
    (close)="isReserveFormOpen = $event; flatDataForModalForm = null; scrollLocker.unblock()"
    [isOpen]="isReserveFormOpen"
    [apartmentPrice]="flatDataForModalForm.price"
    [apartmentNumber]="flatDataForModalForm.flat">
</app-form-reserve>
