<!-- admin window for download images -->
<div class="admin-gallery_modal-wrapper" [ngClass]="{'admin-gallery_modal--active' : isShowModal }">
    
    <div (click)="close.emit()" class="admin-gallery_modal-close-bgr"></div>
    
    <div class="admin-gallery_modal">
        
        <div *ngIf="progressLoaded" class="admin-gallery_progress">
            <div class="admin-gallery_progress-title">Загрузка</div>
            <div class="admin-gallery_progress-info">{{progressCurrent}} из {{progressCount}}</div>
            <div class="admin-gallery_progress-line">
                <div [style.width.%]="((100 / progressCount) * progressCurrent)" class="admin-gallery_progress-line-inner"></div>
            </div>
        </div>

        <div class="admin-gallery_modal-title">Галерея</div>
        
        <div class="admin-gallery_modal-images">
            <ul class="admin-gallery_images-list">

                <li *ngFor=" let slide of gallerySlides ; let i = index" class="admin-gallery_images-list-item">
                    
                    <label class="admin-gallery_images-list-item-change-btn">
                        <input style='display: none;' type="file" (change)="changeImage(slide._id, $event)" placeholder="Upload file" accept=".jpg">
                    </label>
                    
                    <button (click)="deleteSlide(slide._id)" class="admin-gallery_images-list-item-delete"></button>
                    
                    <img [src]="uploadsPath + slide.thumbnail" class="admin-gallery_images-list-item-image">

                </li>

            </ul>
        </div>

        <button class="gallery-admin_close-btn" (click)="close.emit()"></button>

        <label class="admin-gallery_modal-load-more-button">Загрузить еще
            <input style='display: none;' type="file" (change)="setSlides($event)" multiple placeholder="Upload file" accept=".jpg" multiple>
        </label>
    </div>
</div>