@import "../../styles/modules/mixins/mixin.scss";


.flats {
    width: 100%;
    min-height: 100vh;
    padding: 50px 0 50px; // Где 30 это отступ от хедера
    display: flex;
    flex-flow: column;
    align-items: center;
    @media (max-width: 767px) { padding: 30px 0 50px; }

    &__title {
        width: calc(100% - 60px);
        font: 30px/34px 'Leksa';
        @include font-smoothing;
        color: $col-black;
        margin: 0 0 25px;
        @media (max-width: 767px) { width: calc(100% - 30px); }

        span { display: block; }
    }

    &__show-filter {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: url(/assets/img/flats/show_filter.svg) center no-repeat $col-orange;
        position: fixed;
        bottom: 65px;
        right: 15px;
        z-index: 120;

        &_active {
            background-image: url(/assets/img/check.svg);
            background-size: 26px 20px;
            right: 30px;
        }
    }

    &__sorting {
        width: 100%;
        padding: 30px 0 15px;
        background-color: #fafaf2;
        display: flex;
        flex-flow: column;
        align-items: center;
        @media (max-width: 767px) { padding: 15px 0; }
    }
}

.up {
    position: fixed;
    visibility: hidden;
    width: 54px;
    height: 54px;
    top: 100px;
    right: 25px;
    cursor: pointer;
    z-index: 99;

    @media (max-width: 599px) {
        top: 85px;
        right: 15px;
    }

    &_active {
        visibility: visible;
        opacity: 1;
    }

    svg path {

        transition-duration: .3s;
    }
    
    svg circle {
    
        transition-duration: .3s;
    }
}

.more {
    width: 177px;
    height: 50px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px;
    border-radius: 2px;
    box-shadow: 0 1px 1px 1px rgba(0,0,0,.1);
    border: 1px solid #e7490f;
    font: 500 18px/24px $font-mus;
    @include font-smoothing;
    color: $col-orange;
    position: relative;
}
