<section class="flats">

    <button class="flats__show-filter"
            (click)="openFilter()"
            [class.flats__show-filter_active]="showFilter"></button>
    
    <h1 class="flats__title">Подбор квартиры <span>по параметрам</span></h1>

    <app-search-sorting class="flats__sorting" 
        *ngIf="params"
        [counter]="counter"
        [viewType]="viewType"
        [(ngModel)]="params.sort"
        (viewTypeChanges)="viewType = $event"
        (ngModelChange)="params.skip = 0; getFlats()"
    ></app-search-sorting>

    <app-search-form (formChange)="formChange($event)" [showFilter]="showFilter"></app-search-form>
    
    <app-search-output
        [viewType]="viewType"
        [flatsCount]="counter"
        [flatsList]="outputFlatsList"
        (closeFavoriteNotice)="noticeChange()"
    ></app-search-output>
    
    <div *ngIf="isLoadMoreBtn" (click)="loadMore()" class="more">Показать еще</div>
</section>
