@import "../../../../styles/modules/mixins/mixin";

.floor__plan {
    width: calc((1240px - 940px) / 2);
    height: 100%;
    display: flex;
    align-items: center;

    &_hover {
        cursor: pointer;
        transition: fill $transition;
        &:hover {
            fill: rgba(231, 73, 15, .8);
        }
    }
    &_active {
        fill: rgba(231, 73, 15, 1);
        stroke: rgba(231, 73, 15, 1);
    }
}
