@import "../../../../styles/modules/mixins/mixin.scss";

.preview {
    &__snippet {
        width: calc(100% - 30px);
        max-width: 1280px;
        @media (min-width: 1280px) {
            width: calc(100% - 60px);
        }
    }
}
