<section class="news preview">

    <div class="news__head">
        <h1 class="news__head-title g-title-path">Новости</h1>
        <nav class="news__nav">
            <ul class="news__nav-list">
                <li [routerLinkActive]="['news__nav-item_active']" class="news__nav-item">
                    <a routerLink="/news-shares/all">Все</a>
                </li>
                <li [routerLinkActive]="['news__nav-item_active']" class="news__nav-item">
                    <a routerLink="/news-shares/news/list">Новости</a>
                </li>
                <li [routerLinkActive]="['news__nav-item_active']" class="news__nav-item">
                    <a routerLink="/news-shares/shares/list/1">Акции</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="preview__snippet">
        <app-news-list 
            [snippetsArray]="snippetsArray">
        </app-news-list>
    </div>

    <app-info-block></app-info-block>
</section>
