<div *ngFor="let flat of flatsList; let i = index" class="search-output__result-wrap">
    <a (click)="openApartmentModal(flat)" class="search-output__result-item">
        <div class="search-output__result-item-img">
            <img class="search-output__result-item-scheme" (error)="img.style.display = 'none'"
                 [src]="'/assets/floor-plans/house_' + flat.house + '/section_' + flat.section + '/floor_' + flat.floor + '/' + flat.floor + 'floor_' + flat.flat + 'flat.svg'" alt="" #img>
            <div *ngIf="img.style.display === 'none'" class="search-output__result-item-img-error">Изображение недоступно</div>
        </div>
        <span class="search-output__result-item-content search-output__result-item-content_room">{{(flat.rooms === 0) ? 'Студия' : flat.rooms + ' комнатная'}}</span>
        <span class="search-output__result-item-content search-output__result-item-content_number">№ {{flat.flat}}</span>
        <span class="search-output__result-item-content search-output__result-item-content_space">{{flat.space}} м²</span>
        <span class="search-output__result-item-content search-output__result-item-content_floor">{{flat.floor}} этаж</span>
        <span class="search-output__result-item-content search-output__result-item-content_house">Корпус {{flat.house}}</span>
        <span class="search-output__result-item-content search-output__result-item-content_decoration">{{flat.decorationName}}</span>
        <!--<span class="search-output__result-item-content search-output__result-item-content_delivery">{{flat.deliveryDate}}</span>-->
        <span class="search-output__result-item-price">
            <span class="search-output__result-item-content"
                [ngClass]="{'search-output__result-item-content_price' : !flat.discount,
                            'search-output__result-item-content_price-not-sale' : flat.discount}">
                  {{flat.price | myBitNumberPipe}} &#8381;
            </span>
            <span *ngIf="flat.discount"
                class="search-output__result-item-content search-output__result-item-content_price-sale">
                  {{+flat.price - flat.discount | myBitNumberPipe}} &#8381;
            </span>
        </span>
    </a>
    <div class="search-output__result-item-favorite" (click)="setFavorite(flat)" [class.active]="flat.inFavorite"></div>
</div>

<!-- <app-flats-apartment-modal *ngIf="showApartmentWindow"
    [showApartmentWindow]="showApartmentWindow"
    [flatsList]="flatsList"
    [flatIndex]="selectedFlatIndex"
    (close)="showApartmentWindow = false; windowScrollLocker.unblock()">
</app-flats-apartment-modal> -->
