<header class="header">

    <!-- <div class="header__quarantine" *ngIf="!quarantineLinkHide">
        <p>Купите квартиру не выходя из дома</p>
        <a routerLink="/quarantine">Узнать больше</a>
    </div> -->
    
    <div class="header__container">
        <section class="header__head">
            <div class="header__head-container">
                <div class="header__head-sell">
                    <a routerLink="/location/office" class="g-link_red">Отдел продаж</a>
                </div>
                <a class="header__head-logo" routerLink="/"></a>
                <div class="header__head-phone">
                    <a href="tel:+74991109372" class="head-phone__paragraf g-link_red">+7 (499) 110-93-72</a>
                </div>
            </div>
        </section>
        <nav class="header__nav" [class.header__nav--fixed]="isFixed">
            <div class="header__nav-container">

                <a routerLink="/" class="header__nav-img" [class.disabled]="!isFixed">
                    <img src="/assets/img/header/fixed-logo_copy.svg" alt="logo">
                </a>
                <ul class="header__nav-list">
                    <li [class.active]="checkLink(link.url)"
                        class="header__nav-list-item" *ngFor="let link of links">
                        <a [routerLink]="link.url">{{link.name}}</a>
                    </li>
                    <li class="header__nav-list-item" [class.active]="checkLink('/favorites')">
                        <a [routerLink]="'/favorites'">Избранное <span *ngIf="favoriteCounter && favoriteCounter > 0">({{favoriteCounter}})</span></a>
                    </li>
                </ul>
                <a href="tel:+74991109372" class="header__nav-tel" [class.disabled]="!isFixed">
                    <span>+7 (499) 110-93-72</span>
                </a>
            </div>
        </nav>
    </div>
</header>
