
<header class="header">

    <div class="header__container">
    
        <a routerLink="/" class="header__logo">
            <img src="/assets/img/header/ilike_new-logo.svg" alt="logo">
        </a>

        <nav class="header__menu">
            <ul class="header__menu-list">
                <li [class.active]="checkLink(link.url)" class="header__menu-item" *ngFor="let link of links">
                    <a [routerLink]="link.url">{{link.name}}</a>
                </li>
                <li class="header__menu-item header__menu-item--favorites" routerLink="/favorites">
                    <span class="empty" *ngIf="favoriteCounter === 0"><img src="/assets/img/favorite.svg" alt=""></span>
                    <span class="not-empty" *ngIf="favoriteCounter > 0">{{favoriteCounter}}</span>
                </li>
            </ul>
        </nav>

        <div class="header__info">
            <a routerLink="/location/office" class="header__info-office g-link_red">Отдел продаж</a>
            <span class="head-phone__paragraf header__info-tel header__nav-tel header__nav-footer-phone">
                <a href="tel:+74991109372">+7 (499) 110-93-72</a>
            </span>
        </div>
    </div>
</header>