@import '../../styles/modules/mixins/mixin';

.header {
    width: 100%;
    height: 146px;
    // height: 46px;
    background-color: #ffffff;
    z-index: 20;

    &__container {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }

    &__head {
        width: 100%;
        padding: 0 40px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #dcddde;
        box-sizing: border-box;

        &-container {
            width: 100%;
            height: 100%;
            max-width: 1240px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
        }

        &-sell {
            .g-link_red {
                position: relative;
                padding: 0 0 0 24px;
                text-decoration: none;

                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: -2px;
                    width: 14px;
                    height: 20px;
                    background: url('/assets/img/header/location.svg');
                }
                &:after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: calc(100% - 24px);
                    height: 1px;
                    background-color: $col-orange;
                    transition: $trans-link;
                }
                &:hover {
                    &:after {
                        width: 0;
                    }
                }
            }
        }

        &-logo {
            display: block;
            width: 266px;
            height: 80px;
            position: absolute;
            top: 50%; left: 50%;
            transform: translate(-50%,-50%);
            background: url('/assets/img/header/logo_desk.svg') no-repeat;
            background-size: 100%;
        }
        &-phone {
            text-align: right;

            .head-phone__paragraf {
                margin: 0;
                font: 500 16px/24px $font-mus;
                @include font-smoothing;
                opacity: .8;
                color: $col-black;
            }
            .g-link_red {
                text-decoration: none;
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 100%;
                    height: 1px;
                    background-color: $col-orange;
                    transition: $trans-link;
                }
                &:hover {
                    &:before {
                        width: 0;
                    }
                }
            }
        }
        &-menu {
            display: none;
        }
    }
    &__nav {
        width: 100%;
        background-color: #fff;
        display: flex;
        justify-content: center;
        z-index: 1;
        transition: top $transition;
        align-items: center;
        top: 0;
        padding: 0 40px;
        box-sizing: border-box;
        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);

        &--fixed {
            position: fixed;
            justify-content: center;
            z-index: 99;
        }
        &--hidden {
            top: -46px;
        }

        &-container {
            width: 100%;
            height: 46px;
            max-width: 1240px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
        }

        &-list {
            max-width: 887px;
            display: flex;
            list-style: none;
            transform: translate(-50%);
            font: 500 14px/20px $font-mus;
            @include font-smoothing;
            color: $col-black;
            position: absolute;
            left: 50%; top: 0;
            padding: 0;
            margin: 0;

            &-item {
                margin: 13px 0;
                white-space: nowrap;
                position: relative;
                cursor: pointer;

                &+ .header__nav-list-item {
                    margin-left: 20px;
                }
                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: -13px;
                    width: 0%;
                    height: 2px;
                    background: $col-orange;
                    transition: width .6s ease;
                }
                &:hover {
                    &:before {
                        width: 100%;
                    }
                }
                &.active {
                    &:before {
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: -13px;
                        width: 100%;
                        height: 2px;
                        background: $col-orange;
                        transition: width .6s ease;
                    }
                }
            }
        }

        &-tel {
            font: 500 16px/24px $font-mus;
            @include font-smoothing;
            color: #323232;
        }

        &-img,
        &-tel {
            &.disabled {
                pointer-events: none;
                opacity: 0;
            }
        }
    }
}