<header class="header">

    <!-- <div class="header__quarantine" *ngIf="!quarantineLinkHide">
        <p>Купите квартиру не выходя из дома</p>
        <a routerLink="/quarantine">Узнать больше</a>
    </div> -->
    
    <div class="header__container">
        <!-- <section class="header__head">
            <div class="header__head-sell">
                <a routerLink="/location/office" class="g-link_red">Отдел продаж</a>
            </div>
            <a routerLink="/"><div class="header__head-logo"></div></a>
            <div class="header__head-phone">
                <p class="head-phone__paragraf">+7 (495) 120-00-80</p>
                <a href="#" class="g-link_red">Заказать звонок</a>
            </div>
        </section> -->
        <nav class="header__nav header__nav--fixed">
            <div class="header__nav-container">

                <a routerLink="/" class="header__nav-img">
                    <img src="/assets/img/header/fixed-logo.svg" alt="logo">
                </a>
                <ul class="header__nav-list">
                    <li [class.header__nav-list-item_active]="checkLink(link.url)"
                        class="header__nav-list-item" *ngFor="let link of links">
                        <a [routerLink]="link.url">{{link.name}}</a>
                    </li>
                </ul>
                <a href="tel:+74991109372" class="header__nav-tel">
                    <span>+7 (499) 110-93-72</span>
                </a>
            </div>

            <!-- <div class="header__nav-footer">
                <div class="header__nav-footer-sell">
                    <a href="#" class="g-link_red">Отдел продаж</a>
                    <p class="header__nav-footer-phone">+7 (495) 120-00-80</p>
                </div>
                <div class="header__nav-footer-link">
                    <ul class="header__nav-footer-list">
                        <li class="header__nav-footer-list-item">
                            <a href="#">
                                <img src="/assets/img/header/insta_media.svg" alt="i">
                            </a>
                        </li>
                        <li class="header__nav-footer-list-item">
                            <a href="#">
                                <img src="/assets/img/header/vk_media.svg" alt="vk">
                            </a>
                        </li>
                        <li class="header__nav-footer-list-item">
                            <a href="#">
                                <img src="/assets/img/header/fb_media.svg" alt="f">
                            </a>
                        </li>
                    </ul>
                    <a href="#" class="header__nav-footer-descr">Полная версия сайта</a>
                </div>
            </div> -->
        </nav>
    </div>
</header>
