@import '../../styles/modules/mixins/mixin';

.footer {
    width: 100%;
    height: 50px;
    border-top: 1px solid rgba(0, 1, 5, 0.1);
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 40px;
    background: #fff;
    z-index: 100;

    &--hidden {
        display: none;
    }

    &__dev-logo {
        width: 204px;
        height: 30px;
        display: flex;
        align-items: flex-end;

        &> a:last-child { margin-left: 10px; }
    }

    &__web {
        display: flex;
        align-items: center;
        position: absolute;
        left: 50%;
        height: 30px;
        transform: translate(-50%);

        &-img {
            margin: 0 10px 0 0;
            backface-visibility: hidden;
        }

        &-link {
            font: 500 16px/26px $font-mus;
            @include font-smoothing;
            backface-visibility: hidden;
        }
    }

    &__social-list {
        display: flex;
        padding: 0;
        margin: 0;
        list-style-type: none;
        font: 500 16px/11px $font-mus;
        @include font-smoothing;

        &-item {
            margin: 0 10px 0 0;
            display: flex;
            align-items: center;
            &:last-child { margin: 0 0 0 26px; }
            &:hover {
                path {
                    fill: $col-orange;
                    opacity: 1;
                }
            }

            svg { path { transition: $transition; } }
        }
    }
}
