@import '../../styles/modules/mixins/mixin';

.footer {
    width: 100%;
    height: 50px;
    border-top: 1px solid rgba(0, 1, 5, 0.1);
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 40px;
    background: #fff;

    &--hidden {
        visibility: hidden;
    }

    &__dev-logo-link {
        display: block;
        width: 144px;

        img {
            width: 100%;
        }
    }

    &__web {
        display: flex;
        align-items: center;
        position: absolute;
        left: 50%;
        height: 30px;
        transform: translate(-50%);

        &-img {
            margin: 0 10px 0 0;
            backface-visibility: hidden;
        }

        &-link {
            font: 500 16px/26px $font-mus;
            @include font-smoothing;
            backface-visibility: hidden;
        }
    }

    &__social-list {
        display: flex;
        padding: 0;
        margin: 0;
        list-style-type: none;
        font: 500 16px/11px $font-mus;
        @include font-smoothing;

        &-item {
            margin: 0 10px 0 0;
            display: flex;
            align-items: center;

            &:last-child {
                margin: 0 0 0 26px;
            }
        }
    }

    @media (max-width: 1279px) {
        padding: 0 30px;

        .footer__web-link {
            display: none;
        }
        .footer__social-list-item {
            margin: 0 20px 0 0;

            &:first-child {
                display: none;
            }

            &:last-child {
                margin: 0 0 0 16px;
            }
        }
    }
    @media(max-width: 767px) {
        padding: 0 15px;

        .footer__web {
            display: none;
        }
        .footer__social-list-item:not(:last-child) {
            display: none;
        }
    }
}
