<footer class="footer">
    <div class="footer__dev-logo">
        <a class="footer__dev-logo-link" href="#">
            <img src="/assets/img/footer/3red_new.svg" alt="3red-logo">
        </a>
    </div>
    <a href="javascript:void(0)" class="footer__web" (click)="openVideo()">
        <img class="footer__web-img" src="/assets/img/footer/watch-ic.svg" alt="live watch">
        <span class="footer__web-link">Трансляция с веб-камеры</span>
    </a>
    <div class="footer__social">
        <ul class="footer__social-list">
            <li class="footer__social-list-item">Мы в соцсетях:</li>
            <li class="footer__social-list-item">
                <a href="#">
                    <img src="/assets/img/footer/insta-ic.svg" alt="i">
                </a>
            </li>
            <li class="footer__social-list-item">
                <a href="#">
                    <img src="/assets/img/footer/facebook-ic.svg" alt="f">
                </a>
            </li>
            <li class="footer__social-list-item">
                <a href="#">
                    <img src="/assets/img/footer/vk-ic.svg" alt="vk">
                </a>
            </li>
            <li class="footer__social-list-item">
                <a href="#">
                    <img src="/assets/img/footer/background-ic.svg" alt="b">
                </a>
            </li>
        </ul>
    </div>
</footer>
