@import '../var.scss';

.quarantine-call {
    width: 100%;
    display: flex;
    justify-content: center;

    &__container {
        width: $container;
        max-width: $container--max;
    }

    &__title {
        max-width: 646px;
        font: $font-tag;
        @include font-smoothing;
        color: $col-black;
        margin: 0 0 48px;
    }

    &__list {
        max-width: 646px;
        
        font: 24px/32px $font-proba;
        @include font-smoothing;
        color: $col-black;
        padding: 0;
        margin: 0 0 104px;

        a {
            color: $col-red;
            text-decoration: underline;
        }

        &-item {
            margin: 0 0 24px;
            &:last-child { margin: 0; }
        }
    }

    &__info {
        max-width: 646px;
        font: $font-24;
        @include font-smoothing;
        color: $col-grey;
        margin: 0 0 64px;

        &> span {
            display: block;
            &:nth-child(2) { margin: 24px 0; }
        }

        &-tag {
            font: $font-tag;
            @include font-smoothing;
            color: $col-black;
            span:first-child {
                color: $col-red;
            }
        }
    }

    &__link {
        font: 17px/24px $font-proba;
        @include font-smoothing;
        color: $col-red;
    }
}
