
<section class="quarantine-call">

    <div class="quarantine-call__container">

        <h1 class="quarantine-call__title">По звонку в офис можно забронировать квартиру, для этого вам необходимо:</h1>

        <ol class="quarantine-call__list">

            <li class="quarantine-call__list-item">На <a routerLink="/">официальном сайте</a> жилого комплекса выбрать понравившееся жилье.</li>
            <li class="quarantine-call__list-item">Связаться с менеджером по телефону и получить подробную консультацию.</li>
            <li class="quarantine-call__list-item">Оплатить бронь онлайн.</li>
        </ol>

        <p class="quarantine-call__info">
            <span class="quarantine-call__info-tag">
                <span>#</span>
                <span>оставайсядома</span>
            </span>
            <span>Мы стараемся максимально защитить вас от риска заражения и продолжаем работу в режиме онлайн. Берегите себя и будьте здоровы!</span>
            <span>Чтобы связаться со специалистами компании, вы можете позвонить в офис продаж жилого комплекса по номеру телефона, указанному на официальном сайте.</span>
        </p>

        <a routerLink="/" class="quarantine-call__link">← Назад</a>
    </div>
</section>