@import "../../styles/modules/mixins/mixin.scss";

.home {

    &__preview {
        width: 100%;
        position: relative;
        margin: 0 0 80px;

        &-wrap {
            box-sizing: border-box;

            &_slider {
                width: 100%;
                height: calc(100vh - 69px);
                background: url('../../assets/img/intro.jpg') center no-repeat;
                background-size: cover;
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 505px;
                    opacity: 0.5;
                    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);
                    z-index: 1;
                }
                @media (max-width: 767px) {
                    &:before { height: 211px; }
                }
            }
            &_news {
                position: absolute;
                top: 50px;
                left: 30px;
                @media (max-width: 767px) {
                    width: 100%;
                    position: static;
                    padding: 5px 15px 0;
                }
            }
        }

        &-controls {
            width: 230px;
            position: absolute;
            right: 30px;
            bottom: 58px;
            display: flex;
            justify-content: space-between;
            z-index: 2;
            @media(max-width: 767px) {
                width: calc(100% - 30px);
                bottom: auto;
                top: 30px;
                right: 15px;
            }
        }
        &-count {
            width: 110px;
            font: 54px/58px $font-mus;
            @include font-smoothing;
            color: #fff;
            margin: 0 25px 0 0;

            &_span {
                font-size: 18px;
                line-height: 21px;
            }
        }
        &-btns {
            width: 90px;
            display: flex;
            justify-content: space-between;
        }
        &-btn {
            margin: 0;
            padding: 0;
            border: none;
            width: 40px;
            height: 40px;
            box-sizing: border-box;
            border: 1px solid rgba($color: #fff, $alpha: .4);
            border-radius: 50%;
            cursor: pointer;
            transition: $transition;
            backface-visibility: hidden;

            @media (min-width: 1023px) {
                &:hover {
                    border-color: #fff;
                    background-position-x: calc(50% - 3px);
                }
            }

            &_prev {
                background: url('/assets/img/btn_next_white.svg') 50% 50% no-repeat;
                margin: 0 10px 0 0;
            }
            &_next {
                background: url('/assets/img/btn_next_white.svg') 50% 50% no-repeat;
                transform: rotate(180deg);
            }
        }

        &-slider {

            &-descr {
                z-index: 2;
                width: 431px;
                position: absolute;
                bottom: 50px;
                left: 30px;
                @media (max-width: 767px) {
                    width: calc(100% - 30px);
                    left: 15px;
                    bottom: 20px;
                }
            }
            &-title {
                font: 30px/34px 'Leksa', 'sans-serif';
                @include font-smoothing;
                color: #fff;
                margin: 0 0 20px;
            }
            &-text {
                font: 500 16px/22px $font-mus;
                @include font-smoothing;
                color: #fff;
                @media (max-width: 767px) {
                    font-size: 14px;
                    line-height: 18px;
                }
            }
        }
        &-stock,
        &-news {
            width: 100%;
            padding: 5px 0 25px 33px;
            display: flex;
            flex-flow: row wrap;
            box-sizing: border-box;
    
            &-title {
                width: 100%;
                font: 500 18px/24px $font-mus;
                @include font-smoothing;
                color: #fff;
                position: relative;
                margin: 0;
                &:before {
                    content: '';
                    position: absolute;
                    left: -33px;
                    top: 4.5px;
                    width: 28px;
                    height: 15px;
                    background: url('../../assets/img/stock-ic.svg') no-repeat;
                    background-size: 100%;
                }
                @media(max-width: 767px) {
                    color: $col-black;
                    &:not(.home__preview-news-title) {
                        width: 30%;
                        order: 1;
                    }
                }
            }
            &-paragraf {
                font: 500 10px/15px "Museo Sans Cyrl", sans-serif;
                @include font-smoothing;
                letter-spacing: .4px;
                color: #fff;
                opacity: .6;
                padding: 4px 0 0;
                margin: 0;
                width: 100%;
                @media(max-width: 767px) {
                    color: $col-black;
                    &:not(.home__preview-news-paragraf) {
                        text-align: right;
                        width: 70%;
                        order: 2;
                    }
                }
            }
            .g-link_white {
                @media(max-width: 767px) {
                    color: $col-black;
                    order: 3;
                }
            }
        }
        &-news {
            @media (max-width: 767px) { display: none;}

            &-title:before {
                background: url('../../assets/img/news-ic.svg') no-repeat;
                background-size: 100%;
                width: 32px;
                height: 26px;
                left: -37px;
                top: 0;
            }
        }
    }

    &__stock {
        display: flex;
        justify-content: center;

        &-wrap {
            width: calc(100% - 30px);
            max-width: 768px;
        }
    }

    //  Сниппеты квартир

    &__snippet {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0 0 80px;

        &-wrap {
            width: calc(100% - 30px);
            max-width: 706px;
            display: flex;
            flex-flow: row wrap;
            @media(max-width: 767px) { max-width: 290px; }
        }
        &-item {
            width: 338px;
            height: 164px;
            border-radius: 4px;
            box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
            margin: 0 30px 30px 0;
            padding: 15px 20px;
            box-sizing: border-box;
            &:nth-child(2n) { margin-right: 0; }
            &:nth-last-child(2),
            &:last-child { margin-bottom: 0; }
            @media(max-width: 767px) {
                margin: 0 0 10px;
                &:nth-last-child(2) { margin: 0 0 10px; }
                &:last-child { margin: 0; }
            }
        }
        &-name {
            font: 23px/32px 'Leksa', 'sans-serif';
            color: #2e2e2e;
        }
        &-space {
            @include fw18-24();
            opacity: .6;
            margin: 0 0 30px;
        }
        &-price {
            @include fw18-24($col-orange);
            &_big {
                font-size: 48px;
                line-height: 48px;
            }
        }
    }

    // Текстовый блок

    &__descr {
        width: 100%;
        background: rgba(170, 171, 34, 0.1);
        position: relative;
        display: flex;
        justify-content: center;
        &:before {
            content: '';
            position: absolute;
            right: 15px;
            bottom: 7px;
            width: 80px;
            height: 78px;
            background: url('/assets/img/cat.svg') no-repeat;
            background-size: 100%;
        }
        &-paragraf {
            width: calc(100% - 30px);
            max-width: 767px;
            font: 30px/1.47 'Leksa';
            @include font-smoothing;
            color: #000105;
            margin: 100px 0;

            &_link { font: inherit; }
        }
    }

    &__place {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        &-title {
            width: calc(100% - 30px);
            font: 30px/30px 'Leksa';
            @include font-smoothing;
            color: $col-black;
            margin: 120px 0 40px;
        }
    }

    &__news {
        width: 100%;
        margin: 0 0 100px;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        &-wrap {
            width: calc(100% - 30px);
        }
        &-title {
            font: 30px/30px 'Leksa';
            @include font-smoothing;
            color: $col-black;
            margin: 120px 0 40px;
        }
        &-nav {
            width: 100%;
            max-width: 768px;
            display: flex;
            justify-content: space-between;
            position: relative;
        }
        &-list {
            width: 224px;
            display: flex;
            justify-content: space-between;
            box-sizing: border-box;
            padding: 0 0 10px;
            position: relative;
            font: 500 18px/24px $font-mus;
            @include font-smoothing;
            color: rgba(0, 1, 5, 0.7);
            border-bottom: 1px solid rgba(0, 1, 5, 0.3);
            list-style: none;

            &-item {
                transition: 0.2s linear;
                cursor: pointer;

                &_active {
                    color: #000105;
                    position: relative;
                    &:before {
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: -11px;
                        width: 100%;
                        height: 2px;
                        background: #e7490f;
                    }
                }
            }
        }
        &-btn {
            width: 90px;
            display: flex;
            justify-content: space-between;
            position: absolute;
            right: 0;
            top: -75px;

            &-item {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
                background: url('../../assets/img/btn_next_or.svg') 50% 50% no-repeat #fff;
                transition: 0.2s linear;
                user-select: none;
            }
        }
        &-next {
            transform: rotate(180deg);
        }
    }
}
