<section class="home">

    <app-home-preview *ngIf="newsLoaded"
        [newsShares]="allSnippets"
        [isDescription]="isDescription">
    </app-home-preview>

    <app-home-trigger></app-home-trigger>

    <app-home-description
        (isDescription)="isDescription = $event"></app-home-description>

    <app-home-places></app-home-places>

    <app-home-news *ngIf="newsLoaded"
        [newsSnippets]="newsSnippets"
        [shareSnippets]="shareSnippets"
        [allSnippets]="allSnippets">
    </app-home-news>

</section>

<!-- <app-scroll-up></app-scroll-up> -->
