<section class="gallery">
    <div class="main__container main__container_col">
        <h1 class="gallery__title">Галерея</h1>

        <!-- <div class="gallery__nav">
            <div class="gallery__nav-scroll">
                <ul class="gallery__nav-list">
                    <li class="gallery__nav-list-item" [class.gallery__nav-list-item_active]="activeSnippets === 'ARCHITECTURE'" (click)="toggleSnippets(architectureSnippets, 'ARCHITECTURE')">Архитектура</li>
                    <li class="gallery__nav-list-item" [class.gallery__nav-list-item_active]="activeSnippets === 'LANDSCAPING'" (click)="toggleSnippets(landscapingSnippets, 'LANDSCAPING')">Благоустройство</li>
                    <li class="gallery__nav-list-item" [class.gallery__nav-list-item_active]="activeSnippets === 'PARKING'" (click)="toggleSnippets(parkingSnippets, 'PARKING')">Паркинг</li>
                </ul>
            </div>
        </div> -->
    </div>
    <div class="gallery__btn">
        <button class="gallery__btn-prev" (click)="prevBtn()"></button>
        <button class="gallery__btn-next" (click)="nextBtn()"></button>
    </div>
    <div class="gallery__slider">
        <div class="gallery__slider-wrap">
            <ul [ngStyle]="{ 'transform' : ('translateX(-' + ( this.currentSlide * scrollWidth ) + 'px)') }" class="gallery__slider-list">
                <li *ngFor="let item of mainSnippets; let i = index" class="gallery__slider-item" [ngClass]="{'gallery__slider-item--active' : currentSlide === i}" #img>
                    <img class="gallery__slider-img" [src]="uploadsPath + item.image" alt="">

                   <!-- <div class="gallery__slider-descr">
                        <h1 class="gallery__slider-title">{{item.name}}</h1>
                        <p class="gallery__slider-text">{{item.description}}</p>
                        <p class="gallery__slider-count">{{i + 1 < 10 ? '0' : ''}}{{i + 1}}/{{i + 1 < 10 ? '0' : ''}}{{mainSnippets.length}}</p>
                    </div> -->
                </li>
            </ul>
        </div>
    </div>
</section>
