<section class="gallery">
    <div class="main__container main__container_col">
        <h2 class="gallery__title g-title-path">Галерея</h2>
    </div>
    <div class="gallery__btn">
        <button class="gallery__btn-prev" (click)="prevBtn()"></button>
        <button class="gallery__btn-next" (click)="nextBtn()"></button>
    </div>
    <div class="gallery__slider">
        <div class="gallery__slider-wrap" #container>
            <ul [ngStyle]="{ 'transform' : ('translateX(-' + ( this.currentSlide * scrollWidth ) + 'px)') }" class="gallery__slider-list">
                <li *ngFor="let item of mainSnippets; let i = index" class="gallery__slider-item" [ngClass]="{'gallery__slider-item--active' : currentSlide === i}" #img>
                    <img class="gallery__slider-img" [src]="uploadsPath + item.image" alt="">
                </li>
            </ul>
        </div>
    </div>
</section>
