@import './../../dynamic-vars';

.dynamic-slider-current {
    opacity: 1 !important;
}

.dynamic_modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.7);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;

    &--active {
        display: flex;
    }

    &_cls-btn {
        position: absolute;
        width: 40px;
        height: 40px;
        top: 20px;
        right: 20px;
        background: url('/assets/img/dynamic/cls-btn.svg');
        cursor: pointer;
        z-index: 100;
    }

    &_wrap {
        height: 80%;
        position: relative;
        width: 100%;
    }

    &_img {
        height: 100%;
        object-fit: cover;
        pointer-events: none;
        opacity: 0;
        transition: .3s linear;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        z-index: 10;
    }

    &_btn {
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: 50;

        &--left {
            left: 0;
            cursor: url('/assets/img/dynamic/n-cursor-left.cur') 50 25,
                    url('/assets/img/dynamic/n-cursor-left.svg') 50 25, auto;
        }

        &--right {
            right: 0;
            cursor: url('/assets/img/dynamic/n-cursor-right.cur') 0 25,
                    url('/assets/img/dynamic/n-cursor-right.svg') 0 25, auto;
        }
    }
}