<section class="apartament-furniture" [class.active]="isActive">

    <div class="apartament-furniture__vars">
        <p class="apartament-furniture__vars-text">Показать:</p>
        <div class="apartament-furniture__vars-wrap">
            <div class="apartament-furniture__vars-wrap--scroll">
                <div class="apartament-furniture__vars-wrap--padding">
                    <label class="apartament-furniture__vars-item" *ngFor="let item of furniture; let i = index">
                        <input type="radio" name="furnitureVariant" [checked]="furnitureVariant.id === furniture[i].id" (change)="furnitureVariant = furniture[i]">
                        <div>
                            <span class="apartament-furniture__vars-name">{{item.vendor}} &nbsp;</span>
                            <span class="apartament-furniture__vars-price" *ngIf="item.charCost">от {{item.charCost | myBitNumberPipe:0}} &#8381;</span>
                            <span class="apartament-furniture__vars-price" *ngIf="!item.charCost && fixedInPriceItems.length">от {{fixedInPriceItemsSum | myBitNumberPipe:0}} &#8381;</span>
                            <span class="apartament-furniture__vars-price" *ngIf="!item.charCost && !fixedInPriceItems.length">от {{minItemsPrice | myBitNumberPipe:0}} &#8381;</span>
                        </div>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="apartament-furniture__slides">
        <figure class="apartament-furniture__slides-item" (click)="startSlideShow()">
            <img [src]="furnitureVariant.charMainImage" alt="furniture-preview" (error)="img1.style.display = 'none'" #img1>
            <div *ngIf="img1.style.display === 'none'" class="apartament-furniture__slides-error">Изображение недоступно</div>
        </figure>
        <a class="apartament-furniture__slides-item--link">
            <h2 class="apartament-furniture__slides-title">Больше примеров</h2>
            <p class="apartament-furniture__slides-text">Подробная галерея для всех видов меблировки и квартир</p>
        </a>
    </div>

    <div class="apartament-furniture__info">
        <div class="apartament-furniture__info-head" *ngIf="fixedInPriceItems.length">
            <p class="apartament-furniture__info-title">В стоимость включено:</p>
            <ng-container *ngIf="fixedInPriceItems.length">
                <div class="apartament-furniture__info-kitchen" *ngFor="let item of fixedInPriceItems">
                    <div class="apartament-furniture__info-text notice">
                        {{item.itemName}}
                        <!--<span></span>-->
                        <!--<div class="apartament-furniture__info-notice">-->
                        <!--<p class="apartament-furniture__info-title">Включает в себя</p>-->
                        <!--<ul>-->
                        <!--<li class="apartament-furniture__info-text">Кухонный комплект</li>-->
                        <!--<li class="apartament-furniture__info-text">Варочная панель</li>-->
                        <!--<li class="apartament-furniture__info-text">Духовой шкаф</li>-->
                        <!--<li class="apartament-furniture__info-text">Холодильник</li>-->
                        <!--<li class="apartament-furniture__info-text">Вытяжка</li>-->
                        <!--<li class="apartament-furniture__info-text">Мойка и кухонный смеситель</li>-->
                        <!--</ul>-->
                        <!--</div>-->
                    </div>
                    <p class="apartament-furniture__info-text">{{item.itemPrice | myBitNumberPipe:0}} &#8381;</p>
                </div>
            </ng-container>
            <ng-container *ngIf="!fixedInPriceItems.length && furnitureVariant.charCost">
                <div class="apartament-furniture__info-kitchen">
                    <div class="apartament-furniture__info-text notice">
                        Кухня со встроенной техникой
                        <!--<span></span>-->
                        <!--<div class="apartament-furniture__info-notice">-->
                        <!--<p class="apartament-furniture__info-title">Включает в себя</p>-->
                        <!--<ul>-->
                        <!--<li class="apartament-furniture__info-text">Кухонный комплект</li>-->
                        <!--<li class="apartament-furniture__info-text">Варочная панель</li>-->
                        <!--<li class="apartament-furniture__info-text">Духовой шкаф</li>-->
                        <!--<li class="apartament-furniture__info-text">Холодильник</li>-->
                        <!--<li class="apartament-furniture__info-text">Вытяжка</li>-->
                        <!--<li class="apartament-furniture__info-text">Мойка и кухонный смеситель</li>-->
                        <!--</ul>-->
                        <!--</div>-->
                    </div>
                    <p class="apartament-furniture__info-text">{{furnitureVariant.charCost | myBitNumberPipe:0}} &#8381;</p>
                </div>
            </ng-container>
            <ng-container *ngIf="!fixedInPriceItems.length && !furnitureVariant.charCost">
                <div class="apartament-furniture__info-kitchen">
                    <div class="apartament-furniture__info-text notice">
                        Не включено
                        <!--<span></span>-->
                        <!--<div class="apartament-furniture__info-notice">-->
                        <!--<p class="apartament-furniture__info-title">Включает в себя</p>-->
                        <!--<ul>-->
                        <!--<li class="apartament-furniture__info-text">Кухонный комплект</li>-->
                        <!--<li class="apartament-furniture__info-text">Варочная панель</li>-->
                        <!--<li class="apartament-furniture__info-text">Духовой шкаф</li>-->
                        <!--<li class="apartament-furniture__info-text">Холодильник</li>-->
                        <!--<li class="apartament-furniture__info-text">Вытяжка</li>-->
                        <!--<li class="apartament-furniture__info-text">Мойка и кухонный смеситель</li>-->
                        <!--</ul>-->
                        <!--</div>-->
                    </div>
                    <p class="apartament-furniture__info-text">0 &#8381;</p>
                </div>
            </ng-container>
        </div>
        <div class="apartament-furniture__info-option">
            <div class="apartament-furniture__info-switcher">
                <p class="apartament-furniture__info-title">Предметы мебели <br> (опционально):</p>
                <!-- <label>
                    <input type="checkbox" name="furniture-option" #furnitureOption>
                    <div></div>
                </label> -->
            </div>

            <ng-container> <!-- *ngIf="furnitureOption.checked" -->
                <div class="apartament-furniture__info-list">
                    <label *ngFor="let item of furnitureVariant.items">
                        <div class="apartament-furniture__info-checkbox">
                            <input type="checkbox" name="add-furniture" (change)="calculateTotalPrice($event, item)">
                            <div></div>
                            <p class="apartament-furniture__info-text">{{item.itemName}}</p>
                        </div>
                        <p class="apartament-furniture__info-text">+ {{item.itemPrice | myBitNumberPipe:0}} &#8381;</p>
                    </label>
                </div>
    
                <div class="apartament-furniture__info-result">
                    <p class="apartament-furniture__info-title">Итоговая стоимость меблировки</p>
                    <p class="apartament-furniture__info-price">{{totalCost | myBitNumberPipe:0}} &#8381;</p>
                </div>
            </ng-container>
        </div>
    </div>
</section>

<app-apartment-furniture-slideshow
    [isSlideShow]="isSlideShow"
    [slides]="furnitureVariant.charImages"
    (close)="windowScrollLocker.unblock(); isSlideShow = false">
</app-apartment-furniture-slideshow>
