@import "../../../styles/modules/mixins/mixin";

#plan {
    pointer-events: none;

    * { font-family: $font-mus !important; }
}

.floor {
    width: 100%;
    height: calc(100vh - 64px - 51px);
    min-height: 750px;
    display: flex;
    flex-flow: column;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    padding: 65px 0 0;

    .floor-plan-error-description {
        display: flex;
        align-items: center;
        font: 500 18px/26px 'Museo Sans Cyrl', sans-serif;
        opacity: 0.6;
        color: #000105;
        white-space: nowrap;
        @include font-smoothing();
    }

    &__nav {
        width: $w1600;
        position: absolute;
        left: auto;
        top: 20px;

        &-list {
            font: 500 9px/15px $font-mus;
            @include font-smoothing;
            color: $col-32;
            letter-spacing: 1px;
            display: flex;
        }
        &-item {
            position: relative;
            margin: 0 13px 0 0;
            text-transform: uppercase;
            &:last-child {
                margin: 0;
                &:before { display: none; }
            }
            &:before {
                content: '';
                width: 6px;
                height: 9px;
                position: absolute;
                left: calc(100% + 3.5px);
                top: 2px;
                background: url(/assets/img/btn_next_grey.svg) no-repeat;
                background-size: 6px 8px;
                transform: rotate(180deg);
            }
            &-link { text-decoration: underline; }
        }
    }

    &__container {
        width: $w1600;
        height: calc(100vh - (146px) - (60px + 94px));
        min-height: 580px;
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    &__description {
        width: 924px;
        position: relative;
        display: flex;
        justify-content: center;
        
        &-scheme {
            width: 100%;
            display: flex;

            svg {
                width: 100%;
                height: 100%;
            }
        }
    }
    &__info-window {
        display: block;
        margin: 20px 0 0;
    }
}

.flat-mod {
    cursor: pointer;
    
    &--free {
        fill: rgba($color: $col-orange, $alpha: .2) !important;
        path, polygon, 
        polyline, rect {
            fill: rgba($color: $col-red, $alpha: .2);
        }
        &:hover {
            fill: rgba($color: $col-orange, $alpha: .1) !important;
            path, polygon, 
            polyline, rect { fill: rgba($color: $col-red, $alpha: .1); }
        }
    }
    &--reserved {
        fill: #eee !important;
        path, polygon, 
        polyline, rect { fill: #eee; }
        &:hover { opacity: .5; }
    }
    &--saled {
        pointer-events: none;
        fill: #fff;
        path, polygon, 
        polyline, rect { fill: #fff; }
    }
    &--not-sale {
        fill: #FFFBDA !important;
        path, polygon,
        polyline, rect { fill: #FFFBDA; }
        &:hover { opacity: .5; }
    }
}