@import "../../../styles/modules/mixins/mixin";

#plan {
    pointer-events: none;

    * { font-family: $font-mus !important; }
}

.floor {
    width: 100%;
    height: calc(100vh - 46px - 51px);
    display: flex;
    flex-flow: column;
    align-items: center;
    position: relative;
    padding: 65px 0 0;

    .floor-plan-error-description {
        display: flex;
        align-items: center;
        font: 500 18px/26px 'Museo Sans Cyrl', sans-serif;
        opacity: 0.6;
        color: #000105;
        white-space: nowrap;
        @include font-smoothing();
    }

    &__nav {
        width: $w1600;
        position: absolute;
        left: auto;
        top: 20px;

        &-list {
            font: 500 9px/15px $font-mus;
            @include font-smoothing;
            color: $col-32;
            letter-spacing: 1px;
            display: flex;
        }
        &-item {
            position: relative;
            margin: 0 13px 0 0;
            text-transform: uppercase;
            &:last-child {
                margin: 0;
                &:before { display: none; }
            }
            &:before {
                content: '';
                width: 6px;
                height: 9px;
                position: absolute;
                left: calc(100% + 3.5px);
                top: 2px;
                background: url(/assets/img/btn_next_grey.svg) no-repeat;
                background-size: 6px 8px;
                transform: rotate(180deg);
            }
            &-link { text-decoration: underline; }
        }
    }

    &__container {
        width: $w1600;
        height: calc(100vh - (146px) - (60px + 94px));
        display: flex;
        justify-content: space-between;
    }

    &__description {
        width: 924px;
        position: relative;
        display: flex;
        justify-content: center;
        
        &-scheme {
            display: flex;

            svg {
                height: 60vh;
                min-height: 270px;
            }
        }
    }
}

.flat-mod {
    cursor: pointer;
    opacity: 0.1;

    &:hover { opacity: .3; }
    &--free { fill: rgb(170, 171, 34) !important; }
}

.flat-mod--free path, .flat-mod--free polygon, .flat-mod--free polyline, .flat-mod--free rect {
    fill: rgb(170, 171, 34) !important;
}

.flat-mod--out-of-stock path, .flat-mod--out-of-stock polygon, .flat-mod--out-of-stock polyline, .flat-mod--out-of-stock rect {
    fill: rgb(0, 1, 5);
}
