<div class="floor">

    <div class="floor__nav">
        <ul class="floor__nav-list">
            <li class="floor__nav-item">
                <a [routerLink]="'/flats/plan'" class="floor__nav-item-link">Общий вид</a>
            </li>
            <li class="floor__nav-item">
                <a [routerLink]="['/flats/house/']" [queryParams]="{ houses: houseNumber }" class="floor__nav-item-link">Корпус {{houseNumber}}</a>
            </li>
            <li class="floor__nav-item">
                Секция {{sectionNumber}}
            </li>
            <li class="floor__nav-item">Этаж {{floorNumber}}</li>
        </ul>
    </div>

    <div class="floor__container">


        <app-floor-selector
            [floorSelector]="floorSelector"
            [houseNumber]="houseNumber"
            [sectionNumber]="sectionNumber"
            [floorNumber]="floorNumber">
        </app-floor-selector>

        <div class="floor__description">
            <div [innerHTML]="floorSvg | houseSVGSanitizePipe" class="floor__description-scheme" *ngIf="floorSvg"></div>
            <div class="floor-plan-error-description" *ngIf="!floorSvg && !loadFloorSvg">Изображение недоступно</div>

            <app-loader 
                [loaderShow]="loadFloorSvg && !floorSvg">
            </app-loader>
        </div>

        <app-house-selector
            [houseNumber]="houseNumber"
            [sectionNumber]="sectionNumber"
            [floorNumber]="floorNumber">
        </app-house-selector>

    </div>

    <app-floor-info-window
        [infoWindow]="infoWindow">
    </app-floor-info-window>

</div>

<app-flats-apartment-modal *ngIf="showApartmentWindow"
    [showApartmentWindow]="showApartmentWindow"
    [flatsList]="floorFlats"
    [flatIndex]="selectedFlatIndex"
    (close)="showApartmentWindow = false; windowScrollLocker.unblock()">
</app-flats-apartment-modal>
