@import "../../../styles/modules/mixins/mixin";

#plan {
    pointer-events: none;

    * { font-family: $font-mus !important; }
}

.floor {
    width: 100%;
    height: calc(100vh - 146px - 51px);
    display: flex;
    flex-flow: column;
    align-items: center;
    position: relative;
    padding: 65px 0 0;

    .floor-plan-error-description {
        font: 18px/26px 'Montserrat', sans-serif;
        color: #888ba2;
        white-space: nowrap;
        @include font-smoothing();
    }

    &__nav {
        width: $w1600;
        position: absolute;
        left: auto;
        top: 20px;

        &-list {
            font: 500 9px/15px $font-mus;
            @include font-smoothing;
            color: $col-32;
            display: flex;
        }
        &-item {
            position: relative;
            margin: 0 13px 0 0;
            text-transform: uppercase;
            &:last-child {
                margin: 0;
                &:before { display: none; }
            }
            &:before {
                content: '';
                width: 6px;
                height: 9px;
                position: absolute;
                left: calc(100% + 3.5px);
                top: 2px;
                background: url(/assets/img/btn_next_grey.svg) no-repeat;
                background-size: 6px 8px;
                transform: rotate(180deg);
            }
            &-link { text-decoration: underline; }
        }
    }

    &__container {
        width: $w1600;
        height: calc(100vh - (146px) - (60px + 94px));
        display: flex;
    }

    &__description {
        width: 924px;
        position: relative;
        display: flex;
        justify-content: center;
        
        &-scheme {
            display: flex;

            svg {
                height: 60vh;
                min-height: 270px;
            }
        }
    }
}

.flat-mod {
    cursor: pointer;

    &:hover {
        opacity: .8;
    }
}

.flat-mod--studio path, .flat-mod--studio polygon, .flat-mod--studio polyline, .flat-mod--studio rect {
    fill: #de588d;
}

.flat-mod--one-room path, .flat-mod--one-room polygon, .flat-mod--one-room polyline, .flat-mod--one-room rect {
    fill: #5fb5a4;
}

.flat-mod--two-room path, .flat-mod--two-room polygon, .flat-mod--two-room polyline, .flat-mod--two-room rect {
    fill: #bfaeb2;
}

.flat-mod--three-room path, .flat-mod--three-room polygon, .flat-mod--three-room polyline, .flat-mod--three-room rect {
    fill: #cda571;
}

.flat-mod--out-of-stock path, .flat-mod--out-of-stock polygon, .flat-mod--out-of-stock polyline, .flat-mod--out-of-stock rect {
    fill: #fff;
}
