<div *ngIf="section && floor"
    [style.left.px]="bubbleLeft"
    [style.top.px]="bubbleTop"
    id='floor-bubble'
    [ngClass]="{'bubble-transform-left': transformLeft }"
    class="house_floor-description">

    <div class="house_floor-description_column">
        <span class="house_floor-description_section">Секция {{section}}</span>
        <span class="house_floor-description_floor">Этаж {{floor}}</span>
    </div>
    <div *ngIf="totalFlats" class="house_floor-description_quantity">
        <div *ngFor="let item of bubbleData" class="house_floor-description_quantity_item">
            <span class="house_floor-description_quantity_item_name">{{item.name === 0 ? 'Студии' : item.name + 'к'}}</span>
            <span class="house_floor-description_quantity_item_quantity">{{item.count}}</span>
        </div>
    </div>
</div>
