<div class="hover-flat" *ngIf="showBubble" [style.left.px]="coords.left" [style.top.px]="coords.top">
    <div class="hover-flat__img">
        <img [src]="'/assets/floor-plans/section_' + bubbleData.section + '/floor_' + bubbleData.floor + '/' + bubbleData.floor + 'floor_' + bubbleData.flat + 'flat.svg'" alt=""> <!-- добавить дом -->
    </div>
    <div class="hover-flat__info">
        <p class="hover-flat__info-text">{{(bubbleData.rooms < 1) ? '' : bubbleData.rooms }} {{(bubbleData.rooms < 1) ? 'Студия' : 'комнатная'}}</p>
        <div class="hover-flat__info__container">
            <p class="hover-flat__info-text">{{bubbleData.space}} м²</p>
            <div>
                <p class="hover-flat__info-text hover-flat__info-text_price"
                   [class.hover-flat__info-text_price_not-sale]="bubbleData.discount">
                    {{bubbleData.price | myBitNumberPipe}} &#8381;
                </p>
                <p *ngIf="bubbleData.discount"
                   class="hover-flat__info-text hover-flat__info-text_price_sale">
                    {{bubbleData.price - bubbleData.discount | myBitNumberPipe}} &#8381;
                </p>
            </div>
        </div>
    </div>
</div>
