<div class="installment purchase_installment">

    <ul class="installment__calculator">

        <li class="installment__calculator-type" >
            <div class="installment__calculator-select">
                <div class="installment__calculator-wrap" (click)="acceptChange()">
                    <input type="text" 
                           placeholder="Выберите тип рассрочки"
                           value="{{ changeType }}">
                </div>
                
                <div class="installment__calculator-tooltip" *ngIf="showTypeInstallment">
                    <div class="installment__calculator-tooltip_cls-area" (click)="acceptChange()"></div>
                    <p [class.installment__calculator-tooltip_active]="changeType === typeOne" 
                       (click)="changeType = typeOne; acceptChange()">
                        Бесплатная рассрочка
                    </p>
                    <p [class.installment__calculator-tooltip_active]="changeType === typeTwo" 
                       (click)="changeType = typeTwo; acceptChange()">
                        Платная рассрочка
                    </p>
                    <p [class.installment__calculator-tooltip_active]="changeType === typeThree" 
                       (click)="changeType = typeThree; acceptChange()">
                        100% оплата
                    </p>
                </div>
            </div>

            <p class="installment__calculator-hint " *ngIf="changeType === typeOne">
                <span class="span-block span-black">Бесплатная рассрочка сроком <span class="g-text_nowrap">до 6 месяцев</span></span>
                Первоначальный взнос — не менее 50% от прайсовой цены. 
                Погашение задолжности по рассрочке осуществляется 
                <span class="span-black">равными</span> ежемесячными платежами.
            </p>
            <p class="installment__calculator-hint " *ngIf="changeType === typeTwo">
                <span class="span-block span-black">Платная рассрочка сроком от 7 до 24 месяцев</span>
                Первоначальный взнос — не менее 50% от прайсовой цены. 
                Погашение задолжности по рассрочке осуществляется ежемесячными 
                <span class="span-black">аннуительными</span> платежами
            </p>
            <p class="installment__calculator-hint " *ngIf="changeType === typeThree">
                <span class="span-block span-black">100% оплата</span>
                При 100% оплате предоставляется скидка в размере 3% 
                от стоимости квартиры, указанной в прайс-листе
            </p>
        </li>

        <li class="installment__calculator-item">
            <span class="installment__calculator-text">Стоимость квартиры, &#8381;</span>
            <input (change)="formChanges($event.target.value, 'price')"
                   (input)="bitReplace($event.target.value, 'price')"
                   (keyup)="keyUpReviuse($event)"
                   [value]="form.price.val | installmentNumberPipe"
                   class="field installment__calculator-field" type="text">
            <ghm-range-number
                    (move)="form.price.val = $event"
                    (moveend)="formChanges($event, 'price')"
                    [toFixed]="true"
                    [min]="form.price.min"
                    [max]="form.price.max"
                    [start]="form.price.val">
            </ghm-range-number>
        </li>

        <li class="installment__calculator-item" *ngIf="changeType !== typeThree">
            <span class="installment__calculator-text">Первоначальный взнос, &#8381;<br></span>
            <div class="installment__calculator-wrap installment__calculator-wrap_field">
                <input (change)="formChanges($event.target.value, 'firstpay')"
                       (input)="bitReplace($event.target.value, 'firstpay')"
                       (keyup)="keyUpReviuse($event);"
                       [value]="form.firstpay.val | installmentNumberPipe"
                       class="field installment__calculator-field" type="text">
                <p class="installment__calculator-field installment__calculator-field_percent">
                    {{ firstpayPercent(form.firstpay.val, form.price.val) | installmentNumberPipe }}%
                </p>
            </div>
            <ghm-range-number
                    (move)="form.firstpay.val = $event"
                    (moveend)="formChanges($event, 'firstpay')"
                    [toFixed]="true"
                    [min]="form.firstpay.min"
                    [max]="form.firstpay.max"
                    [start]="form.firstpay.val">
            </ghm-range-number>
        </li>

        <li class="installment__calculator-item" *ngIf="changeType !== typeThree">
            <span [ngClass]="{'disabled-opacity': isFullPay }" class="installment__calculator-text">Срок выплат, месяцев</span>
            <input (change)="formChanges($event.target.value, 'month')"
                   (input)="bitReplace($event.target.value, 'month')"
                   (keyup)="keyUpReviuse($event);"
                   [value]="form.month.val"
                   class="field installment__calculator-field" type="text">
            <ghm-range-number
                    [ngClass]="{'disabled-opacity': isFullPay }"
                    (move)="form.month.val = $event"
                    (moveend)="formChanges($event, 'month')"
                    [toFixed]="true"
                    [min]="form.month.min"
                    [max]="form.month.max"
                    [start]="form.month.val">
            </ghm-range-number>
        </li>
    </ul>

    <div class="installment__result">
        <div class="installment__result-item">
            <p class="installment__result-title">Сумма</p>
            <p class="installment__result-result">{{ form.price.val | installmentNumberPipe }} &#8381;</p>
        </div>
        <div class="installment__result-item" *ngIf="changeType !== typeThree">
            <p class="installment__result-title">Ставка</p>
            <p class="installment__result-result">{{ percent }}% годовых</p>
        </div>
        <div class="installment__result-item" *ngIf="changeType !== typeThree">
            <p class="installment__result-title">Размер ежемесячных выплат</p>
            <p class="installment__result-result">{{ monthPay | installmentNumberPipe }} &#8381;</p>
        </div>

        <div class="installment__result-item" *ngIf="changeType === typeThree">
            <p class="installment__result-title g-nav-title">Размер скидки</p>
            <p class="installment__result-result g-title_three">
                {{ saleFullPay(form.price.val) | installmentNumberPipe }} &#8381;
            </p>
        </div>
        <div class="installment__result-item" *ngIf="changeType === typeThree">
            <p class="installment__result-title g-nav-title">Итоговая стоимость</p>
            <p class="installment__result-result g-title_three">
                {{ (form.price.val - saleFullPay(form.price.val)) | installmentNumberPipe }}
            </p>
        </div>
    </div>
</div>
