<div class="installment purchase_installment">

    <ul class="installment__calculator">

        <li class="installment__calculator-type" >
            <app-installment-types
                (typeChanges)="changeType = $event; formConvert()">
            </app-installment-types>
        </li>

        <li class="installment__calculator-item">
            <span class="installment__calculator-text">Стоимость квартиры, &#8381;</span>
            <input (change)="formChanges($event.target.value, 'price')"
                (input)="bitReplace($event.target.value, 'price')"
                (keyup)="keyUpReviuse($event)"
                [value]="form.price.val | installmentNumberPipe"
                class="field installment__calculator-field" type="text">
            <ghm-range-number
                (move)="form.price.val = $event"
                (moveend)="formChanges($event, 'price')"
                [toFixed]="true"
                [min]="form.price.min"
                [max]="form.price.max"
                [start]="form.price.val">
            </ghm-range-number>
        </li>

        <li class="installment__calculator-item" *ngIf="changeType !== typeThree">
            <span class="installment__calculator-text">Первоначальный взнос, &#8381;<br></span>
            <div class="installment__calculator-wrap installment__calculator-wrap_field">
                <input (change)="formChanges($event.target.value, 'firstpay')"
                    (input)="bitReplace($event.target.value, 'firstpay')"
                    (keyup)="keyUpReviuse($event);"
                    [value]="form.firstpay.val | installmentNumberPipe"
                    class="field installment__calculator-field" type="text">
                <p class="installment__calculator-field installment__calculator-field_percent">
                    {{ firstpayPercent(form.firstpay.val, form.price.val) | installmentNumberPipe }}%
                </p>
            </div>
            <ghm-range-number
                (move)="form.firstpay.val = $event"
                (moveend)="formChanges($event, 'firstpay')"
                [toFixed]="true"
                [min]="form.firstpay.min"
                [max]="form.firstpay.max"
                [start]="form.firstpay.val">
            </ghm-range-number>
        </li>

        <li class="installment__calculator-item" *ngIf="changeType !== typeThree">
            <span [ngClass]="{'disabled-opacity': isFullPay }" class="installment__calculator-text">Срок выплат, месяцев</span>
            <input (change)="formChanges($event.target.value, 'month')"
                (input)="bitReplace($event.target.value, 'month')"
                (keyup)="keyUpReviuse($event);"
                [value]="form.month.val"
                class="field installment__calculator-field" type="text">
            <ghm-range-number
                [ngClass]="{'disabled-opacity': isFullPay }"
                (move)="form.month.val = $event"
                (moveend)="formChanges($event, 'month')"
                [toFixed]="true"
                [min]="changeType === typeOne ? form.month.min : 7"
                [max]="changeType === typeOne ? form.month.max : 10"
                [start]="changeType === typeOne ? form.month.val : 7">
            </ghm-range-number>
        </li>
    </ul>

    <app-installment-result class="installment__result"
        [percent]="percent"
        [monthPay]="monthPay"
        [changeType]="changeType"
        [price]="form.price.val">
    </app-installment-result>
</div>
