
<section class="threeRed-popup" *ngIf="isOpen">

    <div class="threeRed-popup__container">

        <button class="threeRed-popup__btn-close" (click)="close()">
            <img src="/assets/img/close-3red-popup.svg" alt="close">
        </button>

        <h1 class="threeRed-popup__title">Дорогие клиенты!</h1>

        <p class="threeRed-popup__text threeRed-popup__text--grey">В это не простое время наша компания ресурсно абсолютно готова к выполнению всех своих обязательств. Как только будет принято решение о возобновлении строительных работ, мы сможем оперативно наверстать сроки и сделаем это с соблюдением всех правил безопасности и требований властей.</p>
        <p class="threeRed-popup__text threeRed-popup__text--grey">Так как наше финансовое положение стабильно, и наши стройки шли с опережением, мы безболезненно пройдем этот период и сдадим объекты в срок и с отличным качеством.</p>
        <p class="threeRed-popup__text threeRed-popup__text--grey">Несмотря на то, что офисы продаж временно приостановили очные продажи, благодаря современным технологиям все офисы продаж находятся на связи в удаленном режиме.</p>
        <p class="threeRed-popup__text threeRed-popup__text--grey">Вы можете забронировать квартиру и оформить сделку дистанционно. С конца марта мы уже совершили множество сделок на удаленном доступе.</p>
        <p class="threeRed-popup__text threeRed-popup__text--grey">Наши менеджеры всегда на связи, готовы забронировать квартиру с фиксацией цены. И помочь на всех этапах удаленной продажи.</p>
        
        <p class="threeRed-popup__text threeRed-popup__text--black">Мы ждем ваши звонки и заявки!</p>
        <p class="threeRed-popup__text threeRed-popup__text--black">Пожалуйста, берегите себя и своих близких! Оставайтесь дома, мы осуществим вашу мечту о новом доме даже в этих условиях!</p>
    </div>
</section>