@import '../../styles/modules/mixins/mixin';

$font: $font-mus;
$bg-col: rgba($color: #000000, $alpha: .5);

.threeRed-popup {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0; top: 0;
    background-color: rgba($color: #000000, $alpha: .5);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;

    &__container {
        width: 100%;
        min-height: 100%;
        background-color: $col-white;
        box-sizing: border-box;
        position: relative;
        padding: 64px 80px;
    }

    &__btn-close {
        width: 18px;
        height: 18px;
        position: absolute;
        top: 32px; right: 32px;
        background-color: transparent;
        border: 0;
        img { width: 100%; }
    }

    &__title {
        font: 40px/1 $font-leksa;
        color: $col-black;
        margin: 0 0 40px;
    }
    &__text {
        font: 24px/32px $font;

        &--grey {
            color: rgba($color: #2e2e2e, $alpha: .8);
            &+ .threeRed-popup__text--grey { margin: 32px 0 0; }
        }
        &--black {
            color: #000;
            &:nth-last-child(2) { margin: 64px 0 0; }
            &:last-child { margin: 32px 0 0; }
        }
    }
}

@media (max-width: 700px) {
    .threeRed-popup {
        padding: 0;

        &__container {
            padding: 80px 32px 32px;
        }
        &__btn-close {
            position: fixed;
            &::before {
                content: '';
                width: 100%;
                height: 82px;
                position: fixed;
                top: 0; left: 0;
                z-index: -1;
                background-color: $col-white;
            }
            img {
                display: block;
                width: 100%;
            }
        }
    }
}
@media (max-width: 425px) {
    .threeRed-popup {
        padding: 0;

        &__container {
            padding: 56px 15px 15px;
        }
        &__btn-close {
            top: 15px; right: 15px;
            &::before { height: 48px; }
        }

        &__title {
            font-size: 28px;
            line-height: 36px;
            margin: 0 0 32px;
        }
        &__text {
            font-size: 16px;
            line-height: 24px;
            &--grey + .threeRed-popup__text--grey { margin: 8px 0 0; }
            &--black {
                &:nth-last-child(2) { margin: 32px 0 0; }
                &:last-child { margin: 8px 0 0; }
            }
        }
    }
}