<ul class="dynamic-header__years">

    <li *ngFor="let item of yearsArray"
        [ngClass]="{
            'dynamic-header__years-item_active': item == year
        }"
        (click)="yearChange.emit(item); monthParser(item)"
        class="dynamic-header__years-item">
        {{item}}
    </li>

</ul>

<ul class="dynamic-header__months">

    <li *ngFor="let item of monthArray; let i = index"
        [ngClass]="{
            'dynamic-header__months-item_not-active': item.disabled,
            'dynamic-header__months-item_active': (i + 1) == month
        }"
        (click)="monthChange.emit(i + 1)"
        class="dynamic-header__months-item">
        {{item.name}}
    </li>

</ul>

