
<div class="favorites-flats" [class.flex-output]="viewType === 'block'">
    <!-- <app-flats-list
        [flatsList]="favoriteFlats">
    </app-flats-list> -->
    <ng-container *ngFor="let flat of favoriteFlats">
        <app-flat-snippet
            [flatData]="flat"
            [viewType]="viewType"
        ></app-flat-snippet>
    </ng-container>
</div>

<div class="favorites-flats__empty"  *ngIf="!favoriteFlats.length">
    <p class="favorites-flats__empty-hint">Интересующие вас квартиры вы можете добавлять в этот раздел</p>
    <a class="favorites-flats__empty-link g-body_bold" routerLink="/flats/plan">Выбрать квартиру</a>
</div>
