@import "../../styles/modules/mixins/mixin";

.input-invalid {
    border: 1px solid red !important;
    &+ p { color: red !important; }
}

.disabled-submit-btn {
    opacity: .5;
    cursor: not-allowed !important;
}

.form-modal {
    padding: 60px 0;
    box-sizing: border-box;
    align-items: center;
    z-index: 1000;
    &_credit { align-items: flex-start; }
    
    &__close-area {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 10;
    }
}


.form-request {
    width: 605px;
    border-radius: 5px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 30px;
    position: relative;
    z-index: 20;

    &__cls-btn {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: absolute;
        top: 0;
        right: -60px;
        border: 2px solid rgba(255, 255, 255, 0.4);
        background: url(/assets/img/cls_white.svg) 49% 49% no-repeat;
        background-size: 20px;
        transition: border-color $transition;
        &:hover { border-color: #fff; }
    }

    &__title {
        font: 30px/34px 'Leksa';
        @include font-smoothing;
        margin: 0 0 34px;
        color: $col-black;
    }
    &__subtitle {
        font: 500 14px/20px $font-mus;
        @include font-smoothing;
        color: rgba($color: #000105, $alpha: 0.6);
        margin: 0 0 10px;

        &_checkbox { margin: 0; }
    }
    &__notice {
        font: 500 12px/14px $font-mus;
        color: rgba($color: #000105, $alpha: 0.4);
        @include font-smoothing;
        margin: 5px 0 0;
    }

    &__wrap {
        margin: 0 0 20px;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        &_last { margin: 0 0 30px; }
    }
    &__field {
        width: 100%;
        height: 44px;
        border: none;
        border-radius: 2px;
        box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        display: flex;
        align-items: center;
        padding: 0 15px;
        transition: border-color .2s linear;
        @include fw18-24;
        &::-webkit-input-placeholder { color: $col-black; }
        &::-moz-placeholder { color: $col-black; }      
        &:-moz-placeholder { color: $col-black; }    
        &:-ms-input-placeholder { color: $col-black; }

        &_not-valid { border-color: #d8241d; }
        &_time {
            width: 78px;
            position: absolute;
            top: 45px;
            left: 30px;
            pointer-events: none;
            padding: 0 15px;
        }


    }

    &__radio {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        box-sizing: border-box;
        border: 1px solid #d9d9d9;
        cursor: pointer;
        position: relative;
        transition: .2s linear;
        margin-right: 10px;

        &:before {
            content: '';
            width: 6px;
            height: 6px;
            background: #fff;
            border-radius: 50%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            transition: .2s linear;
            opacity: 0;
        }

        &-wrap {
            display: flex;
            justify-content: flex-start;
            box-sizing: border-box;
            position: relative;
            cursor: pointer;
            margin: 0 0 20px;
            &_time { height: 75px; }
            
            input {
                &:not(.form-request__field) { display: none; }
                &:checked {
                    & + .form-request__radio{
                        background: $col-orange;
                        border-color: $col-orange;
                        &:before { opacity: 1; }
                    }
                }
            }
        }
        &-text {
            font: 500 14px/20px $font-mus;
            @include font-smoothing;
            color: $col-black;

            &_remark {
                max-width: 240px;
                display: block;
                color: rgba(0, 1, 5, 0.39);
            }
        }

    }

    &__checkbox {
        margin: 0 10px 0 0;

        &-wrap {
            display: flex;
            align-items: center;
            margin: 0 0 30px;

            input {
                display: none;
                &:checked + .form-request__checkbox {
                    background: url(/assets/img/check.svg) center no-repeat $col-orange;
                    border-color: $col-orange;
                }
            }
        }
    }
    
    &__btn {
        width: 100%;
        height: 50px;
        font: 500 16px/20px $font-mus;
        @include font-smoothing;
        color: #fff;
        background-color: $col-orange;
        text-transform: uppercase;
        border-radius: 4px;
        box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
        letter-spacing: .5px;
    }
}

.time-input-active {
    pointer-events: auto !important;
}

