
<section class="commercial">

    <div class="commercial__head" *ngIf="showHead()">
        <div class="commercial__head-container">
            <h1 class="commercial__head-title g-title-path">Коммерческая недвижимость</h1>
            <ul class="commercial__nav-list">
                <li [routerLinkActive]="['active']" class="commercial__nav-item">
                    <a routerLink="/flats/commercial/list">Список</a>
                </li>
                <li [routerLinkActive]="['active']" class="commercial__nav-item">
                    <a routerLink="/flats/commercial/plan">Генплан</a>
                </li>
            </ul>
        </div>
    </div>

    <ng-content></ng-content>
</section>
