@import "../../../../styles/modules/mixins/mixin.scss";

.search-form__list {
    &.display-flex {
        display: flex;
        flex-flow: row wrap;
        margin: 0 0 8px;
    }

    &-item {
        margin-bottom: 20px;
        &:last-of-type { margin: 0; }
    }

    &-checkbox {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        cursor: pointer;
        user-select: none;
        outline: none;

        &-content {
            display: none;
            &:checked + .search-form__list-checkbox_for-click {
                background: url(/assets/img/check.svg) center no-repeat $col-orange;
                background-size: 20px 16px;
                border-color: $col-orange;
            }
        }
        &_for-click {
            width: 30px;
            height: 30px;
            margin-right: 8px;
        }
    }

    &-text {
        @include fw18-24;
        white-space: nowrap;
    }
}

.decoration-checkbox {
    margin: 0 8px 8px 0;

    &__item {
        display: block;

        &> input:checked + div {
            background-color: $col-orange;
            border-color: $col-orange;
            color: $col-white;
        }
        &> div {
            @include f16-24;
            border: 1px solid #979797;
            background-color: $col-white;
            border-radius: 16px;
            padding: 4px 12px;
        }
    }
}