<ul class="search-form__list">

    <li *ngFor="let btn of btnList" class="search-form__list-item">

        <label class="search-form__list-checkbox">
            <input class="search-form__list-checkbox-content"
                (change)="checkBtn($event)"
                [value]="btn.value"
                [checked]="isChecked(btn.value)"
                type="checkbox">
            <div class="g-checkbox search-form__list-checkbox_for-click"></div>
            <span class="search-form__list-text">{{btn.name}}</span>
        </label>

    </li>

</ul>
