.modal-plan {

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    max-width: 900px;
    height: 100vh;
    display: none;
    z-index: 999;
}

.modal-plan div {

    height: 100%;
    padding: 50px 0;
    box-sizing: border-box;
}

.modal-plan img {

    display: block;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    max-height: 100%;
}
