<div class="purchase__credit">
    <div class="purchase__filter">
        <div class="purchase__filter_disable"
            *ngIf="isAuthorizated"></div>

        <div class="purchase__filter-range">
            <div class="purchase__filter-item purchase__filter-price">
                <p class="purchase__filter-item-text">Стоимость недвижимости</p>
                <p class="purchase__filter-item-size">2 000 000 Р</p>
                <ghm-range-number
                    (move)="form.price.val = $event"
                    (moveend)="formChanges($event, 'price')"
                    [toFixed]="true"
                    [min]="form.price.min"
                    [max]="form.price.max"
                    [start]="form.price.val">
                </ghm-range-number>
            </div>
            <div class="purchase__filter-item purchase__filter-size">
                <p class="purchase__filter-item-text">Первоначальный взнос</p>
                <p class="purchase__filter-item-size">423 000 Р</p>
                <div class="purchase__filter-item-range-line">
                    <div class="purchase__filter-item-range-circle"></div>
                </div>
            </div>
            <div class="purchase__filter-item purchase__filter-term">
                <p class="purchase__filter-item-text">Срок</p>
                <p class="purchase__filter-item-size">1 год</p>
                <div class="purchase__filter-item-range-line">
                    <div class="purchase__filter-item-range-circle"></div>
                </div>
            </div>
        </div>
        <div class="purchase__filter-checkbox">
            <div class="purchase__filter-checkbox-item purchase__filter-checkbox-war">
                <input type="checkbox" name="type" id="war">
                <label for="war" class="g-checkbox"></label>
                <label for="war" class="purchase__filter-checkbox-text">Военная ипотека</label>
            </div>
            <div class="purchase__filter-checkbox-item purchase__filter-checkbox-mom">
                <input type="checkbox" name="type" id="mom">
                <label for="mom" class="g-checkbox"></label>
                <label for="mom" class="purchase__filter-checkbox-text">Материнский капитал</label>
            </div>
            <div class="purchase__filter-checkbox-item purchase__filter-checkbox-nation">
                <input type="checkbox" name="type" id="nation">
                <label for="nation" class="g-checkbox"></label>
                <label for="nation" class="purchase__filter-checkbox-text">Гражданство РФ</label>
            </div>
        </div>
    </div>
    <div class="purchase__result">
        <h1 class="purchase__result-title purchase__result-title_not-login" *ngIf="!isAuthorizated">Вам подходит 0 программ</h1>
        <h1 class="purchase__result-title purchase__result-title_login" *ngIf="isAuthorizated">Список всех банков для калькулятора ипотеки:</h1>

        <button class="admin-credit__set-snippet" 
            *ngIf="isAuthorizated"
            (click)="setSnippet()">
            <img src="/assets/img/purchase/ch_list_bank.svg" alt="">
            Изменить список банков
        </button>
    
        <ul class="credit-list">
    
            <li *ngFor="let snippet of snippetArray" class="credit-list__item credit-list__item_sber">
    
                <div class="credit-list__item-wrap">
                    <div class="credit-list__item-logo">
                        <img class="credit-list__item-logo-img" 
                            *ngIf="snippet.image.length > 0"
                             [src]="uploadsPath + snippet.image"
                        /> <!-- Картинка должна подгружаться в зависимости от выбранного банка из списка -->
                    </div>
                    <p class="credit-list__item-logo-text">Сбербанк</p> <!-- Название банка должно будет подгружаться -->
                </div>

                <div class="credit-list__item-descr">
                    <div class="credit-list__item-descr-name">
                        <p class="credit-list__item-descr-text_s credit-list__item-descr-bank">Сбербанк</p>
                        <p class="credit-list__item-descr-text_b">Минимальный взнос 
                            <span [ngClass]="{'credit-list__item-descr_input' : isAuthorizated}">
                                <span [ngClass]="{'admin-credit__input-text' : isAuthorizated}"
                                    [attr.contenteditable]="isAuthorizated"
                                    (blur)="updateSnippet(snippet._id, 'initial', $event.target.innerHTML)">
                                    {{snippet.initial}}
                                </span>
                                <span>%</span>
                            </span>
                        </p>
                    </div>
                    <div class="credit-list__item-descr-info">
                        <div class="credit-list__item-descr-info-item credit-list__item-descr-ante"
                             [ngClass]="{'admin-credit__input-area' : isAuthorizated}">
                            <p class="credit-list__item-descr-text_s">Ставка</p>
                            <p class="credit-list__item-descr-text_b">
                                <span class="credit-list__item-descr_ante-input"
                                    [ngClass]="{'admin-credit__input-text' : isAuthorizated}"
                                    [attr.contenteditable]="isAuthorizated"
                                    (blur)="updateSnippet(snippet._id, 'percent', $event.target.innerHTML)">
                                    {{snippet.percent}}
                                </span>
                                <span>%</span>
                            </p>
                        </div>
                        <div class="credit-list__item-descr-info-item credit-list__item-descr-date"
                             [ngClass]="{'admin-credit__input-area' : isAuthorizated}">
                            <p class="credit-list__item-descr-text_s">Срок до</p>
                            <p class="credit-list__item-descr-text_b">
                                <span class="credit-list__item-descr_date-input"
                                    [ngClass]="{'admin-credit__input-text' : isAuthorizated}"
                                    [attr.contenteditable]="isAuthorizated"
                                    (blur)="updateSnippet(snippet._id, 'percent', $event.target.innerHTML)">
                                    {{snippet.percent}}
                                </span>
                                <span> %</span>
                            </p>
                        </div>
                        <div class="credit-list__item-descr-info-item credit-list__item-descr-payment">
                            <p class="credit-list__item-descr-text_s">Платеж в месяц</p>
                            <p class="credit-list__item-descr-text_b">—</p> <!-- Я так понял тут должно автоматом рассчитываться -->
                        </div>
                    </div>
        
                </div>
    
                <div class="admin-credit__check">
                    <label class="admin-credit__check-wrap" *ngIf="isAuthorizated">
                        <input class="admin-credit__check-checkbox"
                            [checked]="(snippet.category == 'military')" 
                            type="checkbox" 
                            (change)="updateSnippet(snippet._id, 'category', ((snippet.category == 'military')?'base':'military'))"
                        />
                        <div class="g-checkbox"></div>
                        <div class="admin-credit__check-text">
                            Военная ипотека
                        </div>
                    </label>
                </div>
            </li>
        </ul>
    </div>
    <div class="purchase__not-found" style="display: none;"> <!-- Поставил инлайново для удобства -->
        <img src="../../../assets/img/purchase/emoji.png" alt="oops">
        <p>По данным параметрам ничего не удалось подобрать</p>
    </div>
</div>


<section class="purchase-admin__bank-list">
    <div class="purchase-admin__bank-list-contain">
        <button class="purchase-admin__bank-list-cls"></button>
        <h1 class="purchase-admin__bank-list-title g-title-path">Изменить список банков</h1>
        <div class="purchase-admin__bank-list-grid">
            <div class="bank-list__item bank-list__item-sber">
                <input type="checkbox" name="type" id="sber">
                <label for="sber" class="g-checkbox"></label>
                <label for="sber" class="bank-list__item-text bank-list__item-text_sber">Сбербанк</label>
            </div>
            <div class="bank-list__item bank-list__item-alfa">
                <input type="checkbox" name="type" id="alfa">
                <label for="alfa" class="g-checkbox"></label>
                <label for="alfa" class="bank-list__item-text bank-list__item-text_alfa">Альфа-Банк</label>
            </div>
            <div class="bank-list__item bank-list__item-vtb">
                <input type="checkbox" name="type" id="vtb">
                <label for="vtb" class="g-checkbox"></label>
                <label for="vtb" class="bank-list__item-text bank-list__item-text_vtb">ВТБ</label>
            </div>
            <div class="bank-list__item bank-list__item-raif">
                <input type="checkbox" name="type" id="raif">
                <label for="raif" class="g-checkbox"></label>
                <label for="raif" class="bank-list__item-text bank-list__item-text_raif">Райффайзенбанк</label>
            </div>
            <div class="bank-list__item bank-list__item-pocht">
                <input type="checkbox" name="type" id="pocht">
                <label for="pocht" class="g-checkbox"></label>
                <label for="pocht" class="bank-list__item-text bank-list__item-text_pocht">Почта Банк</label>
            </div>
            <div class="bank-list__item bank-list__item-ress">
                <input type="checkbox" name="type" id="ress">
                <label for="ress" class="g-checkbox"></label>
                <label for="ress" class="bank-list__item-text bank-list__item-text_ress">ВОЗРОЖДЕНИЕ БАНК</label>
            </div>
            <div class="bank-list__item bank-list__item-ural">
                <input type="checkbox" name="type" id="ural">
                <label for="ural" class="g-checkbox"></label>
                <label for="ural" class="bank-list__item-text bank-list__item-text_ural">УРАЛСИБ БАНК</label>
            </div>
            <div class="bank-list__item bank-list__item-tink">
                <input type="checkbox" name="type" id="tink">
                <label for="tink" class="g-checkbox"></label>
                <label for="tink" class="bank-list__item-text bank-list__item-text_tink">Тинькофф</label>
            </div>
            <div class="bank-list__item bank-list__item-open">
                <input type="checkbox" name="type" id="open">
                <label for="open" class="g-checkbox"></label>
                <label for="open" class="bank-list__item-text bank-list__item-text_open">Открытие</label>
            </div>
            <div class="bank-list__item bank-list__item-dom">
                <input type="checkbox" name="type" id="dom">
                <label for="dom" class="g-checkbox"></label>
                <label for="dom" class="bank-list__item-text bank-list__item-text_dom">ДОМ РФ</label>
            </div>
            <div class="bank-list__item bank-list__item-iron">
                <input type="checkbox" name="type" id="iron">
                <label for="iron" class="g-checkbox"></label>
                <label for="iron" class="bank-list__item-text bank-list__item-text_iron">Металлинвестбанк</label>
            </div>
            <div class="bank-list__item bank-list__item-zenit">
                <input type="checkbox" name="type" id="zenit">
                <label for="zenit" class="g-checkbox"></label>
                <label for="zenit" class="bank-list__item-text bank-list__item-text_zenit">БАНК ЗЕНИТ</label>
            </div>
            <div class="bank-list__item bank-list__item-ross">
                <input type="checkbox" name="type" id="ross">
                <label for="ross" class="g-checkbox"></label>
                <label for="ross" class="bank-list__item-text bank-list__item-text_ross">РоссельхозБанк</label>
            </div>
        </div>
        <button class="purchase-admin__bank-list-success">Готово</button>
    </div>
</section>
