@import "../../../styles/modules/mixins/mixin";

.purchase__credit {
    width: $w1600;
    display: flex;
    flex-direction: column;
}

.purchase__filter {
    width: 100%;
    position: relative;
    &_disable {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgba(255, 255, 255, 0.6);
        z-index: 1;
    }

    &-range {
        width: 100%;
        max-width: $w1600;
        display: flex;
    }
    &-item {
        width: 287px;
        overflow: hidden;
        
        &:not(:last-child) {
            margin: 0 30px 0 0;
        }
        &-text {
            font: 500 14px/20px $font-mus;
            @include font-smoothing;
            color: $col-black;
            opacity: .6;
            margin: 0 0 10px;
        }
        &-size {
            font: 500 18px/24px $font-mus;
            @include font-smoothing;
            color: $col-black;
        }
        &-range-line {
            width: 100%;
            margin: 13px 0;
            height: 1px;
            background: rgba(0, 1, 5, .3);
            position: relative;
        }
        &-range-circle {
            width: 15px;
            height: 15px;
            background: #e7490f;
            position: absolute;
            left: 70px;
            top: 0;
            transform: translateY(-50%);
            backface-visibility: hidden;
            border-radius: 50%;
            cursor: pointer;

            &:before {
                content: '';
                position: absolute;
                width: 218px;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                backface-visibility: hidden;
                height: 1px;
                background: inherit;
            }
        }
    }
    &-checkbox {
        width: 100%;
        max-width: $w1600;
        display: flex;
        margin: 25px 0 0;

        &-item:not(:last-child) {
            margin: 0 40px 0 0;
        }
        &-item {
            display: flex;
            
            input {
                display: none;
            }
            &:hover {
                label {
                    color: $col-orange;
                    border-color: $col-orange;
                    opacity: 1;
                }
            }
            .g-checkbox {
                transition: border-color $transition;
            }
        }
        input:checked + .g-checkbox {
            background: url('/assets/img/purchase/check.svg') center no-repeat #e7490f;
            border-color: #e7490f;
        }
        &-text {
            font: 16px/24px $font-mus;
            @include font-smoothing;
            color: $col-black;
            opacity: .8;
            cursor: pointer;
            transition: $transition;
        }
    }
    &-show-result {
        display: none;
        box-sizing: border-box;
        width: 100%;
        max-width: calc(100% - 30px);
        margin: 50px 0 0;

        &-btn {
            width: 100%;
            border: 1px solid #999a9b;
            border-radius: 4px;
            background-color: #fff;
            padding: 12px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font: 16px/24px $font-mus;
            @include font-smoothing;
            color: rgba(16, 1, 5, .8);
        }
    }
}
.purchase__result {
    width: 100%;
    margin: 60px 0 0;

    &-title {
        font: 500 24px/29px $font-mus;
        @include font-smoothing;
        color: $col-32;
        &_not-login { margin: 0 0 60px; }
        &_login { margin: 0 0 10px; }
    }
}
.purchase__not-found {
    display: flex;
    width: 100%;
    max-width: 499px;
    box-sizing: border-box;
    padding: 27px 0 20px;
    background: rgba(170, 171, 34, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    flex-flow: column nowrap;
    align-items: center;

    p {
        font: 500 14px/20px $font-mus;
        @include font-smoothing;
        color: #000105;
        margin: 10px 0 0;
    }
}


.credit-list {
    width: 998px + 30px;
    display: flex;
    flex-wrap: wrap;

    &__item {
        width: calc(50% - 30px);
        min-width: 499px;
        min-height: 157px;
        box-sizing: border-box;
        padding: 20px 30px;
        border-radius: 4px;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        color: #fff;
        margin: 0 30px 30px 0;
        &:nth-child(2n) { margin: 0 0 30px 0; }

        &_sber { background: #1a9f29; }
        &_raif { background: #ffed00; }
        &_alfa { background: #e52713; }
        &_vtb  { background: #009fdf; }
        &_ural { background: #475493; }
        &_tink { background: #ffe900; }
        &_pocht{  }
        &_ress {  }
        &_open { background: #00bee8; }
        &_dom  { background: #2e444e; }
        &_iron { background: #00337f; }
        &_zenit{  }

        &-wrap {
            width: calc(100% - (100% - 75px));
            display: flex;
            align-items: flex-start;
        }
        &-logo {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #fff;

            &-text {
                width: calc(100% - 85px);
                display: none;
                font: 500 18px/24px $font-mus;
                @include font-smoothing;
                color: inherit;
                margin: 0 0 0 10px;
            }
        }
        &-descr {
            width: calc(100% - 75px);
            display: flex;
            flex-flow: column nowrap;
            margin: 9px 0 0;

            &_input {
                box-sizing: border-box;
                padding: 4px 5px;
                background-color: #fff;
                color: $col-black;
            }
            &-ante_input,
            &-date_input {
                position: relative;
                color: $col-black;
                &:before {
                    content: '';
                    position: absolute;
                    width: 90px;
                    height: 54px;
                    left: -15px;
                    top: -5px;
                    background-color: #fff;
                }
            }
            &_min-pay-text {
                width: 50px;
                background-color: #fff;
                border: 0;
            }
            &_ante-input { width: 40px; }

            &-name { margin: 0 0 21px; }
            &-text_s {
                font: 500 14px/20px $font-mus;
                @include font-smoothing;
                color: inherit;
                position: relative;
            }
            &-text_b {
                @include fw18-24;
                color: inherit;
                position: relative;
            }
            &-info {
                display: flex;
                &-item:not(:last-child) { margin: 0 50px 0 0; }
            }
        }
    }
}

@media (max-width: 1279px) {
    .purchase__credit {
        width: $w1279;
        flex-flow: row nowrap;
        align-items: flex-start;
    }
    .purchase__filter,
    .purchase__result {
        width: 50%;
        box-sizing: border-box;
        padding: 0 15px 0 0;
    }
    .purchase__filter {
        &-range,
        &-checkbox {
            display: block;

            &-item {
                align-items: center;
                &:not(:last-child) { margin: 0 0 20px; }

                .g-checkbox {
                    width: 30px;
                    height: 30px;
                }
            }
            input:checked + .g-checkbox {
                background-size: 77%;
            }
        }
        &-item:not(:last-child) { margin: 0 0 38px; }
    }

    .purchase__result {
        padding: 0 0 0 15px;
        margin: 0;

        &-title { margin: 0 0 20px; }
    }
    .credit-list {
        width: 100%;
        display: block;

        &__item {
            width: 100%;
            min-width: auto;
            margin: 0 0 10px;
            padding: 20px;
            &:nth-child(2n) { margin: 0 0 10px; }

            &-wrap {
                width: 100%;
                align-items: center;
                
                &-logo-text { display: block; }
            }
            &-descr {
                width: 100%;
                margin: 20px 0 0;
                
                &-bank { display: none; }
            }
        }
    }
}
