@import '../../../../../styles/modules/mixins/mixin.scss';

:host { width: 100%;}

.commercial-output {
    width: 100%;
    margin: 0 0 24px;

    &__flat {
        width: 100%;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid #eee;

        &-container {
            @include container();
            position: relative;
            height: 100%;
            display: flex;
            align-items: center;
            box-sizing: border-box;
            padding: 10px 0;
            &.not-sale { padding: 26px 0 18px; }
            @media (max-width: 767px) {
                padding: 15px 0;
                &.not-sale { padding: 15px 0; }
            }
        }
        &-link {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .g-flat__item-text--price {
                margin-left: auto;
            }
        }

        &-image {
            width: 48px;
            height: 48px;
            margin-right: 8px;
            &> img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        &-favorite {
            width: 18px;
            height: 18px;
            background: url(/assets/img/favorite.svg) no-repeat;
            background-size: 100%;
            position: absolute;
            top: 16px; right: 0;

            &.active { background-image: url(/assets/img/favorite-active.svg); }
        }
    }
}

.g-flat {
    width: 100%;

    &__wrap {
        width: 100%;
        // height: 111px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color $transition;
        border-bottom: 1px solid #eee;
        @media (min-width: 1144px) {
            &:hover { background-color: rgba($color: $col-orange, $alpha: .05); }
        }
    }
    &__item {
        @include container();
        position: relative;
        height: 100%;

        &-container {
            height: 100%;
            display: flex;
            align-items: center;
            box-sizing: border-box;
            padding: 10px 30px;
            &.not-sale { padding: 26px 0 18px; }
            @media (max-width: 767px) {
                padding: 15px;
                &.not-sale { padding: 15px; }
            }
        }

        &-wrap {
            width: calc(100% - (48px + 16px));

            &--space-between {
                width: 100%;
                display: flex;
                justify-content: space-between;
            }
            &--flex-start {
                width: 100%;
                display: flex;
            }
        }
        &-wrap:not(:last-child) {
            margin: 0 0 8px;
        }

        &-image {
            width: 48px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 16px;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
            &> .image-error {
                width: 100%;
                height: 100%;
                font: 500 10px/12px $font-mus;
                @include font-smoothing;
                color: rgba(0, 1, 5, .6);
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                background: url(/assets/img/flats/error-img.svg) center no-repeat #fafafa;
            }
        }
        &-text {
            font: 500 14px/24px $font-mus;
            @include font-smoothing;
            white-space: nowrap;
            color: $col-black;
            &+ p { margin-left: 8px; }

            &--price {
                color: $col-black;
                margin: 0;
                margin-left: auto;
                &.discount { color: $col-orange; }
                &.not-sale {
                    position: relative;
                    &::before {
                        content: 'Скоро в продаже';
                        position: absolute;
                        top: -12px; right: 0;
                        font: 10px/12px $font-mus;
                        color: $col-89;
                    }
                }
            }
            &--floor,
            &--corpus {
                font-weight: 300;
                color: rgba(0, 1, 5, 0.8);
            }
        }
        &-favorite {
            width: 18px;
            height: 18px;
            background: url(/assets/img/favorite.svg) no-repeat;
            background-size: 100%;
            position: absolute;
            top: 26px; right: 0;

            &.active { background-image: url(/assets/img/favorite-active.svg); }
        }
    }
}