<section class="parking">
    <div class="parking_head">
        <ul class="parking_head-menu">
            <li class="parking_head-menu_item parking_head-menu_item--active"><span>Машиноместа</span></li>
            <li class="parking_head-menu_item"><a routerLink="/storerooms">Кладовые</a></li>
        </ul>
        <div class="parking_head-info">
            <h1 class="parking_head-info_item">Машиноместа</h1>
            <p class="parking_head-info_item">
                Продлите срок жизни вашего автомобиля и обезопасьте его от угона. 
                Приобретите машиноместо на наземном, или&nbsp;в подземном паркинге.
            </p>
        </div>
    </div>

    <div class="parking_main">
        <a [routerLink]="['/parking/section/1/floor/1']" class="parking_main-item">
            <p>Секция 1</p>
            <p>Этаж 1</p>
            <p>от 440 000 ₽</p>
        </a>
        <a [routerLink]="['/parking/section/2,3,4/floor/0']" class="parking_main-item">
            <p>Секция 2, 3, 4</p>
            <p>Этаж 0</p>
            <p>от 440 000 ₽</p>
        </a>
    </div>
</section>
