@mixin font-smoothing {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
}

@mixin text($color: #2e2e2e) {
    font: 15px/18px 'abrade-book', sans-serif;
    color: $color;
    @include font-smoothing();
}

.input-invalid {
    border: 1px solid red !important;
}

.disabled-submit-btn {
    opacity: .5;
    cursor: not-allowed !important;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    box-sizing: border-box;
    padding: 65px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(20,20,20,.5);
    z-index: 10000;
    overflow-x: hidden;
    overflow-y: auto;
}

.form-request-close-bgr {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}

.form-request {
    width: 556px;
    background: #ffffff;
    box-shadow: -12px 18px 16px rgba(0,0,0,.2);
    box-sizing: border-box;
    padding: 40px 20px;
    position: relative;
    z-index: 20;

    &--call {

        .form-request_title {
            margin-bottom: 25px;
        }
    }

    &_cls-btn {
        width: 31px;
        height: 31px;
        position: absolute;
        top: 40px;
        right: 20px;
        cursor: pointer;
        background: url('/assets/img/flats/search/error.svg') no-repeat;
        background-size: 100%; 
    }

    &_title {
        width: 100%;
        font: bold 18px/30px 'Montserrat';
        color: #1c1c1c;
        @include font-smoothing();
    }

    &_flat-description {
        font: 18px/29px 'abrade-book', sans-serif;
        color: #2e2e2e;
        @include font-smoothing();
        display: block;
        margin-bottom: 25px;
    }

    &_refinement {
        @include text(#888aa1);
        display: block;
        width: 300px;
        margin-bottom: 15px;
    }

    &_wrap {
        margin-bottom: 15px;

        &--time {
            margin-bottom: 30px;
        }
    }

    &_time {
        margin-bottom: 16px;
    }

    &_name {
        margin-bottom: 10px;
    }

    &_name {
        font: 15px/18px 'Montserrat';
        display: block;
    }

    &_field {
        width: 100%;
        height: 40px;
        border-radius: 5px;
        background: #f7f7f7;
        box-sizing: border-box;
        border: 1px solid #d8d8d8;
        outline: none;
        display: flex;
        align-items: center;
        padding: 0 20px;
        transition: .2s linear;
        @include text();

        &--not-valid {
            border-color: #e94c16; 
        }

        &--time {
            width: 80px;
            position: absolute;
            bottom: 0;
            left: 30px;
            pointer-events: none;
        }

        &::-webkit-input-placeholder {
            color: #888ba2;
        }
        &::-moz-placeholder {
            color: #888ba2;
        }      
        &:-moz-placeholder {
            color: #888ba2;
        }    
        &:-ms-input-placeholder {
            color: #888ba2;
        }

        &:hover {
            border-color: #cda571;
        }
    
        &:focus {
            border-color: #cda571;
        }
    }

    &_label {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        position: relative;
        cursor: pointer;
        
        &--padding {
            padding-bottom: 14px;
            margin-bottom: 10px;
        }

        &--with-field {
            padding-bottom: 45px;
        }

        &--agreement {
            margin-bottom: 40px;
        }

        &:hover {

            .form-request_checkbox-text {
                color: #606060;
            }

            .form-request_for-radio, .form-request_for-checkbox, .form-request_field--time {
                border-color: #cda571;
            }
        }

        
    }

    &_checkbox,
    &_radio {
        display: none;

        &:checked {
            
            & + .form-request_for-radio,
            & + .form-request_for-checkbox {
                background: #cda571;
    
                &:before {
                    opacity: 1;
                }
            }
        }
    }

    &_remark {
        font: 13px 'abrade-book', sans-serif;
        color: #888aa1;
        @include font-smoothing();
        position: absolute;
        bottom: 0;
        left: 30px;
    }

    &_checkbox-text {
        transition: .2s linear;
        box-sizing: border-box;
        padding-top: 3px;
    }

    &_checkbox-text {
        font: 12px/22px 'Montserrat';
        color: #606060;
        width: 100%;

        &_link {
            color: #606060;
            text-decoration: underline;
        }
    }

    &_radio-text {
        @include text();
        width: calc(100% - 30px);
    }

    &_for-radio {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        box-sizing: border-box;
        border: 1px solid #d9d9d9;
        cursor: pointer;
        position: relative;
        transition: .2s linear;
        margin-right: 10px;

        &:before {
            content: '';
            width: 8px;
            height: 8px;
            background: #2e2e2e;
            border-radius: 50%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            transition: .2s linear;
            opacity: 0;
        }
    }

    &_for-checkbox {
        width: 16px;
        height: 16px;
        border-radius: 1px;
        box-sizing: border-box;
        border: 1px solid #d9d9d9;
        cursor: pointer;
        position: relative;
        transition: .2s linear;
        margin-right: 8px;

        &:before {
            content: '';
            width: 16px;
            height: 16px;
            background: url('/assets/img/flats/search/v.svg') no-repeat;
            background-size: 100%; 
            position: absolute;
            top: -1px;
            bottom: 0;
            left: -1px;
            right: 0;
            margin: auto;
            transition: .2s linear;
            opacity: 0;
        }
    }
    
    &_btn {
        width: 217px;
        height: 50px;
        border-radius: 5px;
        background: #cda571;
        transition: .2s linear;
        position: relative;
        outline: none;
        border: none;
        cursor: pointer;

        &_text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font: bold 18px 'Montserrat';
            color: #fff;
            @include font-smoothing();
            white-space: nowrap;
        }

        &--send {
            cursor: default;
        }
    }

    &_svg {
        width: 20px;
        height: 17px;
        position: absolute;
        top: 15px;
        left: 46px;

        &_figure {
            fill: none;
            stroke: #404040;
            stroke-width: 3;
            stroke-miterlimit: 10;
            stroke-dasharray: 30px;
            animation: svg-animate .5s linear forwards;
        }
    }
}

@keyframes svg-animate {
    0% {
        stroke-dashoffset: 30px;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

.time-input-active {
    pointer-events: auto !important;
}
