<div class="search-form__output-sorting">
        
    <div *ngFor="let sort of sortList"
        (click)="sortChange(sort.name, !sort.value)"
        [ngClass]="{
            'search-form__output-sorting-control_active': (activeSort === sort.name),
            'search-form__output-sorting-control_turn': (activeSort === sort.name && !sort.value )
        }"
        class="search-form__output-sorting-control search-form__output-sorting-control--{{sort.name}}">
        {{sort.text}}
    </div>

</div>
