<div class="purchase-installment">

    <ul class="purchase-installment__calculator installment-calculator">
    
        <li class="installment-calculator__item">
            <span class="installment-calculator__item-text">Стоимость квартиры, &#8381;</span>
            <input (change)="formChanges($event.target.value, 'price')"
                   (input)="bitReplace($event.target.value, 'price')"
                   (keyup)="keyUpReviuse($event)"
                   [value]="form.price.val | installmentNumberPipe"
                   class="field installment-calculator__item-field" type="text">
            <div class="installment-calculator__item-wrap">
                <ghm-range-number 
                    (move)="form.price.val = $event"
                    (moveend)="formChanges($event, 'price')"
                    [toFixed]="true"
                    [min]="form.price.min"
                    [max]="form.price.max"
                    [start]="form.price.val">
                </ghm-range-number>
            </div>
        </li>
        <li class="installment-calculator__item">
            <span class="installment-calculator__item-text">Первоначальный взнос, &#8381;</span>
            <input (change)="formChanges($event.target.value, 'firstpay')"
                   (input)="bitReplace($event.target.value, 'firstpay')"
                   (keyup)="keyUpReviuse($event);"
                   [value]="form.firstpay.val | installmentNumberPipe"
                   class="field installment-calculator__item-field" type="text">
            <div class="installment-calculator__item-wrap ">
                <ghm-range-number 
                    (move)="form.firstpay.val = $event"
                    (moveend)="formChanges($event, 'firstpay')"
                    [toFixed]="true"
                    [min]="form.firstpay.min"
                    [max]="form.firstpay.max"
                    [start]="form.firstpay.val">
                </ghm-range-number>
                <span class="installment-calculator__item-hint">Не менее 50% от прайсовой цены квартиры</span>
            </div>
        </li>
        <li class="installment-calculator__item">
            <span class="installment-calculator__item-text">Срок выплат, месяцев</span>
            <input (change)="formChanges($event.target.value, 'month')"
                   (input)="bitReplace($event.target.value, 'month')"
                   (keyup)="keyUpReviuse($event);"
                   [value]="form.month.val"
                   class="field installment-calculator__item-field" type="text">
            <div [ngClass]="{'disabled-opacity': isFullPay }" class="installment-calculator__item-wrap">
                <ghm-range-number
                    (move)="form.month.val = $event"
                    (moveend)="formChanges($event, 'month')"
                    [toFixed]="true"
                    [min]="form.month.min"
                    [max]="form.month.max"
                    [start]="form.month.val">
                </ghm-range-number>
                <span class="installment-calculator__item-hint">На срок до 6 месяцев включительно предоставляется бесплатная рассрочка, на срок более 6 месяцев — рассрочка от 11% годовых.</span>
            </div>
        </li>
    </ul>

    <div class="purchase-installment__result installment-calculator__result">

        <div class="installment-calculator__result-item">
            <p class="installment-calculator__result-title">Сумма</p>
            <p class="installment-calculator__result-result">{{form.price.val | installmentNumberPipe }} &#8381;</p>
        </div>

        <div [ngClass]="{'disabled-opacity': isFullPay }" class="installment-calculator__result-item">
            <p class="installment-calculator__result-title">Ставка</p>
            <p class="installment-calculator__result-result">{{percent}}% годовых</p>
        </div>

        <div [ngClass]="{'disabled-opacity': isFullPay }" class="installment-calculator__result-item">
            <p class="installment-calculator__result-title">Размер ежемесячных выплат</p>
            <p class="installment-calculator__result-result">{{ monthPay | installmentNumberPipe }} &#8381;</p>
        </div>

    </div>
</div>
