@import "../../../../styles/modules/mixins/mixin.scss";

.ghm-range-number {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
    user-select: none;
    box-sizing: border-box;
    position: relative;

    &-text {
        font: 500 18px/24px $font-mus;
        @include font-smoothing;
        color: $col-black;
    }

    &-slider {
        box-sizing: border-box;
        user-select: none;
        width: calc(100% - 2px);
        position: relative;
        height: 1px;
        background: #d4d4d4;
        margin: 22px 0;
    }

    &-runner {
        width: 22px;
        height: 22px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: 0;
        border-radius: 50%; 
        background: $col-orange;
        cursor: pointer;
        transform: translateY(11px);

        &:before {
            content: '';
            position: absolute;
            right: 100%;
            top: 50%;
            transform: translateY(-50%);
            height: 1px;
            width: 1150px;
            background: $col-orange;
        }

        &-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 42px;
            height: 42px;
            color: transparent;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: 0;
            border-radius: 50%;
            background: transparent;
            cursor: pointer;
        }
    }
}
