@import "../../../../styles/modules/mixins/mixin.scss";

.ghm-range-number {
    padding-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
    user-select: none;
    box-sizing: border-box;

    &-text {
        font: 500 18px/24px $font-mus;
        @include font-smoothing;
        color: $col-black;
    }

    &-slider {
        box-sizing: border-box;
        user-select: none;
        width: calc(100% - 2px);
        position: relative;
        height: 1px;
        background: #d4d4d4;
        margin: 11px 0;
    }

    &-runner {
        width: 22px;
        height: 22px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 50%; 
        background: $col-orange;
        cursor: pointer;

        &:before {
            content: '';
            position: absolute;
            right: 100%;
            top: 50%;
            transform: translateY(-50%);
            height: 1px;
            width: 1150px;
            background: $col-orange;
        }
    }
}
