@import "../../../styles/modules/mixins/mixin";

.result-gradient {
    width: 100%;
    height: 93px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), #ffffff);
    position: sticky;
    bottom: 0;
    pointer-events: none;
}

.to-favorites {
    width: 18px;
    height: 18px;
    background: url('/assets/img/favorite.svg') no-repeat;
    background-size: 100%;
    @media (max-width: 767px) { display: none; }
    &_active { background: url('/assets/img/favorite_active.svg') no-repeat; }
}

.result {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;

    &__item {
        width: 100%;
        height: 80px;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        border-bottom: 1px solid #d8d8d8;
        &:first-child { border-top: 1px solid #d8d8d8; }

        &-wrap {
            width: $mobileContainer;
            max-width: $tabletContainer;
            height: 100%;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            box-sizing: border-box;
            padding: 10px 0;
            @media (max-width: 767px) {
                justify-content: space-between;
                padding: 15px 0;
            }
        }
    }

    &__text {
        font: 500 14px/24px $font-mus;
        @include font-smoothing;
        color: $col-black;
        white-space: nowrap;

        &_floor,
        &_flat,
        &_corpus {
            font-weight: 300;
            color: rgba(0, 1, 5, 0.8);
        }
        &_floor,
        &_flat { margin-right: 8px; }

        &_room,
        &_price-sale { color: $col-orange; }
    }

    &__wrap {
        width: calc(100% - 92px);
        height: 100%;
        @media (max-width: 767px) { width: calc( 100% - 58px); }

        &_head {
            width: 100%;
            height: 50%;
            display: flex;
            justify-content: space-between;
            &-bottom { align-items: flex-end; }
        }
        &_info,
        &_space {
            width: auto;
            display: flex;
            align-items: flex-end;
        }
        &_space { justify-content: flex-end; }

        &_scheme {
            width: 70px;
            height: 100%;
            min-width: 70px;
            margin-right: 22px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            @media (max-width: 767px) {
                width: 50px;
                min-width: 50px;
                margin-right: 8px;
            }

            img {
                height: 100%;
                max-width: 100%;
            }
        }
        &_second {
            width: 80%;
            justify-content: flex-end;
            transform: translateY(3px);
            @media (max-width: 767px) {
                height: 100%;
                align-items: flex-end;
            }
        }
        &-price {
            display: flex;
            flex-flow: column;
        }
    }

    &__request {
        position: absolute;
        right: 20px;
        top: 5px;
    }

    &__scheme {

        &-content {
            max-width: 100%;
            height: 100%;
        }

        &-error {
            width: 100%;
            height: 100%;
            font: 500 10px/12px $font-mus;
            @include font-smoothing;
            color: rgba(0, 1, 5, .6);
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            background: url(/assets/img/flats/error-img.svg) center no-repeat #fafafa;
        }
    }
}

.dot {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: #888ba2;
    margin: 0 6px;
}

.empty {
    margin-bottom: 25px;
}
