<section class="home__preview home-preview">
    
    <div class="home-preview__bgr"  *ngIf="gallerySlides">
        <img [src]="uploadsPath + gallerySlides[0].image" alt="home-preview">
    </div>

    <div class="home-preview__container">
        <h1 class="home-preview__content-title home-preview__content-title--h1">Официальный сайт ЖК Новотомилино</h1>

        <div class="home-preview__content">
            <h2 class="home-preview__content-title g-title-path" *ngIf="homePreview">{{homePreview.title}}</h2>
            <a routerLink="/flats/plan" class="home-preview__content-link">Выбрать квартиру</a>
        </div>

        <div class="home-preview__video" *ngIf="videoContent && videoContent.show">
            <button class="home-preview__video-btn" (click)="showVideo = true">{{videoContent.name}}</button>
        </div>
    </div>

    <div class="home-preview__description" *ngIf="homePreview && homePreview.description">
        <p class="home-preview__description-text">{{homePreview.description}}</p>
    </div>

    <div class="home-preview__news">
        <ng-container *ngFor="let news of newsShares; let i = index">

            <a class="home-preview__news-item" 
                    [ngClass]="{'home-preview__news-item--shares': news.mainThumbnail, 'active': i === activeNews}"
                    routerLink="{{news.mainThumbnail ? ('/news-shares/shares/list/1/' + news._id) : ('/news-shares/news/list/' + news._id)}}">
                <h6 class="home-preview__news-title">{{!news.mainThumbnail ? 'Новости' : 'Акции'}}</h6>
                <p class="home-preview__news-text">{{!news.mainThumbnail ? news.title : news.name}}</p>

                <p *ngIf="news.countdown && +news.finish_date >= 0" 
                    class="home-preview__news-end">До конца акции {{news.finish_date | sharesDayPipe}}</p>
                <p *ngIf="news.countdown && +news.finish_date < 0"  
                    class="home-preview__news-end">Акция закончилась</p>

                <div class="home-preview__news-timeline"></div>
            </a>
        </ng-container>
    </div>
</section>

<div class="home-preview__threeRed">

    <div class="home-preview__threeRed-container">

        <div class="home-preview__threeRed-title">
            <img alt="logo-red" src="/assets/img/3-red_ilike-rotate.svg">
        </div>
        <p class="home-preview__threeRed-text">
            Застройщиком проекта выступает группа компаний 3-RED - ведущий девелопер 
            полного цикла, входящий в ТОП-10 крупнейших застройщиков Московской области.
        </p>
        <p class="home-preview__threeRed-text">
            За время существования на рынке компанией выработан единый стандарт 
            качества I LIKE, который был применен при проектировании ЖК Новотомилино.
        </p>
        <a class="home-preview__threeRed-link g-link_red" href="//3-red.com/" target="_blank">3-red.com</a>
        <a class="home-preview__threeRed-link g-link_red" href="//ilike.ru/" target="_blank">ilike.ru</a>
    </div>
</div>

<app-video
    *ngIf="showVideo"
    (close)="showVideo = $event">
</app-video>
