@import '../../../styles/modules/mixins/mixin';

.home-preview {
    width: 100%;
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;

    &__bgr {
        width: 100%;
        // @include screenHeight();
        height: calc(100vh - (#{$header-h} + #{$footer-h}) - 60px); // 60px - высота панели браузера
        position: absolute;
        top: 0; left: 0;
        z-index: 0;
        &::after {
            content: '';
            width: 100%;
            height: 100%;
            max-height: 338px;
            position: absolute;
            bottom: 0; left: 0;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, #000000 100%);
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__container {
        width: calc(100% - 60px);
        max-width: $tabletContainer;
        // @include screenHeight();
        height: calc(100vh - (#{$header-h} + #{$footer-h}) - 60px); // 60px - высота панели браузера
        display: flex;
        align-items: flex-end;
        box-sizing: border-box;
        padding: 0 0 50px;
        position: relative;
        z-index: 1;
    }
    &__video {
        position: absolute;
        top: 60px; right: 0;

        &-btn {
            min-height: 58px;
            border-radius: 4px;
            background-color: #AAAB22;
            padding: 0 12px 0 82px;
            display: flex;
            align-items: center;
            position: relative;
            font: 18px/20px $font-mus;
            @include font-smoothing();
            color: $col-white;
            text-align: left;
            white-space: pre-wrap;
            &::after {
                content: '';
                width: 96px;
                height: 72px;
                position: absolute;
                bottom: 5px; left: -18px;
                background: url(/assets/img/show-video.svg) no-repeat;
            }
        }
    }

    &__content {
        width: 100%;
        max-width: 818px;

        &-title {
            font: 30px/34px $font-leksa;
            @include font-smoothing;
            white-space: pre-line;
            color: $col-white;
            margin: 0 0 20px;

            &--h1 {
                font: 500 14px/18px $font-mus;
                @include font-smoothing;
                text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
                color: $col-white;
                position: absolute;
                top: 16px; left: 0;
            }
        }
        &-link {
            @include size(100%,48px);
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $col-orange;
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
            font: 500 16px/20px $font-mus;
            @include font-smoothing;
            color: $col-white;
            border-radius: 4px;
        }
    }
    &__description {
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: #FAFAF3;
        margin: 0 0 32px;
        padding: 32px 0;

        &-text {
            width: calc(100% - 60px);
            max-width: $tabletContainer;
            font: 500 24px/32px $font-mus;
            @include font-smoothing;
            white-space: pre-line;
            color: $col-black;
        }
    }
    &__news {
        width: calc(100% - 60px);
        max-width: $tabletContainer;
        position: absolute;
        top: 50px;

        &-item {
            width: 280px;
            display: block;
            position: absolute;
            top: 0; left: 0;
            transition: opacity .4s linear;
            box-sizing: border-box;
            pointer-events: none;
            padding-left: 33px;
            opacity: 0;
            &.active {
                opacity: 1;
                pointer-events: all;
                .home-preview__news-timeline::after { animation: timeline 6s linear forwards; }
            }
            &::before {
                content: '';
                width: 28px;
                height: 25px;
                position: absolute;
                top: 3px; left: 0;
                background: url(/assets/img/news-ic.svg) no-repeat;
                background-size: 100%;
            }
            &--shares::before {
                height: 15px;
                background: url(/assets/img/stock-ic.svg) no-repeat;
                top: 8px;
            }

        }
        &-title {
            font: 24px/30px $font-mus;
            @include font-smoothing;
            color: $col-white;
            margin: 0 0 10px;
        }
        &-text {
            display: inline;
            font: 16px/22px $font-mus;
            @include font-smoothing;
            color: $col-white;
            border-bottom: 1px solid;
        }
        &-end {
            font: 12px/18px $font-mus;
            color: rgba($color: $col-white, $alpha: .7);
            letter-spacing: .4px;
        }
        &-timeline {
            width: calc(100% - 33px);
            height: 1px;
            position: absolute;
            top: calc(100% + 16px);
            left: 33px;
            background-color: rgba($color: $col-white, $alpha: .3);
            &::after {
                content: '';
                width: 0%;
                height: 100%;
                position: absolute;
                top: 0; left: 0;
                background-color: $col-orange;
            }
        }
    }

    &__threeRed {
        width: 100%;
        padding: 80px 0 30px;
        display: flex;
        justify-content: center;

        &-container {
            width: calc(100% - 30px);
            max-width: 708px;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
            box-sizing: border-box;
            border-radius: 5px;
            padding: 24px;
        }
        &-title {
            width: 189px;
            height: 30px;
            margin: 0 0 30px;
            img { width: 100%; }
        }
        &-text {
            font: 16px/24px $font-mus;
            @include font-smoothing;
            color: $col-black;
            margin: 0 0 10px;
        }
        &-link { margin-right: 15px; }
    }
}
@media (max-width: 760px) {
    .home-preview {

        &__bgr::after { height: 50%; }
        &__container {
            width: calc(100% - 30px);
            padding: 0 0 20px;
        }

        &__content-title { margin: 0 0 10px; }
        &__description {
            padding: 16px 0;

            &-text { @include font-size(16px,24px); }
        }
        &__news {
            height: 42px;
            top: auto;
            position: relative;
            margin: 0 0 32px;

            &-item {
                &::before { top: 0; }
                &--shares::before { top: 5px; }
            }

            &-title {
                font: 18px/24px $font-mus;
                color: $col-black;
                margin: 0;
            }
            &-text {
                font: 14px/18px $font-mus;
                color: $col-black;
                margin: 0;
            }
            &-timeline { display: none; }
            &-end {
                font: 10px/15px $font-mus;
                position: absolute;
                top: 0; right: 0;
                color: rgba($color: $col-black, $alpha: .6);
            }
        }

        &__threeRed {
            padding: 0 0 20px;
        }
    }
}

@keyframes timeline {
    0% { width: 0%; }
    100% { width: 100%; }
}