<section class="storerooms">
    <div class="storerooms_head">
        <ul class="storerooms_head-menu">
            <li class="storerooms_head-menu_item"><a routerLink="/parking">Машиноместа</a></li>
            <li class="storerooms_head-menu_item storerooms_head-menu_item--active"><span>Кладовые</span></li>
        </ul>
        <div class="storerooms_head-info">
            <h1 class="storerooms_head-info_item">Кладовые</h1>
            <p class="storerooms_head-info_item">
                Персональные кладовые помещения — это доступный, экономичный и удобный способ хранения сезонных
                и&nbsp;крупногабаритных вещей. Освободите свою квартиру для&nbsp;полноценной жизни.
            </p>
        </div>
    </div>

    <div class="storerooms_main">
        <a [routerLink]="['/storerooms/section/1/floor/1']" class="storerooms_main-item">
            <p>Секция 1</p>
            <p>Этаж 1</p>
            <p>от 440 000 ₽</p>
        </a>
        <a [routerLink]="['/storerooms/section/2/floor/0']" class="storerooms_main-item">
            <p>Секция 2</p>
            <p>Этаж 0</p>
            <p>от 440 000 ₽</p>
        </a>
        <a [routerLink]="['/storerooms/section/3/floor/0']" class="storerooms_main-item">
            <p>Секция 3</p>
            <p>Этаж 0</p>
            <p>от 440 000 ₽</p>
        </a>
        <a [routerLink]="['/storerooms/section/4/floor/0']" class="storerooms_main-item">
            <p>Секция 4</p>
            <p>Этаж 0</p>
            <p>от 440 000 ₽</p>
        </a>
    </div>
</section>
