<section class="home__descr home-descr">
    <div class="home-descr__container">

        <div class="home-descr__item">
            Четрые жилых корпуса переменной этажности, объединенные в завершенное общественное пространство.
        </div>
        <div class="home-descr__item">
            Новая инфраструктура не выходя из дома — на первых этажах комплекса магазины, кафе, предприятия бытового сервиса.
        </div>
        <div class="home-descr__item">
            Новая архитектурная доминанта в двух шагах от Москвы.
        </div>
        <div class="home-descr__item">
            Комфортная транспортная доступность — жилой комплекс на пересечении Рязанского и Егорьевского шоссе.
        </div>
        <div class="home-descr__item">
            Зеленый двор, зоны отдыха, детские площадки, полностью пешеходная среда — уюи и безопасность в современном городе.
        </div>
    </div>
</section>
