<section class="quarantine-online">

    <div class="quarantine-online__container">

        <h1 class="quarantine-online__title">Услуги доступные онлайн</h1>

        <ul class="quarantine-online__variant">

            <li class="quarantine-online__option">
                <div class="quarantine-online__option-image">
                    <img src="/assets/img/quarantine/option-1.svg" alt="option-1">
                </div>
                <p class="quarantine-online__option-title">Консультация по ипотеке</p>
                <p class="quarantine-online__option-text">Условия предоставления, порядок сделки. Все документы предоставляются в электронном виде, оригиналы нужны только для подписания КД в банке</p>
            </li>
            <li class="quarantine-online__option">
                <div class="quarantine-online__option-image">
                    <img src="/assets/img/quarantine/option-2.svg" alt="option-2">
                </div>
                <p class="quarantine-online__option-title">Подписать и оплатить АД</p>
                <p class="quarantine-online__option-text">Действует электронный договор, оригинал можно получить при личном посещении или курьером</p>
            </li>
            <li class="quarantine-online__option">
                <div class="quarantine-online__option-image">
                    <img src="/assets/img/quarantine/option-3.svg" alt="option-3">
                </div>
                <p class="quarantine-online__option-title">Подписать ДДУ</p>
                <p class="quarantine-online__option-text">ДДУ можно подписать дистанционно, оригиналы документов передаются курьерской службой.</p>
            </li>
        </ul>
    </div>
</section>