<div class="g-modal-bg flat_modal">

    <div class="flat">
        <button class="flat__cls-btn" (click)="close.emit(false)"></button>
        <div class="flat__prev" *ngIf="flatIndex - 1 >= 0">
            <button class="flat__prev-btn" (click)="prevFlat()"></button>
            <p>№ {{flatsList[flatIndex-1].flat}}</p>
        </div>
        <div class="flat__next" *ngIf="flatIndex + 1 < flatsList.length">
            <button class="flat__next-btn" (click)="nextFlat()"></button>
            <p>№ {{flatsList[flatIndex+1].flat}}</p>
        </div>


        <ul class="flat__nav">
            <li class="flat__nav-item">Корпус {{flatData.house}}</li>
            <li class="flat__nav-item">Секция {{flatData.section}}</li>
            <li class="flat__nav-item">Этаж {{flatData.floor}}</li>
            <li class="flat__nav-item">Квартира №{{flatData.flat}}</li>
        </ul>
    
        <h1 class="flat__title">
            {{(flatData.rooms < 1) ? '' : flatData.rooms }} {{((flatData.rooms < 1) ? 'Студия' : 'комнатная')}}, №&nbsp;{{flatData.flat}}
        </h1>
    
        <div class="flat__wrap flat__wrap_price">
            <p class="flat__subtitle">Стоимость</p>
            <p class="flat__text flat__text_price">{{flatData.price | myBitNumberPipe}} &#8381;</p>
            <p *ngIf="flatData.discount"
                class="apartment__info-price-value apartment__info-price-value_sale">
                {{flatData.price - flatData.discount | myBitNumberPipe}} &#8381;
            </p>
        </div>
    
        <div class="flat__wrap_image">
           <!-- <p class="flat__favorite g-link_red">Добавить в избранное</p> -->
            <div class="flat__img">
                <img (error)="img.style.display = 'none'"
                     [src]="'/assets/floor-plans/house_' + flatData.house + '/section_' + flatData.section + '/floor_' + flatData.floor + '/' + flatData.floor + 'floor_' + flatData.flat + 'flat.svg'" alt="" #img>
                <div class="flat__img-error" *ngIf="img.style.display === 'none'">
                    Изображение недоступно
                </div>
            </div>
        </div>
    
        <div class="flat__info">
            <div class="flat__info-item .flat__info-decor">
                <p class="flat__subtitle">Отделка</p>
                <p class="flat__text">{{flatData.decorationName}}</p>
            </div>
            <div class="flat__info-item .flat__info-square">
                <p class="flat__subtitle">Площадь</p>
                <p class="flat__text">{{flatData.space}} м²</p>
            </div>
            <div class="flat__info-item .flat__info-credit">
                <p class="flat__subtitle">Ипотека от</p>
                <p class="flat__text">{{ minCredit(flatData.price) | myBitNumberPipe }} &#8381;</p>
            </div>
        </div>
        <p class="flat__delivery">Срок сдачи {{flatData.deliveryDate}}</p>
    
        <div class="flat__btn">
            <button (click)="isReserveFormOpen = true" class="flat__btn-reserve">Забронировать</button>
            <button (click)="isCreditFormOpen = true" class="flat__btn-credit">Заявка на ипотеку</button>
        </div>
    </div>

</div>

<app-form-credit *ngIf="flatData"
    (close)="isCreditFormOpen = $event"
    [isOpen]="isCreditFormOpen"
    [apartmentPrice]="flatData.price"
    [apartmentNumber]="flatData.flat"
    [type]="flatData.type">
</app-form-credit>
<app-form-reserve *ngIf="flatData"
    (close)="isReserveFormOpen = $event"
    [isOpen]="isReserveFormOpen"
    [apartmentPrice]="flatData.price"
    [apartmentNumber]="flatData.flat"
    [type]="flatData.type">
</app-form-reserve>
