$font: 15px/23px 'Montserrat'; 
$color: #606060;
$white: #ffffff;

@mixin font-smoothing {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flats_compass {
    width: 68px;
    height: 74px;
    background: url('/assets/img/flats/compass-dark.svg') no-repeat;
    background-size: 100%;
    position: absolute;
    top: 95px;
    left: calc(100vw - 134px);
    z-index: 20; 
    pointer-events: none;
    transition: .2s linear;
}

.flats_aside {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    box-sizing: border-box;
    padding: 95px 0 0 30px;

    &_breadcrumbs {
        display: flex;
        margin-bottom: 20px;

        &_item {
            margin-left: 20px;
            position: relative;

            &:before {
                content: '—';
                position: absolute;
                color: $color;
                top: 2px;
                left: -18px;
                @include font-smoothing();
            }

            &:first-of-type {
                margin: 0;

                &:before {
                    display: none;
                }
            }

            &_link {
                font: $font;
                color: $color;
                @include font-smoothing();
                cursor: pointer;
                transition: .2s linear;
                position: relative;


                &:before {
                    content: '';
                    width: 100%;
                    height: 1px;
                    background: rgba(136,139,162,.7);
                    position: absolute;
                    bottom: 1px;
                    left: 0;
                    transition: .2s linear;
                }

                &--active {
                    cursor: default;

                    &:before {
                        display: none;
                    }
                }

                &:not(.flats_aside_breadcrumbs_item_link--active) {
                    
                    &:hover {
                        text-shadow: 0 0 8px #8fe3f9;
                        color: #cda571;
                        
                        &:before {
                            opacity: 0;
                        }
                    }
                }
            }
        }
    }

    &_select-floor_wrap {
        position: relative;
        height: 116px;
        width: 100px;
        box-sizing: border-box;
        padding: 28px 0 25px 115px;
        overflow: hidden;
        cursor: pointer;
        transition: .2s linear;
    }

    .flats_aside_select-wrap {
        position: relative;
        height: 65px;
        box-sizing: border-box;
    }

    &_select-floor {
        position: absolute;
        right: 0;
        transition: .2s linear;


        &_arrow-top {
            width: 60px;
            height: 25px;
            position: absolute;
            top: 0;
            right: 0;
            background: $white url('/assets/img/flats/floor/up.svg') 50% no-repeat;
            background-size: 27px 14px;
            z-index: 1;
        }

        &_arrow-bottom {
            width: 60px;
            height: 25px;
            position: absolute;
            bottom: 0;
            right: 0;
            background: $white url('/assets/img/flats/floor/down.svg') 50% no-repeat;
            background-size: 27px 14px;
            z-index: 1;
        }

        &_title {
            font: 15px/28px 'Montserrat';
            color: #2e2e2e;
            @include font-smoothing();
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }

        &_item {
            box-sizing: border-box;
            width: 60px;
            height: 65px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 6px;
            font: bold 55px 'Montserrat';
            color: #cda571;
            @include font-smoothing();
            cursor: pointer;
            transition: .2s linear;
        }
    }

    &_description {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 0 60px;

        &_title {
            font-size: 18px;
            line-height: 1.67;
            font-weight: bold;
            margin-bottom: 5px;
            width: 263px;
            color: #2E2E2E;

            &--dark {
                color: #2e2e2e;
            }
        }

        &_hint {
            font-size: 15px;
            line-height: 1.47;
            color: $color;
            @include font-smoothing();
            margin-bottom: 12px;
            width: 311px;

            &--dark {
                color: #606060;
            }
        }

        &_to-search {
            width: 272px;
            height: 50px;
            background: url('/assets/img/flats/house/goldBtn.jpg') no-repeat;
            border-radius: 5px;
            box-shadow: 0 0 7px 3px rgba(205, 165, 113, .2);

            .btn_text {
                color: #fff;
                font-weight: bold;
                font-size: 18px;
                line-height: 1.67;
            }

            &:hover {
                box-shadow: 0 0 8px 7px rgba(205, 165, 113, .3)
            }
        }
    }

    &_scheme_wrap {
        position: absolute;
        left: 30px;
        bottom: 70px;
        z-index: 1;
        width: 170px;
        height: 176px;
    }
}


.flats_aside_scheme {
    width: 100%;
    height: 100%;
    
    &_link {
        cursor: pointer;
    }

    &_count {
        font: 15px 'Montserrat', sans-serif;
        fill: #323232;
        @include font-smoothing();
        transition: .2s linear;
        z-index: 1;
        pointer-events: none;
    }

    &_section {
        fill: transparent;
        stroke: #606060;
        stroke-width: 0.932;
        stroke-miterlimit: 10;
        transition: .2s linear;
        cursor: pointer;

        &:hover {
            fill: #f2e7d5;
            stroke: #606060;
        }

        &--active {
            fill: #cda571;
            stroke: #cda571;
        }
    }
}
