@font-face {
    font-family: 'Leksa';
    src: url('/assets/fonts/Leksa.otf');
    src: local('Leksa'), local('Leksa'),
    url('/assets/fonts/Leksa.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('/assets/fonts/MuseoSansCyrl_300.otf');
    src: local('Museo'), local('Museo'),
    url('/assets/fonts/MuseoSansCyrl_300.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('/assets/fonts/MuseoSansCyrl_500.otf');
    src: local('Museo'), local('Museo'),
    url('/assets/fonts/MuseoSansCyrl_500.otf');
    font-weight: 500;
    font-style: normal;
}
