<div class="members about_container">

    <h2 class="title about_title">Участники проекта</h2>

    <ul class="members_list">

        <li class="members_list_item">
            <a class="members_list_item_link members_list_item_link--troika" href="http://www.3-red.com/" target="_blank">
                <span class="members_list_item_link_text">Девелопер</span>
                <span class="members_list_item_link_text members_list_item_link_text--blue">3-red.com</span>
            </a>
        </li>
        <li class="members_list_item">
            <div class="members_list_item_link members_list_item_link--iskona" target="_blank">
                <span class="members_list_item_link_text">Застройщик</span>
                <span class="members_list_item_link_text members_list_item_link_text--blue"></span>
            </div>
        </li>
        <li class="members_list_item">
            <a class="members_list_item_link members_list_item_link--bsa" href="https://www.bsa-dom.ru/" target="_blank">
                <span class="members_list_item_link_text">Реализация</span>
                <span class="members_list_item_link_text members_list_item_link_text--blue">bsa-dom.ru</span>
            </a>
        </li>
        <li class="members_list_item">
            <a class="members_list_item_link members_list_item_link--sber" href="https://www.sberbank.ru" target="_blank">
                <span class="members_list_item_link_text">Партнер проекта</span>
                <span class="members_list_item_link_text members_list_item_link_text--blue">sberbank.ru</span>
            </a>
        </li>

    </ul>

</div>
