<section class="members">
    <div class="main__container main__container_row">
        <div class="members__head">
            <h1 class="members__head-title g-title-path">Участники проекта</h1>
        </div>
        <div class="members__content">
            <p class="members__content-descr">
                ЖК «Новотомилино» — это авторский проект известного московского 
                архитектурного бюро «Остоженка» от застройщика «Тройка РЭД». 
                Реализацией проекта занимается компания «BSA».
            </p>
            <div class="members__content-info">
                <div class="members__content-info-item">
                    <p class="members__content-info-title">Автор</p>
                    <a target="_blank" href="//ostarch.ru/main/projects" class="members__content-info-subtitle g-link_red">Остоженка</a>
                </div>
                <div class="members__content-info-item">
                    <p class="members__content-info-title">Застройщик</p>
                    <a target="_blank" href="//3-red.com" class="members__content-info-subtitle g-link_red">Тройка РЭД</a>
                </div>
                <div class="members__content-info-item">
                    <p class="members__content-info-title">Реализация</p>
                    <a target="_blank" href="//bsa-dom.ru" class="members__content-info-subtitle g-link_red">BSA</a>
                </div>
            </div>
        </div>
    </div>
</section>