<section class="main__place">
    <div class="main__container">
        <h1 class="main__place-title g-title-path">Места поблизости</h1>
    </div>

    <div class="gallery_content">

        <div class="gallery_scroll-wrap">

            <ul class="gallery_content_list">

                <li *ngFor="let item of gallerySlides; let i = index"
                    class="gallery_content_list_item">

                    <img class="gallery_content_list_item_img" [src]="uploadsPath + item.thumbnail">

                    <div class="gallery_content_list_item-descr">
                        <div class="gallery_content_list_item-descr-group">
                            <h1 class="gallery_content_list_item-title">{{item.name}}</h1>
                            <p class="gallery_content_list_item-count">{{i + 1 < 10 ? '0' : ''}}{{i + 1}}/{{i + 1 < 10 ? '0' : ''}}{{gallerySlides.length}}</p>
                        </div>
                        <p class="gallery_content_list_item-text">{{item.description}}</p>
                    </div>

                </li>

            </ul>

        </div>

    </div>
</section>
