@import '../../../styles/modules/mixins/mixin';

.main {

    &__container {
        position: relative;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }

    &__place {
        width: 100%;

        &-title {
            width: calc(100% - 30px);
            font: 30px/30px 'Leksa';
            @include font-smoothing;
            color: $col-black;
            margin: 120px 0 40px;

            @media(min-width: 767px) {
                width: calc(100% - 60px);
            }
        }
    }
}

.gallery {

    &_content {
        width: 100%;
        height: calc(50.7vw);
        max-height: 333px;
        overflow: hidden;

        &_list {
            display: inline-block;
            box-sizing: border-box;
            height: calc(50.7vw + 147px);
            max-height: 333px;
            white-space: nowrap;
            letter-spacing: -.36em;

            @media(min-width: 767px) {
                padding: 0 30px;
            }

            @media(max-width: 767px) {
                padding: 0 15px;
            }

            &_item {
                display: inline-block;
                width: 90vw;
                max-width: 615px;
                height: 100%;
                position: relative;
                letter-spacing: normal;

                @media(min-width: 767px) {
                    margin-right: 30px;
                }

                @media(max-width: 767px) {
                    margin-right: 10px;
                }

                &:last-of-type {
                    margin: 0;
                }

                &_img {
                    height: calc(100%);
                    width: 100%;
                    object-fit: cover;
                }

                &_text {
                    display: block;
                    width: 100%;
                    font: 15px/23px 'abrade-book', sans-serif;
                    color: #2e2e2e;
                    @include font-smoothing();
                }

                &-descr {
                    display: flex;
                    flex-direction: row;
                    margin: 20px 30px 0;
                    justify-content: space-between;

                    @media(max-width: 767px) {
                        flex-direction: column;
                        margin: 20px 15px 0;
                    }

                    &-group {
                        display: flex;
                        flex-direction: column;
                        width: 100%;

                        @media(max-width: 767px) {
                            flex-direction: row;
                            justify-content: space-between;
                        }
                    }
                }

                &-title {
                    font: 500 22px/20px $font-mus;
                    @include font-smoothing;
                    color: $col-32;
                    white-space: normal;
                }

                &-text {
                    @include f16-24;
                    color: $col-black;
                    white-space: initial;

                    @media(max-width: 767px) {
                        margin-top: 10px;
                    }
                }

                &-count {
                    font: 500 14px/21px $font-mus;
                    @include font-smoothing;
                    color: $col-orange;
                    transform: translateY(-3px);
                    backface-visibility: hidden;
                    margin : 5px 0 0;
                }
            }
        }
    }

    &_scroll-wrap {
        width: 100%;
        height: calc(100% + 20px);
        overflow-y: hidden;
        overflow-x: auto;
    }
}
