<section class="main__place" *ngIf="gallerySlides">
    <div class="main__container">
        <h1 class="main__place-title g-title-path">Места поблизости</h1>
    </div>

    <div class="gallery_content">

        <div class="gallery_scroll-wrap" (scroll)="scroll($event)">

            <ul class="gallery_content_list">

                <li *ngFor="let item of gallerySlides; let i = index" #img
                    class="gallery_content_list_item">
                    <img class="gallery_content_list_item_img" [src]="uploadsPath + item.thumbnail">
                </li>

            </ul>

        </div>


    </div>
    <div class="gallery_content_list_item-descr">
        <div class="gallery_content_list_item-descr-group">
            <h1 class="gallery_content_list_item-title">{{gallerySlides[slide - 1].name}}</h1>
            <p class="gallery_content_list_item-count">{{slide < 10 ? '0' : ''}}{{slide}}/{{slide < 10 ? '0' : ''}}{{gallerySlides.length}}</p>
        </div>
        <p class="gallery_content_list_item-text">{{gallerySlides[slide - 1].description}}</p>
    </div>
</section>
