
<ng-container *ngFor="let object of objectsArray">

    <div [id]="object._id" *ngIf="(object.year === year && object.month === month)" class="dynamic_section">

        <!-- полоса готовности объекта -->
        <div class="dynamic_section_readiness">
            <span class="dynamic_section_readiness_text">Готовность 

                <div *ngIf="isAuthorizated" class="admin-dynamic-ready-wrap">
                    <input class="admin-dynamic-ready admin-controll"  
                        [value]="object.ready" 
                        (change)="changeReady(object._id, $event)" type="number"
                    />
                </div>
                
                <span *ngIf="!isAuthorizated">{{object.ready}}</span> %
            </span>
            <div class="dynamic_section_readiness_scale">
                <div [style.width.%]="object.ready" class="dynamic_section_readiness_scale_fill"></div>
            </div>
        </div>
        <!-- end: полоса готовности объекта -->


        <h2 class="dynamic_section_title">{{object.title}}</h2>

        <span *ngIf="!isAuthorizated" class="dynamic_section_description" [innerHTML]="object.description | lineBreakPipe"></span>
        
        <textarea *ngIf="isAuthorizated" class="dynamic_section_description admin-dynamic-description admin-controll" (change)="changeDescription(object._id, $event)" [value]="object.description"></textarea>
        

        <!-- блок с изображениями -->
        <ul class="dynamic_section_gallery">

            <li (click)="image.type == 'VIDEO' ? startVideoShow(image.origin) : startSlideShow(object._id, item)" *ngFor="let image of object.images; let item = index"
                class="dynamic_section_gallery_item"
                [ngClass]="{
                    'dynamic_section_gallery_item--img': image.type === 'IMAGE',
                    'dynamic_section_gallery_item--video': image.type === 'VIDEO'
                }">

                <div *ngIf="isAuthorizated" class="admin-dynamic-delete-image admin-controll" (click)="deleteImage(object._id, image.thumbnail, image.type)"></div>
                
                <img *ngIf='image.type == "IMAGE"' class="dynamic_section_gallery_item_content" [src]="uploadsPath + image.thumbnail">

                <iframe *ngIf='image.type == "VIDEO"' class="dynamic_section_gallery_item_content"
                    [src]="image.thumbnail | videoSanitizerPipe">
                </iframe>
            </li>

        </ul>
        <!-- end: блок с изображениями -->

        
        <!-- блок загрузки изображиний и видео -->
        <div *ngIf="isAuthorizated" [ngClass]="{'admin-dynamic-load-media-block--with-margin': object.images.length > 0}" class="admin-dynamic-load-media-block admin-controll">
            
            <div class="admin-dynamic-load-media-block_content">
                Фотографии
                <label class="admin-dynamics_content-load-btn">Загрузить
                    <input style='display: none;' type="file" (change)="setSlides(object._id, $event)" multiple placeholder="Upload file" accept=".jpg" multiple>
                </label>
            </div>

            <form class="admin-dynamic-load-media-block_content" [formGroup]="formVideo" (ngSubmit)="setVideo(object._id, formVideo.value)">
                Видео
                <input class="admin-dynamic-load-media-block_input" [formControl]="formVideo.controls['origin']" type="text" placeholder="Введите ссылку на видео">
                <button type="submit" class="admin-dynamics_content-load-btn">Добавить</button>
            </form>

            <div class="admin-dynamic-delete-object" (click)="deleteObject(object._id)">Удалить объект</div>
        </div>
        <!-- end: блок загрузки изображиний и видео -->
        

    </div>

</ng-container>


<div *ngIf="progressLoaded" class="admin-dynamic_progress">
    <div class="admin-dynamic_progress-title">Загрузка</div>
    <div class="admin-dynamic_progress-info">{{progressCurrent}} из {{progressCount}}</div>
    <div class="admin-dynamic_progress-line">
        <div [style.width.%]="((100 / progressCount) * progressCurrent)" class="admin-dynamic_progress-line-inner"></div>
    </div>
</div>


<app-dynamic-object-slideshow
    [objectsArray]="objectsArray"
    [isSlideShow]="isSlideShow"
    [slideShowCurrent]="slideShowCurrent"
    [slideShowId]="slideShowId"
    (close)="windowScrollLocker.unblock(); isSlideShow = false">
</app-dynamic-object-slideshow>

<app-dynamic-object-video
    [url]="videoUrl"
    [isVideoShow]="isVideoShow"
    (close)="windowScrollLocker.unblock(); isVideoShow = false">
</app-dynamic-object-video>
