
<ng-container *ngFor="let object of objectsArray">

    <div [id]="object._id" *ngIf="(object.year === year && object.month === month)" class="dynamic-object">

        <!-- Удалить объект / Заголовок / Прогресс / Добавить фото -->
        <div class="dynamic-object__content">
            <div class="dynamic-object__title-wrap">
                <h2 class="dynamic-object__title">{{object.title}}</h2>
    
                <div class="dynamic-object__progress">
                    <div *ngIf="isAuthorizated" class="dynamic-object__progress-wrap">
                        <input class="dynamic-object__progress-input"  
                            [value]="object.ready" 
                            (change)="changeReady(object._id, $event)" type="number"
                        />
                    </div>

                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
                        <g fill="none" fill-rule="evenodd">
                            <!-- <text id="0%" opacity="0.6" font-family="MuseoSansCyrl-500, Museo Sans Cyrl" font-size="12" font-weight="normal" line-spacing="18" fill="#000105" text-anchor="middle" transform="translate(7, 1.5)">
                                <tspan x="14" y="22">{{object.ready}}%</tspan>
                            </text> -->
                            <g id="Segments-circle">
                                <path d="M21.125,0.125394025 L21.125,3.87548403 C24.4469001,3.901213 27.6757191,4.95203138 30.3722973,6.88572368 L32.5849786,3.84797478 C29.2388676,1.45347584 25.2313762,0.151307009 21.125,0.125394398 Z" id="{{object._id}}-segment-1" stroke="#FFFFFF" stroke-width="0.25" fill="#DDDDDD"></path>
                                <path d="M32.7873667,3.9947376 L30.5743269,7.03297873 C33.2513593,9.0158601 35.2567661,11.7678071 36.2998353,14.9024617 L39.8620696,13.7400484 C38.5592626,9.82460627 36.0931591,6.42396879 32.7873665,3.99473789 Z" id="{{object._id}}-segment-2" stroke="#FFFFFF" stroke-width="0.25" fill="#DDDDDD"></path>
                                <path d="M39.9395231,13.9777477 L36.3769026,15.140287 C37.3743659,18.3021345 37.3743659,21.6978655 36.3769022,24.8597128 L39.9395231,26.0222523 C41.1901591,22.1009673 41.1901591,17.8990327 39.9395227,13.9777478 Z" id="{{object._id}}-segment-3" stroke="#FFFFFF" stroke-width="0.25" fill="#DDDDDD"></path>
                                <path d="M39.8620704,26.2599519 L36.2998353,25.0975383 C35.2567661,28.2321929 33.2513593,30.9841399 30.5743266,32.9670209 L32.7873667,36.0052624 C36.0931591,33.5760312 38.5592626,30.1753937 39.8620696,26.2599516 Z" id="{{object._id}}-segment-4" stroke="#FFFFFF" stroke-width="0.25" fill="#DDDDDD"></path>
                                <path d="M32.5849786,36.1520252 L30.3722976,33.1142767 C27.6757191,35.0479686 24.4469001,36.098787 21.125,36.1245159 L21.125,39.874606 C25.2313762,39.848693 29.2388676,38.5465242 32.5849781,36.1520246 Z" id="{{object._id}}-segment-5" stroke="#FFFFFF" stroke-width="0.25" fill="#DDDDDD"></path>
                                <path d="M20.875,39.874606 L20.875,36.124516 C17.5530999,36.098787 14.3242809,35.0479686 11.6277027,33.1142763 L9.41502142,36.1520252 C12.7611324,38.5465242 16.7686238,39.848693 20.875,39.8746056 Z" id="{{object._id}}-segment-6" stroke="#FFFFFF" stroke-width="0.25" fill="#DDDDDD"></path>
                                <path d="M9.21263328,36.0052624 L11.4256731,32.9670213 C8.74864069,30.9841399 6.74323394,28.2321929 5.70016467,25.0975383 L2.13792959,26.2599519 C3.44073739,30.1753937 5.90684092,33.5760312 9.2126335,36.0052621 Z" id="{{object._id}}-segment-7" stroke="#FFFFFF" stroke-width="0.25" fill="#DDDDDD"></path>
                                <path d="M2.0604769,26.0222523 L5.6230974,24.859713 C4.62563405,21.6978655 4.62563405,18.3021345 5.62309785,15.1402872 L2.0604769,13.9777477 C0.809840905,17.8990327 0.809840905,22.1009673 2.06047729,26.0222522 Z" id="{{object._id}}-segment-8" stroke="#FFFFFF" stroke-width="0.25" fill="#DDDDDD"></path>
                                <path d="M2.13792959,13.7400481 L5.70016465,14.9024617 C6.74323394,11.7678071 8.74864069,9.0158601 11.4256734,7.03297913 L9.21263328,3.9947376 C5.90684092,6.42396879 3.44073739,9.82460627 2.13793037,13.7400484 Z" id="{{object._id}}-segment-9" stroke="#FFFFFF" stroke-width="0.25" fill="#DDDDDD"></path>
                                <path d="M9.41502142,3.84797478 L11.6277024,6.8857233 C14.3242809,4.95203138 17.5530999,3.901213 20.875,3.87548405 L20.875,0.125394025 C16.7686238,0.151307009 12.7611324,1.45347584 9.41502187,3.84797541 Z" id="{{object._id}}-segment-10" stroke="#FFFFFF" stroke-width="0.25" fill="#DDDDDD"></path>
                            </g>
                        </g>
                    </svg>
                </div>
    
                <label class="dynamic-object__file" *ngIf="isAuthorizated">Загрузить фото
                    <input style='display: none;' type="file" (change)="setSlides(object._id, $event)" multiple placeholder="Upload file" accept=".jpg" multiple>
                </label>

                <div class="dynamic-object__description">

                    <p *ngIf="!isAuthorizated" class="dynamic-object__description-text">{{object.description}}</p>
                    <ghm-textarea class="dynamic-object__description-area"
                        *ngIf="isAuthorizated"
                        [value]="object.description"
                        (change)="changeDescription(object._id, $event)">
                    </ghm-textarea>
                </div>
    
                <div class="dynamic-object__del-object" *ngIf="isAuthorizated" (click)="deleteObject(object._id)"></div>
            </div>
    
            <!-- End: Удалить объект / Заголовок / Прогресс / Добавить фото -->
    
            <!-- блок с изображениями -->
            <ul class="dynamic-object__gallery">
    
                <li (click)="image.type == 'VIDEO' ? startVideoShow(image.origin) : startSlideShow(object._id, item)" *ngFor="let image of object.images; let item = index"
                    class="dynamic-object__gallery-item"
                    [ngClass]="{
                        'dynamic-object__gallery-item_img': image.type === 'IMAGE',
                        'dynamic-object__gallery-item_video': image.type === 'VIDEO'
                    }">
    
                    <div *ngIf="isAuthorizated" class="dynamic-object__gallery-item-del admin-controll" (click)="deleteImage(object._id, image.thumbnail, image.type)"></div>
                    
                    <div class="dynamic-object__gallery-item-wrap">
                        <img *ngIf='image.type == "IMAGE"' class="dynamic-object__gallery-item-content" [src]="uploadsPath + image.thumbnail">
                    </div>
    
                    <iframe *ngIf='image.type == "VIDEO"' class="dynamic-object__gallery-item-content"
                        [src]="image.thumbnail | videoSanitizerPipe">
                    </iframe>
                </li>
    
            </ul>
        </div>

    </div>

</ng-container>


<div *ngIf="progressLoaded" class="admin-dynamic_progress">
    <div class="admin-dynamic_progress-title">Загрузка</div>
    <div class="admin-dynamic_progress-info">{{progressCurrent}} из {{progressCount}}</div>
    <div class="admin-dynamic_progress-line">
        <div [style.width.%]="((100 / progressCount) * progressCurrent)" class="admin-dynamic_progress-line-inner"></div>
    </div>
</div>


<app-dynamic-object-slideshow
    [objectsArray]="objectsArray"
    [isSlideShow]="isSlideShow"
    [slideShowCurrent]="slideShowCurrent"
    [slideShowId]="slideShowId"
    (close)="windowScrollLocker.unblock(); isSlideShow = false">
</app-dynamic-object-slideshow>

<app-dynamic-object-video
    [url]="videoUrl"
    [isVideoShow]="isVideoShow"
    (close)="windowScrollLocker.unblock(); isVideoShow = false">
</app-dynamic-object-video>
