<div class="location_infrastructure">

    <div class="location_aside">

        <a class="dark-text_link location_aside_link location_aside_link--routes" [routerLinkActive]="['dark-text_link--active']" routerLink="/location/routes">Как добраться</a>
        <a class="dark-text_link location_aside_link location_aside_link--infrastructure" [routerLinkActive]="['dark-text_link--active']" routerLink="/location/infrastructure">Инфраструктура района</a>
        
        <ul class="location_aside_list">
            <li (click)="openToolTip(item.type)" *ngFor="let item of navList" class="location_aside_list_item location_aside_list_item--{{item.type}} location_aside_list_item--active">{{item.content}}
                <span class="location_aside_list_item_icon location_aside_list_item_icon--{{item.type}}"></span>
            </li>
        </ul>

    </div>

    <div id="map" class="location_map"></div>

</div>