<aside class="house__sections-aside">
    <div class="house__sections-notice">
        <p class="house__sections-aside-text">
            <span class="house__sections-aside-text_free">3</span>Свободно
        </p>
        <p class="house__sections-aside-text">
            <span class="house__sections-aside-text_not-sale">3</span>Скоро в продаже
        </p>
        <p class="house__sections-aside-text">
            <span class="house__sections-aside-text_sale">1</span>Скидка
        </p>
        <p class="house__sections-aside-text">
            <span class="house__sections-aside-text_reserve"></span>Забронировано
        </p>
    </div>

    <div class="house__sections-aside-plan">
        <div class="house__sections-priority">
            <p class="house__sections-priority-text">Выберите дом</p>

            <!-- <div class="house__sections-tooltip">
                <div class="house__sections-tooltip-image">
                    <svg xmlns="http://www.w3.org/2000/svg" width="223" height="96" viewBox="0 0 223 96">
                        <g fill="none" fill-rule="evenodd">
                            <path fill="#C4532C" d="M127 28h56v8h-56v-8z"/>
                            <path fill="#FDBE10" d="M192 73h31v8h-31z"/>
                            <text fill="#323232" font-family="MuseoSansCyrl-500, Museo Sans Cyrl" font-size="12">
                                <tspan x="204" y="94">9</tspan>
                            </text>
                            <text fill="#323232" font-family="MuseoSansCyrl-500, Museo Sans Cyrl" font-size="12">
                                <tspan x="209" y="67">8</tspan>
                            </text>
                            <path fill="#F3792B" d="M203 46h20v8h-20v-8zM127 81v-9h12V46h18v8h-10v27h-20zM157 81v-9h12V46h18v8h-10v27h-20z"/>
                            <text fill="#323232" font-family="MuseoSansCyrl-500, Museo Sans Cyrl" font-size="12">
                                <tspan x="111" y="94">5</tspan>
                            </text>
                            <text fill="#323232" font-family="MuseoSansCyrl-500, Museo Sans Cyrl" font-size="12">
                                <tspan x="138" y="94">6</tspan>
                            </text>
                            <text fill="#323232" font-family="MuseoSansCyrl-500, Museo Sans Cyrl" font-size="12">
                                <tspan x="169" y="94">7</tspan>
                            </text>
                            <text fill="#323232" font-family="MuseoSansCyrl-500, Museo Sans Cyrl" font-size="12">
                                <tspan x="148" y="24">10</tspan>
                            </text>
                            <text fill="#323232" font-family="MuseoSansCyrl-500, Museo Sans Cyrl" font-size="12">
                                <tspan x="81" y="21">4</tspan>
                            </text>
                            <path fill="#C4532C" d="M92 0h8v36h-8V0z"/>
                            <path fill="#FDBE10" d="M70 73h30v8H70z"/>
                            <path fill="#F3792B" d="M117 46h10v8h-10v12h-4v15h-8V57h4V46h8z"/>
                            <text fill="#323232" font-family="MuseoSansCyrl-500, Museo Sans Cyrl" font-size="12">
                                <tspan x="81" y="94">3</tspan>
                            </text>
                            <path fill="#FDBE10" d="M35 73h30v8H35zM8 59v14h22v8H0V59h8z"/>
                            <path fill="#767676" d="M9.213 24.852l10.615-5.86 11.898-2.334-10.602 5.895z"/>
                            <path fill="#D5210D" d="M31.752 16.668l-.106.038-10.522 5.847-.647-1.781h-.001l-.648-1.78 11.81-2.302.108-.039-.05.028.056-.01z"/>
                            <text fill="#323232" font-family="MuseoSansCyrl-500, Museo Sans Cyrl" font-size="9" letter-spacing="1" opacity=".5" transform="rotate(70 20.824 29.74)">
                                <tspan x="9" y="8">С</tspan>
                            </text>
                            <text fill="#323232" font-family="MuseoSansCyrl-500, Museo Sans Cyrl" font-size="12">
                                <tspan x="12" y="94">1</tspan>
                            </text>
                            <text fill="#323232" font-family="MuseoSansCyrl-500, Museo Sans Cyrl" font-size="12">
                                <tspan x="47" y="94">2</tspan>
                            </text>
                        </g>
                    </svg>
                </div>
                <p class="house__sections-tooltip-priority house__sections-tooltip-priority_first">
                    <span>I этап</span>
                    Дома №3, №9, №1, №2
                </p>
                <p class="house__sections-tooltip-priority house__sections-tooltip-priority_secont">
                    <span>II этап</span>
                    Дома №5 №6, №7, №8
                </p>
                <p class="house__sections-tooltip-priority house__sections-tooltip-priority_third">
                    <span>III этап</span>
                    Дома №4, №10
                </p>
            </div> -->

        </div>
        <ul class="house__sections-aside-plan_list">
            <li *ngFor="let house of houseList"
                class="house__sections-aside-plan_item"
                [ngClass]="{
                    'active': houseNumber === house.house,
                    'disabled': house.disabled}"
                (click)="houseNavigate(house.house)">
                {{house.house}}
            </li>
        </ul>
    </div>
</aside>
