@import "../../../../styles/modules/mixins/mixin";

.house-minimap {
    position: absolute;
    left: calc((100% - 1240px) / 2);
    top: 63px;// top: 62px + 50px;
    width: $w1600;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 1;
    pointer-events: none;

    &__notice {
        display: flex;

        &-text {
            font: 500 14px/17px $font-mus;
            @include font-smoothing;
            position: relative;
            margin-right: 16px;
            padding-left: 18px + 8px;
            &:last-child { margin-right: 0; }
            &::before {
                content: '3';
                width: 18px;
                height: 18px;
                position: absolute;
                top: 50%; left: 0;
                border-radius: 2px;
                transform: translateY(-50%);
                font: 500 14px/18px $font-mus;
                text-align: center;
                color: $col-black;
            }

            &--free::before { background-color: #e5e5e5; }
            &--not-sale::before { border: 1px solid #e5e5e5; }
            &--sale::before {
                color: $col-orange;
                border: 1px solid $col-orange;
            }
            &--reserved::before {
                content: '';
                display: block;
                box-sizing: border-box;
                border: 1px solid #e5e5e5;
                background: url(/assets/img/flats/house/lock_flat.svg) center no-repeat;
            }
        }
    }

    &__houses {
        transform: translateY(-30px);
        pointer-events: all;

        &-text {
            @include fw14-20;
            margin: 0 0 12px;
        }
        &-list {
            display: flex;
            li + li { margin-left: 10px; }
        }
        &-item {
            pointer-events: all;
            &.disabled {
                opacity: .5;
                pointer-events: none;
            }
        }
        
        &-checkbox {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            cursor: pointer;
            &:hover {
                &> div { background-color: rgba(231, 73, 15, .8); }
                &> p { color: #ffffff; }
            }

            &> input:checked {
                &+ div { background-color: $col-orange}
                &+ div + p { color: $col-white; }
            }
            &> div {
                width: 49px;
                height: 20px;
                background-color: #eee;
                transition: background-color $transition;
            }
            &> p {
                @include fw14-20;
                transition: color $transition;
                position: absolute;
            }
        }
    }
}
