<aside class="house__sections-aside">
    <div class="house__sections-notice">
        <p class="house__sections-aside-text">
            <span class="house__sections-aside-text_free">3</span>Свободно
        </p>
        <p class="house__sections-aside-text">
            <span class="house__sections-aside-text_sale">1</span>Скидка
        </p>
        <p class="house__sections-aside-text">
            <span class="house__sections-aside-text_reserve"></span>Забронировано
        </p>
    </div>

    <div class="house__sections-aside-plan">
        <div class="house__sections-priority">
            <p class="house__sections-priority-text">Выберите дом</p>

            <div class="house__sections-tooltip">
                <div class="house__sections-tooltip-image">
                    <svg xmlns="http://www.w3.org/2000/svg" width="223" height="96" viewBox="0 0 223 96">
                        <g fill="none" fill-rule="evenodd">
                            <path fill="#C4532C" d="M127 28h56v8h-56v-8z"/>
                            <path fill="#FDBE10" d="M192 73h31v8h-31z"/>
                            <text fill="#323232" font-family="MuseoSansCyrl-500, Museo Sans Cyrl" font-size="12">
                                <tspan x="204" y="94">9</tspan>
                            </text>
                            <text fill="#323232" font-family="MuseoSansCyrl-500, Museo Sans Cyrl" font-size="12">
                                <tspan x="209" y="67">8</tspan>
                            </text>
                            <path fill="#F3792B" d="M203 46h20v8h-20v-8zM127 81v-9h12V46h18v8h-10v27h-20zM157 81v-9h12V46h18v8h-10v27h-20z"/>
                            <text fill="#323232" font-family="MuseoSansCyrl-500, Museo Sans Cyrl" font-size="12">
                                <tspan x="111" y="94">5</tspan>
                            </text>
                            <text fill="#323232" font-family="MuseoSansCyrl-500, Museo Sans Cyrl" font-size="12">
                                <tspan x="138" y="94">6</tspan>
                            </text>
                            <text fill="#323232" font-family="MuseoSansCyrl-500, Museo Sans Cyrl" font-size="12">
                                <tspan x="169" y="94">7</tspan>
                            </text>
                            <text fill="#323232" font-family="MuseoSansCyrl-500, Museo Sans Cyrl" font-size="12">
                                <tspan x="148" y="24">10</tspan>
                            </text>
                            <text fill="#323232" font-family="MuseoSansCyrl-500, Museo Sans Cyrl" font-size="12">
                                <tspan x="81" y="21">4</tspan>
                            </text>
                            <path fill="#C4532C" d="M92 0h8v36h-8V0z"/>
                            <path fill="#FDBE10" d="M70 73h30v8H70z"/>
                            <path fill="#F3792B" d="M117 46h10v8h-10v12h-4v15h-8V57h4V46h8z"/>
                            <text fill="#323232" font-family="MuseoSansCyrl-500, Museo Sans Cyrl" font-size="12">
                                <tspan x="81" y="94">3</tspan>
                            </text>
                            <path fill="#FDBE10" d="M35 73h30v8H35zM8 59v14h22v8H0V59h8z"/>
                            <path fill="#767676" d="M9.213 24.852l10.615-5.86 11.898-2.334-10.602 5.895z"/>
                            <path fill="#D5210D" d="M31.752 16.668l-.106.038-10.522 5.847-.647-1.781h-.001l-.648-1.78 11.81-2.302.108-.039-.05.028.056-.01z"/>
                            <text fill="#323232" font-family="MuseoSansCyrl-500, Museo Sans Cyrl" font-size="9" letter-spacing="1" opacity=".5" transform="rotate(70 20.824 29.74)">
                                <tspan x="9" y="8">С</tspan>
                            </text>
                            <text fill="#323232" font-family="MuseoSansCyrl-500, Museo Sans Cyrl" font-size="12">
                                <tspan x="12" y="94">1</tspan>
                            </text>
                            <text fill="#323232" font-family="MuseoSansCyrl-500, Museo Sans Cyrl" font-size="12">
                                <tspan x="47" y="94">2</tspan>
                            </text>
                        </g>
                    </svg>
                </div>
                <p class="house__sections-tooltip-priority house__sections-tooltip-priority_first">
                    <span>I этап</span>
                    Дома №3, №9, №1, №2
                </p>
                <p class="house__sections-tooltip-priority house__sections-tooltip-priority_secont">
                    <span>II этап</span>
                    Дома №5 №6, №7, №8
                </p>
                <p class="house__sections-tooltip-priority house__sections-tooltip-priority_third">
                    <span>III этап</span>
                    Дома №4, №10
                </p>
            </div>
        </div>
        <ul class="house__sections-aside-plan_list">
            <li *ngFor="let house of houseNumbers"
                class="house__sections-aside-plan_item"
                [class.house__sections-aside-plan_item--active]="houseNumber === house"
                (click)="houseNavigate(house)">
                {{house}}
            </li>
        </ul>

      <!--  <svg xmlns="http://www.w3.org/2000/svg" width="143" height="361" viewBox="0 0 143 361">
            <g fill="none" fill-rule="evenodd">

                <path class="house__sections-aside-plan_corpus"
                      [class.house__sections-aside-plan_corpus--active]="houseNumber === '1'"
                      (click)="houseNavigate(1)"
                      fill="#e6e6e8" d="M45.5 12.5h-20v36h-12V.5h32v12z"></path>
                <text fill="#000105" font-family="MuseoSansCyrl-500, Museo Sans Cyrl" font-size="14" transform="translate(-20 -113)">
                    <tspan x="21" y="141">1</tspan>
                </text>

                <path class="house__sections-aside-plan_corpus"
                      [class.house__sections-aside-plan_corpus--active]="houseNumber === '2'"
                      (click)="houseNavigate(2)"
                      fill="#e6e6e8" d="M25.5 56.5v48h-12v-48z"></path>
                <text fill="#000105" font-family="MuseoSansCyrl-500, Museo Sans Cyrl" font-size="14" transform="translate(-76 -57)">
                    <tspan x="76" y="141">2</tspan>
                </text>

                <path class="house__sections-aside-plan_corpus"
                      [class.house__sections-aside-plan_corpus--active]="houseNumber === '3'"
                      (click)="houseNavigate(3)"
                      fill="#e6e6e8" d="M25.5 112.5v48h-12v-48z"></path>
                <text fill="#000105" font-family="MuseoSansCyrl-500, Museo Sans Cyrl" font-size="14" transform="translate(-131.5 -1.5)">
                    <tspan x="132" y="141">3</tspan>
                </text>

                <path class="house__sections-aside-plan_corpus"
                      [class.house__sections-aside-plan_corpus--active]="houseNumber === '9'"
                      (click)="houseNavigate(9)"
                      fill="#e6e6e8" d="M25.5 320.5v40h-12v-40z"></path>
                <text fill="#000105" font-family="MuseoSansCyrl-500, Museo Sans Cyrl" font-size="14" transform="translate(-336 203)">
                    <tspan x="336" y="141">9</tspan>
                </text>



                <path stroke="#000105" stroke-dasharray="2" d="M98.5 201.5v80h-12v-80h12z" opacity=".4"></path>
                <text fill="#000105" font-family="MuseoSansCyrl-500, Museo Sans Cyrl" font-size="14" opacity=".4" transform="translate(-130.5 209.5)">
                    <tspan x="233" y="35">10</tspan>
                </text>

                <path stroke="#000105" stroke-dasharray="2" d="M76.5 330.5v30h-12v-30h12zM13.5 256.5h12v20h45v28h-12v-16h-45v-32zM13.5 208.5h12v20h45v28h-12v-16h-45v-32zM70.5 190.5v18h-12v-18h-21v-6h-24v-12h38v8h19v10z" opacity=".4"/>
                <text fill="#000105" font-family="MuseoSansCyrl-500, Museo Sans Cyrl" font-size="14" opacity=".4" transform="translate(-173.5 40.5)">
                    <tspan x="174" y="141">5</tspan>
                </text>
                <text fill="#000105" font-family="MuseoSansCyrl-500, Museo Sans Cyrl" font-size="14" opacity=".4" transform="translate(-223 90)">
                    <tspan x="223" y="141">6</tspan>
                </text>
                <text fill="#000105" font-family="MuseoSansCyrl-500, Museo Sans Cyrl" font-size="14" opacity=".4" transform="translate(-275.5 142.5)">
                    <tspan x="276" y="141">7</tspan>
                </text>
                <text fill="#000105" font-family="MuseoSansCyrl-500, Museo Sans Cyrl" font-size="14" opacity=".4" transform="translate(-289 259)">
                    <tspan x="340.5" y="89.5">8</tspan>
                </text>

                <path stroke="#000105" stroke-dasharray="2" d="M142.5 148.5v12h-56v-12h56z" opacity=".4"></path>
                <text fill="#000105" font-family="MuseoSansCyrl-500, Museo Sans Cyrl" font-size="14" opacity=".4" transform="translate(-23 111)">
                    <tspan x="133.5" y="30.5">4</tspan>
                </text>

                <path fill="#767676" d="M100.55 12.557l10.145 16.299 4.676 18.62-10.2-16.276z"></path>
                <path fill="#D5210D" d="M115.384 47.506L105.172 31.2l2.788-1.183z"></path>
                <path fill="#D5210D" d="M115.357 47.518l-4.662-18.662-2.762 1.172z"></path>
                <text fill="#323232" font-family="MuseoSansCyrl-500, Museo Sans Cyrl" font-size="9" letter-spacing="1" opacity=".6" transform="rotate(157 76.873 43.66)">
                    <tspan x="38.987" y="20.073">С</tspan>
                </text>
            </g>
        </svg> -->

    </div>
</aside>
