<aside class="house-minimap">
    <div class="house-minimap__notice">
        <p class="house-minimap__notice-text house-minimap__notice-text--free">Свободно</p>
        <p class="house-minimap__notice-text house-minimap__notice-text--not-sale">Скоро в продаже</p>
        <p class="house-minimap__notice-text house-minimap__notice-text--sale">Скидка</p>
        <p class="house-minimap__notice-text house-minimap__notice-text--reserved">Забронировано</p>
    </div>

    <div class="house__sections-aside-plan house-minimap__houses">
        <p class="house-minimap__houses-text">Выберите дом</p>
        <ul class="house-minimap__houses-list">
            <li *ngFor="let house of houseList" class="house-minimap__houses-item"
                [ngClass]="{ 'disabled': house.disabled }">

                <label class="house-minimap__houses-checkbox">
                    <input type="checkbox" name="house" 
                        [value]="house.house" [style.display]="'none'"
                        [checked]="houseNumber.indexOf(house.house) >= 0"
                        (change)="checkBtn($event)">
                    <div></div>
                    <p>{{house.house}}</p>
                </label>
            </li>
        </ul>
    </div>
</aside>
