<div *ngIf="share" class="news shares-view">

    <div class="shares-view__nav">
        <a routerLink="/news-shares/shares/list/1" class="shares-view__nav-back">Все акции</a>
    </div>

    <div class="shares-view__header">
        <div *ngIf="share.countdown && countDown(share.finish_date) >= 0" class="shares-view__header-finishing">
            {{countDown(share.finish_date) | sharesDayPipe}} до конца акции
        </div>
        <div *ngIf="share.countdown && countDown(share.finish_date) < 0" class="shares-view__header-finishing">
            Акция закончилась
        </div>
        <div class="shares-view__header-wrap">
            <button class="shares-view__header-btn shares-view__header-prev" [class.shares-view__header-btn-inactive]="!prevId" [routerLink]="['/news-shares/shares/list/' + indexNum + '/' + prevId]"></button>
            <button class="shares-view__header-btn shares-view__header-next" [class.shares-view__header-btn-inactive]="!nextId" [routerLink]="['/news-shares/shares/list/' + indexNum + '/' + nextId]"></button>
            <div class="shares-view__header-img">
                <img [src]="uploadsPath + share.mainImage">
            </div>
        </div>
        <div class="shares-view__content">
            <h1 class="shares-view__content-title">{{share.name}}</h1>
            <p class="shares-view__content-text">{{share.text}}</p>
            <p class="shares-view__content-date">{{share.created_at | date: 'dd.MM.yyyy' }}</p>
        </div>
    </div>


    <div class="shares-view__flat flat-list">
        <ng-container *ngFor="let flat of share.shareFlats; index as i">
            <app-flat-snippet
                [index]="i"
                [flatData]="flat"
                [viewType]="'inline'"
            ></app-flat-snippet>
        </ng-container>
    </div>
</div>
