<form [formGroup]="form" class="search-form" [class.search-form_open]="showFilter" *ngIf="form">

    <div class="search-form__wrapper">

        <div class="search-form__container search-form__container_room">
            <p class="search-form__section-name">Количество комнат</p>
            <ul class="search-form__rooms">
                <li class="search-form__rooms-item" formArrayName="rooms" *ngFor="let control of form.controls['rooms']['controls']; let i = index">
                    <label class="search-form__rooms-checkbox">
                        <input [formControl]="control" name="rooms" [value]="control" type="checkbox">
                        <div class="search-form__rooms-checkbox_for-click search-form__form-text"
                             [class.search-form__rooms-checkbox_for-click-first]="i === 0">
                            {{ (i === 0) ? 'Студия' : i }}
                        </div>
                    </label>
                </li>
            </ul>
        </div>
    
        <div class="search-form__container search-form__container_corpus">
            <p class="search-form__section-name">Номер корпуса</p>
    
            <div class="search-form__range search-form__range_corpus" (click)="showCorpus = !showCorpus">
                <p class="search-form__form-text">{{(form.controls['houses'].value).length === allHouses || (form.controls['houses'].value).length === 0 ? 'Все корпуса' : form.controls['houses'].value | mySearchFormPipe}}</p>
            </div>

            <div class="search-form__corpus" *ngIf="showCorpus">
                <div class="search-form__corpus-wrap">
                    <app-search-checkbox-list
                        [name]="'houses'"
                        [btnList]="config.housesList"
                        [formControl]="form.controls['houses']"
                        (close)="showCorpus = !showCorpus"
                    ></app-search-checkbox-list>
                </div>
            </div>
        </div>
    
        <div class="search-form__container">
            <p class="search-form__section-name">Цена, млн &#8381;</p>
            <div class="search-form__range">
                <div class="search-form__form-text">
                    <app-inputs-list
                        [type]="'price'"
                        [value]="rangeMoved.price"
                        [defValues]="config.price"
                        [formControl]="form.controls['price']"
                        (inputChange)="formChanges($event, 'price')"
                    ></app-inputs-list>
                </div>
                <ghm-range-number
                    [toFixed]="true"
                    [min]="config.price.min"
                    [max]="config.price.max"
                    (move)="rangeMoved.price = $event"
                    [formControl]="form.controls['price']"
                ></ghm-range-number>
            </div>
        </div>
    
        <div class="search-form__container">
            <p class="search-form__section-name">Площадь м²</p>
            <div class="search-form__range">
                <div class="search-form__form-text">
                    <app-inputs-list
                        [type]="'space'"
                        [value]="rangeMoved.space"
                        [defValues]="config.space"
                        [formControl]="form.controls['space']"
                        (inputChange)="formChanges($event, 'space')"
                    ></app-inputs-list>
                </div>
                <ghm-range-number
                    [min]="config.space.min"
                    [max]="config.space.max"
                    (move)="rangeMoved.space = $event"
                    [formControl]="form.controls['space']"
                ></ghm-range-number>
            </div>
        </div>
    
        <div class="search-form__container">
            <p class="search-form__section-name">Этаж</p>
            <div class="search-form__range">
                <div class="search-form__form-text">
                    <app-inputs-list
                        [type]="'floor'"
                        [value]="rangeMoved.floor"
                        [defValues]="config.floor"
                        [formControl]="form.controls['floor']"
                        (inputChange)="formChanges($event, 'floor')"
                    ></app-inputs-list>
                </div>
                <ghm-range-number
                    [min]="config.floor.min"
                    [max]="config.floor.max"
                    (move)="rangeMoved.floor = $event"
                    [formControl]="form.controls['floor']"
                ></ghm-range-number>
            </div>
        </div>
    
    
        <div class="search-form__container search-form__container_decor">
    
            <div class="search-form__decoration">
                <app-search-checkbox-list
                    [btnList]="config.typePlan"
                    [formControl]="form.controls['euro']"
                    [name]="'decoration'"
                ></app-search-checkbox-list>
                <app-search-checkbox-list
                    [btnList]="config.statusList"
                    [formControl]="form.controls['status']"
                    [name]="'decoration'">
                </app-search-checkbox-list>
                <app-search-checkbox-list
                    [btnList]="config.decorationList"
                    [formControl]="form.controls['decoration']"
                    [name]="'decoration'">
                </app-search-checkbox-list>
            </div>
        </div>
    
        <button class="search-form__reset-btn" (click)="formReset()">Сбросить фильтры</button>
    </div>

</form>
