<form [formGroup]="form" class="search-form" [class.search-form_open]="showFilter">

    <div class="search-form__wrapper">

        <div class="search-form__container search-form__container_room">
            <p class="search-form__section-name">Количество комнат</p>
            <ul class="search-form__rooms">
                <li class="search-form__rooms-item" formArrayName="rooms" *ngFor="let control of form.controls['rooms']['controls']; let i = index">
                    <label class="search-form__rooms-checkbox">
                        <input [formControl]="control" name="rooms" [value]="control" type="checkbox">
                        <div class="search-form__rooms-checkbox_for-click search-form__form-text"
                             [class.search-form__rooms-checkbox_for-click-first]="i === 0">
                            {{(i === 4) ? 'Студия' : i + 1}}
                        </div>
                    </label>
                </li>
            </ul>
        </div>
    
        <div class="search-form__container search-form__container_corpus">
            <p class="search-form__section-name">Номер корпуса</p>
    
            <div class="search-form__range search-form__range_corpus" (click)="showCorpus = !showCorpus">
                <p class="search-form__form-text search-form__form-text_corpus">{{form.controls['houses'].value | mySearchFormPipe}}</p>
            </div>

            <div class="search-form__corpus" *ngIf="showCorpus">
                <div class="search-form__corpus-wrap">
                    <app-search-checkbox-list
                        [btnList]="config.housesList"
                        [formControl]="form.controls['houses']">
                    </app-search-checkbox-list>
                </div>
            </div>
        </div>
    
        <div class="search-form__container">
            <p class="search-form__section-name">Цена</p>
            <div class="search-form__range">
                <span class="search-form__form-text">от 
                    <span #minPrice></span>  
                    до 
                    <span #maxPrice></span> млн &#8381;
                </span>
                <ghm-range-number
                    [formControl]="form.controls['price']"
                    [min]="config.price.min"
                    [max]="config.price.max"
                    [toFixed]="true"
                    (move)="minPrice.innerHTML = ($event.min / 1000000).toFixed(1); maxPrice.innerHTML = ($event.max / 1000000).toFixed(1)">
                </ghm-range-number>
            </div>
        </div>
    
        <div class="search-form__container">
            <p class="search-form__section-name">Площадь</p>
            <div class="search-form__range">
                <span class="search-form__form-text">от 
                    <span #minSpace></span>
                    до 
                    <span #maxSpace></span>  м²
                </span>
                <ghm-range-number
                    [formControl]="form.controls['space']"
                    [min]="config.space.min"
                    [max]="config.space.max"
                    (move)="minSpace.innerHTML = $event.min; maxSpace.innerHTML = $event.max">
                </ghm-range-number>
            </div>
        </div>
    
        <div class="search-form__container">
            <p class="search-form__section-name">Этаж</p>
            <div class="search-form__range">
                <span class="search-form__form-text">от 
                    <span #minFloor></span> 
                    до 
                    <span #maxFloor></span>
                </span>
                <ghm-range-number
                    [formControl]="form.controls['floor']"
                    [min]="config.floor.min"
                    [max]="config.floor.max"
                    [toFixed]="true"
                    (move)="minFloor.innerHTML = $event.min; maxFloor.innerHTML = $event.max">
                </ghm-range-number>
            </div>
        </div>
    
    
        <div class="search-form__container search-form__container_decor">
    
            <app-search-checkbox-list
                class="search-form__decoration"
                [btnList]="config.decorationList"
                [formControl]="form.controls['decoration']">
            </app-search-checkbox-list>
    
        </div>
    
        <button class="search-form__reset-btn" (click)="formReset()">Сбросить фильтры</button>
    </div>
    

</form>
