@import "../../../styles/modules/mixins/mixin.scss";

:host { width: 100%; }

.search-form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 99px 0 83px;
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #fff;
    z-index: 101;
    transform: translateX(100%);
    transition: transform .2s ease;
    &_open { transform: translateX(0%); }

    &__wrapper {
        width: calc(100% - 60px);
        max-width: 768px;
        display: flex;
        flex-flow: row wrap;
        box-sizing: border-box;
        @media (max-width: 767px) { width: calc(100% - 30px); }
    }

    &__container {
        width: 100%;
        margin-bottom: 50px;
        user-select: none;

        &_corpus {
            width: calc(50% - 20px);
            position: relative;
            @media (max-width: 768px) { width: 100%; }
            
        }
        &_room {
            width: 50%;
            min-width: 290px;
            margin-right: 20px;
            @media (max-width: 768px) {
                width: 100%;
                margin-right: 0;
            }
        }
    }

    &__wrap {
        display: flex;
        flex-flow: row wrap;
    }

    &__form-text { @include fw18-24; }
    &__section-name {
        font: 500 14px/20px $font-mus;
        @include font-smoothing();
        color: $col-black-7;
        margin-bottom: 10px;
    }

    &__rooms {
        display: flex;
        
        &-checkbox {

            &_for-click {
                width: 58px;
                height: 58px;
                border: 1px solid $col-97;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #fff;
                position: relative;
                z-index: 1;
                transition: background-color $transition;
                cursor: pointer;
                @media (max-width: 767px) {
                    width: 52px;
                    height: 52px;
                }
            }
            input { display: none; }
            input:checked + &_for-click {
                background-color: $col-orange;
                border-color: $col-orange;
                border-left-color: #fff;
                z-index: 0;
                color: #fff;
            }
            input:checked + &_for-click-first {
                border-left-color: $col-orange;
            }
        }
        &-item {
            &:first-child { .search-form__rooms-checkbox_for-click { border-radius: 2px 0 0 2px; } }
            &:nth-child(2) { transform: translateX(-1px); }
            &:nth-child(3) { transform: translateX(-2px); }
            &:nth-child(4) { transform: translateX(-3px); }
            &:nth-child(5) {
                transform: translateX(-4px);
                .search-form__rooms-checkbox_for-click {
                    width: 75px;
                    border-radius: 0 2px 2px 0;
                    @media (min-width: 768px) { width: 108px; }
                }
            }
        }
    }
    &__corpus {
        position: absolute;
        width: calc(100vw - 30px);
        max-width: 394px;
        height: 338px;
        background: #fff;
        right: 0;
        top: calc(100% + 10px);
        border-radius: 2px;
        box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
        z-index: 10;
        box-sizing: border-box;
        padding: 22px 20px 15px;
        transition: .2s linear;
        cursor: default;
        @media (max-width: 767px) {
            height: auto;
            
            &-wrap svg {
                display: none;
            }
        }

        &-check {
            display: flex;
            margin: 0 0 14px;

            input {
                display: none;
                &:checked + .search-form__corpus-checkbox {
                    background: url(/assets/img/check.svg) center no-repeat #e7490f;
                    border-color: #e7490f;
                }
            }
        }
        &-text,
        &-checkbox {
            transition: color $transition, border-color $transition;
            cursor: pointer;
        }
        &-text { @include fw18-24(); }
    }

    &__range {
        width: 100%;
        height: 58px;
        box-sizing: border-box;
        padding: 0 15px;
        border-radius: 2px 2px 0 0;
        box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.15);
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        &_corpus {
            &:before {
                content: '';
                width: 14px;
                height: 16px;
                position: absolute;
                top: 20px;
                right: 15px;
                background: url(/assets/img/btn_next_grey.svg) no-repeat;
                background-size: 8px 15px;
                transform: rotate(-90deg);
            }
        }
    }

    &__decoration {
        .search_list_item {
            margin-bottom: 84px;
        }
    }

    &__reset-btn {
        @include f16-24;
        color: rgba(0, 1, 5, 0.8);
        background-color: #fff;
    }
}