<section class="main__preview home-preview">

    <div class="home-preview__bgr">
        <img src="/assets/img/home-preview.jpg" alt="home-preview">
    </div>

    <div class="home-preview__container">

        <div class="home-preview__content">
            <h2 class="home-preview__content-title" *ngIf="!isAuthorizated && homePreview">{{homePreview.title}}</h2>
            <p class="home-preview__content-descr" #description *ngIf="!isAuthorizated && homePreview">
                {{homePreview.description}}
            </p>
            <ghm-textarea (change)="changeTitle($event.target.value)" 
                *ngIf="isAuthorizated" class="home-preview__content-title home-preview__content-title--admin" 
                [value]="homePreview.title"></ghm-textarea>
            <ghm-textarea (change)="changeDescr($event.target.value)" 
                *ngIf="isAuthorizated" class="home-preview__content-descr home-preview__content-descr--admin" 
                [value]="homePreview.description"></ghm-textarea>
        </div>
        <div class="home-preview__news">

            <div class="home-preview__wrap" *ngIf="videoContent && videoContent.show || isAuthorizated">
                <button class="home-preview__show-video" (click)="showVideo.emit(true)">{{videoContent.name}}</button>
                <button class="home-preview__show-video--edit" *ngIf="isAuthorizated" (click)="showVideoAdmin = true"></button>
            </div>

            <ng-container *ngFor="let news of newsShares; let i = index">

                <a class="home-preview__news-item" 
                        [ngClass]="{'home-preview__news-item--shares': news.mainThumbnail, 'active': i === activeNews}"
                        [style.top.px]="description && description.clientHeight > 90 ? (description.clientHeight + 4) * (-1) : null"
                        routerLink="{{news.mainThumbnail ? ('/news-shares/shares/list/1/' + news._id) : ('/news-shares/news/list/' + news._id)}}">
                    <h6 class="home-preview__news-title">{{!news.mainThumbnail ? 'Новости' : 'Акции'}}</h6>
                    <p class="home-preview__news-text">{{!news.mainThumbnail ? news.title : news.name}}</p>

                    <p *ngIf="news.countdown && +news.finish_date >= 0" 
                        class="home-preview__news-end">До конца акции {{news.finish_date | sharesDayPipe}}</p>
                    <p *ngIf="news.countdown && +news.finish_date < 0"  
                        class="home-preview__news-end">Акция закончилась</p>

                    <div *ngIf="newsShares.length > 1" class="home-preview__news-timeline"></div>
                </a>
            </ng-container>
        </div>
    </div>

    <div class="main__preview-threeRed" [class.main__preview-threeRed_active]="showTrojka">
        <div class="main__preview-threeRed-title_transform">
            <img alt="logo-red" src="/assets/img/3-red_ilike.svg">
        </div>
        <div class="main__preview-threeRed-title">
            <img alt="logo-red" src="/assets/img/3-red_ilike-rotate.svg">
        </div>
        <p class="main__preview-threeRed-text">
            Застройщиком проекта выступает группа компаний 3-RED - ведущий девелопер 
            полного цикла, входящий в ТОП-10 крупнейших застройщиков Московской области.
        </p>
        <p class="main__preview-threeRed-text">
            За время существования на рынке компанией выработан единый стандарт 
            качества I LIKE, который был применен при проектировании ЖК Новотомилино.
        </p>
        <a class="main__preview-threeRed-link" href="//3-red.com/" target="_blank">3-red.com</a>
        <a class="main__preview-threeRed-link" href="//ilike.ru/" target="_blank">ilike.ru</a>
    </div>
</section>

<app-home-gallery-admin class="admin-controll"
    *ngIf="isAuthorizated"
    (galleryChange)="gallerySlides = $event"
    (close)="isShowModalAdmin = false; windowScrollLocker.unblock()"
    [isShowModal]="isShowModalAdmin"
    [gallerySlides]="gallerySlides"
    [type]="'PREVIEW'">
</app-home-gallery-admin>

<app-video-admin
    *ngIf="showVideoAdmin"
    (close)="showVideoAdmin = false; videoContent = $event">
</app-video-admin>
