@import '../../../styles/modules/mixins/mixin';

.main {

    &__preview {
        width: 100%;
        height: calc(100vh - 146px);
        max-height: 760px;
        min-height: 510px;
        background: #fff;
        background-size: cover;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 266px;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);
            opacity: .8;
            bottom: 0;
            pointer-events: none;
        }

        &__admin-open-btn {
            position: absolute;
            width: 1240px;
            top: 137px;
            left: 50%;
            transform: translate(-50%);
            font-size: 32px;
            cursor: pointer;
            z-index: 1;
        }

        &-btn {
            position: absolute;
            width: $w1600;
            left: 50%;
            transform: translate(-50%);
            display: flex;
            top: 51px;
            align-items: center;
            z-index: 2;

            &-count {
                width: 110px;
                font: 54px/58px $font-mus;
                @include font-smoothing;
                color: #fff;
                margin: 0 25px 0 0;

                &_span {
                    font-size: 18px;
                    line-height: 21px;
                }
            }

            &-prev,
            &-next {
                margin: 0;
                padding: 0;
                border: none;
                width: 40px;
                height: 40px;
                box-sizing: border-box;
                border: 1px solid rgba($color: #fff, $alpha: .4);
                border-radius: 50%;
                cursor: pointer;
                transition: $transition;
                backface-visibility: hidden;

                &:hover {
                    border-color: #fff;
                    background-position-x: calc(50% - 3px);
                }
            }
            &-prev {
                background: url('/assets/img/btn_next_white.svg') 50% 50% no-repeat;
                margin: 0 10px 0 0;
            }
            &-next {
                background: url('/assets/img/btn_next_white.svg') 50% 50% no-repeat;
                transform: rotate(180deg);
            }
        }

        &-slider {
            position: relative;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;

            &-wrap {
                position: absolute;
                height: 100%;
                width: 100%;
                right: 0;
                top: 0;
                box-sizing: border-box;
                overflow: hidden;
            }

            &-list {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                white-space: nowrap;
                transition: ease-out 1s;
                transform: translateX(0%);
                will-change: transform;
            }

            &-item {
                position: relative;
                width: 100%;
                height: 100%;
                will-change: transform;
                display: inline-block;
                vertical-align: middle;
                pointer-events: none;

                &-img {
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    // z-index: 30;
                    // background: url('/assets/img/temp_photo/p5.png') center right no-repeat;
                    // background-size: cover;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                &:after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 266px;
                    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);
                    opacity: .8;
                    bottom: 0;
                }
            }
            &-descr {
                position: absolute;
                width: (1240px / 2);
                left: 50%;
                bottom: 50px;
                transform: translateX(-100%);
                backface-visibility: hidden;
                max-width: $w1600;
                transition: $transition;
                visibility: hidden;
                opacity: 0;

                &_hide {
                    transform: translateX(-53%);
                    opacity: 0;
                    visibility: hidden;
                    transition-delay: .5s;
                }
                &_show {
                    // transform: translateX(-50%);
                    opacity: 1;
                    visibility: visible;
                    transition-delay: .8s;
                }
            }
            &-title {
                max-width: 500px;
                color: #fff;
                margin: 0 0 20px;

                &.main__preview-slider-title--edit {
                    resize: none;
                    border: 1px dashed black;
                    box-sizing: border-box;
                    outline: none;
                    height: 50px;
                    color: #2e2e2e;
                }
            }
            &-text {
                max-width: 500px;
                font: 500 16px/24px $font-mus;
                @include font-smoothing;
                color: #fff;

                &.main__preview-slider-text--edit {
                    resize: none;
                    border: 1px dashed black;
                    box-sizing: border-box;
                    outline: none;
                    height: 50px;
                    color: #2e2e2e;
                }
            }
        }
        &-content {
            position: absolute;
            width: (1240px / 2);
            max-width: $w1600;
            left: 48%;
            bottom: 60px;
            display: flex;
            justify-content: flex-end;

            .preview-content__descr {
                max-width: 500px;

                &-title {
                    color: #fff;
                    margin: 0 0 20px;
                }
                &-paragraf {
                    font: 500 16px/24px $font-mus;
                    @include font-smoothing;
                    color: #fff;
                }
            }
            .preview-content__wrap {
                display: flex;


                .preview-content__shares-container {
                    width: 280px + 70px;
                    height: 80px;
                    box-sizing: border-box;
                }
                .preview-content__share {
                    position: absolute;
                    width: 280px + 70px;
                    display: block;
                    box-sizing: border-box;
                    padding: 0 45px 0 0;
                    z-index: 0;

                    &--active {
                        z-index: 1;

                        .preview-content__share-title { opacity: 1}
                        .preview-content__share-text-preview {opacity: 1}
                        .preview-content__share-paragraf { opacity: 0.7}
                    }

                    &-row {
                        display: flex;
                        align-items: baseline;
                    }

                    &-icon {
                        margin-right: 8px;
                        background: url('/assets/img/stock-ic.svg');
                        width: 28px;
                        height: 15px;
                    }

                    &-title {
                        font: 500 24px/29px $font-mus;
                        @include font-smoothing;
                        color: #fff;
                        position: relative;
                        margin: 0 0 11px;
                        opacity: 0;
                        transition: opacity 1s ease-in;
                        word-break: break-word;
                    }
                    &-text-preview {
                        padding-left: 37px;
                        opacity: 0;
                        transition: opacity 1s ease-in;
                        word-break: break-word;
                    }
                    &-paragraf {
                        padding-left: 37px;
                        font: 500 12px/18px $font-mus;
                        @include font-smoothing;
                        letter-spacing: .4px;
                        color: #fff;
                        opacity: 0;
                        margin: 0;
                        transition: color $transition, opacity 1s ease-in;
                    }
                    &:hover {
                        .g-link_white {
                            color: $col-orange;
                        }
                    }
                }

                .preview-content__news-container {
                    width: 321px;
                    height: 80px;
                    box-sizing: border-box;
                }
                .preview-content__news {
                    position: absolute;
                    width: 321px;
                    display: block;
                    z-index: 0;

                    &--active {
                        z-index: 1;

                        .preview-content__news-title { opacity: 1}
                        .preview-content__news-text-preview {opacity: 1}
                        .preview-content__news-paragraf { opacity: 0.7}
                    }

                    &-row {
                        display: flex;
                        align-items: flex-start;
                    }

                    &-icon {
                        margin-right: 8px;
                        background: url('/assets/img/news-ic.svg');
                        width: 37px;
                        height: 30px;
                    }

                    &-title {
                        @extend .preview-content__share-title;
                    }
                    &-text-preview {
                        padding-left: 46px;
                        opacity: 0;
                        transition: opacity 1s ease-in;
                        word-break: break-word;
                    }
                    .g-link_white {
                        span {
                            display: block;
                        }
                    }
                    &:hover {
                        .g-link_white {
                            color: $col-orange;
                        }
                    }
                }
            }
        }

        &-threeRed {
            width: 62px;
            height: 255px;
            min-height: 255px;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50.1%);
            backface-visibility: hidden;
            will-change: width;
            padding: 24px;
            overflow: hidden;
            box-sizing: border-box;
            background-color: #fff;
            border-radius: 4px 0 0 4px;
            z-index: 30;
            transition: .2s ease;
            cursor: pointer;

            &:hover {
                width: 82.1px;
                height: 255px;
                min-height: 255px;
            }

            &:hover .main__preview-threeRed-title_transform {
                right: -46px;
            }
            &_active {
                width: 500px;
                cursor: default;
                &:hover { width: 500px; }
                
                .main__preview-threeRed-title_transform {
                    opacity: 0;
                    pointer-events: none;
                }

                .main__preview-threeRed-title,
                .main__preview-threeRed-text,
                .main__preview-threeRed-link {
                    opacity: 1;
                    pointer-events: all;
                }
            }

            &-title_transform {
                opacity: 1;
                position: absolute;
                top: 25px;
                left: 15px;
                transition: .15s ease;
                transition-delay: opacity .05s;
            }
            &-title,
            &-text,
            &-link {
                opacity: 0;
                pointer-events: none;
                transition: .15s ease;
            }
            
            &-title {
                min-width: 452px;
            }
            &-text {
                min-width: 452px;
                font: 500 16px/24px $font-mus;
                @include font-smoothing;
                color: $col-black;
                margin: 20px 0 44px;
            }
            &-link {
                display: inline-block;
                min-width: 70px;
                font: 500 16px/22px $font-mus;
                @include font-smoothing;
                border-bottom: 1px solid;
                color: $col-orange;
            }
        }
    }
}
