<section class="main__preview" *ngIf="gallerySlides">
    <div class="main__preview-slider">
        <div class="main__preview-btn">
            <p class="main__preview-btn-count">
                <span>{{currentSlide + 1 < 10 ? '0' : ''}}{{currentSlide + 1}}</span>/<span class="main__preview-btn-count_span">{{gallerySlides.length < 10 ? '0' : ''}}{{gallerySlides.length}}</span>
            </p>
            <button (click)="prevBtn()" class="main__preview-btn-item main__preview-btn-prev"></button>
            <button (click)="nextBtn()" class="main__preview-btn-item main__preview-btn-next"></button>
        </div>

        <div class="main__preview__admin-open-btn"
             *ngIf="isAuthorizated"
             (click)="isShowModalAdmin = true; windowScrollLocker.block()">
            Загрузить
        </div>

        <div class="main__preview-slider-wrap">
            <ul class="main__preview-slider-list"  [ngStyle]="{ 'transform' : ('translateX(-' + ( this.currentSlide * this.slideWidth ) + 'px)') }">
                <li  *ngFor="let item of gallerySlides; let i = index" class="main__preview-slider-item">
                    <div class="main__preview-slider-item-img">
                        <img alt="" [src]="uploadsPath + item.image">
                    </div>
                </li>
            </ul>
        </div>

        <ng-container *ngFor="let item of gallerySlides; let i = index">
            <div *ngIf="currentSlide === i" class="main__preview-slider-descr main__preview-slider-descr_show">
                <h1 *ngIf="!isAuthorizated" class="main__preview-slider-title g-title-path">{{item.name}}</h1>
                <textarea (change)="changeName(item._id, $event.target.value)" *ngIf="isAuthorizated" class="main__preview-slider-title main__preview-slider-title--edit" [value]="item.name"></textarea>
                <p *ngIf="!isAuthorizated" class="main__preview-slider-text">{{item.description}}</p>
                <textarea (change)="changeDescription(item._id, $event.target.value)" *ngIf="isAuthorizated" class="main__preview-slider-text main__preview-slider-text--edit" [value]="item.description"></textarea>
            </div>
        </ng-container>

        <div class="main__preview-content" >
            <div class="preview-content__wrap">
                <div class="preview-content__shares-container">
                    <ng-container *ngFor="let shareSnippet of shareSnippets; let i = index">
                        <a class="preview-content__share"
                           [routerLink]="['/news-shares/shares/list/1', shareSnippet._id]"
                           [class.preview-content__share--active]="i === activeShare">
                            <div class="preview-content__share-row">
                                <span class="preview-content__share-icon"></span><h6 class="preview-content__share-title">{{shareSnippet.name}}</h6>
                            </div>
                            <p class="g-link_white preview-content__share-text-preview">{{shareSnippet.textPreview}}</p>
                            <p *ngIf="shareSnippet.countdown && +shareSnippet.finish_date >= 0" class="preview-content__share-paragraf">До конца акции {{shareSnippet.finish_date | sharesDayPipe}}</p>
                            <p *ngIf="shareSnippet.countdown && +shareSnippet.finish_date < 0"  class="preview-content__share-paragraf">Акция закончилась</p>
                        </a>
                    </ng-container>
                </div>
                <div class="preview-content__news-container">
                    <ng-container *ngFor="let newsSnippet of newsSnippets; let i = index">
                        <a class="preview-content__news"
                           [routerLink]="['/news-shares/news/list/' + newsSnippet._id]"
                           [class.preview-content__news--active]="i === activeNews">
                            <div class="preview-content__news-row">
                                <span class="preview-content__news-icon"></span><h6 class="preview-content__news-title">{{newsSnippet.title}}</h6>
                            </div>
                            <p class="g-link_white preview-content__news-text-preview">{{newsSnippet.descrPreview}}</p>
                        </a>
                    </ng-container>
                </div>
            </div>
        </div>

    </div>

    <div class="main__preview-threeRed" [class.main__preview-threeRed_active]="showTrojka">
        <div class="main__preview-threeRed-title_transform">
            <img alt="logo-red" src="/assets/img/3-red-dev.svg">
        </div>
        <div class="main__preview-threeRed-title">
            <img alt="logo-red" src="/assets/img/3-red_logo.svg">
        </div>
        <p class="main__preview-threeRed-text">
            Тройка РЭД — одна из ведущих девелоперских компаний полного цикла, входящая
            в ТОП-10 крупнейших застройщиков Московской области.
        </p>
        <a class="main__preview-threeRed-link" href="https://3-red.com/" target="_blank">3-red.com</a>
    </div>
</section>

<app-home-gallery-admin class="admin-controll"
    *ngIf="isAuthorizated"
    (galleryChange)="gallerySlides = $event"
    (close)="isShowModalAdmin = false; windowScrollLocker.unblock()"
    [isShowModal]="isShowModalAdmin"
    [gallerySlides]="gallerySlides"
    [type]="'PREVIEW'">
</app-home-gallery-admin>
