<aside class="house__sections-aside">
    <div class="house__sections-btn">
        <a class="house__sections-btn_prev" [class.house__sections-btn--disabled]="!sectionSelector[sectionNumber - 2]"
           [routerLink]="'/flats/house/' + houseNumber + '/section/' + sectionSelector[sectionNumber - 2]"
           [queryParams]="activatedRoute.snapshot.queryParams"></a>
        <span>Секция {{sectionNumber}}</span>
        <a class="house__sections-btn_next" [class.house__sections-btn--disabled]="!sectionSelector[sectionNumber]"
           [routerLink]="'/flats/house/' + houseNumber + '/section/' + sectionSelector[sectionNumber]"
           [queryParams]="activatedRoute.snapshot.queryParams"></a>
    </div>

    <div class="house__sections-notice">
        <p class="house__sections-aside-text">
            <span class="house__sections-aside-text_free">3</span>Свободно
        </p>
        <p class="house__sections-aside-text">
            <span class="house__sections-aside-text_sale">1</span>Скидка
        </p>
        <p class="house__sections-aside-text">
            <span class="house__sections-aside-text_reserve"></span>Забронировано
        </p>
    </div>
</aside>
