@import "../../styles/modules/mixins/mixin";

:host {
    min-height: calc(100vh - (64px + 51px));
    display: block;
}

.location {
    width: 100%;
    min-height: calc(100vh - (64px + 51px));

    &_aside {
        position: absolute;
        background: #ffffff;
        box-sizing: border-box;
        width: 400px;
        top: 212px;
        left: 50px;
        padding: 11px 23px;
        z-index: 1;
        display: flex;
        flex-direction: column;
        box-shadow: 0 1px 10px 3px rgba(0, 0, 0, 0.1);

        &--office { top: 10px; }

        &_list {
            box-sizing: border-box;
            display: flex;
            flex-direction: column;

            &_block {
                border-bottom: 1px solid #d8d8d8;

                &:last-child {
                    border-bottom: none;
                }
            }

            &_title {
                @include fw18-24();
                position: relative;
                padding: 12px 0 12px 33px;
                cursor: pointer;

                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 12px;
                    width: 26px;
                    height: 24px;
                }
                &:after {
                    content: '';
                    position: absolute;
                    right: 0;
                    bottom: -1px;
                    top: 0;
                    margin: auto;
                    background: url('/assets/img/location/routes/aside/caret-down.svg') center no-repeat;
                    width: 18px;
                    height: 10px;
                }

                &--open {
                    &:after {
                        background: url('/assets/img/location/routes/aside/caret-up.svg') center no-repeat;
                    }
                }

                &--auto {
                    &:before {
                        background: url('/assets/img/location/routes/aside/auto-ic.svg') center no-repeat;
                    }
                }
                &--railway {
                    &:before {
                        background: url('/assets/img/location/routes/aside/railway-ic.svg') center no-repeat;
                    }

                }
                &--bus {
                    &:before {
                        background: url('/assets/img/location/routes/aside/bus-ic.svg') center no-repeat;
                    }

                }
                &--metro {
                    &:before {
                        background: url('/assets/img/location/routes/aside/metro-ic.svg') center no-repeat;
                    }

                }
            }

            &_item {
                cursor: pointer;
                position: relative;
                margin-bottom: 16px;
                padding-left: 2px;
                transition: .2s linear;


                &:hover:not(.location_aside_list_item--active) {
                    color: #888aa1;
                }

                &:last-child {
                    margin-bottom: 12px;
                }

                &--active {
                    color: #888aa1;
                }

                &_name {
                    font: 500 16px/23px 'Museo Sans Cyrl', sans-serif;
                    @include font-smoothing;

                    &:first-child {
                        margin-top: 0;
                    }
                }

                &_hint {
                    opacity: 0.6;
                }

                &_subtext {

                    &--bus:before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 1px;
                        margin: auto;
                        background: url('/assets/img/location/routes/aside/bus-ic.svg') center no-repeat;
                        width: 13px;
                        height: 16px;
                    }

                    &_name {
                        @include fw14-20();
                        position: relative;
                        margin-top: 8px;
                        padding-left: 22px;
                    }
                    &_hint {
                        opacity: 0.6;


                    }
                }
            }
        }
    }

    &__head {
        width: 100%;
        height: 202px;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid #dcddde;
        position: relative;

        &-title { margin: 60px 0 30px; }

        &-wrap {
            width: calc(1240px - 941px);
            position: relative;
            box-sizing: border-box;
            &:nth-child(2) {
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-start;
                align-items: flex-end;
                width: 817px;
                margin-left: 124px;
                padding: 56px 0 0;
            }

            svg {
                margin: 0 0 5px;
                position: absolute;
                bottom: 10px;
                left: 0;
                font-weight: 500;
                font-family: $font-mus;
            }
        }
        &-nav {
            width: 299px;
            display: flex;
            justify-content: space-between;
            padding: 0 0 10px;
            border-bottom: 1px solid rgba(0, 1, 5, .3);

            &-link {
                @include fw18-24;
                color: rgba(0, 1, 5, .7);
                transition: $transition;
                &:hover { color: $col-black; }

                &_active {
                    position: relative;
                    color: $col-black;
                    &:before {
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: -11px;
                        width: 100%;
                        height: 2px;
                        background: $col-orange;
                    }
                }
            }
        }
    }

    &__map {
        width: 100%;
        height: calc(100vh - 202px - (64px + 51px));
        min-height: 600px;

        &--office {
            width: 100%;
            height: calc(100vh - 152px - (64px + 51px));
        }
    }

    &__routes {
        width: 100%;
        height: 100%;
        position: relative;
    }

    &__infrastructure {
        width: 100%;
        height: 100%;
        position: relative;

        &-list-item {
            &:last-of-type {
                margin: 0;
            }
        }
        &-filter {
            width: 100%;
            height: 60px;
            position: absolute;
            left: 0;
            top: calc(100% + 1px);
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1;
        }
        &-list {
            width: $w1600;
            display: flex;
            justify-content: space-between;

            &-item {
                display: flex;
                padding: 5px 10px;
                border: 1px solid rgba(32, 149, 210, 0.3);
                border-radius: 14.5px;
                transition: $transition;

                &_school {
                    background-color: rgba(174, 107, 248, 0.05);
                    border-color: rgba(171, 174, 179, 0.3);
                }
                &_kindergarten {
                    background-color: rgba(255, 203, 13, 0.05);
                    border-color: rgba(255, 203, 13, 0.3);
                }
                &_shop {
                    background-color: rgba(32, 149, 210, 0.05);
                    border-color: rgba(32, 149, 210, 0.3);
                }
                &_cafe {
                    background-color: rgba(242, 136, 61, 0.05);
                    border-color: rgba(242, 136, 61, 0.3);
                }
                &_hospital {
                    background-color: rgba(250, 145, 145, 0.05);
                    border-color: rgba(250, 145, 145, 0.3);
                }
                &_pharmacy {
                    background-color: rgba(236, 31, 39, 0.05);
                    border-color: rgba(236, 31, 39, 0.3);
                }
                &_sport {
                    background-color: rgba(29, 166, 0, 0.05);
                    border-color: rgba(29, 166, 0, 0.3);
                }
                &_recreation {
                    background-color: rgba(170, 171, 34, 0.05);
                    border-color: rgba(170, 171, 34, 0.3);
                }
                &_transport {
                    background-color: rgba(41, 122, 204, 0.05);
                    border-color: rgba(41, 122, 204, 0.3);
                }

                &:hover {

                    &.location__infrastructure-list-item_school       { border-color: #ae6bf8; }
                    &.location__infrastructure-list-item_kindergarten { border-color: #ffcb0d; }
                    &.location__infrastructure-list-item_shop         { border-color: #2095d2; }
                    &.location__infrastructure-list-item_cafe         { border-color: #f2883d; }
                    &.location__infrastructure-list-item_hospital     { border-color: #fa9191; }
                    &.location__infrastructure-list-item_pharmacy     { border-color: #ec1f27; }
                    &.location__infrastructure-list-item_sport        { border-color: #1da600; }
                    &.location__infrastructure-list-item_recreation   { border-color: #aaab22; }
                    &.location__infrastructure-list-item_transport    { border-color: #297acc; }

                    .location__infrastructure-checkbox { opacity: 1; }
                }

                &_active {

                    .location__infrastructure-checkbox {
                        background-image: url(/assets/img/check.svg);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: 63%;
                        opacity: 1;
                    }
                }
            }
        }
        &-text {
            @include fw14-20;
            cursor: pointer;
        }
        &-checkbox {
            width: 16px;
            height: 16px;
            border-radius: 50%;
            opacity: .5;
            margin: 1px 5px 0 0;
            cursor: pointer;
            transition: opacity $transition;
            &:hover { opacity: 1; }

            &_school       { background-color: #ae6bf8; }
            &_kindergarten { background-color: #ffcb0d; }
            &_shop         { background-color: #2095d2; }
            &_cafe         { background-color: #f2883d; }
            &_hospital     { background-color: #fa9191; }
            &_pharmacy     { background-color: #ec1f27; }
            &_sport        { background-color: #1da600; }
            &_recreation   { background-color: #aaab22; }
            &_transport    { background-color: #297acc; }
        }
    }
}

// Стили для офиса продаж
.office__head {
    width: 100%;
    height: 152px + 24px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #dcddde;
    position: relative;

    &-wrap {
        width: calc(1240px / 2);
        box-sizing: border-box;
        padding: 50px 0 0;
        &:nth-child(2) { padding: 60px 0 0; }
    }
    &-text {
        @include f16-24;
        color: rgba(0, 1, 5, 0.8);

        &_bold {
            font-weight: 500;
            color: $col-black;
        }
        span { white-space: nowrap; }
    }
}
