@import "../../styles/modules/mixins/mixin";

.location {
    width: 100%;
    height: calc(100vh - 146px - 51px);
    @media (max-width: 1279px) { height: calc(100vh - 67px - 51px); }

    &__way {
        position: fixed;
        left: calc(50% - (290px / 2));
        bottom: 70px;
        width: 290px;
        height: 50px;
        border-radius: 4px;
        background-color: $col-orange;
        display: none;
        z-index: 1;
        justify-content: center;
        align-items: center;
        @media (max-width: 1279px) { display: flex; }
        
        &-text {
            font: 500 16px/20px $font-mus;
            @include font-smoothing;
            color: #fff;
            text-transform: uppercase;
            padding-left: 34px;
            position: relative;
            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 24px;
                height: 20px;
                background: url(/assets/img/location/how-to-get.svg) no-repeat;
                background-size: 100%;
            }
        }
    }

    &__head {
        width: 100%;
        height: 202px;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid #dcddde;
        position: relative;
        @media (max-width: 1279px) { display: none; }

        &-title {
            font: 42px/46px 'Leksa';
            @include font-smoothing;
            margin: 60px 0 30px;
        }
        &-wrap {
            width: calc(1240px / 2);
            position: relative;
            box-sizing: border-box;
            &:nth-child(2) {
                display: flex;
                padding: 60px 0 30px;
                flex-flow: row nowrap;
                justify-content: flex-start;
                align-items: flex-end;
            }

            img {
                margin: 0 0 5px;
                position: absolute;
                bottom: 15px + 30px;
                left: 0;
            }
        }
        &-nav {
            width: 299px;
            display: flex;
            justify-content: space-between;
            padding: 0 0 10px;
            border-bottom: 1px solid rgba(0, 1, 5, .3);

            &-link {
                @include fw18-24;
                color: rgba(0, 1, 5, .7);
                transition: $transition;
                &:hover { color: $col-black; }

                &_active {
                    position: relative;
                    color: $col-black;
                    &:before {
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: -11px;
                        width: 100%;
                        height: 2px;
                        background: $col-orange;
                    }
                }
            }
        }
        &-text-wrap {
            height: 89px;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            align-items: center;
            &:nth-child(1) { margin: 0 0 0 41px; }
            &:nth-child(2) { margin: 0 0 0 31px; }
            &:nth-child(3) { margin: 0 0 0 95px; }
            &:nth-child(4) { margin: 0 0 0 108px; }
        }
        &-text {
            font: 500 36px/40px $font-mus;
            @include font-smoothing;
            color: #000105;

            span {
                font-size: 14px;
                line-height: 20px;
                margin: 0 0 0 3px;
            }
        }
        &-subtitle {
            font: 500 12px/18px $font-mus;
            @include font-smoothing;
            color: rgba(0, 1, 5, 0.6);
        }
    }

    &__map {
        width: 100%;
        height: calc(100% - 202px);
        @media (max-width: 1279px) { height: 100%; }
    }

    &__routes {
        width: 100%;
        height: 100%;
        position: relative;

        .location_aside_link--routes {
            order: 1;
        }

        .location_aside_list {
            order: 2;
            margin-bottom: 20px;
        }

        .location_aside_link--infrastructure {
            order: 3;
        }
    }

    &__infrastructure {
        width: 100%;
        height: 100%;
        position: relative;

        &-list-item {
            &:last-of-type {
                margin: 0;
            }
        }
        &-filter {
            width: 100%;
            height: 60px;
            position: absolute;
            left: 0;
            top: calc(100% + 1px);
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1;
        }
        &-list {
            width: $w1600;
            display: flex;
            justify-content: space-between;

            &-item {
                display: flex;
                &:hover { .location__infrastructure-checkbox { opacity: 1; } }

                &_active {
                    .location__infrastructure-checkbox {
                        background-image: url(/assets/img/check.svg);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: 63%;
                        opacity: 1;
                    }
                }
            }
        }
        &-text {
            @include fw14-20;
            cursor: pointer;
        }
        &-checkbox {
            width: 16px;
            height: 16px;
            border-radius: 50%;
            opacity: .5;
            margin: 1px 5px 0 0;
            cursor: pointer;
            transition: opacity $transition;
            &:hover { opacity: 1; }

            &_school       { background-color: #abaeb3; }
            &_kindergarten { background-color: #ffcb0d; }
            &_shop         { background-color: #2095d2; }
            &_cafe         { background-color: #f2883d; }
            &_hospital     { background-color: #fa9191; }
            &_pharmacy     { background-color: #ec1f27; }
            &_sport        { background-color: #1da600; }
            &_recreation   { background-color: #aaab22; }
            &_transport    { background-color: #297acc; }
        }
    }
}
// Стили для офиса продаж

// --> Иметь ввиду, Высота блока с картой настроена таким образом, что = 100%(высота экрана) - 202px(высота блока .location__head)
// --> у блока .office__head высота = 152px, следовательно для стр офиса продаж нужно будет поменять высоту карты (100% - 152px)

.office__head {
    width: 100%;
    height: 152px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #dcddde;
    position: relative;

    &-wrap {
        width: calc(1240px / 2);
        box-sizing: border-box;
        padding: 50px 0 0;
        &:nth-child(2) { padding: 60px 0 0; }
    }
    &-title {
        font: 42px/46px 'Leksa';
        @include font-smoothing;
        color: $col-black;
    }
    &-text {
        @include f16-24;
        color: rgba(0, 1, 5, 0.8);

        &_bold {
            font-weight: 500;
            color: $col-black;
        }
        span { white-space: nowrap; }
    }

    @media (max-width: 1279px) {
        height: 154px;
        flex-flow: column;
        justify-content: flex-start;
        align-items: center;

        &-wrap {
            width: 708px;
            padding: 30px 0 0;
            &:nth-child(2) { padding: 0; }
        }
        &-title {
            font-size: 30px;
            line-height: 34px;
            margin: 0 0 10px;
        }
    }
}

// Стили для офиса продаж

// --> Иметь ввиду, Высота блока с картой настроена таким образом, что = 100%(высота экрана) - 202px(высота блока .location__head)
// --> у блока .office__head высота = 152px, следовательно для стр офиса продаж нужно будет поменять высоту карты (100% - 152px)

.office__head {
    width: 100%;
    height: 152px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #dcddde;
    position: relative;

    &-wrap {
        width: calc(1240px / 2);
        box-sizing: border-box;
        padding: 50px 0 0;
        &:nth-child(2) { padding: 60px 0 0; }
    }
    &-title {
        font: 42px/46px 'Leksa';
        @include font-smoothing;
        color: $col-black;
    }
    &-text {
        @include f16-24;
        color: rgba(0, 1, 5, 0.8);

        &_bold {
            font-weight: 500;
            color: $col-black;
        }
        span { white-space: nowrap; }
    }

    @media (max-width: 1279px) {
        height: 154px;
        flex-flow: column;
        justify-content: flex-start;
        align-items: center;

        &-wrap {
            width: 708px;
            padding: 30px 0 0;
            &:nth-child(2) { padding: 0; }
        }
        &-title {
            font-size: 30px;
            line-height: 34px;
            margin: 0 0 10px;
        }
    }
}
