<div *ngIf="isOpen" class="g-modal-bg form-modal form-modal_credit">

    <div (click)="close.emit(false)" class="form-modal__close-area"></div>

    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-request">

        <button (click)="close.emit(false)" class="form-request__cls-btn"></button>

        <h1 class="form-request__title">Забронировать квартиру №{{apartmentNumber}}</h1>

        <input [formControl]="form.controls['price']" type="text" style="display: none;">
        <input [formControl]="form.controls['number']" type="text" style="display: none;">

        <div class="form-request__wrap">
            <p class="form-request__subtitle">Фамилия</p>
            <input [formControl]="form.controls['lastName']" 
                class="form-request__field"
                type="text">
        </div>
        <div class="form-request__wrap">
            <p class="form-request__subtitle">Имя</p>
            <input [formControl]="form.controls['name']" 
                class="form-request__field"
                type="text">
        </div>
        <div class="form-request__wrap">
            <p class="form-request__subtitle">Отчество</p>
            <input [formControl]="form.controls['middleName']" 
                class="form-request__field"
                type="text">
        </div>

        <div class="form-request__wrap">
            <p class="form-request__subtitle">Телефон</p>
            <input *ngIf="platform.isBrowser" [formControl]="form.controls['phone']"
                [ngClass]="{'input-invalid': !form.get('phone').valid && form.get('phone').touched }" 
                class="form-request__field" type="text" maxlength="11">
            <p class="form-request__notice">Например: 79991105522</p>
        </div>
        
        <div class="form-request__wrap form-request__wrap_last">
            <p class="form-request__subtitle">Эл. почта</p>
            <input [formControl]="form.controls['mail']" class="form-request__field" type="email">
        </div>

        <div class="form-request__wrap">

            <p class="form-request__subtitle">Когда вам позвонить?</p>

            <label class="form-request__radio-wrap">
                <input [formControl]="form.controls['wait_for_call']" value="now" type="radio" name="time">
                <div class="form-request__radio"></div>
                <p class="form-request__radio-text">
                    В ближайшее время
                    <span class="form-request__radio-text_remark">(наш лучший специалист свяжется с вами в течение 23 секунд. Это бесплатно!)</span>
                </p>
            </label>

            <label (click)="timeFocus()" class="form-request__radio-wrap  form-request__radio-wrap_time">
                <input [formControl]="form.controls['wait_for_call']" value="later" class="form-request_radio" type="radio" name="time">
                <div class="form-request__radio"></div>
                <p class="form-request__radio-text">
                    В другое удобное время:
                    <span class="form-request__radio-text_remark">(с 09:00 до 21:00 по мск)</span>
                </p>
                <input *ngIf="platform.isBrowser"
                    [ngClass]="{'time-input-active' : (form.get('wait_for_call').value === 'later' && isOpen)}"
                    [textMask]="{mask: timeMask}"
                    [formControl]="form.controls['time']"
                    class="form-request__field form-request__field_time"
                    placeholder="__:__" type="text">
            </label>

        </div>

        <div class="form-request__wrap">
            <p class="form-request__subtitle">Комментарий</p>
            <input [formControl]="form.controls['description']"
                      class="form-request__field"
                      type="text">
        </div>

        <label class="form-request__checkbox-wrap">
            <input [formControl]="form.controls['agreement']" type="checkbox">
            <div [ngClass]="{'input-invalid': ( form.get('agreement').value === false ) }" class="g-checkbox form-request__checkbox"></div>
            <span class="form-request__subtitle form-request__subtitle_checkbox">Даю согласие на обработку моих персональных данных</span>
        </label>

        <button
            [ngClass]="{'disabled-submit-btn': (!form.valid || form.get('agreement').value === false ) || (form.get('phone').value == null)}"
            [disabled]="(!form.valid || form.get('agreement').value === false ) || (form.get('phone').value == null)"
            class="form-request__btn">
            Забронировать
        </button>

        <!-- <button *ngIf="isSubmited" class="form-request__btn">Забронировать</button> -->

    </form>

</div>
