
<ng-container [ngSwitch]="name">
    <ul class="checkbox-houses" *ngSwitchCase="'houses'">
        <li class="close-area" (click)="close.emit(false)"></li>
        <li class="checkbox-houses__item" *ngFor="let btn of checkboxList">
            <label class="checkbox-houses__item-checkbox">
                <input type="checkbox" [name]="name"
                    [checked]="isChecked(btn.value) && (btn.value !== 'all' ? !isCheckedAll : true)"
                    (change)="checkBtn($event)"
                    [style.display]="'none'"
                    [value]="btn.value">
                <div class="g-checkbox"></div>
                <p>{{ btn.name }}</p>
            </label>
        </li>
    </ul>

    <ul class="checkbox-other" *ngSwitchCase="'decoration'">
        <li class="checkbox-other__item" *ngFor="let btn of btnList">
            <label class="checkbox-other__item-checkbox">
                <input type="checkbox" [name]="name"
                    [checked]="isChecked(btn.value)"
                    (change)="checkBtn($event)"
                    [style.display]="'none'"
                    [value]="btn.value">
                <p>{{btn.name}}</p>
            </label>
        </li>
    </ul>
</ng-container>
