@import "../../../../../styles/modules/mixins/mixin";

.close-area {
    position: fixed;
    top: 0; right: 0;
    bottom: 0; left: 0;
    z-index: 1;
}

.search-form {

    &--row {
        display: flex;
        margin: 23px 0 0;
    }

    &__list {

        &-item {
            position: relative;
            cursor: pointer;
            z-index: 2;

            &--decoration {
                display: flex;
                margin: 0 30px 0 0;

            }
            &--houses {
                display: flex;
                margin: 0 0 14px;
            }

            &:hover .search-form__list-checkbox,
            &:hover .search-form__list-text {
                border-color: $col-orange;
                color: $col-orange;
            }
            input {
                display: none;
                &:checked + .search-form__list-checkbox {
                    background: url(/assets/img/check.svg) center no-repeat #e7490f;
                    border-color: #e7490f;
                }
            }
        }
        &-text,
        &-checkbox {
            transition: color $transition, border-color $transition;
            cursor: pointer;
        }
        &-text {
            &--decoration {
                @include f16-24(rgba(0, 1, 5, 0.8));
            }
            &--houses {
                @include fw18-24();
                cursor: pointer;
            }
        }
        &-checkbox { background-color: #fff; }
    }
}

.decoration-checkbox {
    margin-right: 8px;
    cursor: pointer;

    &__item {
        display: block;
        cursor: pointer;

        &> input:checked + div {
            background-color: $col-orange;
            border-color: $col-orange;
            color: $col-white;
        }
        &> div {
            @include f16-24;
            border: 1px solid #979797;
            background-color: $col-white;
            border-radius: 16px;
            padding: 4px 12px;
            cursor: pointer;
        }
    }
}