@import "../../../../../styles/modules/mixins/mixin";

.close-area {
    position: fixed;
    top: 0; right: 0;
    bottom: 0; left: 0;
    z-index: 1;
}

.checkbox-houses {
    &__item {
        width: 100%;
        position: relative;
        cursor: pointer;
        z-index: 2;
        &.disabled {
            opacity: .5;
            pointer-events: none;
        }
        &+ li { margin-top: 10px; }

        &-checkbox {
            width: 100%;
            display: flex;
            align-items: center;
            transition: background-color .2s linear;
            box-sizing: border-box;
            cursor: pointer;
            &:hover {
                div { border-color: $col-orange; }
            }
            input:checked + div {
                background: url(/assets/img/check.svg) center no-repeat $col-orange;
                border-color: $col-orange;
            }
            &> div {
                width: 20px;
                height: 20px;
                min-width: 20px;
            }
            &> p {
                height: auto;
                font: 500 18px/24px $font-mus;
                @include font-smoothing;
                color: $col-black;
                padding: 0;
            }
        }
    }
}

.checkbox-other {
    display: flex;
    margin: 23px 0 0;

    &__item {
        margin-right: 8px;

        &-checkbox {
            display: flex;
            align-items: center;
            cursor: pointer;
        
            &> input {
                display: none;
                &:checked + p {
                    background-color: $col-orange;
                    border-color: $col-orange;
                    color: $col-white;
                }
            }
            &> p {
                font: 500 14px/18px $font-mus;
                @include font-smoothing;
                color: $col-black;
                white-space: nowrap;
                background-color: $col-white;
                border: 1px solid #eee;
                border-radius: 16px;
                transition: (
                    color $transition,
                    background-color $transition,
                    border-color $transition
                );
                padding: 4px 8px;
            }
        }
    }
}
