<section class="genplan">
    <div class="genplan__head">
        <div class="genplan__head_scrll">
            <div class="genplan__head-img">
                <img src="/assets/img/about/plan/group-11.jpg" alt="Генплан">
                
                <div class="markers__item markers__item_kinder">
                    <div class="markers__item-tooltip">
                        Детский сад
                    </div>
                </div>
                <div class="markers__item markers__item_school">
                    <div class="markers__item-tooltip">
                        Школа
                    </div>
                </div>
                <div class="markers__item markers__item_kinder">
                    <div class="markers__item-tooltip">
                        Детский сад
                    </div>
                </div>
                <div class="markers__item markers__item_stop">
                    <div class="markers__item-tooltip">
                        Остановка «Птицефабрика»
                    </div>
                </div>
                <div class="markers__item markers__item_shop">
                    <div class="markers__item-tooltip">
                        Торговый центр
                    </div>
                </div>
                <div class="markers__item markers__item_sport">
                    <div class="markers__item-tooltip">
                        Стадион урожай
                    </div>
                </div>
            
            </div>
        </div>
        <h1 class="genplan__head-title g-title-path">Генплан</h1>
    </div>
</section>
