@import '../../styles/modules/mixins/mixin';

.dynamic {
    width: 100%;
    min-height: calc(100vh - 77px - 80px);
    box-sizing: border-box;
    padding: 40px 0 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    @media (max-width: 760px) { padding: 32px 0 64px; }

    &__header {
        width: $mobileContainer;
        max-width: $tabletContainer;
        margin-bottom: 50px;
        position: relative;

        &-title {
            margin-bottom: 20px;
        }
        &-text {
            font: 16px/24px $font-mus;
            color: #000105;
            opacity: .8;
            margin-bottom: 40px;
        }
    }

    &__main {
        width: $mobileContainer;
        max-width: $tabletContainer;
    }
}
