<footer class="footer" *ngIf="!isHidden">
    <div class="footer__dev-logo">
        <a href="//ilike.ru" target="_blank" class="footer__dev-logo-link">
            <img src="/assets/img/footer/logo_ilike.svg" alt="ilike">
        </a>
        <a href="//3-red.com" target="_blank" class="footer__dev-logo-link">
            <img src="/assets/img/footer/logo_3red.svg" alt="3red">
        </a>
    </div>
    <!-- <a href="#" class="footer__web">
        <img class="footer__web-img" src="/assets/img/footer/watch-ic.svg" alt="live watch">
        <span href="#" class="footer__web-link">Трансляция с веб-камеры</span>
    </a> -->
    <div class="footer__social">
        <ul class="footer__social-list">
            <li class="footer__social-list-item">Мы в соцсетях:</li>
           <!-- <li class="footer__social-list-item">
                <a href="#">
                    <img src="/assets/img/footer/insta-ic.svg" alt="i">
                </a>
            </li>
            <li class="footer__social-list-item">
                <a href="#">
                    <img src="/assets/img/footer/facebook-ic.svg" alt="f">
                </a>
            </li>
            <li class="footer__social-list-item">
                <a href="#">
                    <img src="/assets/img/footer/vk-ic.svg" alt="vk">
                </a>
            </li> -->
            <li class="footer__social-list-item">
                <a  href="http://background.digital" target="_blank">
                    <img src="/assets/img/footer/background-ic.svg" alt="b">
                </a>
            </li>
        </ul>
    </div>
</footer>
