<app-commercial>
    <section class="commercial-floor" *ngIf="params">

        <div class="commercial-floor__head">
            <a class="commercial-floor__head-back" routerLink="/flats/commercial/plan">Корпус {{params.houses}}, секция {{params.sections}}</a>

            <nav class="commercial-floor__nav">
                <p class="commercial-floor__nav-title g-nav-title">Выберите секцию</p>
                <ul class="commercial-floor__nav-list">
                    <li class="commercial-floor__nav-item" *ngFor="let section of sections"
                        [ngClass]="{'active': +params.sections === +section}"
                        (click)="navigate(section)">{{section}}</li>
                </ul>
            </nav>
        </div>

        <div class="commercial-floor__image">
            <div [innerHTML]="floorSvg | houseSVGSanitizePipe" class="commercial-floor__image-scheme" *ngIf="floorSvg"></div>
            <div class="g-image-error" *ngIf="!floorSvg"></div>

            <div class="commercial-floor__image-controls">
                <app-floor-selector
                    [floorSelector]="floor"
                    [houseNumber]="params.houses"
                    [sectionNumber]="params.sections"
                    [floorNumber]="params.floor">
                </app-floor-selector>
            </div>
        </div>

        <app-loader
            [loaderShow]="loadFloorSvg && !floorSvg">
        </app-loader>
    </section>
</app-commercial>
