@import '../../../../styles/modules/mixins/mixin';

.commercial-floor {
    width: 100%;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    padding: 39px 0 70px;

    &__head {
        @include container();
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin: 0 0 24px;

        &-back {
            font: 18px/28px $font-mus;
            color: $col-black;
            padding-left: 14px + 17px;
            position: relative;
            cursor: pointer;
            &::after {
                content: url(/assets/img/prev_btn.svg);
                width: 23px;
                height: 14px;
                position: absolute;
                top: calc(50% - (28px / 2)); left: 0;
            }
        }
    }
    &__nav {

        &-title {
            color: $col-black;
            margin: 0 0 8px;
        }
        &-list {
            display: flex;
            justify-content: flex-end;
        }
        &-item {
            width: 24px;
            height: 18px;
            background-color: #eee;
            font: 14px/18px $font-mus;
            color: $col-black;
            transition: color $transition, background-color $transition;
            pointer-events: all;
            text-align: center;
            cursor: pointer;
            &+ li { margin-left: 10px;}
            &:hover {
                color: $col-white;
                background-color: $col-orange--hover;
            }
            &.active {
                color: $col-white;
                background-color: $col-red;
            }
            &.disabled {
                opacity: .5;
                pointer-events: none;
            }
        }
    }

    &__image {
        width: 1088px;
        height: 440px;
        position: relative;
        @media (max-width: 1430px) {
            width: 918px;
        }
        &.g-image-error { background-size: 45%; }

        &-scheme {
            width: 100%;
            height: 100%;

            svg {
                width: 100%;
                height: 100%;
                object-fit: contain;
                pointer-events: none;
            }
        }
        &-controls {
            height: 100%;
            display: flex;
            flex-flow: column;
            justify-content: center;
            position: absolute;
            top: 0; left: calc(100% + 48px);
        }
    }

    &__info {
        min-height: 50px;
        display: block;
        margin: 20px 0 0;
    }
}

.flat-mod {
    cursor: pointer;
    
    &--free {
        path, polygon, 
        polyline, rect {
            fill: rgb(170, 171, 34) !important;
            pointer-events: all;
            opacity: .1;
        }
        &:hover {
            path, polygon, 
            polyline, rect { opacity: .3; }
        }
    }
    &--out-of-stock {
        path, polygon,
        polyline, rect {
            pointer-events: all;
            fill: #eee;
        }
        &:hover {
            path, polygon,
            polyline, rect {
                opacity: .5;
            }
        }
    }
}