<section class="news news__view">

    <div class="news__view-nav">
        <a routerLink="/news" class="news__view-nav-link">Все новости</a>
    </div>
    
    <div class="news__view-content">
        <div class="news__view-wrap">
            <div class="news__view-content-btn">
                <button class="news__view-content-btn-prev"></button>
                <button class="news__view-content-btn-next"></button>
            </div>
            <div class="news__view-content-img">
                <img *ngIf="image.length > 0" class="news__view-content-img-item" [src]="image">
            </div>
        </div>
        <div class="news__view-wrap">
            <h1 class="news__view-title" [innerHTML]="title | lineBreakPipe"></h1>
            <div class="news__view-text-wrap">
                <p class="news__view-text" [innerHTML]="description | lineBreakPipe"></p>
                <p class="news__view-text news__view-text_date">{{created_at | date: 'd.M.yyyy' }}</p>
            </div>
        </div>
    </div>

    <!-- <div class="news__view-content" [innerHTML]="description | lineBreakPipe"></div> -->
    
</section>
