<section class="ilike">
    <div class="ilike__container">
        <div class="ilike__text">
            <figure class="ilike__logo">
                <img src="/assets/img/ilike_logo.svg" alt="ilike logo">
            </figure>
            <h2 class="ilike__heading">
                Единый стандарт качества для всех жилых комплексов
            </h2>
            <p class="ilike__description">
                Под этим термином мы&nbsp;предполагаем концепцию типового квартала
                I&nbsp;LIKE. Группа компаний 3-RED придерживается определенных стандартов
                качества проектирования жилых кварталов, по&nbsp;которым наши проекты выгодно
                отличаются от&nbsp;прочих на&nbsp;рынке
            </p>
            <a class="ilike__link" href="//ilike.ru/" target="_blank">
                <span class="ilike__link-text">Подробнее о I LIKE</span>
            </a>
        </div>
        <figure class="ilike__image">
<!--          <img src="/assets/img/ilike-img.png" alt="image">-->
          <img src="/assets/img/ilike-img_ny.png" alt="image">
        </figure>
    </div>
</section>
