@import '../../../styles/modules/mixins/mixin';

.ilike {
    background-color: #f7f7f7;
    margin: 96px 0 24px;
    overflow: hidden;
  
    &__container {
        @include container;
        display: flex;
        flex-flow: column nowrap;
        position: relative;
        min-height: 712px;
        margin: 0 auto;
        padding: 40px 0;
        box-sizing: border-box;
    }
    &__text {
        max-width: 524px;
        position: relative;
        z-index: 10;
    }
    &__logo {
        width: 110px;
        height: 40px;
    
        img {
            max-width: 100%;
            object-fit: contain;
        }
    }
    &__heading {
        font: 28px/36px $font-leksa;
        @include font-smoothing();
        margin: 16px 0 8px 0;
    }
    &__description {
        font: 18px/28px $font-mus;
        @include font-smoothing();
        color: $col-89;
        margin: 0 0 40px 0;
    }
    &__link {
        &:hover {
            .ilike__link-text {
                &::before {
                    transform: rotate(45deg);
                }
            }
        }
    }

    &__link-text {
        font: 18px/28px $font-mus;
        @include font-smoothing();
        position: relative;
        font-size: 18px;
        line-height: 18px;
        color: $col-red;
        padding: 0 22px 0 0;

        &::before {
            content: '';
            position: absolute;
            width: 16px;
            height: 16px;
            right: 0;
            top: 2px;
            background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.3762 3.22381L11.3152 8.03656C11.3109 8.37185 11.0386 8.64418 10.7033 8.64843C10.368 8.65269 10.1025 8.38717 10.1068 8.05188L10.1493 4.69903L3.65917 11.1891C3.41866 11.4296 3.03448 11.4345 2.8 11.2C2.56552 10.9655 2.57039 10.5814 2.81089 10.3409L9.29746 3.85429L5.94461 3.8968C5.60932 3.90105 5.3438 3.63553 5.34805 3.30025C5.3523 2.96496 5.62464 2.69262 5.95993 2.68837L10.7727 2.62735C10.9403 2.62523 11.0897 2.68968 11.2 2.80002C11.3103 2.91037 11.3783 3.05617 11.3762 3.22381Z' fill='%23d45a42'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-position: center;
            transform: rotate(0);
            transition: transform 0.2s ease-in-out;
        }
    }
    &__image {
        position: absolute;
        width: 540px;
        height: 462px;
        left: 320px;
        bottom: -32px;
        
        img { 
            display: block;
            max-width: 100%;
        }
    }
}

@media (max-width: 600px) {
    .ilike {
        margin: 64px 0 64px;

        &__container {
            //min-height: 712px;
            padding: 32px 0;
        }
        &__heading {
            font-size: 28px;
            line-height: 32px;
        }
        &__description {
            font-size: 16px;
            line-height: 22px;
            margin: 0 0 24px 0;
        }
        &__image {
            position: absolute;
            width: 100%;
            max-width: 450px;
            height: auto;
            left: 0;
            bottom: -10px;
        }
    }
}