@import "../../../styles/modules/mixins/mixin";

.infrastructure {
    width: 100%;
    @include screenHeight();
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    &__head {
        width: 100%;
        padding: 24px 15px 10px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;

        &-title {
            text-align: center;
            color: $col-black;
            margin: 0 0 10px;
        }
    }

    &__map {
        width: 100%;
        flex-grow: 1;
        min-height: 400px;
    }
}
