@import "../../../styles/modules/mixins/mixin";

.infrastructure {
    width: 100%;
    @include screenHeight();
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    &_map {
        width: 100%;
        height: 100%;
    }
}
