<section class="parking-floor">

    <div class="parking-floor_section">
        <ul class="parking-floor_section-list">
            <li class="parking-floor_section-list_item"><a routerLink="/parking">Машиноместа</a></li>
            <li class="parking-floor_section-list_item"> – Секция {{sectionNumber}} этаж {{floorNumber}}</li>
        </ul>
    </div>

    <div class="parking-floor_description">

        <div [innerHTML]="floorSvg | houseSVGSanitizePipe" class="parking-floor_description_scheme"></div>

        <app-parking-info-window *ngIf="infoWindow"
            [infoWindow]="infoWindow">
        </app-parking-info-window>

    </div>

</section>

<app-parking-request-window *ngIf="isRequestWindowOpen"
    (close)="isRequestWindowOpen = $event; windowScrollLocker.unblock()"
    [isOpen]="isRequestWindowOpen"
    [parkingData]="parkingData">
</app-parking-request-window>
