<aside class="flats_aside">

    <div class="flats_compass"></div>
    
    <ul class="flats_aside_breadcrumbs">
        <li class="flats_aside_breadcrumbs_item">
            <a class="flats_aside_breadcrumbs_item_link" routerLink="/flats/plan">Общий вид</a>
        </li>
        <li class="flats_aside_breadcrumbs_item">
            <a class="flats_aside_breadcrumbs_item_link" [routerLink]="['/flats/section/' + sectionNumber + '/floor/' + floorNumber ]">Секция {{sectionNumber}}, этаж {{floorNumber}}</a>
        </li>
        <li class="flats_aside_breadcrumbs_item">
            <a class="flats_aside_breadcrumbs_item_link flats_aside_breadcrumbs_item_link--active" [routerLink]="['/flats/section/' + sectionNumber + '/floor/' + floorNumber + '/apartment/' + apartmentNumber ]">Квартира №{{apartmentNumber}}</a>
        </li>
    </ul>

    <div class="flats_aside_description">
        <span class="flats_aside_description_hint">Вы можете подобрать квартиру по<br>интересующим вас параметрам</span>
        <div (click)="writePreviousUrl()" class="btn flats_aside_description_to-search">
            <span class="btn_text">Подбор по параметрам</span>
        </div>
    </div>

    <div class="flats_aside_scheme_wrap">

        <svg class="flats_aside_scheme" viewBox="0 0 130 160">

            <g fill="none" fill-rule="evenodd">
                <g id="_x34_">
                    <rect
                        (click)="svgClick.emit('4')"
                        [ngClass]="{'flats_aside_scheme_section--active': sectionNumber === 4 }"
                        class="flats_aside_scheme_section"
                        x="0.5" y="26.5" width="24" height="50"/>
                    <text transform="translate(0 -5)" class="flats_aside_scheme_count"><tspan x="8" y="57">4</tspan></text>
                </g>
                <g id="_x33_">
                    <path
                        (click)="svgClick.emit('3')"
                        [ngClass]="{'flats_aside_scheme_section--active': sectionNumber === 3 }"
                        class="flats_aside_scheme_section"
                        d="M0.5,76.5 L0.5,114.5 L36.4764615,114.5 L36.4764615,93.5 L24.5,93.5 L24.5,76.5 L0.5,76.5 Z"/>
                    <text transform="translate(0 -5)" class="flats_aside_scheme_count"><tspan x="14" y="114">3</tspan></text>
                </g>
                <g id="_x32_">
                    <rect
                        (click)="svgClick.emit('2')"
                        [ngClass]="{'flats_aside_scheme_section--active': sectionNumber === 2 }"
                        class="flats_aside_scheme_section"
                        x="36.5" y="93.5" width="41.0304569" height="21"/>
                    <text transform="translate(0 -5)" class="flats_aside_scheme_count"><tspan x="53" y="114">2</tspan></text>
                </g>
                <g id="_x31_">
                    <path
                        (click)="svgClick.emit('1')"
                        [ngClass]="{'flats_aside_scheme_section--active': sectionNumber === 1 }"
                        class="flats_aside_scheme_section"
                        d="M77.5,93.5 L77.5,114.5 L95.5093844,114.5 L95.5093844,134.518637 L116.47359,134.518637 L116.491605,115.376433 L116.473532,93.5 L77.5,93.5 Z"/>
                    <text transform="translate(0 -5)" class="flats_aside_scheme_count"><tspan x="94" y="114">1</tspan></text>
                </g>

                <g transform="translate(90 -5)">
                    <circle cx="13.946" cy="37.485" r="13" stroke="#606060"/>
                    <text fill="#606060" font-family="Montserrat-Regular, Montserrat" font-size="15">
                        <tspan x="8" y="15.485">С</tspan>
                    </text>
                    <path fill="#606060" fill-rule="nonzero" d="M14 37.5v8h-1v-8H9l4.5-9 4.5 9h-4z"/>
                </g>

                <text fill="#606060" font-family="Montserrat-Regular, Montserrat" font-size="12" transform="translate(0 -5)">
                    <tspan x="0" y="162">Барвихинская улица</tspan>
                </text>
            </g>
        </svg>
    </div>

</aside>
