$font: 15px/23px 'Montserrat'; 
$color: #606060;

@mixin font-smoothing {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flats_compass {
    width: 68px;
    height: 74px;
    background: url('/assets/img/flats/compass-dark.svg') no-repeat;    
    background-size: 100%;
    position: absolute;
    top: 93px;
    left: calc(100vw - 105px);
    z-index: 20; 
    transform: rotate(106deg);
    pointer-events: none;
    
    @media (max-width: 1280px) {
        transform: rotate(-64deg);

    }
}

.flats_aside {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    box-sizing: border-box;
    padding: 93px 0 0 40px;

    &_breadcrumbs {
        display: flex;
        margin-bottom: 20px;

        &_item {
            margin-left: 20px;
            position: relative;

            &:before {
                content: '—';
                position: absolute;
                color: $color;
                top: 2px;
                left: -18px;
                @include font-smoothing();
            }

            &:first-of-type {
                margin: 0;

                &:before {
                    display: none;
                }
            }

            &_link {
                font: $font;
                color: $color;
                @include font-smoothing();
                cursor: pointer;
                transition: .2s linear;
                position: relative;


                &:before {
                    content: '';
                    width: 100%;
                    height: 1px;
                    background: rgba(136,139,162,.7);
                    position: absolute;
                    bottom: 1px;
                    left: 0;
                    transition: .2s linear;
                }

                &--active {
                    cursor: default;

                    &:before {
                        display: none;
                    }
                }

                &:not(.flats_aside_breadcrumbs_item_link--active) {

                    &:hover {
                        text-shadow: 0 0 8px #8fe3f9;
                        color: #cda571;
                        
                        &:before {
                            opacity: 0;
                        }
                    }
                }
            }
        }
    }

    &_description {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &_title {
            line-height: 38px;
            color: $color;
            margin-bottom: 5px;
            width: 263px;
            color: #2E2E2E;

            &--dark {
                color: #2e2e2e;
            }
        }

        &_hint {
            font: $font;
            color: $color;
            @include font-smoothing();
            margin-bottom: 12px;
            width: 274px;

            &--dark {
                color: #606060;
            }
        }

        &_to-search {
            width: 271px;
            height: 50px;
            background: url('/assets/img/flats/house/goldBtn.jpg') no-repeat;
            border-radius: 5px;
            padding: 0 30px;
                box-shadow: 0 0 12px rgb(202, 170, 121);

            .btn_text {
                font-size: 18px;
                font-weight: bold;
                line-height: 1.67;
                color: #fff;
            }

            &:hover {
                box-shadow: 0 0 7px 3px #cda571;
                
            }
        }
    }

    &_scheme_wrap {
        position: absolute;
        left: 30px;
        bottom: 100px;
        z-index: 1;
        width: 170px;
        height: 176px;
    }
}


.flats_aside_scheme {
    width: 100%;
    height: 100%;
    
    &_link {
        cursor: pointer;
    }

    &_count {
        font: 15px 'Montserrat', sans-serif;
        fill: #323232;
        @include font-smoothing();
        transition: .2s linear;
        z-index: 1;
        pointer-events: none;
    }

    &_section {
        fill: transparent;
        stroke: #606060;
        stroke-width: 0.932;
        stroke-miterlimit: 10;
        transition: .2s linear;
        cursor: pointer;

        &:hover {
            fill: #f2e7d5;
            stroke: #606060;
        }

        &--active {
            fill: #cda571;
            stroke: #cda571;
        }
    }
}
