@import "../../../../styles/modules/mixins/mixin";

<<<<<<< HEAD
=======


.shares-list {

    &__content {
        width: 100%;
        position: relative;
        display: flex;
        flex-flow: row wrap;
    }

    &__item {
        width: 287px;
        margin: 0 30px 40px 0;
        position: relative;
        cursor: pointer;
        &:nth-child(6n),
        &:nth-child(6n + 1) { width: 606px; }
        &:nth-child(3n) { margin: 0 0 40px; }
        &:hover .shares-list__item-img img { transform: scale(1.1); }
        &:hover .shares-list__item-descr-title { color: $col-orange; }
        @media (max-width: 1279px) {
            width: calc(50% - 15px);
            &:nth-child(3n + 1) {
                width: 100%;
                margin: 0 0 40px;
            }
            &:nth-child(3n) {
                width: calc(50% - 15px);
                margin: 0 0 40px;
            }
        }

        &-link {
            width: 100%;
            height: 100%;
        }
        &-img {
            width: 100%;
            height: 383px;
            position: relative;
            border-radius: 4px;
            overflow: hidden;
            &:after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transform: scale(1);
                will-change: transform;
                transition: $trans-img;
            }
        }
        &-end {
            min-width: 257px;
            height: 55px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 4px;
            background: #e7490f;
            opacity: .4;
            box-sizing: border-box;
            padding: 0 20px;
            display: flex;
            align-items: center;
            z-index: 1;

            span {
                font: 16px/24px "Museo Sans Cyrl";
                @include font-smoothing;
                color: #fff;
                font-weight: 500;
                position: relative;
                padding: 0 0 0 32px;
                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 25px;
                    height: 25px;
                    background: url('/assets/img/news/clock.svg') no-repeat;
                    background-size: 100%;
                }
            }
        }

        &-descr {
            margin: 10px 0 0;

            &-title {
                font: 500 20px/24px $font-mus;
                @include font-smoothing;
                color: $col-black;
                margin: 0 0 10px;
                transition: 0.2s linear;
                position: relative;
                padding: 0 0 0 33px;
                &:before {
                    content: '';
                    position: absolute;
                    width: 27px;
                    height: 15px;
                    top: calc(50% - 8px);
                    left: 0;
                    background: url(/assets/img/stock-ic.svg) no-repeat;
                }
            }
            &-text {
                font: 16px/24px $font-mus;
                @include font-smoothing;
                color: rgba(0, 1, 5, 0.8);
                margin: 0 0 10px;
            }
            &-date {
                font: 500 12px/20px "Museo Sans Cyrl";
                @include font-smoothing;
                color: rgba(0, 1, 5, 0.6);
                letter-spacing: .4px;
            }
        }
        
        &-btn {
            position: absolute;
            right: 20px;
            top: 273px;
            width: 180px;
            height: 90px;
            z-index: 1;
        }
        &-edit,
        &-delete {
            width: 180px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
            font: 500 16px/20px "Museo Sans Cyrl";
            @include font-smoothing;
            color: #fff;
            background: #0070c9;
            border-radius: 4px;
            box-sizing: border-box;
            box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
            cursor: pointer;
        }
        &-delete {
            background: transparent;
            border: 1px solid #0070c9;
            margin: 10px 0 0;
        }
    }
}

>>>>>>> novot/RED3-183_location-marker
.admin {
    &__add-news,
    &__add-stock {
        display: block;
        width: 217px;
        height: 40px;
        background: #0070c9;
        font: 500 16px/20px $font-mus;
        @include font-smoothing;
        color: #fff;
        text-transform: uppercase;
        border-radius: 4px;
    }
    &__add-news { margin: 0 0 10px; }
}
