@import "../../../../styles/modules/mixins/mixin";

.admin {
    &__add-news,
    &__add-stock {
        display: block;
        width: 217px;
        height: 40px;
        background: #0070c9;
        font: 500 16px/20px $font-mus;
        @include font-smoothing;
        color: #fff;
        text-transform: uppercase;
        border-radius: 4px;
    }
    &__add-news { margin: 0 0 10px; }
}
