<div class="search-form__container" [ngClass]="{'search-form__container--fixed' : !parentPlan }" *ngIf="form">

    <form [formGroup]="form" class="search-form">

        <div class="search-form__wrap">

            <div class="search-form__wrap-item search-form__wrap-item_room">
                <p class="search-form__subtitle">Количество комнат</p>
                <ul class="search-form__rooms">
                    <li formArrayName="rooms" *ngFor="let control of form.controls['rooms']['controls']; let i = index"
                        class="search-form__rooms-item">
                        <label class="search-form__rooms-checkbox">
                            <input [formControl]="control" name="rooms" [value]="control" type="checkbox">
                            <div class="search-form__rooms-checkbox_for-click search-form__text"
                                 [class.search-form__rooms-checkbox_for-click-first]="i === 0">
                                {{ (i === 0) ? 'С' : i }}
                            </div>
                        </label>
                    </li>
                </ul>
            </div>
            <div class="search-form__wrap-item search-form__wrap-item_price">
                <p class="search-form__subtitle">Цена, млн &#8381;</p>

                <div class="search-form__range search-form__range_price">
                    <div class="search-form__range-text search-form__text">
                        <app-inputs-list
                            [type]="'price'"
                            [value]="rangeMoved.price"
                            [defValues]="config.price"
                            [formControl]="form.controls['price']"
                            (inputChange)="formChanges($event, 'price')"
                        ></app-inputs-list>
                    </div>

                    <ghm-range-number
                        [toFixed]="true"
                        [min]="config.price.min"
                        [max]="config.price.max"
                        (move)="rangeMoved.price = $event"
                        [formControl]="form.controls['price']"
                    ></ghm-range-number>
                </div>
            </div>
            <div class="search-form__wrap-item search-form__wrap-item_square">
                <p class="search-form__subtitle">Площадь м²</p>

                <div class="search-form__range search-form__range_square">
                    <div class="search-form__range-text search-form__text">
                        <app-inputs-list
                            [type]="'space'"
                            [value]="rangeMoved.space"
                            [defValues]="config.space"
                            [formControl]="form.controls['space']"
                            (inputChange)="formChanges($event, 'space')"
                        ></app-inputs-list>
                    </div>

                    <ghm-range-number
                        [min]="config.space.min"
                        [max]="config.space.max"
                        (move)="rangeMoved.space = $event"
                        [formControl]="form.controls['space']"
                    ></ghm-range-number>
                </div>
            </div>
            <div class="search-form__wrap-item search-form__wrap-item_floor">
                <p class="search-form__subtitle">Этаж</p>

                <div class="search-form__range search-form__range_floor">
                    <div class="search-form__range-text search-form__text">
                        <app-inputs-list
                            [type]="'floor'"
                            [value]="rangeMoved.floor"
                            [defValues]="config.floor"
                            [formControl]="form.controls['floor']"
                            (inputChange)="formChanges($event, 'floor')"
                        ></app-inputs-list>
                    </div>

                    <ghm-range-number
                        [min]="config.floor.min"
                        [max]="config.floor.max"
                        (move)="rangeMoved.floor = $event"
                        [formControl]="form.controls['floor']"
                    ></ghm-range-number>
                </div>
            </div>
            <div class="search-form__wrap-item search-form__wrap-item_corpus">
                <p class="search-form__subtitle">Номер корпуса</p>

                <div class="search-form__range search-form__range_corpus" (click)="showCorpus = !showCorpus">
                    <p class="search-form__text">{{(form.controls['houses'].value).length === allHouses || (form.controls['houses'].value).length === 0 ? 'Все корпуса' : form.controls['houses'].value}}</p>
                </div>

                <div *ngIf="showCorpus"
                     class="search-form__corpus"
                     [class.search-form__corpus--position-top]="!parentPlan">
                    <app-search-checkbox-list
                        [name]="'houses'"
                        [parentPlan]="parentPlan"
                        (close)="showCorpus = false"
                        [btnList]="config.housesList"
                        [formControl]="form.controls['houses']"
                    ></app-search-checkbox-list>
                </div>
            </div>

            <button class="search-form__reset-filter" (click)="formReset()">Сбросить фильтры</button>
            <!-- <button class="search-form__btn"
                    (click)="moreFilter = !moreFilter">{{moreFilter ? 'Свернуть' : 'Еще параметры'}}</button> -->
        </div>

        <div class="search-form__wrap search-form__wrap_decoration">
            <div class="search-form__wrap">
                <app-search-checkbox-list
                    [btnList]="config.typePlan"
                    [formControl]="form.controls['euro']"
                    [name]="'decoration'"
                ></app-search-checkbox-list>
                <app-search-checkbox-list
                    [btnList]="config.statusList"
                    [formControl]="form.controls['status']"
                    [name]="'decoration'">
                </app-search-checkbox-list>
                <app-search-checkbox-list
                    [btnList]="config.decorationList"
                    [formControl]="form.controls['decoration']"
                    [name]="'decoration'">
                </app-search-checkbox-list>
                <app-search-checkbox-list
                    [btnList]="config.furniture"
                    [formControl]="form.controls['furniture']"
                    [name]="'decoration'">
                </app-search-checkbox-list>
            </div>
            <a href="javascript:void(0)" class="search-form__popular" (click)="openPopularModal()">Популярные категории</a>
        </div>

    </form>

</div>
