@import "../../../../styles/modules/mixins/mixin";

.purchase__filter {
    width: 100%;
    position: relative;
    &_disable {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgba(255, 255, 255, 0.6);
        z-index: 1;
    }

    &-range {
        width: 100%;
        max-width: $w1600;
        display: flex;
    }
    &-item {
        width: 287px;
        overflow: hidden;

        &:not(:last-child) {
            margin: 0 30px 0 0;
        }
        &-text {
            font: 500 14px/20px $font-mus;
            @include font-smoothing;
            color: $col-black;
            opacity: .6;
            margin: 0 0 10px;
            border-top: 1px solid #fff;
        }
        &-size {
            font: 500 18px/24px $font-mus;
            @include font-smoothing;
            color: $col-black;
        }
        &-range-line {
            width: 100%;
            margin: 13px 0;
            height: 1px;
            background: rgba(0, 1, 5, .3);
            position: relative;
        }
        &-range-circle {
            width: 15px;
            height: 15px;
            background: #e7490f;
            position: absolute;
            left: 70px;
            top: 0;
            transform: translateY(-50%);
            backface-visibility: hidden;
            border-radius: 50%;
            cursor: pointer;

            &:before {
                content: '';
                position: absolute;
                width: 218px;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                backface-visibility: hidden;
                height: 1px;
                background: inherit;
            }
        }
    }
    &-checkbox {
        width: 100%;
        max-width: $w1600;
        display: flex;
        margin: 25px 0 0;

        &-item:not(:last-child) {
            margin: 0 40px 0 0;
        }
        &-item {
            display: flex;

            input {
                display: none;
            }
            &:hover {
                label {
                    color: $col-orange;
                    border-color: $col-orange;
                    opacity: 1;
                }
            }
            .g-checkbox {
                transition: border-color $transition;
            }
        }
        input:checked + .g-checkbox {
            background: url('/assets/img/purchase/check.svg') center no-repeat #e7490f;
            border-color: #e7490f;
        }
        &-text {
            font: 16px/24px $font-mus;
            @include font-smoothing;
            color: $col-black;
            opacity: .8;
            cursor: pointer;
            transition: $transition;
        }
    }
    &-show-result {
        display: none;
        box-sizing: border-box;
        width: 100%;
        max-width: calc(100% - 30px);
        margin: 50px 0 0;

        &-btn {
            width: 100%;
            border: 1px solid #999a9b;
            border-radius: 4px;
            background-color: #fff;
            padding: 12px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font: 16px/24px $font-mus;
            @include font-smoothing;
            color: rgba(16, 1, 5, .8);
        }
    }
}

@media (max-width: 1279px) {
    :host { width: 50%; }
    .purchase__filter {
        box-sizing: border-box;
        padding: 0 15px 0 0;
    }
    .purchase__filter {
        &-range,
        &-checkbox {
            display: block;

            &-item {
                align-items: center;
                &:not(:last-child) { margin: 0 0 20px; }

                .g-checkbox {
                    width: 30px;
                    height: 30px;
                }
            }
            input:checked + .g-checkbox {
                background-size: 77%;
            }
        }
        &-item {
            width: calc(100% - 15px);
            &:not(:last-child) { margin: 0 0 38px; }
        }
    }
}
