<div class="builder about_container">
    <div class="builder_head">
        <img src="/assets/img/JK-head.jpg" alt="">
        <div class="builder_head_title">
            <h1 class="title builder_head_item">Генплан</h1>
        </div>
        <!-- <div class="builder_head_marker builder_head_marker--dub">
            <span>Парк Дубки</span>
        </div>
        <div class="builder_head_marker builder_head_marker--sht">
            <span>Охраняемая территория</span>
        </div>
        <div class="builder_head_marker builder_head_marker--scho">
            <span>Школа №1400 и дошкольное отделение</span>
        </div>
        <div class="builder_head_marker builder_head_marker--sport">
            <span>Спортивная площадка</span>
        </div>
        <div class="builder_head_marker builder_head_marker--child">
            <span>Детская площадка</span>
        </div>
        <div class="builder_head_marker builder_head_marker--mag" title="Супермаркет">
            <span>Супермаркет</span>
        </div>
        <div class="builder_head_marker builder_head_marker--park" title="Въезд в подземный паркинг">
            <span>Въезд в подземный паркинг</span>
        </div>
        <div class="builder_head_marker builder_head_marker--skol">
            <span>Сколково</span>
        </div>
        <div class="builder_head_marker builder_head_marker--vegas">
            <span>ТЦ Вегас</span>
        </div> -->

        <div *ngFor="let genplan of genplans" class="builder_head_marker builder_head_marker--{{genplan.mod}}">
            <span>{{genplan.title}}</span>
        </div>
    </div>
    <div class="builder_gallery">
        <div class="builder_gallery_title">
            <h1 class="title">Галерея</h1>
        </div>
    </div>
    <div class="builder__gallery-owl">
        <div class="builder__gallery__wrap">
            <div class="builder__gallery__slider">
                <ul class="builder__gallery__list swiper-wrapper-about owl-theme owl-carousel about_owl-theme">
                    <li class="builder__gallery__item swiper-slide">
                        <img src="/assets/img/about/builder/bedroom.jpg" class="builder__gallery__photo">
                        <span class="builder__gallery__name">Рендер</span>
                    </li>
                    <li class="builder__gallery__item swiper-slide">
                        <img src="/assets/img/about/builder/bathroom.jpg" class="builder__gallery__photo">
                        <span class="builder__gallery__name">Рендер</span>
                    </li>
                    <li class="builder__gallery__item swiper-slide">
                        <img src="/assets/img/about/builder/kitchen.jpg" class="builder__gallery__photo">
                        <span class="builder__gallery__name">Рендер</span>
                    </li>
                    <li class="builder__gallery__item swiper-slide">
                        <img src="/assets/img/about/builder/living-room.jpg" class="builder__gallery__photo">
                        <span class="builder__gallery__name">Рендер</span>
                    </li>
                    <li class="builder__gallery__item swiper-slide">
                        <img src="/assets/img/about/builder/child-room.jpg" class="builder__gallery__photo">
                        <span class="builder__gallery__name">Рендер</span>
                    </li>
                    <li class="builder__gallery__item swiper-slide">
                        <img src="/assets/img/about/builder/koridor.jpg" class="builder__gallery__photo">
                        <span class="builder__gallery__name">Рендер</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="builder_indicators">
        <div class="builder_indicators__wrap">
            <p class="builder_indicators__title">Технико-экономические показатели</p>
            <div class="builder_indicators__roster">
                <div class="builder_indicators__item">
                    <p class="builder_indicators__subtitle">2019-2020</p>
                    <span class="builder_indicators__text">Сроки строительства</span>
                </div>
                <div class="builder_indicators__item">
                    <p class="builder_indicators__subtitle">10</p>
                    <span class="builder_indicators__text">Количество этажей</span>
                </div>
                <div class="builder_indicators__item">
                    <p class="builder_indicators__subtitle">261</p>
                    <span class="builder_indicators__text">Количество квартир</span>
                </div>
                <div class="builder_indicators__item">
                    <p class="builder_indicators__subtitle">15 688 м²</p>
                    <span class="builder_indicators__text">Общая площадь квартир</span>
                </div>
            </div>
        </div>
    </div>
    <div class="builder_main">

        <h1 class="title builder_main_title">О застройщике</h1>

        <div class="builder_main_description">

            <span class="builder_main_description_content">Тройка РЭД — девелопер, специализирующийся на комплексной жилой застройке в московском регионе.</span>

            <span class="builder_main_description_content">Компания реализует функции застройщика, технического заказчика, генерального подрядчика и эксплуатации. Это позволяет управлять проектами «под ключ»: от идеи до передачи готовых объектов недвижимости собственникам и их последующей эксплуатации.</span>

            <span class="builder_main_description_content builder_main_description_content--margin">Мы не просто строим красивые жилые дома, мы создаем благоприятную среду обитания, включая школы, детские сады, поликлиники, торговые центры, парковки, благоустроенные дворы и зеленые зоны.</span>

            <span class="builder_main_description_territory">В нашем портфеле

                <span class="builder_main_description_territory_number">1 200 000 м<sup>2</sup></span>
            
            </span>

            <a class="builder_main_description_link" href="http://www.3-red.com/" target="_blank">3-red.com</a>

        </div>

        <div class="builder_main_map">

            <ng-container *ngFor="let marker of markers" [ngSwitch]="marker.empty">
                
                <div [@markersFalling]="markersFallingState" *ngSwitchCase="true" class="builder_main_map_marker builder_main_map_marker--{{marker.mod}}"></div>

                <ng-container *ngIf="marker.mod !== 'academicheskaya' && marker.mod !== 'bh'">
                    <a [@markersFalling]="markersFallingState" *ngSwitchCase="false" class="builder_main_map_marker builder_main_map_marker--{{marker.mod}}" [href]="marker.link" target="_blank">
                        <span [@markersInnerOpacity]="markersInnerOpacityState" class="builder_main_map_marker_text builder_main_map_marker_text--{{marker.mod}}">{{marker.title}}</span>
                        <div [@markersInnerOpacity]="markersInnerOpacityState" class="builder_main_map_marker_description builder_main_map_marker_description--{{marker.mod}}">
                            <img class="builder_main_map_marker_description_bgr" [src]="marker.image">
                        <!-- <div class="builder_main_map_marker_description_content">
                                <img class="builder_main_map_marker_description_logo" [src]="marker.logo">
                                <span class="builder_main_map_marker_description_text" [innerHTML]="marker.description"></span>
                            </div> -->
                        </div>
                    </a>
                </ng-container>

                <ng-container  *ngIf="marker.mod === 'academicheskaya' || marker.mod === 'bh'">
                    <a [@markersFalling]="markersFallingState" *ngSwitchCase="false" class="builder_main_map_marker builder_main_map_marker--{{marker.mod}}" href="javascript:void(0)" target="_blank">
                        <span [@markersInnerOpacity]="markersInnerOpacityState" class="builder_main_map_marker_text">{{marker.title}}</span>
                        <div [@markersInnerOpacity]="markersInnerOpacityState" class="builder_main_map_marker_description builder_main_map_marker_description--{{marker.mod}}">
                            <img class="builder_main_map_marker_description_bgr" [src]="marker.image">
                        </div>
                    </a>
                </ng-container>
            </ng-container>

        </div>

    </div>

</div>
