$font: 18px/31px 'Montserrat', sans-serif;
@import "../../../styles/modules/mixins/mixin";

@mixin font-smoothing {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.genplan {
    width: 100%;
    height: calc(100vh - 146px);
    position: relative;

    &__head {
        width: 100%;
        height: 100%;
        overflow: hidden;

        &-title {
            width: 100%;
            max-width: $w1600;
            position: absolute;
            top: 40px;
            left: 50%;
            transform: translateX(-50%);
        }
        &_scrll,
        &-img {
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.about-project {

    &__head,
    &__content {
        width: 604.5px;
        max-width: $w1600;

        &:not(.about-project__content) {
            margin: 0 30px 0 0;
        }
    }

    &__head {
        &-title {
            margin: 120px 0 20px;
            color: $col-black;
        }
        &-subtitle {
            font: 500 18px/24px $font-mus;
            @include font-smoothing;
            color: $col-black;
        }
    }
    &__content {
        &-descr {
            font: 16px/24px $font-mus;
            @include font-smoothing;
            color: $col-black;
            margin: 134px 0 30px;
            opacity: .8;
        }
        &-info {
            width: 100%;
            display: flex;
            flex-flow: row wrap;
        }

        &-item {
            width: 50%;
            margin: 0 0 20px;
        }
        &-title {
            font: 500 16px/23px $font-mus;
            @include font-smoothing;
            color: $col-black;
            margin: 0 0 6px;
        }
        &-subtitle {
            font: 500 20px/24px $font-mus;
            @include font-smoothing;
            color: #e7490f;
        }
    }
}

.gallery {

    &__title {
        width: 100%;
        max-width: $w1600;
        margin: 120px 0 40px;
    }
    &__nav {
        width: calc(100% - 60px);
        max-width: $w1600;
        margin: 0 0 30px;

        &-list {
            width: 394px;
            display: flex;
            justify-content: space-between;
            list-style: none;
            @include fw18-24(rgba(0, 1, 5, .7));
            box-sizing: border-box;
            border-bottom: 1px solid rgba(0, 1, 4, .3);
            padding: 0 0 10px;

            &-item {
                transition: $transition;
                cursor: pointer;

                &:hover {
                    color: $col-black;
                }
            }

            &-item_active {
                position: relative;
                color: $col-black;

                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: -11px;
                    width: 100%;
                    height: 2px;
                    background: $col-orange;
                }
            }
        }
    }
}

.developer {

    &__head,
    &__content {
        width: 604.5px;
        max-width: $w1600;

        &:not(.developer__content) {
            margin: 0 30px 0 0;
        }
    }
    &__head {
        &-title {
            margin: 120px 0 20px;
            color: $col-black;
            white-space: nowrap;
        }
        &-subtitle {
            font: 500 18px/24px $font-mus;
            @include font-smoothing;
            color: $col-black;
        }
    }
    &__content {
        &-info {
            font: 16px/24px $font-mus;
            @include font-smoothing;
            color: $col-black;
            margin: 0;
            opacity: .8;

            &:not(:last-child) {
                margin: 134px 0 30px;
            }
        }
    }

    &__project {
        width: 100%;
        max-width: $w1600;

        &-title {
            font: 500 20px/24px $font-mus;
            @include font-smoothing;
            color: $col-black;
            margin: 30px 0;
            width: 100%;
        }
        &-link {
            text-decoration: none;
            position: relative;

            &:before {
                content: '';
                position: absolute;
                width: 100%;
                height: 1px;
                background-color: $col-orange;
                right: 0;
                bottom: 0;
                transition: width .6s ease;
            }
            &:hover {
                &:before {
                    width: 0%;
                }
            }
        }
        &-grid {
            display: grid;
            grid-template: repeat(4, 260px)/repeat(2, 605px);
            gap: 30px;

            &-item {
                padding: 20px 20px 15px;
                box-sizing: border-box;
                width: 100%;
                position: relative;
                border-radius: 4px;
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-between;
                overflow: hidden;
                will-change: transform;

                &:hover .grid-item__bg-image {
                    transform: scale(1.1);
                }
                &:hover .grid-item__name-title {
                    color: #d45a42; // Уточнить размер увеличения
                }

                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 4px;
                    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .5));
                }

                .grid-item__bg-image {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    left: 0;
                    top: 0;
                    z-index: -1;
                    transform: scale(1);
                    transition: $trans-img;
                    will-change: transform;
                }

                .grid-item__location {
                    display: flex;

                    &-city,
                    &-distance {
                        padding: 5px 10px;
                        background: #fff;
                        position: relative;
                        font: 500 14px/20px $font-mus;
                        @include font-smoothing;
                        color: $col-black;
                    }
                    &-city {
                        border-radius: 4px 0 0 4px;
                        margin: 0 1px 0 0;
                    }
                    &-city_barviha {
                        border-radius: 4px;
                    }
                    &-distance {
                        border-radius: 0 4px 4px 0;
                    }
                }
                .grid-item__name {
                    position: relative;

                    &-title {
                        font: 500 24px/29px $font-mus;
                        @include font-smoothing;
                        color: #fff;
                        transition: $transition;
                    }
                    &-subtitle {
                        font: 500 14px/20px $font-mus;
                        @include font-smoothing;
                        color: #fff;
                    }
                }
            }
            .grid-item_one {
                grid-row-start: 1;
                grid-row-end: 3;
                grid-column-start: 1;
                grid-column-end: 2;
            }
            .grid-item_five {
                grid-row-start: 3;
                grid-row-end: 5;
                grid-column-start: 2;
                grid-column-end: 3;
            }
        }
    }
}

@media (max-width: 1279px) {
    .genplan {
        max-height: 805px;
        height: calc(62.94vw - 51px);
        min-height: 432px;
    }

    .main__container_row {
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
    }
    .about-project__head,
    .genplan__head-title,
    .about-project__content,
    .gallery__title,
    .gallery__nav,
    .developer__head,
    .developer__content {
        width: 100%;
        max-width: 708px;
    }
    .about-project__head:not(.about-project__content),
    .developer__head:not(.developer__content) {
        margin: 0;
    }
    .about-project__head-title,
    .about-project__head-subtitle,
    .about-project__content-descr,
    .about-project__content-info {
        max-width: 615px;
    }
    .about-project__content-descr {
        margin: 0 0 40px;
    }
    .about-project__content-subtitle {
        margin-bottom: 5px;
    }
    .developer__content-info:not(:last-child) {
        margin: 0 0 30px;
    }
    .developer__project {
        width: 100%;
        max-width: calc(100% - 60px);
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        &-title {
            width: 100%;
            max-width: 708px;
            margin: 40px 0 20px;
        }

        &-grid {
            width: 100%;
            grid-template: repeat(6, auto)/repeat(1, 100%);
            gap: 20px;
    
            &-item {
                height: 300px;
            }
            .grid-item_one {
                height: 440px;
                grid-row-start: 1;
                grid-row-end: 2;
                grid-column-start: 1;
                grid-column-end: 2;
            }
            .grid-item_five {
                height: 440px;
                grid-row-start: 4;
                grid-row-end: 5;
                grid-column-start: 1;
                grid-column-end: 2;
            }
        }
    }
}