@import "../../../../../../../styles/modules/mixins/mixin";

:host {
    height: 55px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E7E7E7;
    user-select: none;
}

.month_list {
    background: white;
    position: absolute;
    width: 100%;
    height: calc(100% - 40px);
    left: 0;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    top: 40px;
    border-top: 1px solid rgba(0, 0, 0, .2);
}

.year_switch {
    width: 100%;
    box-sizing: border-box;
    font: 16px/18px 'Roboto-Regular', sans-serif;
    color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    position: relative;
}

.year_switch-btn-left, .year_switch-btn-right {
    height: 100%;
    width: 30px;
    color: rgba(0, 0, 0, 0.7);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    font: 20px 'Roboto-Regular', sans-serif;
    box-sizing: border-box;
    border-radius: 3px;
}

.year_switch-value {
    padding: 0 10px;
}

.month_list-item {
    font: 14px/16px 'Roboto-Regular', sans-serif;
    color: rgba(0, 0, 0, .7);
    width: calc(100% / 3);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
}

.btn-left, .btn-right {
    height: 100%;
    width: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.btn-left { background: url(/assets/img/btn_next_grey.svg) 50% no-repeat; }
.btn-right {
    background: url(/assets/img/btn_next_grey.svg) 50% no-repeat;
    transform: rotate(180deg);
}



.title {
    @include fw18-24;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;

    .year {
        color: #999a9b;
        margin-left: 4px;
    }
}
