@import "../../../../styles/modules/mixins/mixin";

.flats-item__description {
    display: flex;

    &-section {
        display: flex;
        flex-direction: column;

        &-text {
            @include f16-24(rgba(0, 1, 5, .8));
            white-space: nowrap;
            margin: 0 20px 0 0;
            &:last-child { margin: 0; }

            &_price {
                font-weight: 500;
                color: $col-black;
            }
        }
    }
}
