@import "../../../../styles/modules/mixins/mixin";

.flats-item__description {
    display: flex;
    align-items: center;

    &-section {
        display: flex;
        flex-direction: column;

        &-text {
            @include f16-24(rgba(0, 1, 5, .8));
            white-space: nowrap;
            margin: 0 20px 0 0;
            &:nth-child(3) {
                margin: 0 30px 0 0;
            }

            &_price {
                font-weight: 500;
                color: $col-black;

                &_sale {
                    position: relative;
                    color: $col-orange;
                    padding: 0 0 0 26px;
                    line-height: 23px;
                    &:before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 5px;
                        width: 21px;
                        height: 12px;
                        background: url(/assets/img/stock-ic.svg) no-repeat;
                        background-size: 100%;
                    }
                }
                &_not-sale {
                    text-align: right;
                    text-decoration: line-through;
                    color: #999a9b;
                    line-height: 23px;
                }
            }
        }
    }
}
