<div *ngIf="isSlideShow" class="dynamic-modal">

    <div class="dynamic-modal__wrap">
        <div (click)="close.emit(false)" class="dynamic-modal__cls-btn"></div>

        <ng-container *ngFor="let slide of slides; let i = index">
            <img
                 class="dynamic-modal__img"
                 [src]="slide.url"
                 [ngClass]="{'dynamic-slider-current': i === slideIndex}"
            />
        </ng-container>

        <div (click)="prev()" class="dynamic-modal__btn dynamic-modal__btn_left"></div>
        <div (click)="next()" class="dynamic-modal__btn dynamic-modal__btn_right"></div>
    </div>
</div>
