<section class="genplan">
    <div class="genplan__head">
        <!-- <h1 class="genplan__head-title g-title-path">Генплан</h1> -->
        <div class="genplan__head_scrll">
            <div class="genplan__head-img">
                <img src="/assets/img/about/plan/plan.jpg" alt="Генплан">

                <div *ngFor="let item of markers" class="markers__item markers__item_{{item.mod}}"
                    (click)="onSelectItem(item)"
                    [class.markers__item_active]="item == activeMarker">
                    <div class="markers__item-tooltip">
                        <span class="markers__item-tooltip_span" >
                            {{item.title}}
                        </span>
                    </div>
                </div>

                <ng-container *ngFor="let num of ['№1', '№2', '№3', '№9']; let i = index">

                    <div class="markers__num markers__num--item-{{i + 1}}">{{num}}</div>
                </ng-container>
            </div>

        </div>
    </div>
</section>
