@import "../../../styles/modules/mixins/mixin";

.genplan {
    width: 100%;
    height: calc(53.94vw - 51px);
    min-height: 360px;
    display: flex;
    justify-content: center;
    position: relative;

    &__head {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;

        &-title {
            width: calc(100% - 30px);
            font: 42px/48px 'Leksa';
            @include font-smoothing;
            color: #fff;
            position: absolute;
            left: 15px;
            top: 30px;
            z-index: 1;
        }

        &_scrll {
            width: 100%;
            height: calc(100% + 20px);
            overflow-x: scroll;
            overflow-y: hidden;
        }
        &-img {
            width: 100vw;
            min-width: 768px;
            height: calc(100% - 20px);
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
    
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.markers {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    &__num {
        font: 500 14px/20px $font-mus;
        @include font-smoothing;
        color: $col-white;
        background-color: $col-orange;
        padding: 5px 15px;
        border-radius: 15px;
        position: absolute;
        top: 50%;
        z-index: 10;

        &--item-1 {
            top: 73%;
            left: 14%;
        }
        &--item-2 {
            top: 52%;
            left: 42%;
        }
        &--item-3 {
            top: 42%;
            left: 57%;
        }
        &--item-4 {
            top: 17%;
            left: 88%;
        }
    }

    &__item {
        width: 40px;
        height: 46px;
        position: absolute;
        z-index: 10;
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        &_active {
            z-index: 11;
            .markers__item-tooltip_span { transform: translateX(0%) !important; }
        }

        &_kinder {
            left: 20.6%;
            bottom: 63.6%;
            &:after { background: url(/assets/img/about/plan/kinder.svg) 0 0 no-repeat; }
            .markers__item-tooltip_span { border: 1px solid #ffcb0d; }
            &:nth-child(4) {
                left: 72%;
                bottom: 86%;
            }
        }
        &_school {
            left: 58%;
            bottom: 69.5%;
            &:after { background: url(/assets/img/about/plan/school.svg) 0 0 no-repeat; }
            .markers__item-tooltip_span { border: 1px solid #ae6bf8; }
        }
        &_stop {
            left: 69.4%;
            bottom: 61%;
            &:after { background: url(/assets/img/about/plan/stop.svg) no-repeat; }
            .markers__item-tooltip {
                right: 2px;
                left: auto;
                top: 1px;
            }
            .markers__item-tooltip_span {
                border: 1px solid #297acc;
                transform: translateX(100%);
                padding: 0 50px 0 15px;
                height: 36px;
            }
        }
        &_shop {
            left: 3.5%;
            bottom: 46%;
            &:after { background: url(/assets/img/about/plan/shop.svg) 0 0 no-repeat; }
            .markers__item-tooltip_span { border: 1px solid #2095d2; }
        }
        &_sport {
            left: 56%;
            bottom: 84%;
            &:after { background: url(/assets/img/about/plan/sport.svg) 0 0 no-repeat; }
            .markers__item-tooltip_span { border: 1px solid #1da600; }
        }
        &_pharmacy {
            left: 75%;
            bottom: 75%;
            &:after { background: url(/assets/img/about/plan/pharmacy.svg) 0 0 no-repeat; }
            .markers__item-tooltip_span { border: 1px solid #fa9191; }
        }


        &-tooltip {
            position: absolute;
            top: 0;
            left: 0;
            min-width: 40px;
            height: 38px;
            white-space: nowrap;
            border-radius: 20px;
            overflow: hidden;
            z-index: -1;
            pointer-events: none;

            &_span {
                width: 100%;
                height: 100%;
                border-radius: 20px;
                padding: 0 15px 0 50px;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                background-color: #fff;
                transform: translateX(-100%);
                transition: transform .2s linear;
            }
        }
    }
}
