<section class="agreement">
    <div class="agreement__bg">
        <div class="agreement__container">
            <div class="agreement__wrapper">
                <h1 class="agreement__heading">
                    Соглашение на&nbsp;обработку персональных данных
                </h1>
                <ol class="agreement__main-list">
                    <li class="agreement__main-item">
                        Общие положения и условия обработки персональных данных
                        <ol class="agreement__base-list">
                            <li class="agreement__base-item">
                                Настоящая политика условий и обработки персональных данных («Политика») является
                                документом,
                                определяющим политику оператора персональных данных, и содержит сведения о реализуемых
                                требованиях к их защите.
                            </li>
                            <li class="agreement__base-item">
                                Оператором персональных данных выступают:<br>
                                ООО «СПЕЦИАЛИЗИРОВАННЫЙ ЗАСТРОЙЩИК «РЕАЛИНВЕСТ»<br>
                                Реквизиты:<br>
                                ИНН 5027208125,<br>
                                ОГРН 1145027003571,<br>
                                КПП 502701001,<br>
                                Адрес места нахождения:<br>
                                140011, МО, г. Люберцы, ш. Новорязанское, дом 7, пом. 38,<br>
                                Далее по тексту «Оператор»
                            </li>
                            <li class="agreement__base-item">
                                Под персональными данными в настоящей Политике понимается информация, относящаяся прямо
                                или косвенно к физическому лицу — субъекту персональных данных (далее — «Пользователь»),
                                а именно: номер телефона, электронная почта.
                            </li>
                            <li class="agreement__base-item">
                                Пользователь дает свое согласие Оператору на обработку персональных данных Пользователя,
                                предоставляемых при заполнении формы обратного звонка, при заполнении заявки на ипотеку,
                                при выборе объекта недвижимости на Интернет сайте, располагающегося на домене
                                <a href="https://nt.ilike.ru/" target="_blank">https://nt.ilike.ru/</a> (далее по
                                тексту «Сайт»), в том числе на передачу таких персональных данных третьим лицам во
                                исполнение соглашения между Оператором и Пользователеми между Оператором и третьим
                                лицом.
                            </li>
                            <li class="agreement__base-item">
                                Персональные данные обрабатываются Оператором для целей заключения или исполнения
                                Пользовательского соглашения, регулирующего отношения между Оператором и Пользователем.
                            </li>
                            <li class="agreement__base-item">
                                Принятие условий Политики осуществляется Пользователем путем и в момент принятия
                                Пользователем условий Соглашения.
                            </li>
                            <li class="agreement__base-item">
                                Если из части Соглашения или иного договора с Пользователем следует, что такой договор
                                (часть Соглашения) исполняется непосредственно одним из лиц, указанных впункте 1.2
                                Политики, то (в соответствующей части) именно такое лицо единолично считается
                                Оператором.
                            </li>
                            <li class="agreement__base-item">
                                К целям заключения или исполнения Соглашения относятся, в частности, следующие:
                                <ul class="agreement__mark-list">
                                    <li class="agreement__mark-item">
                                        идентификация Пользователя и заключение с Пользователем Соглашения или иного
                                        договора;
                                    </li>
                                    <li class="agreement__mark-item">
                                        обмен сообщениями (в устной, письменной или электронной форме) между
                                        Пользователем и Оператором;
                                    </li>
                                    <li class="agreement__mark-item">
                                        получение Пользователем информационных сообщений и потребление им информационных
                                        услуг, оказываемых Оператором;
                                    </li>
                                    <li class="agreement__mark-item">
                                        доступ Пользователя к различным функциональным возможностям Сайта, в том числе
                                        для приобретения «Продуктов Компании», использования иных возможностей Сайта,
                                        как существующих, так и будущих;
                                    </li>
                                    <li class="agreement__mark-item">
                                        анализ обезличенной статистической информации, необходимой для улучшения
                                        качества исполнения Соглашения Оператором («качества обслуживания»), в том числе
                                        исправления, изменения, улучшения и дополнения функционала Сайта;
                                    </li>
                                    <li class="agreement__mark-item">
                                        размещение или распространение таргетированной, поисковой, баннерной и иных
                                        видов рекламы;
                                    </li>
                                    <li class="agreement__mark-item">
                                        исправление, изменение, улучшение и дополнение функционала Сайта.
                                    </li>
                                </ul>
                            </li>
                            <li class="agreement__base-item">
                                Если в соответствии с законом обработка определенных категорий персональных данных
                                допускается только с письменного согласия субъекта персональных данных, обработка
                                Оператором таких категорий персональных данных Пользователя осуществляется на основании
                                отдельного письменного согласия Пользователя и в соответствии с требованиями закона.
                                Такое письменное согласие может быть предоставлено в форме электронного документа,
                                подписанного простой электронной подписью, условия использования которой оговорены
                                Пользователем и Компанией в Соглашении.
                            </li>
                            <li class="agreement__base-item">
                                Обработка персональных данных Пользователя, сделанных общедоступными Пользователем либо
                                по его просьбе, осуществляется без согласия Пользователя в части таких персональных
                                данных, с учетом ограничений, установленных законодательством Российской Федерации, если
                                отсутствуют иные законные основания для обработки персональных данных Пользователя.
                            </li>
                            <li class="agreement__base-item">
                                Оператор вправе по своему усмотрению изменять настоящую Политику. Новая редакция
                                Политики размещается на Сайте и вступает в силу со дня ее опубликования на Сайте.
                            </li>
                            <li class="agreement__base-item">
                                Если после принятия условий Политики у Пользователя возникают возражения против ее
                                положений или изменений к ней, то он обязан незамедлительно сообщить об этом Оператору
                                по телефону, путем обмена сообщениями с Оператором через Сайт или по адресу электронной
                                почты Оператора, указанному в Политике. Соответствующие возражения Пользователя
                                квалифицируются как отказ от Соглашения, который вступает в силу с момента его получения
                                Оператором.
                            </li>
                        </ol>
                    </li>
                    <li class="agreement__main-item">
                        Принципы обработки персональных данных
                        <ol class="agreement__base-list">
                            <li class="agreement__base-item">
                                Обработка персональных данных Пользователя осуществляется Оператором на законной
                                и справедливой основе.
                            </li>
                            <li class="agreement__base-item">
                                Обработка персональных данных Пользователя ограничивается достижением целей, указанных
                                в пункте 1.8 Политики. Оператор не осуществляет обработку персональных данных,
                                несовместимую с целями сбора персональных данных Пользователя.
                            </li>
                            <li class="agreement__base-item">
                                Оператор обеспечивает при обработке персональных данных Пользователя их точность,
                                достаточность, а в необходимых случаях и актуальность по отношению к целям обработки
                                персональных данных. Оператор принимает необходимые меры (либо обеспечивает их принятие)
                                по удалению или уточнению неполных или неточных данных Пользователя.
                            </li>
                            <li class="agreement__base-item">
                                Хранение персональных данных осуществляется Оператором в форме в течение срока,
                                указанного в разделе 1.9 Политики.
                            </li>
                            <li class="agreement__base-item">
                                Оператор соблюдает иные принципы обработки персональных данных, предусмотренные
                                законодательством Российской Федерации или международно-правовыми нормами.
                            </li>
                        </ol>
                    </li>
                    <li class="agreement__main-item">
                        Иная обрабатываемая информация
                        <ol class="agreement__base-list">
                            <li class="agreement__base-item">
                                Помимо персональных данных Пользователей, Оператор может осуществлять также обработку
                                следующей информации о Пользователях и иных посетителях Сайтов:
                                <ul class="agreement__mark-list">
                                    <li class="agreement__mark-item">
                                        стандартные данные, получаемые http-сервером при доступе к Сайту и последующих
                                        действиях посетителя Сайта, в том числе IP-адрес хоста, вид используемой
                                        операционной системы и тип браузера, посещенные страницы Сайта.
                                    </li>
                                    <li class="agreement__mark-item">
                                        автоматически отправляемые Оператору фрагменты данных, используемые для
                                        сохранения данных на стороне посетителя Сайта («cookie» и др.).
                                    </li>
                                    <li class="agreement__mark-item">
                                        обезличенная информация, получаемая в результате действий посетителя Сайта.
                                    </li>
                                </ul>
                            </li>
                        </ol>
                    </li>
                    <li class="agreement__main-item">
                        Доступ к персональным данным и их защита
                        <ol class="agreement__base-list">
                            <li class="agreement__base-item">
                                Пользователь соглашается с тем, что Оператор для целей исполнения своих обязанностей и
                                осуществления прав, вытекающих из Соглашения или в связи с его заключением, иных
                                документов, принятых Оператором, и норм законодательства Российской Федерации, имеет
                                доступ к любой информации, которая размещена, передана, получена, опубликована,
                                загружена, сохранена Пользователем с помощью Сайта, в том числе к персональным данным
                                Пользователя.
                            </li>
                            <li class="agreement__base-item">
                                Оператор принимает организационные и технические меры, необходимые и достаточные для
                                защиты персональных данных Пользователя от неправомерного или случайного доступа,
                                уничтожения, изменения, блокирования, копирования, распространения, а также от иных
                                неправомерных действий третьих лиц в отношении таких данных. При этом Пользователь
                                обязан исполнять установленные Соглашением обязанности по защите аутентификационных
                                данных, используемых для доступа к учетной записи (персональной странице), а также к
                                функционалу Сайтов и Приложения, предусматривающим возможность изменения или удаления
                                персональных данных Пользователя, размещенных с помощью Сайта.
                            </li>
                            <li class="agreement__base-item">
                                Оператор свободно распоряжается обезличенной статистической информацией, касающейся
                                использования Сайта Пользователем и функционирования Сайта, в том числе в праве
                                передавать ее третьим лицам.
                            </li>
                        </ol>
                    </li>
                    <li class="agreement__main-item">
                        Передача персональных данных
                        <ol class="agreement__base-list">
                            <li class="agreement__base-item">
                                Персональные данные Пользователя не передаются третьим лицам, за исключением случаев,
                                предусмотренных положениями Политики или закона.
                            </li>
                            <li class="agreement__base-item">
                                Для достижения цели заключения или исполнения Соглашения или иного договора,
                                заключенного между Пользователем и Оператором, по которому Пользователь является
                                стороной или выгодоприобретателем, Пользователь соглашается на обработку его
                                персональных данных, в том числе путем их передачи третьим лицам, выбираемым Оператором
                                по указанию Пользователя.
                            </li>
                            <li class="agreement__base-item">
                                Любые третьи лица, которым Оператор передает персональные данные в случаях и по
                                основаниям, предусмотренным Политикой, обязаны принять на себя обязательства по
                                обеспечению конфиденциальности полученной информации.
                            </li>
                        </ol>
                    </li>
                    <li class="agreement__main-item">
                        Изменение и уничтожение персональных данных
                        <ol class="agreement__base-list">
                            <li class="agreement__base-item">
                                Пользователь обязуется предоставлять достоверную информацию о себе, поддерживать ее
                                актуальность. Достоверность и актуальность информации, переданной Пользователем
                                посредством Сайта или в ходе обмена сообщениями с Оператором предполагается Оператором.
                                В случае наличия у Оператора оснований полагать, что предоставленные Пользователем
                                персональные данные не являются точными, достаточными или актуальными, Оператор может
                                запросить у Пользователя уточнение (дополнение, актуализацию) предоставленной ранее
                                информации. Все негативные последствия, связанные с предоставлением Пользователем
                                Оператору недостоверной или неактуальной информации либо неполучением ответа на запрос
                                Оператора лежат на Пользователе.
                            </li>
                            <li class="agreement__base-item">
                                Отзыв Пользователем своего согласия на обработку всех предоставленных им ранее Оператору
                                персональных данных, либо отказ от обработки персональных данных, без использования
                                которых заключение, дальнейшее исполнение, изменение или прекращение Соглашения
                                становится невозможным, считается отказом Пользователя от Соглашения, который вступает в
                                силу с момента его получения Оператором. Отзыв Пользователем своего согласия на
                                обработку персональных данных совершается Пользователем в письменной форме путем
                                направления уведомления заказным письмом попочтовым адресам Операторов.
                            </li>
                            <li class="agreement__base-item">
                                Персональные данные уничтожаются в случае:
                                <ul class="agreement__mark-list">
                                    <li class="agreement__mark-item">
                                        прекращения Соглашения между Пользователем и Оператором, в том числе в
                                        результате отказа Пользователя.
                                    </li>
                                    <li class="agreement__mark-item">
                                        если направленные Пользователем персональные данные являются избыточными по
                                        отношению к цели заключения или исполнения Соглашения или иного заключенного
                                        между Пользователеми Оператором договора.
                                    </li>
                                    <li class="agreement__mark-item">
                                        если Пользователь или иное лицо направил Оператору любым способом и в любой
                                        форме персональные данные, не имеющие отношения к заключению или исполнению
                                        Соглашения или иного договора.
                                    </li>
                                </ul>
                            </li>
                        </ol>
                    </li>
                    <li class="agreement__main-item">
                        Срок хранения персональных данных
                        <ol class="agreement__base-list">
                            <li class="agreement__base-item">
                                Срок обработки персональных данных Пользователя равен сроку действия Соглашения. Срок
                                хранения персональных данных после прекращения Соглашения составляет 3 (три)года.
                            </li>
                            <li class="agreement__base-item">
                                Если законодательством Российской Федерации установлен иной срок для хранения отдельных
                                категорий персональных данных Пользователя, чем предусмотренный настоящей Политикой, то
                                предусматривается срок, установленный законом.
                            </li>
                        </ol>
                    </li>
                    <li class="agreement__main-item">
                        Заключительные положения
                        <ol class="agreement__base-list">
                            <li class="agreement__base-item">
                                Пользователи вправе направлять любые свои заявления по поводу настоящей Политики,
                                в том числе вопросы, предложения и пожелания, по адресу электронной почты:
                                <a href="mailto:info@3-red.com">info@3-red.com</a>.
                            </li>
                            <li class="agreement__base-item">
                                Настоящая Политика вступает в силу с момента ее размещения на Cайте.
                            </li>
                        </ol>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
