@import "../../../../styles/modules/mixins/mixin";

.purchase__result {
    width: 100%;
    // margin: 60px 0 0;

    &-title {
        font: 500 24px/29px $font-mus;
        @include font-smoothing;
        color: $col-32;
        &_not-login { margin: 0 0 60px; }
        &_login { margin: 0 0 10px; }
    }
}
.purchase__not-found {
    display: flex;
    width: 100%;
    max-width: 499px;
    box-sizing: border-box;
    padding: 27px 0 20px;
    background: rgba(170, 171, 34, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    flex-flow: column nowrap;
    align-items: center;

    p {
        width: calc(100% - 20px);
        font: 500 14px/20px $font-mus;
        @include font-smoothing;
        color: #000105;
        margin: 10px 0 0;
        text-align: center;
    }
}


.credit-list {
    width: 998px + 30px;
    display: flex;
    flex-wrap: wrap;

    &__item {
        width: calc(50% - 30px);
        min-width: 499px;
        min-height: 157px;
        box-sizing: border-box;
        padding: 20px 30px;
        border-radius: 4px;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        color: #fff;
        margin: 0 30px 30px 0;
        &:nth-child(2n) { margin: 0 0 30px 0; }

        &_sber       { background: #1a9f29; }
        &_raif       { background: #ffed00; color: #000000 }
        &_vtb        { background: #009fdf; }
        &_ural       { background: #475493; }
        &_ress       { background: #13366D; }
        &_open       { background: #00bee8; }
        &_dom        { background: #2e444e; }
        &_iron       { background: #00337f; }
        &_zenit      { background: #008fb4; }
        &_ross       { background: #34643A; }
        &_rossBank   { background: #c2002a; }
        &_capital    { background: #00afa9; }
        &_psb        { background: #ea5614; }
        &_absolute   { background: #ff5a01; }
        &_gasprom    { background: #0c356c; }
        &_sovcom     { background: #004890; }
        &_svazBank   { background: #0064a4; }
        &_bankRussia { background: #012757; }

        &-wrap {
            width: calc(100% - (100% - 75px));
            display: flex;
            align-items: flex-start;
        }
        &-logo {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #fff;

            &-text {
                width: calc(100% - 85px);
                display: none;
                font: 500 18px/24px $font-mus;
                @include font-smoothing;
                color: inherit;
                margin: 0 0 0 10px;
            }
        }
        &-descr {
            width: calc(100% - 75px);
            display: flex;
            flex-flow: column nowrap;
            margin: 9px 0 0;

            &_input {
                box-sizing: border-box;
                padding: 4px 5px;
                background-color: #fff;
                color: $col-black;
            }
            &-ante_input,
            &-date_input {
                position: relative;
                color: $col-black;
                &:before {
                    content: '';
                    position: absolute;
                    width: 90px;
                    height: 54px;
                    left: -15px;
                    top: -5px;
                    background-color: #fff;
                }
            }
            &_min-pay-text {
                width: 50px;
                background-color: #fff;
                border: 0;
            }
            &_ante-input { width: 40px; }

            &-name { margin: 0 0 21px; }
            &-text_s {
                font: 500 14px/20px $font-mus;
                @include font-smoothing;
                color: inherit;
                position: relative;
            }
            &-text_b {
                @include fw18-24;
                color: inherit;
                position: relative;
            }
            &-info {
                display: flex;
                &-item:not(:last-child) { margin: 0 50px 0 0; }
            }
        }
    }
}

@media (max-width: 1279px) {
    :host { width: 50%; }
    .purchase__result {
        box-sizing: border-box;
        padding: 0 15px 0 0;
    }

    .purchase__result {
        padding: 0 0 0 15px;
        margin: 0;

        &-title { margin: 0 0 20px; }
    }
    .credit-list {
        width: 100%;
        display: block;

        &__item {
            width: 100%;
            min-width: auto;
            margin: 0 0 10px;
            padding: 20px;
            &:nth-child(2n) { margin: 0 0 10px; }

            &-wrap {
                width: 100%;
                align-items: center;

                &-logo-text { display: block; }
            }
            &-descr {
                width: 100%;
                margin: 20px 0 0;

                &-bank { display: none; }
            }
        }
    }
}
