<div class="purchase__result">
    <h1 class="purchase__result-title purchase__result-title_not-login" *ngIf="!isAuthorizated">Вам подходит {{bankList.length}} программ</h1>
    <h1 class="purchase__result-title purchase__result-title_login" *ngIf="isAuthorizated">Список всех банков для калькулятора ипотеки:</h1>

    <button class="admin-credit__set-snippet"
            *ngIf="isAuthorizated"
            (click)="showModalBankList.emit(true)">
        <img src="/assets/img/purchase/ch_list_bank.svg" alt="">
        Изменить список банков
    </button>

    <ul class="credit-list" *ngIf="bankList.length">

        <li *ngFor="let snippet of bankList" class="credit-list__item credit-list__item_{{snippet.cssclass}}">

            <div class="credit-list__item-wrap">
                <div class="credit-list__item-logo">
                    <img class="credit-list__item-logo-img"
                         *ngIf="snippet.image.length > 0"
                         [src]="snippet.image"
                    />
                </div>
            </div>

            <div class="credit-list__item-descr">
                <div class="credit-list__item-descr-name">
                    <p class="credit-list__item-descr-text_s credit-list__item-descr-bank">{{snippet.name}}</p>
                    <p class="credit-list__item-descr-text_b">Минимальный взнос от
                        <span [ngClass]="{'credit-list__item-descr_input' : isAuthorizated}">
                                <span [ngClass]="{'admin-credit__input-text' : isAuthorizated}"
                                      [attr.contenteditable]="isAuthorizated"
                                      (blur)="updateSnippet(snippet._id, 'initial', $event.target.innerHTML)">
                                    {{snippet.initial}}
                                </span>
                                <span>%</span>
                            </span>
                    </p>
                </div>
                <div class="credit-list__item-descr-info">
                    <div class="credit-list__item-descr-info-item credit-list__item-descr-ante"
                         [ngClass]="{'admin-credit__input-area' : isAuthorizated}">
                        <p class="credit-list__item-descr-text_s">Ставка</p>
                        <p class="credit-list__item-descr-text_b">
                                <span class="credit-list__item-descr_ante-input"
                                      [ngClass]="{'admin-credit__input-text' : isAuthorizated}"
                                      [attr.contenteditable]="isAuthorizated"
                                      (blur)="updateSnippet(snippet._id, 'percent', $event.target.innerHTML)">
                                    {{snippet.percent}}
                                </span>
                            <span>%</span>
                        </p>
                    </div>
                    <div class="credit-list__item-descr-info-item credit-list__item-descr-date"
                         [ngClass]="{'admin-credit__input-area' : isAuthorizated}">
                        <p class="credit-list__item-descr-text_s">Срок до</p>
                        <p class="credit-list__item-descr-text_b">
                                <span class="credit-list__item-descr_date-input"
                                      [ngClass]="{'admin-credit__input-text' : isAuthorizated}"
                                      [attr.contenteditable]="isAuthorizated"
                                      (blur)="updateSnippet(snippet._id, 'deadline', $event.target.innerHTML)">
                                    {{snippet.deadline}}
                                </span>
                            <span> лет</span>
                        </p>
                    </div>
                    <div class="credit-list__item-descr-info-item credit-list__item-descr-payment">
                        <p class="credit-list__item-descr-text_s">Платеж в месяц</p>
                        <p class="credit-list__item-descr-text_b">{{isAuthorizated ? '—' : (snippet.monthPay | installmentNumberPipe)}}</p>
                    </div>
                </div>

            </div>

            <div class="admin-credit__check" *ngIf="isAuthorizated">
                <label class="admin-credit__check-wrap">
                    <input class="admin-credit__check-checkbox"
                           [checked]="snippet.maternal"
                           type="checkbox"
                           (change)="updateSnippet(snippet._id, 'maternal', !snippet.maternal)"
                    />
                    <div class="g-checkbox"></div>
                    <div class="admin-credit__check-text">
                        Материнский капитал
                    </div>
                </label>

                <label class="admin-credit__check-wrap">
                    <input class="admin-credit__check-checkbox"
                           [checked]="snippet.military"
                           type="checkbox"
                           (change)="updateSnippet(snippet._id, 'military', !snippet.military)"
                    />
                    <div class="g-checkbox"></div>
                    <div class="admin-credit__check-text">
                        Военная ипотека
                    </div>
                </label>

                <label class="admin-credit__check-wrap">
                    <input class="admin-credit__check-checkbox"
                           [checked]="snippet.nationality"
                           type="checkbox"
                           (change)="updateSnippet(snippet._id, 'nationality', !snippet.nationality)"
                    />
                    <div class="g-checkbox"></div>
                    <div class="admin-credit__check-text">
                        Гражданство РФ
                    </div>
                </label>
            </div>

        </li>
    </ul>
</div>
<div class="purchase__not-found" *ngIf="!bankList.length"> <!-- Поставил инлайново для удобства -->
    <img src="../../../assets/img/purchase/emoji.png" alt="oops">
    <p>По данным параметрам ничего не удалось подобрать</p>
</div>
