<section class="dynamic">
    
    <div class="dynamic__header">
        <h1 class="g-title-path dynamic__header-title">Динамика строительства</h1>

        <app-dynamic-date
            (monthChange)="monthChange($event)"
            (yearChange)="yearChange($event)"
            [month]="currentMonth"
            [year]="currentYear"
            [objectsArray]="objectsArray">
        </app-dynamic-date>
    </div>

    <div class="dynamic__add-obj" *ngIf="isAuthorizated">
        <button class="dynamic__add-obj-btn" (click)="showModalAdmin = true">
            <span>Добавить объект</span>
        </button>
    </div>

    <div class="dynamic__main">
        <div class="dynamic__main-content">
            <app-dynamic-object *ngIf="objectsArray.length"
                [month]="currentMonth"
                [year]="currentYear"
                [objectsArray]="objectsArray"
                (changeObjectsArray)="objectsArray = $event">
            </app-dynamic-object>

            <app-dynamic-admin-create class="admin-controll" *ngIf="showModalAdmin"
                [month]="currentMonth"
                [year]="currentYear"
                [objectsArray]="objectsArray"
                (changeObjectsArray)="objectsArray = $event"
                (closeModal)="showModalAdmin = false">
            </app-dynamic-admin-create>
        
        
            <app-dynamic-month-switcher *ngIf="objectsArray.length"
                (monthChange)="monthChange($event)"
                [month]="currentMonth"
                [year]="currentYear"
                [objectsArray]="objectsArray">
            </app-dynamic-month-switcher>
        </div>

        <app-dynamic-link-list *ngIf="objectsArray.length"
            [month]="currentMonth"
            [year]="currentYear"
            [objectsArray]="objectsArray">
        </app-dynamic-link-list>

        <app-loader
            [loaderShow]="preloader"
            [loaderHeight]="300"
        ></app-loader>
    </div>

</section>
