<div class="g-modal-bg apartment__modal" *ngIf="showApartmentWindow">

    <div class="apartment">

        <div class="apartment__elements">
            <div class="apartment__elements-btn apartment__elements-btn_prev" *ngIf="flatIndex - 1 >= 0">
                <button class="apartment__elements-prev" (click)="prevFlat()"></button>
                <p>№ {{flatsList[flatIndex-1].flat}}</p>
            </div>
            <div class="apartment__elements-btn apartment__elements-btn_next" *ngIf="flatIndex + 1 < flatsList.length">
                <button class="apartment__elements-next" (click)="nextFlat()"></button>
                <p>№ {{flatsList[flatIndex+1].flat}}</p>
            </div>
            <button class="apartment__elements-cls" (click)="close.emit(false)"></button>
            <div class="apartment__elements-compass">
                <img src="/assets/img/flats/apartment/compass.svg" alt="compass">
            </div>
        </div>

        <div class="apartment__info">
            <nav class="apartment__info-nav">
                <ul class="apartment__info-nav-list">
                    <li class="apartment__info-nav-item apartment__info-nav-item--underline">Общий вид</li>
                    <li class="apartment__info-nav-item apartment__info-nav-item--underline">Корпус {{flatData.house}}</li>
                    <li class="apartment__info-nav-item">Секция {{flatData.section}}</li>
                    <li class="apartment__info-nav-item apartment__info-nav-item--underline">Этаж {{flatData.floor}}</li>
                    <li class="apartment__info-nav-item">Квартира №{{flatData.flat}}</li>
                </ul>
            </nav>

            <h1 class="apartment__info-title">
                {{(flatData.rooms < 1) ? '' : flatData.rooms }} {{((flatData.rooms < 1) ? 'Студия' : 'комнатная')}}, №&nbsp;{{flatData.flat}}
            </h1>
            <div class="apartment__info-descr">
                <div class="apartment__info-descr-item">
                    <p class="apartment__info-subtitle">Отделка</p>
                    <p class="apartment__info-descr-value">{{flatData.decorationName}}</p>
                </div>
                <div class="apartment__info-descr-item">
                    <p class="apartment__info-subtitle">Площадь</p>
                    <p class="apartment__info-descr-value">{{flatData.space}} м<sup>2</sup></p>
                </div>
                <div class="apartment__info-descr-item">
                    <p class="apartment__info-subtitle">Ипотека от</p>
                    <p class="apartment__info-descr-value">100 000 &#8381;</p>
                </div>
            </div>
            <div class="apartment__info-price">
                <p class="apartment__info-subtitle">Стоимость</p>
                <p class="apartment__info-price-value"
                    [class.apartment__info-price-value_not-sale]="flatData.discount">
                    {{flatData.price | myBitNumberPipe}} &#8381;
                </p>
                <p *ngIf="flatData.discount"
                    class="apartment__info-price-value apartment__info-price-value_sale">
                    {{flatData.price - flatData.discount | myBitNumberPipe}} &#8381;
                </p>
            </div>
            <p class="apartment__info-text">
                При покупке квартиры в ипотеку или при 100% оплате действует скидка 3%. 
            </p>
            <div class="apartment__info-btn">
                <button (click)="isReserveFormOpen = true;" class="apartment__info-btn-reserve">Забронировать</button>
                <button (click)="isCreditFormOpen = true;" class="apartment__info-btn-credit">Заявка на ипотеку</button>
            </div>
        </div>

        <div class="apartment__plan">
            <div class="apartment__plan-link">
                <!-- <a class="g-link_red apartment__plan-link-dwnld" [href]="pdfLink" target="_blank">План квартиры.pdf</a> -->
                <!-- <div (click)="toFavorite()" 
                     [ngClass]="{'apartment__plan-link-favorite_active': inFavorite}" 
                     class="g-link_red apartment__plan-link-favorite">
                    Добавить в избранное
                </div> -->
            </div>
            <div class="apartment__plan-img">
                <img class="apartment_item_scheme" [src]="'/assets/floor-plans/section_' + flatData.section + '/floor_' + flatData.floor + '/' + flatData.floor + 'floor_' + flatData.flat + 'flat.svg'">
            </div>
        </div>

    </div>
</div>


<app-form-credit *ngIf="flatData"
    (close)="isCreditFormOpen = $event"
    [isOpen]="isCreditFormOpen"
    [apartmentPrice]="flatData.price"
    [apartmentNumber]="flatData.flat"
    [type]="flatData.type">
</app-form-credit>
<app-form-reserve *ngIf="flatData"
    (close)="isReserveFormOpen = $event"
    [isOpen]="isReserveFormOpen"
    [apartmentPrice]="flatData.price"
    [apartmentNumber]="flatData.flat"
    [type]="flatData.type">
</app-form-reserve>
