@mixin font-smoothing {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
$font: 15px/23px 'Montserrat'; 
$color: #ffffff;

.apartment {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    position: relative;

    &-btn {
        font: 18px/30px 'Montserrat', sans-serif;
        color: #cda571;
        @include font-smoothing();
        position: relative;
        box-sizing: border-box;
        padding-left: 30px;
        margin-bottom: 20px;
        user-select: none;

        &:hover {
            font-weight: bold;
        }

        &:after {
            content: '';
            width: calc(100% - 30px);
            height: 1px;
            background: #cda571;
            position: absolute;
            right: 0;
            bottom: 0;
            transition: .2s all linear;
        }

        &_favorite {
            cursor: pointer;

            &:before {
                content: '';
                width: 20px;
                height: 21px;
                background: url('/assets/img/favorite.svg') no-repeat;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }

            &_active {
                &:before {
                    background: url('/assets/img/favorite-active.svg') no-repeat;
                }
            }
        }

        &_pdf {
            &:before {
                content: '';
                width: 20px;
                height: 21px;
                background: url('/assets/img/pdf.svg') no-repeat;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }
        }
    }

    &_request-list {
        // height: 50px;
        // width: 100%;
        // position: absolute;
        // top: 65px;
        // left: 0;
        // background: #83D6F4;
        // display: flex;
        // justify-content: center;
        // z-index: 100;

        &_item {
            height: 50px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            font: 18px 'Montserrat';
            font-weight: bold;
            color: #2E2E2E;
            @include font-smoothing();
            box-sizing: border-box;
            position: relative;
            border: 2px solid #cda571;
            border-radius: 5px;
            transition: .3s linear;

            &:hover {
                background-color: #cda571;
                color: white
            }

            &:before {
                content: '';
                height: 20px;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                background-size: 100%;
            }

            &--book-request {
                width: 279px;
                margin: 30px 0 10px 0;
            }

            &--credit-request {
                width: 212px;
            }

            &--call-request {
                margin: 0;

                &:before {
                    width: 14px;
                    background: url('/assets/img/flats/apartment/call-request.svg') no-repeat;
                }
            }
        }
    }

    &_item {
        position: relative;
        display: flex;
        height: 70%;
        width: 50vh;

        &_scheme {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
}

.flats_item-description {
    width: 315px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    transform: translateY(-58%);
    left: calc(100% + 50px);

    &_download {
        display: flex;
        justify-content: space-between;
    }

    &_number {
        width: 100px;
        height: 50px;
        background-size: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font: 18px/22px 'Montserrat', sans-serif;
        font-weight: bold;
        color: $color;
        @include font-smoothing();
        margin-bottom: 20px;
        position: relative;

        &-text {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        &-img {
            width: 100%;
        }
    }

    &_section {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;

        &_name {
            font: 15px 'Montserrat';
            color: #606060;
            @include font-smoothing();
            white-space: nowrap;
        }

        &_value {
            font: 18px 'Montserrat';
            color: #1c1c1c;
            @include font-smoothing();
            white-space: nowrap;
        }
    }
}
