@import "../../../styles/modules/mixins/mixin";

.apartament {
    width: 100%;
    min-height: calc(100vh - (64px + 51px));
    background-color: #F9F9F9;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    padding: 24px 0 96px;

    &__nav,
    &__ctrls,
    &__furniture,
    &__container {
        width: 100%;
        max-width: 1120px;
    }

    &__nav {
        display: flex;
        justify-content: flex-start;
        margin: 0 0 30px;

        &-link {
            font: 500 16px/20px $font-mus;
            @include font-smoothing;
            color: $col-black;
            position: relative;
            padding-left: 34px;
            cursor: pointer;
            &::before {
                content: url(/assets/img/arrow-back.svg);
                position: absolute;
                top: 50%; left: 0;
                transform: translateY(-45%);
                transition: transform .2s linear;
                backface-visibility: hidden;
            }
            &:hover {
                &::before { transform: translate(-3px, -45%); }
            }
        }
    }
    &__ctrls {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin: 0 0 16px;

        &-wrap { display: flex; }

        &-pdf {
            font: 500 12px/16px $font-mus;
            @include font-smoothing;
            color: $col-orange;
            border-radius: 4px;
            border: 1px solid $col-orange;
            background: url(/assets/img/pdf.svg) 16px 5px no-repeat $col-white;
            background-size: 16px 18px;
            padding: 7px 16px 7px 40px;
            margin-right: 16px;
            cursor: pointer;
        }
        &-credit {
            font: 500 16px/20px $font-mus;
            @include font-smoothing;
            color: $col-black;
            border-radius: 4px;
            border: 1px solid $col-orange;
            background-color: $col-white;
            padding: 9px 24px;
        }
        &-reserve {
            font: 500 16px/20px $font-mus;
            @include font-smoothing;
            color: $col-white;
            border-radius: 4px;
            background-color: $col-orange;
            margin-right: 16px;
            padding: 9px 24px;
        }
        &-favorite { background-color: transparent; }
    }

    &__container {
        display: flex;
        align-items: flex-start;
        margin: 0 0 24px;
    }

    &__image {
        width: 644px;
        height: 382px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        background-color: $col-white;
        box-sizing: border-box;
        margin-right: 24px;
        padding: 24px;
        &> img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        &-error {
            display: flex;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
            background-color: #fafafa;
            font: 500 14px/20px 'Museo Sans Cyrl', sans-serif;
            color: #000105;
            opacity: 0.6;
        }
    }
    &__info {
        width: 452px;
        border-radius: 4px;
        box-sizing: border-box;
        background-color: $col-white;
        padding: 24px;

        &-title {
            font: 500 20px/28px $font-mus;
            @include font-smoothing;
            color: $col-black;
            margin: 0 0 16px;
        }
        &-not-sale {
            width: 100%;
            font: 500 14px/18px $font-mus;
            @include font-smoothing;
            color: $col-black-6;
            background: rgba(255, 193, 54, 0.03);
            border: 1px solid #FFC136;
            box-sizing: border-box;
            border-radius: 4px;
            padding: 8px 12px;
            margin: 0 0 16px;
        }
        &-list {
            width: 100%;
            &> li {
                width: 100%;
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid #e2e2e2;
                padding: 12px 0;
                &:first-child { padding-top: 0; }
                &:last-child { border-bottom: 0; }
                &> p {
                    font: 500 14px/18px $font-mus;
                    @include font-smoothing;
                    color: $col-black-6;
                    &.discount { color: $col-orange; }
                }
            }
        }
    }
    &__furniture {
        width: 100%;
        border-radius: 4px;
        background-color: $col-white;
        box-sizing: border-box;
        padding: 0 24px;

        &-head {
            width: 100%;
            display: flex;
            justify-content: space-between;
            box-sizing: border-box;
            cursor: pointer;
            padding: 24px 0;
        }
        &-title {
            font: 500 20px/28px $font-mus;
            @include font-smoothing;
            color: $col-black;
        }
        &-switcher {
            cursor: pointer;

            &> input {
                display: none;
                &:checked + div {
                    background-color: $col-orange;
                    &::after {
                        left: 25px;
                        background-color: $col-white;
                    }
                }
            }
            &> div {
                width: 49px;
                height: 28px;
                border-radius: 20px;
                background-color: #e2e2e2;
                position: relative;
                &::after {
                    content: '';
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    top: 4px; left: 5px;
                    background-color: rgba($color: $col-black, $alpha: .3);
                    transition: left .2s ease, background-color .2s linear;
                    border-radius: 50%;
                }
            }
        }
    }
}
