<ng-container *ngFor="let snippet of allSnippets">

    <li class="news_snippets_list_item" *ngIf="snippet.category">

        <a [routerLink]="['/news-shares/news/list/' + snippet._id]" class="snippets_list_item_link">

            <div class="snippets_list_item_img">

                <img class="snippets_list_item_img_content" [src]="newsUploadsPath + snippet.image">
                <span class="snippets_list_item_title" [innerHTML]="snippet.title | lineBreakPipe"></span>

            </div>

        </a>

        <div *ngIf="isAuthorizated" class="admin-controll admin-news_editing-controls">
            <div class="admin-controll admin-news_editing-controls_for-edit">Редактировать</div>
            <div class="admin-controll admin-news_editing-controls_for-delete">Удалить</div>
        </div>

    </li>

    <li *ngIf="!snippet.category">
        <a class="shares-list__item-link" [routerLink]="['/news-shares/shares/list/1/' + snippet._id]">
            <div class="shares-list__item-shadow"></div>
            <img class="shares-list__item-img" [src]="sharesUploadsPath + snippet.mainImage" alt="share">
            <div class="shares-list__item-content">
                <h3 class="shares-list__item-title">{{snippet.name}}</h3>
                <span class="shares-list__item-text">{{snippet.text}}</span>
                <div *ngIf="snippet.countdown && countDown(snippet.finish_date) >= 0" class="shares-list__item-finishing">{{countDown(snippet.finish_date) | sharesDayPipe}} до конца акции</div>
                <div *ngIf="snippet.countdown && countDown(snippet.finish_date) < 0" class="shares-list__item-finishing">Акция закончилась</div>
            </div>
        </a>
        <a *ngIf="isAuthorizated" class="shares-list__item-edit">Редактировать</a>
        <div *ngIf="isAuthorizated" class="shares-list__item-delete">Удалить</div>
    </li>

</ng-container>
