<section class="routes" *ngIf="page === 'routes'">

    <div id="map" class="routes_map"></div>

    <a class="routes__link"
    href="https://yandex.ru/maps/10738/lubercy/?ll=37.925270%2C55.656866&mode=whatshere&whatshere%5Bpoint%5D=37.921343%2C55.656563&whatshere%5Bzoom%5D=17&z=17"
        target="_blank">

        <span class="routes__link-text">Как добраться</span>
    </a>

</section>

<section class="office" *ngIf="page === 'office'">
    <!-- <div class="office__head">
        <h1 class="office__head-title">Офис продаzж</h1>
        <p class="office__head-text">Отдел продаж расположен на объекте, на улице Гоголя, 13, Москва</p>
        <p class="office__head-text">График работы <span>9:00-21:00 без выходных</span></p>
        <p class="office__head-text office__head-text_bold">+7 (495) 137-40-12</p>
    </div> -->

    <a class="office__link"
        href="https://yandex.ru/maps/10738/lubercy/?ll=37.925270%2C55.656866&mode=whatshere&whatshere%5Bpoint%5D=37.921343%2C55.656563&whatshere%5Bzoom%5D=17&z=17"
        target="_blank">

        <span class="routes__link-text">Как добраться</span>
    </a>

    <div id="map" class="office_map"></div>
</section>
