<section class="routes" *ngIf="page === 'routes'">

    <div id="map" class="routes_map"></div>

    <a class="routes__link"
    href="https://yandex.ru/maps/10738/lubercy/?mode=search&text=%D0%B3.%20%D0%9B%D1%8E%D0%B1%D0%B5%D1%80%D1%86%D1%8B%2C%20%D1%83%D0%BB.%20%D0%98%D0%BD%D0%B8%D1%86%D0%B8%D0%B0%D1%82%D0%B8%D0%B2%D0%BD%D0%B0%D1%8F%2C%205&sll=44.514208%2C48.721328&sspn=1.359558%2C0.620607&ll=37.897604%2C55.684041&z=16"
        target="_blank">

        <span class="routes__link-text">Как добраться</span>
    </a>

</section>

<section class="office" *ngIf="page === 'office'">
    <!-- <div class="office__head">
        <h1 class="office__head-title">Офис продаzж</h1>
        <p class="office__head-text">Отдел продаж расположен на объекте, на улице Гоголя, 13, Москва</p>
        <p class="office__head-text">График работы <span>9:00-21:00 без выходных</span></p>
        <p class="office__head-text office__head-text_bold">+7 (495) 137-40-12</p>
    </div> -->

    <a class="office__link"
    href="https://yandex.ru/maps/10738/lubercy/?mode=search&text=%D0%B3.%20%D0%9B%D1%8E%D0%B1%D0%B5%D1%80%D1%86%D1%8B%2C%20%D1%83%D0%BB.%20%D0%98%D0%BD%D0%B8%D1%86%D0%B8%D0%B0%D1%82%D0%B8%D0%B2%D0%BD%D0%B0%D1%8F%2C%205&sll=44.514208%2C48.721328&sspn=1.359558%2C0.620607&ll=37.897604%2C55.684041&z=16"
        target="_blank">

        <span class="routes__link-text">Как добраться</span>
    </a>

    <div id="map" class="office_map"></div>
</section>
