@import "../../../styles/modules/mixins/mixin.scss";

@mixin title-mobile () {
    width: calc(100% - 30px);
    font: 42px/48px 'Leksa';
    @include font-smoothing;
    color: $col-black;
}


.genplan {
    margin: 67px 0 0;
    width: 100%;
    height: calc(62.94vw - 51px);
    min-height: 400px;
    display: flex;
    justify-content: center;
    position: relative;

    &__title {
        @include title-mobile;
        color: $col-black;
        position: absolute;
        left: 15px;
        top: 30px;
    }
    &_scrll {
        width: 100%;
        height: calc(100% + 20px);
        overflow-x: scroll;
        overflow-y: hidden;
    }
    &__img {
        width: 100vw;
        min-width: 768px;
        height: calc(100% - 20px);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.about-project {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;

    &__head {
        width: calc(100% - 30px);

        &-title {
            @include title-mobile();
            margin: 70px 0 20px;
        }
        &-subtitle {
            @include fw18-24;
            margin: 0 0 5px;
        }
    }
    &__content{
        width: calc(100% - 30px);

        &-descr {
            @include f16-24;
            color: rgba(0, 1, 5, 0.8);
            margin: 0 0 30px;
        }
        &-item {
            margin: 0 0 20px;
        }
        &-title {
            font: 500 16px/23px $font-mus;
            @include font-smoothing;
            margin: 0 0 6px;
        }
        &-subtitle {
            font: 500 20px/24px $font-mus;
            @include font-smoothing;
            color: $col-orange;
        }
    }
}

.gallery {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    &__title {
        width: calc(100% - 30px);
        @include title-mobile();
        margin: 120px 0 31px;
    }
    &__nav {
        width: 100%;
        height: 35px;
        overflow: hidden;

        &_scrll {
            width: 100%;
            height: calc(100% + 20px);
            box-sizing: border-box;
            padding: 0 30px 0 15px;
            overflow-x: scroll;
            overflow-y: hidden;
        }
        &-list {
            width: 375px;
            display: flex;
            list-style: none;
            font: 500 18px/24px $font-mus;
            color: rgba(0, 1, 5, 0.7);
            box-sizing: border-box;
            padding: 0 0 10px;
            position: relative;
            &:before {
                content: '';
                position: absolute;
                left: 0;
                bottom: -1px;
                height: 1px;
                width: 360px;
                background-color: rgba(0, 1, 4, 0.3);
            }

            &-item {
                transition: 0.2s linear;
                cursor: pointer;
                &:not(:last-child) { margin: 0 15px 0 0; }

                &_active {
                    position: relative;
                    color: #000105;
                    &:before {
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: -11px;
                        width: 100%;
                        height: 2px;
                        background: #e7490f;
                    }
                }
            }
        }
    }
}

.developer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    &__head {
        width: calc(100% - 30px);

        &-title {
            @include title-mobile();
            margin: 120px 0 30px;
        }
        &-subtitle {
            font: 500 18px/24px $font-mus;
            @include font-smoothing;
            color: $col-black;
            margin: 0 0 5px;
        }
        &-text {
            @include f16-24;
            color: rgba(0, 1, 5, 0.8);
            margin: 0 0 10px;
            &:Last-child { margin: 0 0 40px; }
        }
    }
    &__project {
        width: calc(100% - 30px);

        &-title {
            font: 500 20px/24px $font-mus;
            @include font-smoothing;
            margin: 0 0 21px;
        }
        &-snippet {
            width: 100%;
            height: 300px;
            padding: 20px 20px 15px;
            box-sizing: border-box;
            position: relative;
            border-radius: 4px;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            overflow: hidden;
            will-change: transform;
            margin: 0 0 10px;
            &:before {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                border-radius: 4px;
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
                pointer-events: none;
            }

            .snippet {
                &__location {
                    display: flex;

                    &-city,
                    &-distance {
                        padding: 5px 10px;
                        background: #fff;
                        position: relative;
                        font: 500 14px/20px $font-mus;
                        @include font-smoothing;
                        color: #000105;
                    }
                    &-city {
                        border-radius: 4px 0 0 4px;
                        margin: 0 1px 0 0;
                    }
                    &-distance {
                        border-radius: 0 4px 4px 0;
                    }
                }
                &__name {
                    position: relative;

                    &-title {
                        font: 500 24px/29px $font-mus;
                        @include font-smoothing;
                        color: #fff;
                    }
                    &-subtitle {
                        font: 500 14px/20px $font-mus;
                        @include font-smoothing;
                        color: #fff;
                    }
                }
                &__bg-image {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    left: 0;
                    top: 0;
                    z-index: -1;
                }
            }
            &:nth-child(3) {
                .snippet {

                    &__location {
                        display: flex;
                        flex-flow: column nowrap;
                        justify-content: space-between;
                        align-items: flex-start;
                        height: 61px;
    
                        &-city,
                        &-distance {
                            display: inline;
                            border-radius: 4px;
                        }
                    }
                }
            }
            &:nth-child(4) {
                .snippet {

                    &__location {
                        width: 194px;
                        height: 50px;
                        display: flex;
                        flex-flow: column nowrap;
                        justify-content: space-between;
                        align-items: flex-start;
    
                        &-city,
                        &-distance {
                            width: 100%;
                            padding: 0 10px;
                        }
                        &-city {
                            padding-top: 5px;
                            border-radius: 4px 4px 0 0;
                        }
                        &-distance {
                            padding-bottom: 5px;
                            border-radius: 0 0 4px 4px;
                        }
                    }
                }
            }
            &:nth-child(6) {
                .snippet {

                    &__location {
                        display: flex;
                        flex-flow: column nowrap;
                        justify-content: space-between;
                        align-items: flex-start;
                        height: 61px;
    
                        &-city,
                        &-distance {
                            display: inline;
                            border-radius: 4px;
                        }
                        &-city {
                            display: block;
                            width: 144px;
                            margin: 0 0 1px;
                        }
                    }
                }
            }
        }
    }
}