$font: 15px/28px 'abrade-book', sans-serif;

@mixin font-smoothing {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.with-scroll {
    
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100px;
        width: 100%;
        background: linear-gradient(to top, #ffffff, rgba(255,255,255,0));
        z-index: 1;
        pointer-events: none;
        transition: .2s linear;
    }
}

.search {
    width: 100%;
    height: 100vh;
    background: #ffffff;
    position: relative;
    z-index: 21;
    display: flex;

    &_cls-btn {
        width: 40px;
        height: 40px;
        background: url('/assets/img/flats/search/cls-btn.svg') no-repeat;
        background-size: 100%;
        cursor: pointer;
        position: absolute;
        top: 80px;
        right: 15px; 
    }

    &_main {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        padding: 65px 0;
        box-sizing: border-box;

        @media(max-width: 1439px) and (min-width: 320px) {
            justify-content: flex-start;
            padding-left: 365px;
        }
    }

    &_form_container {
        height: 100%;
        width: 314px;
        overflow: hidden;
        box-sizing: border-box;
        border-right: 1px solid rgba(136,138,161,.4);
        position: absolute;
        top: 0;
        left: 0;
        padding: 65px 0;
    }

    &_form_scroll-wrap {
        height: 100%;
        width: 334px;
        overflow-x: hidden;
        overflow-y: auto;
    }

    &_form {
        width: 314px;
        box-sizing: border-box;
        background: #ffffff;
        position: relative;
        box-sizing: border-box;
        padding: 70px 29px 22px 35px;

        &_title {
            font: 18px 'Montserrat';
            font-weight: bold;
            line-height: 1.1;
            color: #1c1c1c;
            @include font-smoothing();
            margin-bottom: 40px;
        }

        &_wrap {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 18px;
            position: relative;
            width: 100%;

            &--range {
                margin-bottom: 27px;

                &:hover {

                    .search_form_range-text {
                        text-shadow: 0 0 8px #ffde7c;
                    }
                }
            }
        }

        &_text {
            font: $font;
            color: #2e2e2e;
            @include font-smoothing();
            margin-bottom: 5px;
            user-select: none;
        }

        &_range-text {
            margin: 0;
            position: absolute;
            right: 0;
            top: 0;
            transition: text-shadow .2s linear;
        }

        &_rooms {
            display: flex;

            &_item {

                &:nth-of-type(2) {
                    
                    .search_form_rooms_checkbox_for-click {
                        border-left: 1px solid #d9d9d9;
                    }
                }

                &:first-of-type {

                    .search_form_rooms_checkbox {
                        border-radius: 2px 0 0 2px;
                        border-left: 1px solid #d9d9d9;
                        clip-path: border-box;
                        padding-right: 36px !important;
                        z-index: 1 !important;
                        margin-right: -20px;
                        -webkit-clip-path: inset(0 0 0 0 round 2px);
                        clip-path: inset(0 0 0 0 round 2px );
                    }
                }

                &:last-of-type {

                    .search_form_rooms_checkbox {
                        border-radius: 0 2px 2px 0;
                        clip-path: border-box;
                        padding-left: 36px !important;
                        z-index: 1 !important;
                        margin-left: -20px;
                        -webkit-clip-path: inset(0 0 0 0 round 2px);
                        clip-path: inset(0 0 0 0 round 2px );
                    }
                }
            }

            &_checkbox {
                display: flex;
                align-items: center;
                justify-content: center;
                box-sizing: border-box;
                padding: 0 16px;
                height: 40px;
                min-width: 40px;
                position: relative;
                z-index: 2;
                // overflow: hidden;
                background: white;
                cursor: pointer;
                border: 1px solid #d9d9d9;
                border-left: none;
                user-select: none;

                &:hover {

                    .search_form_rooms_checkbox_for-click {
                        background: #f2e7d5;
                    }

                    .search_form_rooms_checkbox_text {
                        color: #000;
                    }
                }

                &_content {
                    display: none;

                    &:checked {

                        & + .search_form_rooms_checkbox_for-click {
                            background: #cda571;
                        }

                        & ~ .search_form_rooms_checkbox_text {
                            color: #fff;
                        }
                    }
                }

                &_for-click {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    transition: .2s linear;
                }

                &_text {
                    position: relative;
                    z-index: 1;
                    font: $font;
                    color: #888aa1;
                    @include font-smoothing();
                    transition: .2s linear;
                }
            }
        }
    }
}