<div class="search" [ngClass]="{'search_slide-top': parentPlan && showSearchWindow}">

    <a *ngIf="isAuthorizated && parentPlan && showSearchWindow" (click)="isSeoPageModalOpen = true; windowScrollLocker.block()" class="search_meta-open">Добавить страницу продвижения</a>

    <app-search-form
        [parentPlan]="parentPlan"
        (formChange)="formChange($event)"
        (sortChange)="sortChange($event)"
        (showPopular)="showPopular.emit()">
    </app-search-form>

    <div class="search__main">

        <app-search-output
            [parentPlan]="parentPlan"
            [flatsList]="outputFlatsList"
            [count]="count">
        </app-search-output>

        <button *ngIf="isLoadMoreBtn" (click)="loadMore()" class="search__main-more">Показать еще</button>

    </div>

</div>

<app-seo-page *ngIf="isAuthorizated && isSeoPageModalOpen && parentPlan && showSearchWindow"
    (modalClose)="isSeoPageModalOpen = $event; windowScrollLocker.unblock()"
    [searchParams]="seoPageParams">
</app-seo-page>
