@import '../../../styles/modules/mixins/mixin';

.main {

    &__container {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }

    &__descr {
        width: 100%;
        background: rgba(170, 171, 34, .1);
        position: relative;

        &-paragraf {
            font: 36px/1.52 $font-leksa;
            @include font-smoothing;
            color: #000105;
            max-width: $w1600;
            margin: 155px 0;
            text-align: center;
            @media (max-width: 1370px) {
                font: 31px/1.4 $font-leksa;
                margin: 130px 0;
            }

            &--input {
                width: 100%;
                max-width: $w1600;
                border: 2px dashed #000105;
                padding: 5px 10px;
            }

            .g-link_red {
                font: inherit;
                position: relative;
                text-decoration: none;
                border-bottom: 3px solid;
                transition: border-color .2s ease;

                &:hover { border-bottom-color: transparent; }
            }
        }

        &-img {
            width: 100%;
            max-width: $w1600;
            position: absolute;
            bottom: 7px;
            display: flex;
            justify-content: flex-end;
        }
    }
}

@media (max-width: 1279px) {

    .main__descr-paragraf {
        font-size: 30px;
        line-height: 1.8;
        max-width: calc(100% - 60px);
        margin: 150px 0;
    }
    .main__descr-img {
        width: 100%;
        max-width: none;
    }
}
