<section class="main__descr">
    <div class="main__container">
        <p class="main__descr-paragraf">
            <a class="g-link_red" href="#">Квартиры в жилом комплексе</a>🏠🛋 переменной этажности 4-17 этажей,
            со встроенными коммерческими помещениями 🏬, детским садом, школой и благоустроенной территорией 🚴‍🌳.
            Периметральная застройка и закрытые дворы обеспечивают безопасность 👮‍👍 для детей и жителей квартала.🌿
        </p>
        <div class="main__descr-img">
            <img src="/assets/img/cat.png" alt="cat">
        </div>
    </div>
</section>
