
<div *ngIf="isSlideShow" class="dynamic_modal">

    <div (click)="close.emit(false)" class="dynamic_modal_cls-btn"></div>

    <div class="dynamic_modal_wrap">

        <ng-container *ngFor="let slide of slides; let i = index">
            <img *ngIf="slide.type === 'IMAGE'"
                class="dynamic_modal_img"
                [src]="slide.origin"
                [ngClass]="{'dynamic-slider-current': i === slideShowCurrent}"
            />
        </ng-container>

        <div (click)="prev()" class="dynamic_modal_btn dynamic_modal_btn--left"></div>
        <div (click)="next()" class="dynamic_modal_btn dynamic_modal_btn--right"></div>
    </div>

</div>
