
.admin-gallery_progress {
    position: absolute;
    top: 0;
    left: 0;
    font: 15px/25px Arial, sans-serif;
    z-index: 100;
    flex-direction: column;
    height: 100%;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: rgba(0,0,0,.8);
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    &-title {

    }

    &-info {

    }

    &-line {
        width: 200px;
        border: 1px solid white;
        margin-top: 10px;
        height: 15px;
        position: relative;
        box-sizing: border-box;
    }

    &-line-inner {
        box-sizing: border-box;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        background: white;
        transition: .2s;
    }
}


.admin-gallery_load-button {
    height: 44px;
    width: 205px;
    color: white;
    outline: none;
    border: none;
    border-radius: 22px;
    background: #1A1A1A;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: absolute;
    z-index: 10;
    font: 15px/18px 'FreeSet_Regular', sans-serif;
    left: 40px;
    top: 210px;
    cursor: pointer;
}

.admin-gallery_modal-wrapper {
    opacity: 0;
    pointer-events: none;
    transition: .3s;
    background: rgba(43,43,43,.8);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;

    &.admin-gallery_modal--active {
        opacity: 1;
        pointer-events: auto;
    }
    

    .admin-gallery_modal-close-bgr {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        z-index: 1;
    }

    .admin-gallery_modal {
        background: white;
        width: 390px;
        box-sizing: border-box;
        border-radius: 5px;
        padding: 30px 30px 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        z-index: 2;
    }

    .admin-gallery_modal-title {
        width: 100%;
        font: 24px 'Arial', sans-serif;
        color: #323232;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin-bottom: 30px;
    }

    .admin-gallery_modal-ready-button {
        position: absolute;
        color: white;
        background: #1A1A1A;
        border: none;
        outline: none;
        bottom: 45px;
        left: 35px;
        height: 44px;
        border-radius: 22px;
        width: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .admin-gallery_modal-images {
        width: 100%;

        .admin-gallery_images-list {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;

            .admin-gallery_images-list-item {
                width: 75px;
                height: 50px;
                background: gray;
                margin: 0 10px 10px 0;
                position: relative;

                &:nth-of-type(4n) {
                    margin-right: 0;
                }

                .admin-gallery_images-list-item-image {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .admin-gallery_images-list-item-change-btn {
                    cursor: pointer;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: #323232 url('/assets/img/about/gallery/change-btn.svg') center center no-repeat;
                    width: 15px;
                    height: 15px;
                    transition: .2s linear;
                    border: none;
                    outline: none;

                    &:hover {
                        background-color: #B2E045;
                    }
                }

                .admin-gallery_images-list-item-delete {
                    cursor: pointer;
                    position: absolute;
                    top: 0;
                    right: 0;
                    background: #323232 url('/assets/img/about/gallery/delete-btn.svg') center center no-repeat;
                    width: 15px;
                    height: 15px;
                    transition: .2s linear;
                    border: none;
                    outline: none;

                    &:hover {
                        background-color: #B2E045;
                    }
                }
            }
        }
    }
}

.gallery-admin_close-btn {
    width: 20px;
    height: 20px;
    outline: none;
    cursor: pointer;
    border: none;
    position: absolute;
    top: 30px;
    right: 30px;
    background: url('/assets/img/about/gallery/close-btn.svg') center center no-repeat;
}

.admin-gallery_modal-load-more-button {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #B2E045;
    font: 14px 'Arial', sans-serif;
    color: #323232;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    cursor: pointer;
    border-radius: 0 0 4px 4px;
}