.slider {
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 15px;

    &:before {
        content: '';
        width: 100%;
        height: 100px;
        background: linear-gradient(to top, rgba(0,0,0,.5), transparent);
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 1;
        pointer-events: none;
    }
}