$font: 15px/18px 'Montserrat';

@mixin font-smoothing {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:host {
    height: 100%;
}

.with-scroll {
    
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100px;
        width: 100%;
        background: linear-gradient(to top, #ffffff, rgba(255,255,255,0));
        z-index: 1;
        pointer-events: none;
        transition: .2s linear;
    }
}

.search_output {
    width: 865px;
    height: 100%;
    box-sizing: border-box;
    padding-top: 140px; 
    overflow: hidden;
    position: relative;

    .search_output_empty {
        font: 18px/28px 'Montserrat';
        color: #2e2e2e;
        @include font-smoothing();
        margin-top: 20px;
    }

    &_text {
        font: 18px/28px 'Montserrat';
        color: #2e2e2e;
        @include font-smoothing();
        position: absolute;
        left: 50%;
        top: 54px;
        transform: translateX(-50%);
        user-select: none;
    }

    &_scroll-wrap {
        width: calc(100% + 20px);
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }

    &_result {
        width: 100%;
        padding: 30px 0 0 0;

        &_item {
            width: calc(100% - 35px);
            height: 80px;
            display: flex;
            align-items: center;
            box-sizing: border-box;
            border-radius: 2px;
            margin: 0 5px;
            padding: 0 10px 0 0;
            transition: box-shadow .3s linear;

            &:last-of-type {
                margin-bottom: 100px;
            }

            &:hover {
                box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.15);
            }

            &_scheme{
                height: 60px;
                width: 100px;
            }

            &_content {
                font: 15px 'Montserrat';
                color: #888aa1;
                @include font-smoothing();
                text-align: center;
                white-space: nowrap;
                user-select: none;
                transition: .2s linear;

                &--number {
                    text-align: center;
                    font-weight: bold;
                    color: #cda571;
                    width: 13%;
                }

                &--section {
                    width: 10%;
                }

                &--type {
                    width: 5%;
                }

                &--floor {
                    width: 19%;
                }

                &--room {
                    width: 11%;
                }

                &--size {
                    color: #292929;
                    font-weight: bold;
                    width: 11%;
                }

                &--decoration {
                    text-align: left;
                    box-sizing: border-box;
                    padding: 0 0 0 20px;
                    width: 20%;
                }

                &--price {
                    text-align: right;
                    color: #292929;
                    font-weight: bold;
                    width: 15%;
                }
            }
        }
    }
}