$font: 15px/18px 'Montserrat';
@import "../../../../styles/modules/mixins/mixin";

:host {
    height: 100%;
}

.search-output {
    width: $w1600;
    min-height: 100%;
    box-sizing: border-box;
    padding-top: 40px; 
    overflow: hidden;
    position: relative;
    margin: 0 0 120px;

    &__empty { @include f16-24(rgba(0, 1, 5, .8)); }
    &__title {
        font: 500 24px/29px $font-mus;
        @include font-smoothing;
        color: $col-black;
        user-select: none;
        margin: 0 0 90px;
    }

    &__result {
        width: 100%;

        &-wrap {
            width: 100%;
            height: 110px;
            box-sizing: border-box;
            cursor: pointer;
            display: flex;
            align-items: center;
            border-bottom: 1px solid rgba(0, 1, 5, 0.3);
            transition: background-color $transition;
            &:first-child { border-top: 1px solid rgba(0, 1, 5, 0.3); }
            &:hover { background-color: rgba(231, 73, 15, 0.03); }
        }

        &-item {
            width: calc(100% - 38px);
            height: 100%;
            display: flex;
            align-items: center;
            box-sizing: border-box;
            padding: 15px 20px;

            &-img {
                width: 102px;
                min-width: 102px;
                height: 100%;
                display: flex;
                align-items: center;
                margin: 0 59px 0 0;

                &-error {
                    display: flex;
                    width: 100%;
                    padding: 20px 12px;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    background-color: #fafafa;
                    font: 500 14px/20px 'Museo Sans Cyrl', sans-serif;
                    color: #000105;
                    opacity: 0.6;
                }
            }
            &-scheme{
                height: 100%;
                max-width: 100%;
            }

            &-content {
                font: 16px/24px $font-mus;
                @include font-smoothing();
                color: rgba(0, 1, 5, 0.8);
                white-space: nowrap;
                user-select: none;

                &_room {
                    font-weight: 500;
                    color: $col-orange;
                }
                &_price,
                &_space {
                    font-weight: 500;
                    color: $col-black;
                }
                &_price-not-sale {
                    font-weight: 500;
                    color: #999a9b;
                    text-decoration: line-through;
                }
                &_price-sale {
                    font-weight: 500;
                    color: $col-orange;
                    position: relative;
                    &:before {
                        content: '';
                        position: absolute;
                        width: 28px;
                        height: 15px;
                        top: calc(50% - 8px);
                        left: -33px;
                        background: url(/assets/img/stock-ic.svg) no-repeat;
                    }
                }

                &_number,
                &_floor,
                &_house { // Должен быть корпус!
                    width: 9.12%;
                    min-width: 106px;
                }
                &_room,
                &_space,
                &_decoration,
                &_delivery {
                    width: 18.5%;
                    min-width: 135px;
                }
            }

            &-price {
                width: 15%;
                display: flex;
                flex-flow: column;
            }
            &-favorite {
                width: 18px;
                height: 18px;
                background: url(/assets/img/favorite.svg) no-repeat;
                background-size: 100%;

                &_active {
                    background: url(/assets/img/favorite_active.svg) no-repeat;
                    background-size: 100%;
                }
            }
        }
    }
}
