<div class="search-output with-scroll">

    <h1 class="search-output__title">Найдено {{flatsCount()}} квартир</h1>

    <div class="search-output__result">
        <div class="search-output__empty" *ngIf='flatsList.length === 0'>Квартир по вашему запросу не найдено.<br>Попробуйте изменить условия поиска.</div>

        <div *ngFor="let flat of flatsList" class="search-output__result-wrap">
            <a [routerLink]="['/flats/section/' + flat.section + '/floor/' + flat.floor + '/apartment/' + flat.flat]" class="search-output__result-item">
                <div class="search-output__result-item-img">
                    <img class="search-output__result-item-scheme" 
                         [src]="'/assets/floor-plans/section_' + flat.section + '/floor_' + flat.floor + '/' + flat.floor + 'floor_' + flat.flat + 'flat.svg'">
                </div>
                <span class="search-output__result-item-content search-output__result-item-content_room">{{(flat.rooms === 0) ? 'Студия' : flat.rooms + ' комнатная'}}</span>
                <span class="search-output__result-item-content search-output__result-item-content_space">{{flat.space}} м²</span>
                <span class="search-output__result-item-content search-output__result-item-content_floor">{{flat.floor}} этаж</span>
                <!-- Нужен корпус а не секция -->
                <span class="search-output__result-item-content search-output__result-item-content_section">Корпус {{flat.house}}</span>
                <!-- /Нужен корпус а не секция -->
                <span class="search-output__result-item-content search-output__result-item-content_decoration">{{flat.decorationName}}</span>
                <span class="search-output__result-item-price">
                    <span class="search-output__result-item-content 
                                 search-output__result-item-content_price
                                 search-output__result-item-content_price-not-sale"
                          [ngClass]="{'search-output__result-item-content_price' : !flat.discount,
                                      'search-output__result-item-content_price-not-sale' : flat.discount}">
                        {{flat.price | myBitNumberPipe}} &#8381;
                    </span>
                    <span *ngIf="flat.discount"
                          class="search-output__result-item-content search-output__result-item-content_price-sale">
                          {{+flat.price - flat.discount | myBitNumberPipe}} &#8381;
                    </span>
                </span>
            </a>
            <div class="search-output__result-item-favorite"></div>
        </div>
    </div>

</div>
