<div class="search-output" *ngIf="flatsList">

    <div class="search-output__head">
        <h2 class="search-output__head-title">Найдено {{flatsCount()}} {{ parseText( flatsCount() ) }} {{parentDecoration ? 'c меблеровкой' : ''}}</h2>

        <app-search-sorting
            [(ngModel)]="sort"
            [ngModelOptions]="{standalone: true}"
            (ngModelChange)="sortFlats(sort)"
            [parentDecoration]="parentDecoration">
        </app-search-sorting>
    </div>

    <div class="search-output__result" [class.flex-output]="viewType === 'block'">

        <ng-container *ngFor="let flat of flatsList; index as i">
            <app-flat-snippet
                [index]="i"
                [flatData]="flat"
                [viewType]="viewType"
                (closeFavorite)="noticeFavorite()"
            ></app-flat-snippet>
        </ng-container>

        <app-loader
            *ngIf="preloader === true && parentPlan"
            [loaderHeight]="300"
            [loaderShow]="preloader && parentPlan">
        </app-loader>
        <div class="search-output__empty" *ngIf='flatsList.length === 0 && !preloader'>Квартир по вашему запросу не найдено.<br>Попробуйте изменить условия поиска.</div>
    </div>
</div>
