$font: 15px/18px 'Montserrat';
@import "../../../../styles/modules/mixins/mixin";

:host {
    height: 100%;
}

.search-output {
    width: $w1600;
    min-height: 100%;
    box-sizing: border-box;
    padding-top: 40px;
    position: relative;
    margin: 0 0 120px;

    &__empty { @include f16-24(rgba(0, 1, 5, .8)); }
    
    &__head {
        display: flex;
        justify-content: space-between;
        position: relative;
        margin: 0 0 15px;
        z-index: 1;
        
        &-title {
            font: 500 24px/29px $font-mus;
            @include font-smoothing;
            color: $col-black;
            user-select: none;
        }
    }

    &__filter {

        &-item {
            font: 500 18px/24px $font-mus;
            color: rgba(0, 1, 5, .6);
            background-color: transparent;
            transition: color $transition;
            position: absolute;
            top: 11px;
            border: 0;
            &:hover {
                color: rgba(0, 1, 5, .8);
                &::after { top: 8px; }
            }
            &::after {
                content: '';
                width: 10px;
                height: 16px;
                position: absolute;
                top: 5px; left: calc(100% + 5px);
                background: url(/assets/img/filter_arrow.svg) no-repeat;
                background-size: 100%;
                transition: top .5s ease;
                display: none;
            }
            &.active { color: $col-black; }
            &.minFromMax::after { display: block; }
            &.maxFromMin{
                &::after {
                    display: block;
                    transform: rotate(180deg);
                }
                &:hover::after { top: 2px; }
            }

            &--space { left: 468px; }
            &--floor { left: 646px; }
            &--delivery { left: 885px; }
            &--price { left: 1040px; }
        }
    }

    &__result {
        width: 100%;
        min-height: 300px;
        &.flex-output {
            display: flex;
            flex-flow: row wrap;
            &> * {
                width: calc((100% - (30px * 3)) / 4);
                margin: 0 30px 30px 0;
                &:nth-child(4n) { margin-right: 0; }
            }
        }
    }
}
