<header class="header">

    <div class="header__container header__container--fixed" [class.active]="active">
        <section class="header__head">
            <div class="header__head-logo" routerLink="/" (click)="closeNav()"></div>

            <div class="header__head-wrap">
                <a href="tel:{{phone ? phone : '+74991109372'}}" class="header__head-number header__info-number"></a>
                <div class="header__head-menu"
                    [class.active]="active" (click)="toggleNav()"><span></span></div>
            </div>
        </section>

        <nav class="header__nav" [class.active]="active">
            <div class="header__nav-container">

                <ul class="header__nav-list">
                    <ng-container *ngFor="let link of links">
                        <li class="header__nav-list-item" *ngIf="link">
                            <a class="header__nav-list-item-link" [routerLink]="link.url" (click)="closeNav()">{{link.name}}</a>
                        </li>
                    </ng-container>

                    <li class="header__nav-list-item">
                        <a class="header__nav-list-item-link" [routerLink]="'/favorites'" (click)="closeNav()">Избранное <span *ngIf="favoriteCounter && favoriteCounter > 0">({{favoriteCounter}})</span></a>
                    </li>
                </ul>
    
                <div class="header__nav-footer">
                    <div class="header__nav-footer-sell">
                        <a href="tel:{{phone ? phone : '+74991109372'}}" class="header__nav-footer-phone header__info-number">
                            {{phone ? phone : '+7 (499) 110-93-72'}}
                        </a>
                    </div>
                    <div class="header__nav-footer-link">
                        <ul class="header__nav-footer-list">
                            <li class="header__nav-footer-list-item">
                                <a href="//www.instagram.com/3red.official">
                                    <img src="/assets/img/header/insta_media.svg" alt="i">
                                </a>
                            </li>
                            <li class="header__nav-footer-list-item">
                                <a href="//vk.com/3red.official">
                                    <img src="/assets/img/header/vk_media.svg" alt="vk">
                                </a>
                            </li>
                            <li class="header__nav-footer-list-item">
                                <a href="//www.facebook.com/3red.official">
                                    <img src="/assets/img/header/fb_media.svg" alt="f">
                                </a>
                            </li>
                        </ul>
                        <a (click)="showFullVersion()" class="header__nav-footer-descr">Полная версия сайта</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>
