<header class="header">
    <div class="header__container">
        <section class="header__head">
            <div class="header__head-sell">
                <a routerLink="/location/office" class="g-link_red">Отдел продаж</a>
            </div>
            <div class="header__head-logo" routerLink="/"></div>
            <div class="header__head-phone">
                <a href="tel: +74951374012" class="head-phone__paragraf">+7 (495) 137-40-12</a>
                <a href="#" class="g-link_red">Заказать звонок</a>
            </div>
            <div class="header__head-menu" [class.header__head-menu--active]="active"
                (click)="toggleNav()">
                <span></span>
            </div>
        </section>
        <nav class="header__nav" [class.header__nav--active]="active">
            <ul class="header__nav-list">
                <li class="header__nav-list-item" *ngFor="let link of links">
                    <a [routerLink]="link.url" (click)="toggleNav()">{{link.name}}</a>
                </li>
            </ul>

            <div class="header__nav-footer">
                <div class="header__nav-footer-sell">
                    <a href="#" class="g-link_red">Отдел продаж</a>
                    <a href="tel: +74951374012" class="header__nav-footer-phone">+7 (495) 137-40-12</a>
                </div>
                <div class="header__nav-footer-link">
                    <ul class="header__nav-footer-list">
                        <li class="header__nav-footer-list-item">
                            <a href="#">
                                <img src="/assets/img/header/insta_media.svg" alt="i">
                            </a>
                        </li>
                        <li class="header__nav-footer-list-item">
                            <a href="#">
                                <img src="/assets/img/header/vk_media.svg" alt="vk">
                            </a>
                        </li>
                        <li class="header__nav-footer-list-item">
                            <a href="#">
                                <img src="/assets/img/header/fb_media.svg" alt="f">
                            </a>
                        </li>
                    </ul>
                    <a href="#" class="header__nav-footer-descr">Полная версия сайта</a>
                </div>
            </div>
        </nav>
    </div>
</header>
