<section class="favorite">
    <div class="favorite__container">
        <div class="favorite__head">
            <p class="favorite__head-subtitle">{{ favoritesTitle }}</p>

            <nav class="favorite__nav">
                <div class="favorite__nav--overflow">
                    <div class="favorite__nav--scroll">
                        <ul class="favorite__nav-list">
                            <li class="favorite__nav-item" routerLinkActive="active"><a routerLink="/favorites/flats">Квартиры</a></li>
                            <li class="favorite__nav-item" routerLinkActive="active"><a routerLink="/favorites/commercial">Коммерческая недвижимость</a></li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="favorite__filter" *ngIf="flatListLength">
                <app-search-sorting
                    [counter]="flatListLength"
                    [viewType]="viewType"
                    [(ngModel)]="sort"
                    [hideViewTypeBtn]="page === 'commercial'"
                    (viewTypeChanges)="favoritesService.viewTypeValue = $event"
                    (ngModelChange)="changeSort()"
                ></app-search-sorting>
            </div>
        </div>
    </div>
    <div class="favorite__objects">
        <router-outlet></router-outlet>
    </div>
</section>
