@import "../../styles/modules/mixins/mixin";

.favorite {
    width: 100%;
    padding: 40px 0 96px;
    display: flex;
    flex-flow: column;
    align-items: center;
    @media (max-width: 760px) { padding: 32px 0 64px; }

    &__container {
        width: $mobileContainer;
        max-width: $tabletContainer;
    }
    &__head {
        margin-bottom: 24px;
        
        &-title {
            font: 30px/34px 'Leksa';
            margin: 0 0 16px;
        }
        &-subtitle { font: 24px/29px "Museo Sans Cyrl", "sans-serif"; }
    }

    &__objects { width: 100%; }

    @media (max-width: 760px) {
        padding: 32px 0 0;

        &__head {
            &-title {
                font-size: 28px;
                line-height: 28px;
            }
            &-subtitle {
                font-size: 20px;
                line-height: 26px;
            }
        }
    }
}
