<div *ngIf="isOpen" class="g-modal-bg form-modal">

    <div (click)="close.emit(false)" class="form-request__cls-btn"></div>

    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-request">

        <h1 class="form-request__title">Забронировать квартиру №{{apartmentNumber}}</h1>

        <input [formControl]="form.controls['price']" type="text" style="display: none;">
        <input [formControl]="form.controls['number']" type="text" style="display: none;">

        <div class="form-request__wrap">
            <p class="form-request__subtitle">Фамилия</p>
            <input [formControl]="form.controls['lastName']" 
                class="form-request__field"
                type="text">
        </div>
        <div class="form-request__wrap">
            <p class="form-request__subtitle">Имя</p>
            <input [formControl]="form.controls['name']" 
                class="form-request__field"
                type="text">
        </div>
        <div class="form-request__wrap">
            <p class="form-request__subtitle">Отчество</p>
            <input [formControl]="form.controls['middleName']" 
                class="form-request__field"
                type="text">
        </div>

        <div class="form-request__wrap">
            <p class="form-request__subtitle">Телефон</p>
            <input class="form-request__field" 
                *ngIf="platform.isBrowser" 
                [formControl]="form.controls['phone']"
                [ngClass]="{'input-invalid': ( (form.get('phone').value != null) && (form.get('phone').value.indexOf('_') !== -1 || form.get('phone').value.length === 0) && form.controls['phone'].touched ) }" 
                type="text">
            <p class="form-request__notice">Например: 79991105522</p>
        </div>

        <div class="form-request__wrap">
            <p class="form-request__subtitle">Эл. почта</p>
            <input class="form-request__field"
                [formControl]="form.controls['mail']"
                type="text">
        </div>

        <div class="form-request__wrap">

            <p class="form-request__subtitle">Когда вам позвонить?<br>Мы работаем каждый день с 9 до 21 часа.</p>

            <label class="form-request__radio-wrap">
                <input [formControl]="form.controls['wait_for_call']" value="now" type="radio" name="time">
                <div class="form-request__radio"></div>
                <p class="form-request__radio-text">
                    В ближайшее время
                    <span class="form-request__radio-text_remark">(наш лучший специалист свяжется с вами в течение 23 секунд. Это бесплатно!)</span>
                </p>
            </label>

            <label class="form-request__radio-wrap form-request__radio-wrap_time" (click)="timeFocus()">
                <input [formControl]="form.controls['wait_for_call']" value="later" type="radio" name="time">
                <div class="form-request__radio"></div>
                <p class="form-request__radio-text">
                    В другое удобное время:
                    <span class="form-request__radio-text_remark">(с 09:00 до 21:00 по мск)</span>
                </p>
                <input class="form-request__field form-request__field_time"
                    *ngIf="platform.isBrowser"
                    [ngClass]="{'time-input-active' : (form.get('wait_for_call').value === 'later' && isOpen)}"
                    [textMask]="{mask: timeMask}"
                    [formControl]="form.controls['time']"
                    placeholder="__:__" type="text">

            </label>

        </div>

        <label class="form-request__checkbox-wrap">
            <input [formControl]="form.controls['agreement']" type="checkbox">
            <div class="g-checkbox form-request__checkbox" [ngClass]="{'input-invalid': ( form.get('agreement').value === false ) }"></div>
            <span class="form-request__subtitle form-request__subtitle_checkbox">Я соглашаюсь на использование моих персональных данных.</span>
        </label>

        <button
            [ngClass]="{'disabled-submit-btn': (!form.valid || form.get('agreement').value === false ) || (form.get('phone').value == null) || (form.get('phone').value.indexOf('_') !== -1)}" 
            [disabled]="(!form.valid || form.get('agreement').value === false ) || (form.get('phone').value == null) || (form.get('phone').value.indexOf('_') !== -1)" 
            class="form-request__btn">
            Отправить заявку
        </button>
    </form>
</div>
