<svg class="search_form_sections" viewBox="0 0 130 160">

    <g fill="none" fill-rule="evenodd">
        <g id="section_1" (click)="selectSection(1)" [ngClass]="{'section--active': isActive(1)}" class="search_form_sections_item">
            <path class="st1 search_form_sections_item_content" d="M77.5,93.5 L77.5,114.5 L95.5093844,114.5 L95.5093844,134.518637 L116.47359,134.518637 L116.491605,115.376433 L116.473532,93.5 L77.5,93.5 Z"/>
            <text transform="translate(0 -5)" class="st0 st4 st5 search_form_sections_text"><tspan x="94" y="114">1</tspan></text>
        </g>

        <g id="section_2" (click)="selectSection(2)" [ngClass]="{'section--active': isActive(2)}" class="search_form_sections_item">
            <rect class="st1 search_form_sections_item_content" x="36.5" y="93.5" width="41.0304569" height="21"/>
            <text transform="translate(0 -5)" class="st0 st4 st5 search_form_sections_text"><tspan x="53" y="114">2</tspan></text>
        </g>

        <g id="section_3" (click)="selectSection(3)" [ngClass]="{'section--active': isActive(3)}" class="search_form_sections_item">
            <path class="st1 search_form_sections_item_content"  d="M0.5,76.5 L0.5,114.5 L36.4764615,114.5 L36.4764615,93.5 L24.5,93.5 L24.5,76.5 L0.5,76.5 Z"/>
            <text transform="translate(0 -5)" class="st0 st4 st5 search_form_sections_text"><tspan x="14" y="114">3</tspan></text>
        </g>

        <g id="section_4" (click)="selectSection(4)" [ngClass]="{'section--active': isActive(4)}" class="search_form_sections_item">
            <rect class="st1 search_form_sections_item_content" x="0.5" y="26.5" width="24" height="50"/>
            <text transform="translate(0 -5)" class="st0 st4 st5 search_form_sections_text"><tspan x="8" y="57">4</tspan></text>
        </g>
    </g>
</svg>
