.search-form__houses {
    width: 355px;
    height: 94px;

    &-text {
        pointer-events: none;
        user-select: none;
        font: 500 12px/18px 'Museo Sans Cyrl', sans-serif;
        fill: #000105;
        z-index: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    &-img {
        fill: #FFFFFF;
        stroke: #999A9B;
        cursor: pointer;
        transition: .2s linear;

        &:hover {
            fill: rgba(231, 73, 15, .8);
        }
        &--active {
            fill: rgba(231, 73, 15, 1);
            stroke: rgba(231, 73, 15, 1);
        }
    }
}
