
<div *ngIf="isAuthorizated" class="admin-dynamic-create-form admin-controll">

    <h2 class="admin-dynamic-create-form-title">Добавить объект:</h2>

    <ul class="admin-dynamic-create-form-list">
        <ng-container *ngFor="let item of tagsArray">
            <li class="admin-dynamic-create-form-list-item" (click)="onSubmit({title: item, year: year, month: month})">{{item}}</li>
        </ng-container>
    </ul>

    <form class="admin-dynamic-create-form-content" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
        <input class="admin-dynamic-create-form-content-input" [ngClass]="{'invalid-input': (!form.controls['title'].valid) && form.get('title').touched}" [formControl]="form.controls['title']" type="text" placeholder="Новый (введите название и нажмите Enter)">
        <input class="admin-dynamic-create-hidden-item" [formControl]="form.controls['year']" type="number">
        <input class="admin-dynamic-create-hidden-item" [formControl]="form.controls['month']" type="number">
        <input class="admin-dynamic-create-hidden-item" type="submit">
    </form>
</div>
