
<div *ngIf="isAuthorizated" class="admin-dynamic-create-form admin-controll">

    <div class="dynamic__create-form">
        <button class="dynamic__create-form-cls" (click)="clsObject()"></button>

        <h1 class="dynamic__create-form-title">Добавить объект:</h1>
        <p class="dynamic__create-form-text">Введите название нового объекта или выберите из списка</p>
        <p class="dynamic__create-form-subtitle">Название объекта</p>

        <form class="dynamic__create-form-content" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
            <input class="dynamic__create-form-content-input" [ngClass]="{'invalid-input': (!form.controls['title'].valid) && form.get('title').touched}" [formControl]="form.controls['title']" type="text">
            <input class="admin-dynamic-create-hidden-item" [formControl]="form.controls['year']" type="number">
            <input class="admin-dynamic-create-hidden-item" [formControl]="form.controls['month']" type="number">
            
            <p class="dynamic__create-form-list-subtitle dynamic__create-form-subtitle">Список созданных объектов</p>
            
            <ul class="dynamic__create-form-list">
                <ng-container *ngFor="let item of tagsArray">
                    <li class="dynamic__create-form-list-item" (click)="onSubmit({title: item, year: year, month: month})">{{item}}</li>
                </ng-container>
            </ul>
            
            <button class="dynamic__create-form-content-submit" type="submit">Добавить</button>
        </form>
    </div>

</div>
