<section class="main__place">
    <div class="main__container">
        <h1 class="main__place-title g-title-path">Места поблизости</h1>
    </div>
    <div class="main__place-slider">
        <div class="main__place-btn">
            <button class="main__place-btn-prev" (click)="prevBtn()"></button>
            <button class="main__place-btn-next" (click)="nextBtn()"></button>
        </div>

        <div class="main__place-slider-wrap">
            <ul [ngStyle]="{ 'transform' : ('translateX(-' + ( this.currentSlide * ( 1240 + 30 ) ) + 'px)') }" class="main__place-slider-list">
                <li *ngFor="let item of gallerySlides; let i = index" class="main__place-slider-item" [ngClass]="{'main__place-slider-item--active' : currentSlide === i}">

                    <img class="main__place-slider-img" [src]="uploadsPath + item.thumbnail" alt="">

                    <div class="main__place-slider-descr">
                        <h1 class="main__place-slider-title">Пляж</h1>
                        <p class="main__place-slider-text">{{item.description}}.
                            Пляж находится на территории жилого комплекса
                            и добраться до него можно пешком всего за 15 минут!
                        </p>
                        <p class="main__place-slider-count">0{{i + 1}}/06</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
