<div class="members">

    <h1 class="members__title">Участники проекта</h1>
    <div class="members__content">
        <p class="members__descr">
            ЖК «Новотомилино» — это авторский проект известного московского 
            архитектурного бюро «Остоженка» от застройщика «Тройка РЭД». 
            Реализацией проекта занимается компания «BSA».
        </p>
        <div class="members__info">
            <div class="members__info-item">
                <p class="members__info-title">Автор</p>
                <a href="#" class="members__info-subtitle g-link_red">Остоженка</a>
            </div>
            <div class="members__info-item">
                <p class="members__info-title">Застройщик</p>
                <a href="#" class="members__info-subtitle g-link_red">Тройка РЭД</a>
            </div>
            <div class="members__info-item">
                <p class="members__info-title">Реализация</p>
                <a href="#" class="members__info-subtitle g-link_red">BSA</a>
            </div>
        </div>
    </div>

</div>
