<div class="members">

    <h2 class="members__title g-title-path">Участники проекта</h2>
    <div class="members__content">
        <p class="members__descr">
            ЖК Новотомилино — это авторский проект известного московского 
            архитектурного бюро «Остоженка» от застройщика 3-RED. 
            Реализацией проекта занимается компания BSA.
        </p>
        <div class="members__info">
            <div class="members__info-item">
                <p class="members__info-title">Автор</p>
                <a href="//ostarch.ru/main/projects" target="_blank" class="members__info-subtitle g-link_red">Остоженка</a>
            </div>
            <div class="members__info-item">
                <p class="members__info-title">Застройщик</p>
                <a href="//3-red.com" target="_blank" class="members__info-subtitle g-link_red">3-RED</a>
            </div>
            <div class="members__info-item">
                <p class="members__info-title">Продажа</p>
                <a href="//www.bsa-dom.ru" target="_blank" class="members__info-subtitle g-link_red">BSA</a>
            </div>
        </div>
    </div>
    <img src="/assets/img/about/genplan_footer.jpg" alt="">

</div>
