<div class="members">

    <h2 class="title members_title">Участники проекта</h2>

    <ul class="members_list">

        <li class="members_list_item">
            <a class="members_list_item_link" href="http://www.3-red.com/" target="_blank">
                <span class="members_list_item_link_text">Девелопер</span>
                <div class="members_list_item_link_logo members_list_item_link_logo--trojka"></div>
                <span class="members_list_item_link_text members_list_item_link_text--blue">3-red.com</span>
            </a>
        </li>
        <li class="members_list_item">
            <div class="members_list_item_link" target="_blank">
                <span class="members_list_item_link_text">Застройщик</span>
                <div class="members_list_item_link_logo members_list_item_link_logo--iskona"></div>
                <span class="members_list_item_link_text members_list_item_link_text--blue"></span>
            </div>
        </li>
    </ul>
    <ul class="members_list">
        <li class="members_list_item">
            <a class="members_list_item_link" href="https://www.bsa-dom.ru/" target="_blank">
                <span class="members_list_item_link_text">Реализация</span>
                <div class="members_list_item_link_logo members_list_item_link_logo--bsa"></div>
                <span class="members_list_item_link_text members_list_item_link_text--blue">bsa-dom.ru</span>
            </a>
        </li>
        <li class="members_list_item">
            <a class="members_list_item_link" href="https://www.sberbank.ru/" target="_blank">
                <span class="members_list_item_link_text">Партнер проекта</span>
                <div class="members_list_item_link_logo members_list_item_link_logo--sber"></div>
                <span class="members_list_item_link_text members_list_item_link_text--blue">sberbank.ru</span>
            </a>
        </li>
    </ul>

</div>
