<div class="house">

    <div class="house__sections">
        <div class="house__sections-plan">
            <div class="house__sections-plan_wrap">
                <!-- <ul>
                    <li>
                        <img src="/assets/img/flats/house/section_plan.svg" alt="plan">
                    </li>
                    <li>
                        <img src="/assets/img/flats/house/section_plan.svg" alt="plan">
                    </li>
                </ul> -->
            </div>
            <div class="house__sections-plan-btn">
                <button class="house__sections-plan-btn_prev"></button>
                <button class="house__sections-plan-btn_next"></button>
            </div>
        </div>

        <app-house-side-bar
            [houseNumber]="houseNumber"
            [sectionNumber]="sectionNumber">
        </app-house-side-bar>

    </div>

    <!--
        Это Блок который должен появлятся при наведении на квартиру внутри шахматки
        
    <div class="hover-flat">
        <div class="hover-flat__img">
            <img src="" alt="">
        </div>
        <div class="hover-flat__info">
            <p class="hover-flat__info-text">2 комнатная</p>
            <p class="hover-flat__info-text">49.5</p>
            <p class="hover-flat__info-text hover-flat__info-text_price">8 335 996 Р</p>
        </div>
    </div> 
    -->

    <app-flats-search
        [showSearchWindow]="true"
        [parentPlan]="false">
    </app-flats-search>
</div>

<!-- <app-house-side-bar>
</app-house-side-bar>

<app-flats-floor-bubble
    [bubbleData]="bubbleData"
    [section]="hoverSection"
    [floor]="hoverFloor"
    [coords]="bubbleCoords">
</app-flats-floor-bubble>
 -->
