<div class="house">

    <app-house-minimap
        [houseNumber]="houseNumber">
    </app-house-minimap>

    <div class="house__sections" #chessContainer>

        <div class="house__sections__nav">
            <ul class="house__sections__nav-list">
                <li class="house__sections__nav-item">
                    <a [routerLink]="'/flats/plan'" class="floor__nav-item-link">Общий вид</a>
                </li>
            </ul>
        </div>

        <div *ngIf="sectionsData" class="house__sections-plan" [ngStyle]="{'transform' : 'translateX(-' + scroll + 'px)'}" #chess>
            <ng-container *ngFor="let section of sectionsData">
                <div class="house__sections-chess" *ngIf="section && section.length > 0">
                    <ul class="house__sections-chess_section" #sectionContainer>
                        <p class="house__sections-chess_section_title" *ngIf="section && section.length > 0">Cекция {{section[0][0].section}}</p>
                        <ng-container *ngFor="let floor of section">
                            <li *ngIf="floor" class="house__sections-chess_section_floor">
                                <ul>
                                    <li *ngFor="let flat of floor; let i = index"
                                        class="house__sections-chess_section_flat"
                                        [ngClass]="{'house__sections-chess_section_flat--free' : flat.status === '4' && !flat.discount,
                                                    'house__sections-chess_section_flat--reserved' : flat.status !== '4' && !flat.discount,
                                                    'house__sections-chess_section_flat--discount' : flat.discount,
                                                    'house__sections-chess_section_flat--disabled' : flat.disabled}">
                                        <a class="house__sections-chess_section_flat_link"
                                            (click)="openApartmentModal(i, floor)"
                                            (mouseenter)="showFlatBubble($event, flat, sectionContainer)"
                                            (mouseleave)="showBubble = false">
                                            {{flat.status !== '4' ? '' : flat.rooms === 0 ? 'С' : flat.rooms}}
                                        </a>
                                    </li>
                                    <li class="house__sections-chess_section_floor-button">
                                        <a class="house__sections-chess_section_floor-link"
                                            [routerLink]="'/flats/house/' + houseNumber + '/section/' + floor[0].section + '/floor/' + floor[0].floor"> <!-- этаж и секция прописаны в любой квартире -->
                                            {{floor[0].floor}}
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ng-container>
                    </ul>
                </div>
            </ng-container>
        </div>

        <app-loader
            [loaderShow]="preloader">
        </app-loader>

        <button class="house__sections-btn_prev" (click)="scrollPrev()" *ngIf="scroll !== 0">
        </button>
        <button class="house__sections-btn_next" (click)="scrollNext()" *ngIf="scroll !== chessMaxScroll">
        </button>

    </div>

    <app-flats-search
        [showSearchWindow]="true"
        [parentPlan]="false"
        (flatsChanged)="searchFlats = $event; searchFlatsSelection()">
    </app-flats-search>
</div>

<app-flats-flat-bubble
    [bubbleData]="bubbleData"
    [coords]="bubbleCoords"
    [showBubble]="showBubble">
</app-flats-flat-bubble>

<app-flats-apartment-modal *ngIf="showApartmentWindow"
    [showApartmentWindow]="showApartmentWindow"
    [flatsList]="floorFlats"
    [flatIndex]="selectedFlatIndex"
    (close)="showApartmentWindow = false; windowScrollLocker.unblock()">
</app-flats-apartment-modal>
