
$font-mus: 'Museo Sans Cyrl', sans-serif;
$font-leksa: 'Leksa', 'sans-serif';

$col-black: #000105;
$col-white: #fff;
$col-black-8: rgba(0, 1, 5, .8);
$col-black-6: rgba(0, 1, 5, .6);
$col-orange: #e7490f;
$col-orange--hover: rgba($color: $col-orange, $alpha: .8);
$col-32: #323232;
$col-97: #979797;
$col-blue: #0070c9;
$col-red: #ee4237;
$col-61: #616161;
$col-89: #898989;
$col-76: #767676;
$col-bg-secondary: #f7f7f7;

$w1600: 1600px - (180px *2);
$w1280: 1240px;
$w1279: 708px;
$w768: calc(100% - 30px);

$transition: .2s linear;
$trans-link: .6s ease;
$trans-img: transform .7s linear;

$font-proba: 'ProbaPro', sans-serif, Arial;
$text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

@mixin container() {
    width: calc(100% - 60px);
    max-width: $w1600;
}
@mixin before-img($width, $height) {
    content: '';
    position: absolute;
    width: $width;
    height: $height;
}

@mixin font-smoothing {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
}
@mixin fw14-20($color: #000105) {
    font: 500 14px/20px $font-mus;
    @include font-smoothing();
    color: $color;
}
@mixin f16-24($color: #000105) {
    font: 16px/24px $font-mus;
    @include font-smoothing();
    color: $color;
}
@mixin fw16-20($color: #000105) {
    font: 500 16px/20px $font-mus;
    @include font-smoothing();
    letter-spacing: .5px;
    color: $color;
}
@mixin fw18-24($color: #000105) {
    font: 500 18px/24px $font-mus;
    @include font-smoothing();
    color: $color;
}
