<section class="favorites">
    <div class="favorites-container">
        <h1 class="favorites__title g-title-path">Избранное</h1>
        <p class="favorites__subtitle">{{ favoritesService.favoriteFlats.length ? 'Добавлено ' + favoritesService.favoriteFlats.length + ' квартир' : 'На данный момент в избранное ничего не добавлено' }}</p>
    </div>

    <div class="favorites__wrapper">
        <div class="favorites__result">
            <app-flats-list
                [flatsList]="favoritesService.favoriteFlats">
            </app-flats-list>
        </div>
    </div>
</section>
