<section class="favorites">
    <div class="favorites__header">
        <h1 class="favorites__title">Избранное</h1>
        <div class="favorites__form-btn" (click)="formIsOpen = true">Отправить pdf избранных квартир мне на почту</div>
    </div>
    <div class="search_form_output-sorting">
        
        <div (click)="sort('price')"
            [ngClass]="{
                'search_form_output-sorting_control--active': sortType === 'price',
                'search_form_output-sorting_control--turn': sortType === 'price' && directionSort
            }"
            class="search_form_output-sorting_control search_form_output-sorting_control--price">
        </div>
        <div (click)="sort('space')"
            [ngClass]="{
                'search_form_output-sorting_control--active': sortType === 'space',
                'search_form_output-sorting_control--turn': sortType === 'space' && directionSort
            }"
            class="search_form_output-sorting_control search_form_output-sorting_control--space">
        </div>
        <div (click)="sort('floor')"
            [ngClass]="{
                'search_form_output-sorting_control--active': sortType === 'floor',
                'search_form_output-sorting_control--turn': sortType === 'floor' && directionSort
            }"
            class="search_form_output-sorting_control search_form_output-sorting_control--floor">
        </div>
        <div (click)="sort('section')"
            [ngClass]="{
                'search_form_output-sorting_control--active': sortType === 'section',
                'search_form_output-sorting_control--turn': sortType === 'section' && directionSort
            }"
            class="search_form_output-sorting_control search_form_output-sorting_control--section">
        </div>
        
    </div>
    <div class="search_output with-scroll">

        <div class="search_output_scroll-wrap">

            <ul class="search_output_result">

                <li class="search_output_result_wrapper"
                    *ngFor="let flat of flats">
                    <a  [routerLink]="['/flats/section/' + flat.section + '/floor/' + flat.floor + '/apartment/' + flat.flat]" class="search_output_result_item">
                        <img class="search_output_result_item_scheme" [src]="'/assets/floor-plans/section_' + flat.section + '/floor_' + flat.floor + '/' + flat.floor + 'floor_' + flat.flat + 'flat.svg'">
                        <span class="search_output_result_item_content search_output_result_item_content--number">№{{flat.flat}}</span>
                        <span class="search_output_result_item_content search_output_result_item_content--section">Секция {{flat.section}}</span>
                        <span class="search_output_result_item_content search_output_result_item_content--floor">{{flat.floor}} этаж из {{flat.section}}</span>
                        <span class="search_output_result_item_content search_output_result_item_content--type">{{flat.type}}.</span>
                        <span class="search_output_result_item_content search_output_result_item_content--room">{{(flat.rooms === '0') ? 'Студия' : flat.rooms + ' комн.'}}</span>
                        <span class="search_output_result_item_content search_output_result_item_content--size">{{flat.space}} м²</span>
                        <span class="search_output_result_item_content search_output_result_item_content--decoration">{{flat.decorationName}}</span>
                        <span class="search_output_result_item_content search_output_result_item_content--price">{{flat.price | priceNumber}} &#8381;</span>
                    </a>

                    <div class="to-favorite" (click)="removeFromFavorite(flat)"></div>
                </li>

            </ul>

        </div>

    </div>
</section>

<app-favorites-form [pdfUrls]="pdfUrls" [isOpen]="formIsOpen" (close)="formIsOpen = false">
</app-favorites-form>
