$font: 18px/30px 'Montserrat';
$width: 750px;
@import "../../styles/modules/mixins/mixin";

:host { height: 100%; }

.error-image {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #fafafa;
    font: 500 14px/20px 'Museo Sans Cyrl', sans-serif;
    color: #000105;
    opacity: 0.6;
}

.favorites {
    width: 100%;
    min-height: calc(100vh - (146px + 51px));
    box-sizing: border-box;
    padding: 50px 0 120px 0;
    display: flex;
    flex-flow: column;
    align-items: center;

    &__head {
        width: calc(100% - 60px);
        max-width: $w1600;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 40px;
        
        &-title {
            font: 500 24px/29px $font-mus;
            @include font-smoothing;
            color: $col-black;
        }
    }

    &__empty {
        width: $w1600;
        max-width: 1240px;

        &-title {
            @extend .favorites__head-title;
            max-width: 500px;
            margin-bottom: 20px;
        }
        &-btn  {
            width: 224px;
            height: 50px;
            font: 500 16px/20px $font-mus;
            @include font-smoothing;
            text-transform: uppercase;
            color: #fff;
            border-radius: 4px;
            box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
            background-color: $col-orange;
            box-sizing: border-box;
            transition: background-color $transition;
            &:hover { background-color: rgba(231, 73, 15, 0.8); }
        }
    }

    &__more {
        width: $w1600;
        display: flex;
        justify-content: center;

        &-btn {
            padding: 11px 23px;
            border: 1px solid $col-orange;
            @include fw18-24($col-orange);
            border-radius: 2px;
            box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
        }
    }
}
.search-form {
    width: calc(100% - 60px);
    max-width: $w1600;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    font: 500 18px/24px $font-mus;
    @include font-smoothing;
    color: $col-black;

    &__sorting {
        opacity: .7;
        transition: 0.2s linear;
        cursor: pointer;
        user-select: none;

        &_active,
        &-turn {
            opacity: 1;
            position: relative;
            padding: 0 15px 0 0;
            &:before {
                content: '';
                position: absolute;
                width: 10px;
                height: 16px;
                right: 0;
                top: 5px;
                background: url(/assets/img/filter_arrow.svg) no-repeat;
                transition: $transition;
            }
        }
        &-turn:before { transform: scaleY(-1); }
        &_space { margin-right: 30px; }
        &_delivery { margin-right: 66px; }
        &_price { margin-right: 68px; }
    }

    &__wrap {
        display: flex;
        justify-content: flex-end;

        &_second { width: 685px; }
    }
}

.search-output {
    width: 100%;
    max-width: $w1600;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    margin: 25px 0 40px;

    &__result {
        width: 100%;

        &-wrapper {
            display: flex;
            align-items: center;
            box-sizing: border-box;
            border-bottom: 1px solid rgba(0, 1, 5, 0.3);
            &:first-child { border-top: 1px solid rgba(0, 1, 5, 0.3); }
            &:hover { background-color: rgba(231, 73, 15, .05); }
            cursor: pointer;
        }
        
        &-image {
            width: 102px;
            height: 80px;
            margin-right: 25px;

            img { height: 100%; }
        }
        &-item {
            width: calc(100% - 48px);
            height: 110px;
            display: flex;
            align-items: center;
            box-sizing: border-box;
            padding: 15px 0 15px 20px;
        }

        &-text {
            font: 16px/24px $font-mus;
            @include font-smoothing;
            user-select: none;

            &_room,
            &_number {
                font-weight: 500;
                color: $col-orange;
                white-space: nowrap;
            }
            &_number { color: #999a9b; }

            &_space,
            &_price-not-sale {
                font-weight: 500;
            }
            &_floor,
            &_house,
            &_decoration,
            &_delivery {
                font-weight: 300;
                color: $col-black-8;
            }
            &_price-sale {
                font-weight: 500;
                color: $col-orange;
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    width: 18px;
                    height: 10px;
                    top: 4px;
                    left: -18px - 5px;
                    background: url(/assets/img/stock-ic.svg) no-repeat;
                    background-size: 100%;
                }
            }

            &:nth-child(2) { // room + flat-number
                width: (149px + 56px) - 20px;
                margin-right: 10px;
            }
            &_space {
                min-width: 107px;
                margin-right: 24px;
                text-align: center;
            }
            &_floor {
                min-width: 81px;
                margin-right: 40px;
                text-align: center;
            }
            &_house { min-width: 105px; }
            &_decoration {
                min-width: 137px + 37px;
                margin-right: 27px;
            }
            &_delivery {
                min-width: 135px;
                margin-right: 20px;
                text-align: center;
            }
            &:last-child {
                text-align: right;
                min-width: 137px;
                white-space: nowrap;
            }
        }

        &-favorite {
            width: 48px;
            height: 110px;
            background: url(/assets/img/favorite.svg) center no-repeat;

            &_active {
                background-image: url(/assets/img/favorite-active.svg);
            }
        }
    }
}