@import "../../styles/modules/mixins/mixin";

.favorites {
    height: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 50px 0 120px;

    &__container { @include container(); }
    &__title {
        font: 500 24px/29px $font-mus;
        margin-bottom: 40px;
    }

    &__nav {
        display: flex;
        justify-content: flex-start;
        margin: 0 0 24px;

        &-list {
            display: flex;
            padding: 0 0 10px;
            box-sizing: border-box;
            border-bottom: 1px solid rgba(0, 1, 5, 0.3);
            &> li + li { margin-left: 16px; }
        }
        &-item {
            font: 500 18px/24px $font-mus;
            @include font-smoothing;
            color: rgba(0, 1, 5, 0.7);
            transition: color $transition;
            &.active {
                color: $col-black;
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: -11px;
                    width: 100%;
                    height: 2px;
                    background: #e7490f;
                }
            }
        }
    }

    &__filter {
        display: flex;
        margin: 0 0 25px;

        &-item {
            font: 500 18px/24px $font-mus;
            color: rgba(0, 1, 5, .6);
            background-color: transparent;
            transition: color $transition;
            position: relative;
            margin-right: 30px;
            border: 0;
            &:hover {
                color: rgba(0, 1, 5, .8);
                &::after { top: 8px; }
            }
            &::after {
                content: '';
                width: 10px;
                height: 16px;
                position: absolute;
                top: 5px; left: calc(100% + 5px);
                background: url(/assets/img/filter_arrow.svg) no-repeat;
                background-size: 100%;
                transition: top .5s ease;
                display: none;
            }
            &.active { color: $col-black; }
            &.minFromMax::after { display: block; }
            &.maxFromMin{
                &::after {
                    display: block;
                    transform: rotate(180deg);
                }
                &:hover::after { top: 2px; }
            }

            // &--space { left: 468px; }
            // &--floor { left: 646px; }
            // &--delivery { left: 885px; }
            // &--price { left: 1040px; }
        }
    }
}

.search-output__result {
    width: 100%;

    &-wrap {
        width: 100%;
        height: 86px;
        box-sizing: border-box;
        padding: 8px 56px;
        margin: 0 0 8px;
        cursor: pointer;
        display: flex;
        align-items: center;
        transition: background-color $transition;
        &:hover { background-color: rgba($color: $col-red, $alpha: .1); }

        &:first-child {
            margin-top: 16px;
        }
    }

    &-item {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;

        &-img {
            width: 70px;
            min-width: 70px;
            height: 100%;
            display: flex;
            align-items: center;
            margin: 0 33px 0 0;

            &-error {
                display: flex;
                width: 100%;
                padding: 20px 12px;
                align-items: center;
                justify-content: center;
                text-align: center;
                background-color: #fafafa;
                font: 500 14px/20px 'Museo Sans Cyrl', sans-serif;
                color: #000105;
                opacity: 0.6;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        &-content {
            font: 18px/23px $font-proba;
            color: rgba(0, 0, 0, 0.5);
            white-space: nowrap;
            user-select: none;

            &_jk-name {
                opacity: 0.5;
            }
            &_room,
            &_price,
            &_space { color: $col-black; }

            &_price,
            &_price-not-sale,
            &_price-sale { text-align: right; }
            &_price-not-sale {
                color: rgba(0, 0, 0, 0.5);
                text-decoration: line-through;
            }
            &_price-sale { color: $col-red; }

            &_number,
            &_floor,
            &_house {
                width: 9.12%;
                min-width: 106px;
            }
            &_room {
                width: 22%;
                min-width: 150px;
            }
            &_space,
            &_decoration,
            &_delivery {
                width: 11%;
                min-width: 75px;
            }
        }

        &-price {
            width: 12%;
            display: flex;
            flex-flow: column;
            align-items: flex-start;
        }

        &-favorite {
            width: 6%;

            &_img {
                display: block;
                width: 25px;
                height: 23px;
                margin-left: 40px;
                background: url(/assets/img/jk-object/header_heart.svg) no-repeat;
                background-size: 100%;
            }
            //
            //&_active {
            //    background: url(/assets/img/favorite-active.svg) no-repeat;
            //    background-size: 100%;
            //}
        }
    }
}

.favorites-flats {

    &__empty {
        @include container();
        display: flex;
        flex-flow: column;
        align-items: flex-start;

        &-hint {
            max-width: 536px;
            font: 18px/28px $font-mus;
            color: $col-89;
            margin-bottom: 24px;
        }
        &-link {
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 2px;
            background: $col-white;
            box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
            transition: color .3s linear, background-color .3s linear;
            border: solid 1px $col-orange;
            font: 500 18px/24px $font-mus;
            @include font-smoothing();
            color: $col-orange;
            padding: 0 20px;
            &:hover {
                background-color: $col-orange;
                color: $col-white;
            }
        }
    }
}