<main class="main">

    <app-home-preview *ngIf="newsLoaded"
        [newsShares]="allSnippets"
        (showVideo)="showVideo = $event">
    </app-home-preview>

    <app-home-trigger></app-home-trigger>

    <app-home-ilike></app-home-ilike>

    <app-home-description></app-home-description>

    <app-home-places></app-home-places>

    <app-home-news *ngIf="newsLoaded"
        [newsSnippets]="newsSnippets"
        [shareSnippets]="shareSnippets"
        [allSnippets]="allSnippets">
    </app-home-news>

    <app-video 
        *ngIf="showVideo"
        (close)="showVideo = $event">
    </app-video>

</main>
