<aside class="floor__slider">
    <button (click)="floorSelect(floorNumber + 1)" class="floor__slider_btn-up"></button>

    <div class="floor__slider_hidden">
        <ul [style.top.px]="floorSelector.length > 1 ? -((floorSelector.length + 1 - floorNumber) * 40) : 0" class="floor__slider-list">
            <li *ngFor="let floor of floorSelector" class="floor__slider-item">{{floor}}</li>
        </ul>
    </div>

    <button (click)="floorSelect(floorNumber - 1)" class="floor__slider_btn-down"></button>
</aside>
