<div class="flats_item-description">

    <div class="flats_item-description_section">

        <span class="flats_item-description_section_name">Кладовая</span>
        <span class="flats_item-description_section_value">№ {{infoWindow.flat}}</span>

    </div>

    <div class="flats_item-description_section">

        <span class="flats_item-description_section_name">Общая площадь</span>
        <span class="flats_item-description_section_value">{{infoWindow.space}} м<sup>2</sup></span>

    </div>

    <div class="flats_item-description_section">

        <span class="flats_item-description_section_name">Стоимость</span>
        <span class="flats_item-description_section_value">{{infoWindow.price | myBitNumberPipe}} &#8381;</span>

    </div>

</div>
