<section class="quarantine-preivew">

    <div class="quarantine-preivew__container">

        <div class="quarantine-preivew__head">
            <a routerLink="/" class="quarantine-preivew__head-link">← Назад</a>

            <div class="quarantine-preivew__head-logo">
                <img src="/assets/img/quarantine/3-red.svg" alt="logo">
            </div>
        </div>

        <div class="quarantine-preivew__image">
            <img src="/assets/img/quarantine/family-preview.png" alt="image">
        </div>

        <div class="quarantine-preivew__text">
            <span class="quarantine-preivew__text-tag">
                <span>#</span>
                <span>оставайсядома</span>
            </span>
            <span>В связи с текущей эпидемиологической ситуацией компания 3-RED оперативно предпринимает усилинные меры по защите сотрудников и покупателей.</span>
            <span>Вам не нужно приезжать в офис, уже сейчас вы можете быстро и удобно получить ряд услуг в онлайн режиме.</span>
        </div>
    </div>
</section>