
<ng-container  *ngFor="let snippet of snippetsArray">

    <!-- Отображать сниппет только если у него отрицательное значение показа на главной
        и если выбранная категория равна категории сниппета или 'ALL' -->
    <li class="news_snippets_list_item">

        <a [routerLink]="['/news-shares/news/list/' + snippet._id]" class="snippets_list_item_link">

            <div class="snippets_list_item_img">

                <img class="snippets_list_item_img_content" [src]="uploadsPath + snippet.image">
                <span class="snippets_list_item_title" [innerHTML]="snippet.title | lineBreakPipe"></span>

            </div>

            <!-- <div class="snippets_list_item_text">
                <span class="snippets_list_item_date">{{snippet.created_at | date: 'd.M.yyyy' }}</span>
                <span class="snippets_list_item_title" [innerHTML]="snippet.title | lineBreakPipe"></span>
                <span *ngIf="snippet.description" class="snippets_list_item_description" [innerHTML]="snippet.description | lineBreakPipe"></span>
            </div> -->

        </a>

        <div *ngIf="isAuthorizated" class="admin-controll admin-news_editing-controls">
            <div (click)="redactSnippet.emit(snippet._id)" class="admin-controll admin-news_editing-controls_for-edit">Редактировать</div>     
            <div (click)="deleteSnippet.emit(snippet._id)" class="admin-controll admin-news_editing-controls_for-delete">Удалить</div>
        </div>

    </li>

</ng-container>
