<section class="about-project">
    <div class="main__container main__container_row">
        <div class="about-project__head">
            <h1 class="about-project__head-title g-title-path">О проекте</h1>
            <p class="about-project__head-subtitle">
                ЖК Новотомилино – комплексная жилая застройка из&nbsp;четырех
                многоэтажных жилых домов переменной этажности <span class="g-text_nowrap">1-17</span> этажей.
            </p>
        </div>
        <div class="about-project__content">
            <p class="about-project__content-descr">
                Жилой комплекс со стильной архитектурой, современными общественными пространствами, 
                расположен в районе с развитой инфраструктурой. На первых этажах жилого комплекса 
                планируются магазины, кафе, предприятия бытового обслуживания. Объект  находится 
                на пересечении Егорьевского и Рязанского шоссе. 
            </p>
            <div class="about-project__content-info">
                <p class="about-project__content-title about-project__content-title--path">1 очередь</p>
                <div *ngFor="let about of abouts" class="about-project__content-item">
                    <p class="about-project__content-title">{{about.title}}</p>
                    <p class="about-project__content-subtitle">{{about.subtitle}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
