@import './../dynamic-vars';

.dynamic_month-switch {
    display: flex;
    width: 1199px;
    align-items: flex-start;
    justify-content: space-between;

    &_item {
        font: 18px/22px  Montserrat, serif;
        font-weight: 700;
        color: $color;
        padding-left: 86px;
        position: relative;
        user-select: none;
        transition: .2s linear;

        &--to-left {
        }

        &--to-right {
            padding-right: 86px;

            &:before {
                right: 0;
                left: initial !important;
            }

            &:after {
                right: 24px;
                left: initial !important;
                transform: rotate(-135deg) !important;
            }
        }

        &:before {
            content: '';
            width: 56px;
            height: 56px;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto 0;
            background-size: 100%;
            border: 1px solid $color4;
            border-radius: 29px;
            transition: .2s linear;
        }

        &:after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 24px;
            width: 14px;
            height: 14px;
            margin: auto 0;
            object-fit: contain;
            border-left: solid 3px #cda571;
            border-bottom: solid 3px #cda571;
            transition: .2s linear;
            transform: rotate(45deg);
        }

        &:hover {
            color: $color4;
            cursor: pointer;

            &:before {
                background-color: $color4;
            }

            &:after {
                border-color: $color6;
            }
        }

        &--to-left {
        }

        &--to-right {
            padding-right: 86px;

            &:before {
                right: 0;
                left: initial !important;
            }

            &:after {
                right: 24px;
                left: initial !important;
                transform: rotate(-135deg) !important;
            }
        }
    }
}
