

<section class="home-trigger">

    <div class="home-trigger__item" *ngFor="let trigger of triggersData">
        <a class="home-trigger__anchor" (click)="navigate(trigger.rooms)"></a>
        <p class="home-trigger__item-name">{{trigger.rooms === 0 ? 'Студии' : trigger.rooms + ' комнатные'}}</p>
        <p class="home-trigger__item-space">({{trigger.space}})</p>
        <p class="home-trigger__item-price">
            от
            <span class="home-trigger__item-price home-trigger__item-price_big">{{trigger.price}}</span>
            млн Р
        </p>
    </div>

</section>
