

<section class="home-trigger triggers">

    <ng-container *ngFor="let trigger of triggersData">
        <div class="home-trigger__item" *ngIf="trigger">
            <a class="home-trigger__anchor" (click)="navigate(trigger.rooms)"></a>
            <p class="home-trigger__item-name">{{trigger.rooms === 0 ? 'Студии' : trigger.rooms + ' комнатные'}}</p>
            <p class="home-trigger__item-space">({{trigger.space}})</p>
            <p class="home-trigger__item-price">
                от
                <span class="home-trigger__item-price home-trigger__item-price_big">{{trigger.price}}</span>
                млн Р
            </p>
        </div>
    </ng-container>
</section>

<div class="commercial triggers" *ngIf="getPriceByMod('КН')">
    <div class="commercial__container">
        <a class="commercial__snippet" routerLink="/flats/commercial">
            <h3 class="commercial__title">Коммерческая недвижимость</h3>
            <p class="commercial__desc">
                Спешите приобрести коммерческие площади в&nbsp;перспективном районе по&nbsp;выгодным ценам
            </p>
            <p class="commercial__price">от <span>{{getPriceByMod('КН')}}</span> млн</p>
            <img class="commercial__image" src="/assets/img/home-commercial.png" alt="">
        </a>
    </div>
</div>

<div class="storerooms-parking triggers">
    <div class="storerooms-parking__container">
        <a class="storerooms-parking__snippet storerooms-parking__snippet--parking" *ngIf="getPriceByMod('ММ')" routerLink="/flats/parking">
            <h3 class="storerooms-parking__title">Машиноместа</h3>
            <p class="storerooms-parking__desc">
                Продлите срок жизни вашего автомобиля и&nbsp;обезопасьте его от&nbsp;угона. Приобретите машиноместо
                в&nbsp;подземном паркинге.
            </p>
            <p class="storerooms-parking__price">от <span>{{getPriceByMod('ММ')}}</span> млн</p>
            <img class="storerooms-parking__image" src="/assets/img/home-parking.png" alt="">
        </a>
        <a class="storerooms-parking__snippet storerooms-parking__snippet--storerooms" *ngIf="getPriceByMod('КЛ')" routerLink="/flats/storerooms">
            <h3 class="storerooms-parking__title">Кладовые</h3>
            <p class="storerooms-parking__desc">
                Персональные кладовые помещения&nbsp;&mdash; это доступный, экономичный и&nbsp;удобный способ хранения
                сезонных и&nbsp;крупногабаритных вещей.
            </p>
            <p class="storerooms-parking__price">от <span>{{getPriceByMod('КЛ')}}</span> млн</p>
            <img class="storerooms-parking__image" src="/assets/img/home-storerooms.png" alt="">
        </a>
    </div>
</div>