

<section class="home-trigger">

    <div class="home-trigger__item">
        <p class="home-trigger__item-name">Студии</p>
        <p class="home-trigger__item-space">(21-31 м²)</p>
        <p class="home-trigger__item-price">
            от
            <span class="home-trigger__item-price home-trigger__item-price_big">2,4</span>
            млн Р
        </p>
    </div>
    <div class="home-trigger__item">
        <p class="home-trigger__item-name">Студии</p>
        <p class="home-trigger__item-space">(21-31 м²)</p>
        <p class="home-trigger__item-price">
            от
            <span class="home-trigger__item-price home-trigger__item-price_big">2,4</span>
            млн Р
        </p>
    </div>
    <div class="home-trigger__item">
        <p class="home-trigger__item-name">Студии</p>
        <p class="home-trigger__item-space">(21-31 м²)</p>
        <p class="home-trigger__item-price">
            от
            <span class="home-trigger__item-price home-trigger__item-price_big">2,4</span>
            млн Р
        </p>
    </div>
    <div class="home-trigger__item">
        <p class="home-trigger__item-name">Студии</p>
        <p class="home-trigger__item-space">(21-31 м²)</p>
        <p class="home-trigger__item-price">
            от
            <span class="home-trigger__item-price home-trigger__item-price_big">2,4</span>
            млн Р
        </p>
    </div>

</section>